[2021-03-15 17:53] pascalwengerter commented on #4335
Hey @VirtualEvan, is this issue still open after your PR has been merged? :)

[2021-03-15 17:57] pascalwengerter commented on #4279
@rpocklin can this issue safely be closed after your PR has been merged? 🙌🏽

[2021-03-15 18:22] pascalwengerter commented on #2058
Duplicate of the (more recent) #4650

[2021-03-15 18:22] #2058 closed

[2021-03-15 18:24] pascalwengerter commented on #4052
@davitol could you pull the most recent version and check if it's still the case? 🙌🏽

[2021-03-15 18:25] pascalwengerter commented on #3964
@kulmann is this still relevant?

[2021-03-15 18:34] pascalwengerter commented on #3601
Any updates on this @dpakach @wkloucek ? :)

[2021-03-15 18:57] pascalwengerter commented on #3396
Current `package.json` references `"chromedriver": "^87.0.0"`, can this one be safely closed? :)

[2021-03-15 18:59] pascalwengerter commented on #3015
@Talank couldn't reproduce, could you check if this issue is still open with the current version?

[2021-03-16 02:46] #3396 closed

[2021-03-16 04:07] phil-davis commented on #3601
I added this to the QA Backlog project so that it will get noticed. @dpakach feel free to close if there is nothing left to do.

[2021-03-16 07:10] dpakach commented on #3601
This issue was relevant when we were running web acceptance tests with openid setup, since we dont do that anymore, we can close this.

[2021-03-16 07:10] #3601 closed

[2021-03-16 08:01] davitol commented on #4052
Works OK for me. Let's close the ticket

[2021-03-16 08:01] #4052 closed

[2021-03-16 08:19] kulmann commented on #3964
It was used for one customer for whom we created a fork anyway. We already went ahead and removed the code for it.

[2021-03-16 08:19] #3964 closed

[2021-03-16 09:04] pascalwengerter commented on #4052
Thanks for the quick reaction!

[2021-03-16 09:04] pascalwengerter commented on #4052
Thanks for the quick reaction!

[2021-03-16 10:00] jasson99 commented on #4755
We can close this now. If we encounter the issue/error again later, we can open it again.

[2021-03-16 10:00] #4755 closed

[2021-03-16 11:22] LukasHirt commented on #4085
@pascalwengerter when using oCIS as a backend we do not allow yet resharing. Should be possible to reproduce with oC10 backend.

[2021-03-16 11:26] LukasHirt commented on #2065
We are using now the Jira backlog for priority ordering and planning

[2021-03-16 11:26] #2065 closed

[2021-03-16 11:29] LukasHirt commented on #2445
For debugging with local clones use `yarn link`. For PRs use their links in package.json

[2021-03-16 11:29] #2445 closed

[2021-03-16 11:30] LukasHirt commented on #2884
Done with rollup and monorepo

[2021-03-16 11:30] #2884 closed

[2021-03-16 12:45] pascalwengerter commented on #4680
@SwikritiT is this resolved now? :)

[2021-03-16 23:21] VirtualEvan commented on #4335
Yes, this issue is something I found while working in the draw.io app, my PR did not addressed it

[2021-03-17 04:15] phil-davis opened #4814 "[tests-only] Bump OCIS commit id in web"
https://github.com/owncloud/ocis/pull/1762 "Lighter Runtime" made some changes to environment of building and running OCIS.

It looks like "stuff" needs to be changed in `web` drone setup to be able to build/run/test against the newer OCIS.

Bump the OCIS commit id and get it working.

[2021-03-17 04:16] phil-davis commented on #4814
I made PR #4813 but it is not as easy as what I started doing there. Please assign someone (I will be out-of-office for a night)

[2021-03-17 05:19] SwikritiT commented on #4680
@pascalwengerter the issue described is addressed by the PR above but we still need to do some refactoring in test scenarios with `tries to` in its step.

For Example
[code]
In this scenario , at `When`  step, we want user to actually click the `copy` button but our current implementation selects the folder only and returns. So, there's still some refactoring needed.

[2021-03-17 09:58] HariBhandari07 commented on #4806
This issue can only be addressed after https://github.com/owncloud/web/issues/4680 is resolved.

[2021-03-17 10:32] fschade opened #4819 "Vue devtools do not detect vue"
### Steps to reproduce
1. open web
2. try to open vue devtools

### Expected behaviour
devtools are visible and able to detect vue

### Actual behaviour
devtools are not visible

[2021-03-17 12:16] #4819 closed

[2021-03-17 17:53] ishank011 opened #4823 "Always redirect requests from the UI to homeFolder"
With the `homeFolder` option, the user homes can be configured to arbitrary paths instead of the default root. But the change is not applicable across the UI.
- Clicking on the home icon in the 'All files' tab should redirect to `homeFolder` instead of root.
- Endpoints for the files from the 'Shared with me' and ''Shared with others' should also have the `homeFolder` prefix.

[2021-03-17 22:24] kulmann commented on #4823
The home icon in the breadcrumbs is misleading. In fact it represents the root, not the home. Otherwise there would be no other way to navigate up to the root. If there is no `homeFolder` configured, home is basically the same as root (home  = root for the authenticated user). We'll need a better icon anyway when we implement spaces/project folders in the web ui and probably continue to use the br

[2021-03-18 06:16] #4814 closed

[2021-03-18 08:17] kulmann commented on #4614
I recently upgraded to current master and (because I do that with a script for my dev instance) also reset the config. The issue disappeared. Switching back to 10.6 didn't let the issue resurface. So I suppose that it's related to config. Closing here until it pops up somewhere again. Thanks for your awesome work @HariBhandari07

[2021-03-18 08:17] #4614 closed

[2021-03-18 09:25] ishank011 commented on #4823
@kulmann it makes sense for the breadcrumbs part, I think we can just let it be for now. For the second one, I'll ask people getting started with the project to take a look.

[2021-03-19 08:47] Talank opened #4828 "Intermittent failing of sharing notification tests"
The scenario `notifications about new share is displayed` is failing intermittently in CI. Failing step is `And the user should see 2 notifications on the webUI with these details`. For the further details, refer to these builds in drone.
- https://drone.owncloud.com/owncloud/web/13622/10/14
- https://drone.owncloud.com/owncloud/web/13612/10/14

Need to investigate why is these `webUISharingNotifi

[2021-03-19 08:58] individual-it opened #4829 "update sdk"
the SDK is now able to work with node.js as well as the browser
would be a good time to have an update here to make sure all works well
should be as simple as using the current version (1.0.0-2114)in packages/web-runtime/package.json and run `yarn install`.

please ping @fschade on that PR

[2021-03-22 10:41] individual-it opened #4834 "when no expected failures file given but some tests failed the output is confusing"
### Steps to reproduce
1. make some test fail in a pipeline that has no expected failures file
2. run CI

### Expected behaviour
it should be clear that ALL failures are not expected

### Actual behaviour
the output can be interpreted as if there is no issue
![image](https://user-images.githubusercontent.com/2425577/111977734-2ffe9480-8b2b-11eb-8ed3-d90211c3571b.png)

see e.g. https://drone.ownclo

[2021-03-22 11:24] jnweiger opened #4835 "[QA] version 2.0.2 is not on marketplace"
https://maketplace.owncloud.com has web-1.0.2 currently.
Should web-2.0.2 be there too?

[2021-03-23 17:29] ChrisEdS opened #5240 "More space between icons in People view"
As a user, I need a little more space between the icons. Sometimes I click next to it.

![image](https://user-images.githubusercontent.com/33026403/112190745-9526b880-8c05-11eb-955b-8602317c0004.png)

[2021-03-23 20:49] kulmann opened #4839 "Reload files list of current view after accepting a share via notification"
We'll introduce a regression when https://github.com/owncloud/web/pull/4627 gets merged:

### Steps to reproduce
1. login as alice
2. share a file or folder with bob
3. login as bob
4. have a notification about the new share
5. accept the share with the respective button within the notification

### Expected behaviour
The file list of the current view (personal, shared with me, others are not rele

[2021-03-24 16:33] micbar commented on #4835
wait for 2.1.0

[2021-03-24 16:33] #4835 closed

[2021-03-25 03:55] HariBhandari07 opened #4850 "Fix failing tests"
PR: https://github.com/owncloud/web/pull/4627 is failing and needs investigation
- [ ] https://drone.owncloud.com/owncloud/web/13754/5/14 is a random failure / passing locally (WIP @kiranparajuli589)
- [x] https://drone.owncloud.com/owncloud/web/13754/8/14 is a random failure / passing locally (WIP @Talank )
- [ ] https://drone.owncloud.com/owncloud/web/13754/13/14 needs an update of the topBar ba

[2021-03-25 07:50] #4786 closed

[2021-03-25 09:16] LukasHirt opened #4854 "Refresh resources after share has been accepted"
In #4627 we're introducing a regression that files lists are not refreshed after a shared resource has been accepted via the notifications dropdown.

[2021-03-25 09:50] kiranparajuli589 opened #4856 "public cant get access to public link shares"
### Description
With PR https://github.com/owncloud/web/pull/4627

### Steps to reproduce
1. create a user `Alice`
2. create a folder `simple-folder`
3. upload a file inside `simple-folder` as `testfile.txt`
4. create a pubic link share for `simple-folder`
5. copy the public link of the share
6. get to a new browser tab (incognito) and open the public link just copied

### Expected behavior
- publ

[2021-03-25 10:49] saw-jan opened #4858 "Preview of a text file is not available even when preview is enabled"
### Description
With PR https://github.com/owncloud/web/pull/4627
### Steps to reproduce
1. login to web
2. upload a text file

### Expected behaviour
Preview of a text file as below:
![p1](https://user-images.githubusercontent.com/52366632/112461117-badbcb00-8d87-11eb-82cb-7f4b6ce23e16.png)

### Actual behaviour
No preview for a text file
![p2](https://user-images.githubusercontent.com/52366632/1

[2021-03-25 10:56] Talank opened #4859 "Rename dialog box does not disappears after rename (random failure in CI)"
The test `Scenario: Rename a file using both double and single quotes` https://github.com/owncloud/web/blob/62006051520026c5393c8c82a418bc8c38917c2d/tests/acceptance/features/webUIRenameFiles/renameFiles.feature#L86 is failing randomly in CI but passes locally all the time.

There might be a problem with renaming a file but it does not occur all the time, so need to investigate.

Currently, the te

[2021-03-25 10:57] kulmann commented on #4858
The preview is only available after a page reload. We'll need to load the preview when the upload is finished and the resource gets added to the store.

[2021-03-25 11:11] Talank commented on #4859
refer to this PR: https://github.com/owncloud/web/pull/4852,
And these build:
- https://drone.owncloud.com/owncloud/web/13788
- https://drone.owncloud.com/owncloud/web/13783

[2021-03-25 11:22] LukasHirt commented on #4858
It should be available, just not immediately. When the upload is finished, the load of preview is triggered. So it can take a second or two until it's displayed depending on your connection. Can you pls try it out that the preview is really not getting displayed after a brief moment?

[2021-03-25 11:56] ishank011 commented on #4823
@kulmann please take this up when you have the chance. We have quite a few things going on so it'll be difficult to spare time to look into this

[2021-03-25 11:58] kulmann commented on #4823
alright 👍

[2021-03-25 12:05] ishank011 opened #4860 "Duplicate requests when homeFolder is enabled"
For a homeFolder value of `/eos/user/{{substr 0 1 .Id}}/{{.Id}}`, we see repeated requests when visiting the web app for the first time
[code]

While we shouldn't be sending the same requests again and again, I don't understand why we need to send these for the parent directories in the first place.

[2021-03-25 12:15] jasson99 opened #4861 "Investigate intermittent failing tests"
## Description:
 The following tests are failing randomly:
- https://drone.owncloud.com/owncloud/web/13817/53/14
- https://drone.owncloud.com/owncloud/web/13817/52/14
- https://drone.owncloud.com/owncloud/web/13826/51/14

These 4 tests are skipped for now in this commit: https://github.com/owncloud/web/pull/4857/commits/87417333791a8a8968280e4f4e10783b4f0087cd

We need to investigate

[2021-03-25 15:31] #2414 closed

[2021-03-25 15:31] #4639 closed

[2021-03-25 15:31] #4647 closed

[2021-03-25 15:31] #4746 closed

[2021-03-25 15:31] #1883 closed

[2021-03-25 21:53] #4346 closed

[2021-03-26 05:44] Talank commented on #4861
For a random failure, the files rename test has been skipped. Related issue: https://github.com/owncloud/web/issues/4859

[2021-03-26 07:16] anaswaratrajan commented on #3183
@LukasHirt @pascalwengerter I tried to reproduce this issue. By sidebar, did you you mean the Actions panel that pops up for file actions and sharing? The issue I found here is being able to leave the window in the middle of a copy, move, rename, delete and sharing actions.

Can I try adding an event listener like in #4840 in file ActionsAccordion.vue? :D

[2021-03-26 07:24] #1652 closed

[2021-03-26 08:10] pascalwengerter commented on #3183
@anaswaratrajan let me think this through and get back to you, not sure how much "user interruption" we want in the app :) but could still be a great opportunity to re-use your learnings from #4840 here!

[2021-03-26 10:28] marcus-herrmann opened #4867 "Accessibility issues in site-wide search"
More or less by accident (#4812) I saw that there is meant to be a general search feature, which isn't active on the basis of my audit, ocis-a11y.owncloud.works. If this would have been the case, my audit ticket regarding this would be as follows:

# Issue
Without a submit button, it is not really obvious how to trigger the search form. Voice Control users can't trigger the submission, for example

[2021-03-26 10:29] marcus-herrmann commented on #4300
Not strictly part of Audit #1, but worth a look (and fix), imo: https://github.com/owncloud/web/issues/4867

[2021-03-26 11:02] individual-it opened #4869 "enabled screenshots and failing VRT tests seem not to work together"
something went wrong in this build
https://drone.owncloud.com/owncloud/web/13882/13/14

some tests failed and uploaded screenshots and also the VRT test failed, but there is no github comment about the vrt failure (only ocis no oc10)
see https://github.com/owncloud/web/pull/4862#issuecomment-808032357

[2021-03-26 11:28] pascalwengerter commented on #4867
@marcus-herrmann thanks for this!

Could you check out https://owncloud.design/#/oC%20Components/OcSearchBar and see if that already redeems some of the issues (e.g. the `close` div/button situation)? We'd still need to bring it to the web app, though and make it a proper `<form>`

[2021-03-26 11:34] marcus-herrmann commented on #4867
@pascalwengerter Ah I see. It looks way better!

[2021-03-28 11:53] jnweiger opened #4872 "web 2.1.0"
This is the server app release template, please copy the part below in a new ticket.
For instructions around app releases, see https://confluence.owncloud.com/display/OG/Releasing+Apps

**REMINDER:** Please add your name to the checkbox when you have completed an item

### Reason

- Release needed for "ticket X", "feature Y"

### Product approval

- [ ] Verify transifex commits are in master: If a

[2021-03-28 11:55] jnweiger opened #4873 "[QA] 2.1.0 Testplan"
## Setup

<details>
<summary>With 10.6.0 docker - http-only (click to view details)</summary>

[code]
</details>

## 'Web' App Test Plan

- Run Testplan with all supported browsers: Internet Explorer 11, MS EDGE, Mozilla Firefox, Chrome and Safari.
- References: [Template](https://github.com/owncloud/QA/edit/master/Server/Test_Plan_web.md)
  - https://owncloud.github.io/clients/web/deployments/oc1

[2021-03-29 04:42] HariBhandari07 commented on #4828
fixed

[2021-03-29 04:42] #4828 closed

[2021-03-29 04:43] Talank commented on #4850
New issues have been made for skipped tests. https://github.com/owncloud/web/issues/4861 https://github.com/owncloud/web/issues/4859

[2021-03-29 04:43] #4850 closed

[2021-03-29 06:34] individual-it opened #4876 "split slow running suites"
these suites should be split:
- [x] webUISharingInternalUsersToRoot (https://github.com/owncloud/web/pull/4912)
- [x] webUISharingInternalUsers https://github.com/owncloud/web/pull/4900
- [x] webUIFiles https://github.com/owncloud/web/pull/4877
- [x] webUIResharing https://github.com/owncloud/web/pull/4922
- [x] webUISharingPublic https://github.com/owncloud/web/pull/4886

[2021-03-29 09:34] Talank opened #4878 "Investigate and solve unexpected fails and passes"
Some tests might be passing or failing intermittently. And the cause might be related to https://github.com/owncloud/web/issues/4850

### These tests are passing unexpectedly
- https://drone.owncloud.com/owncloud/web/13940/5/14
-  https://drone.owncloud.com/owncloud/web/13928/5/14 @saw-jan https://github.com/owncloud/web/pull/4879
    - [x] webUIPreview/imageMediaViewer.feature:33
    - [x] webUIP

[2021-03-29 10:21] saw-jan commented on #4858
Yeah, it's working now
previously the preview was not working also with refreshing page

[2021-03-29 10:21] #4858 closed

[2021-03-29 11:31] saw-jan commented on #4295
Now working with oC10
![ss](https://user-images.githubusercontent.com/52366632/112830400-31dbd100-90b2-11eb-9004-742406ddf440.jpg)

Configuration:
- `Web` build from latest master (commit id: `c22cf7aadd14293fd7d8914d9f1f8fd0433c75f8`)
- oC10 version `10.7.1 prealpha (git)` (commit id: `157353ab081537d08a8467543cb75561e4044817`)

[2021-03-29 11:48] HariBhandari07 commented on #4878
`webUIResharing/reshareUsers.feature` unexpected passing scenarios will be fixed by https://github.com/owncloud/web/pull/4874

[2021-03-30 05:53] Talank commented on #4878
<b>TO-DO:</b>
## Unexpected failures of public link tests
- [ ] webUISharingPublicDifferentRoles/shareByPublicLinkDifferentRoles.feature:92 at https://drone.owncloud.com/owncloud/web/13990/42/14, and https://drone.owncloud.com/owncloud/web/13982/42/14
- [ ] webUISharingPublicDifferentRoles/shareByPublicLinkDifferentRoles.feature:104 on https://drone.owncloud.com/owncloud/web/13982/42/14

It looks

[2021-03-30 07:18] individual-it opened #4885 "pin oc10 commit id for test-runs"
tests are run with an defined commit id of ocis, but for oc10 we are using the QA tarball
the risk is that things change in oc10 and we only notice after the QA tarball is rebuild and a new drone job is run in web. see https://github.com/owncloud/web/pull/4879
ToDo
- [x] pin the oc10 build to a specific commit id https://github.com/owncloud/web/pull/4978
- [ ] cache the oc10 artefact to save the t

[2021-03-30 08:02] individual-it opened #4887 "run UI smoketests with the oc10-integration app"
the oC10 app is not tested at all
the app lives here: https://github.com/owncloud/web/tree/master/packages/web-integration-oc10
docs: https://owncloud.dev/clients/web/deployments/oc10-app/

at least the smoke tests should run with the integration app

[2021-03-30 08:53] HariBhandari07 commented on #4878
Both of the above fails are the same and fixing one will fix both.

[2021-03-30 09:09] LukasHirt opened #4888 "Use monorepo for glauth"
At the moment we're pulling outdated version of glauth from its old dedicated repo in the CI. We should instead use the latest one from oCIS monorepo https://github.com/owncloud/ocis/tree/master/glauth

[2021-03-30 11:05] LukasHirt opened #4890 "Switch to owncloudci golang images"
At the moment we are using webhippie golang images for our CI but it was requested to use owncloudci ones. When switching to that, all oCIS tests are failing at the `buildOcis` step so that needs to be debugged.

[2021-03-30 11:43] pascalwengerter opened #4892 "Copy private link to clipboard broken in oCIS"
### Steps to reproduce
1. Run `web` with oCIS, click on "Links" Accordion item in sidebar for random file/folder
2. Run `web` with OC10, click on "Links" Accordion item in sidebar for random file/folder
3. See that using OC10 you see a link and can click the icon to copy it to your clipboard, while in oCIS you see no link (but an icon that doesn't copy anything to clipboard)

#### OC10
![Screensho

[2021-03-30 12:01] pascalwengerter opened #4893 "Unexpected behavior when renaming files"
### Steps to reproduce
In the sidebar,
1. Rename a `folder`: The name updates correctly in both file table and sidebar heading without a page reload
2. Rename a `file` without touching the filetype-extension (e.g. change `demo.txt` to `demo2.txt`: The name updates correctly in both file table and sidebar heading without a page reload
3. Rename a `file` including the filetype-extension (e.g. change

[2021-03-30 14:04] #4890 closed

[2021-03-31 03:11] individual-it opened #4895 "uploading a new version of a file creates a second entry with the same name in the list"
### Steps to reproduce
1. upload a file
2. upload a file with the same name again
3. select to create a new version

### Expected behaviour
the list should only contain one file

### Actual behaviour
![image](https://user-images.githubusercontent.com/2425577/113085067-e420af00-91fe-11eb-8311-dc99bcaf35ab.png)

[2021-03-31 10:01] LukasHirt commented on #4650
Implemented in #4881 /cc @labkode @diocas

[2021-03-31 10:01] #4650 closed

[2021-03-31 12:57] pascalwengerter commented on #4331
Closed via #4862

[2021-03-31 12:57] #4331 closed

[2021-03-31 13:44] butonic commented on #4892
I tried to add it in https://github.com/cs3org/reva/pull/1604 but it only works when the owner accesses the link 🤪

[2021-04-01 12:05] misse opened #4903 "No files displayed in Web UI"
owncloud_1  | Creating volume folders...
owncloud_1  | Creating hook folders...
owncloud_1  | Waiting for MySQL...
owncloud_1  | services are ready!
owncloud_1  | Waiting for Redis...
owncloud_1  | services are ready!
owncloud_1  | Removing custom folder...
owncloud_1  | Linking custom folder...
owncloud_1  | Removing config folder...
owncloud_1  | Linking config folder...
owncloud_1  | Writing co

[2021-04-01 12:12] pascalwengerter commented on #4903
Hey @misse, what were you trying to achieve here?

Also, is it related to the new Vue.js frontend (which you actively need to enable as an app from the marketplace) or perhaps this issue should be moved to github.com/owncloud/core (where the OC10 code lives AFAIK)

[2021-04-01 12:16] misse commented on #4903
Hi Pascal,

I'm trying to login to the Web ui and browse my files.

I have not enabled a web frontend app from the marketplace to my knowledge.

It might need to move there, since my desktop app work I thought this was related to the Web ui

[2021-04-01 15:20] pascalwengerter commented on #1902
Closing this since it's not an accessibility issue and seems okay for now. @tbsbdr please shout if you receive user feedback regarding font sizes (will also be customizable via theming soon btw)

[2021-04-01 15:20] #1902 closed

[2021-04-01 15:24] pascalwengerter commented on #2019
@lukashirt can we close this now that #evilPR is merged? :)

[2021-04-01 15:35] pascalwengerter commented on #2018
Logo works for me now (`href="#/"`) on oCIS master. Home icon in the files list still doesn't (link in breadcrumb list is `href="#/files/list/%2F"`)

[2021-04-01 18:51] misse opened #4905 "No files displayed in WEBUI"
### Steps to reproduce
1. Deploy owncloud 10.5 with docker-compose
2. Upload files with a desktop client
3. Log in to web ui

### Expected behaviour
I expect to see my uploaded files

### Actual behaviour
The list of files is just white, nothing is listed and the developer console hints that the UI fails to identify my user id.

### Server configuration
**Operating system**:
Ubuntu 18.04 running d

[2021-04-02 10:47] LukasHirt commented on #2019
@pascalwengerter Not yet - this hasn't been tackled in that PR...

[2021-04-02 11:25] #4610 closed

[2021-04-06 09:09] pascalwengerter commented on #4638
@jnweiger can we close this issue?

[2021-04-06 09:13] pascalwengerter commented on #4418
@individual-it @SwikritiT what's the state on this issue? :)

[2021-04-06 09:20] pascalwengerter commented on #4279
Closed via #4280

[2021-04-06 09:20] #4279 closed

[2021-04-06 09:31] individual-it commented on #4418
I believe we can close it

[2021-04-06 09:31] #4418 closed

[2021-04-06 09:33] pascalwengerter commented on #1942
What's tbd to fix this issue?

[2021-04-06 09:37] pascalwengerter commented on #1953
@LukasHirt did you re-introduce vue2-dropzone in the evil PR (or decided to keep it, after all)?

[2021-04-06 09:39] LukasHirt commented on #1953
It was never removed, was it?

[2021-04-06 09:47] pascalwengerter commented on #1953
Nope. My understanding was that at some point in history it might've been possible (after #2239 was merged) but it seems to be a valid part of the application (again)? Then we can possibly close the issue

[2021-04-06 10:00] pascalwengerter commented on #1989
You can by now run the dev server on a different port, by using e.g. `PORT=3006 yarn serve`. Since this is not very useful/there's no real usecase to do this with the setup guides for oCIS/OC10 I won't add it to the docs.

[2021-04-06 10:00] #1989 closed

[2021-04-06 10:07] pascalwengerter commented on #2443
@skshetry could you retry this with all the changes that have occured in the last ~1,5 years? Should work fine now 😉

[2021-04-06 12:24] pascalwengerter commented on #3351
@LukasHirt is this still the case? :)

[2021-04-06 12:45] LukasHirt commented on #3351
Hmm, need to test that but folder upload hasn't been touched so I don't think it would be solved 🤷

[2021-04-06 12:48] LukasHirt commented on #1953
When implementing the dropzone originally we used the mentioned lib. We are using only a super limited set of features that are easily replaced with native events so we do not need that lib. This ticket is not about removing the dropzone itself. Only the lib under the hood should be removed and replaced with those native events...

[2021-04-06 12:49] pascalwengerter commented on #1953
I see, thanks for clarification!

[2021-04-06 12:50] LukasHirt commented on #1942
We're already capable of importing gettext into js files https://github.com/owncloud/web/blob/237598bf0c6da0ac111ead14a06c297d54772692/packages/web-app-files/src/store/actions.js#L7 What we need now is to actually make the locale reactive for plain js files - atm it won't respect changes in selected language until a refresh

[2021-04-06 13:30] pascalwengerter commented on #2467
@dpakach couldn't reproduce on web.owncloud.com and running oCIS locally with current master. Can you?

[2021-04-06 13:35] labkode commented on #4860
@kulmann any news on this?  Performance is impacted by such number of requests

[2021-04-06 14:27] #2362 closed

[2021-04-06 14:41] #4872 closed

[2021-04-06 20:09] kulmann commented on #4673
Theming finally landed in web master today: https://github.com/owncloud/web/tree/62690fd17657b96951ee29391395d49dcb2f36ae
Documentation is available at https://owncloud.dev/clients/web/theming/

Please ping us here or in talk.owncloud.com `#infinitescale` for theming support. It was an all hands effort after all, but the main contact for theming expertise is @pascalwengerter

I'll close this issue

[2021-04-06 20:09] #4673 closed

[2021-04-06 21:27] kulmann commented on #4860
The bug was unrelated to the homeFolder feature.

Context: we're loading the shares of the current folder and all parent folders to be able to display share indicators on the listed resources (because it might be shared via a parent folder). This is cached for the current path. If you leave the current path (i.e. go to a child of the path or to a sibling) the cache gets cleared. If you traverse to

[2021-04-07 03:24] dpakach commented on #2467
@pascalwengerter seems to be fixed. Closing this issue now.

[2021-04-07 03:24] #2467 closed

[2021-04-07 04:30] Talank opened #4919 "list of intermittent fails and passes"
Some web tests are failing intermittently in different PRs. We won't know if the failure should be investigated or not unless we realize how frequently the same test is failing. So, all the failures that were noticed are listed in this issue, to keep track of them.

Extension to https://github.com/owncloud/web/issues/4878

### Fails
- [x] webUISharingPublicDifferentRoles/shareByPublicLinkDifferent

[2021-04-07 07:34] saw-jan commented on #4919
- [ ] webUISharingInternalUsersSharingIndicator/shareWithUsers.feature:142
    - https://drone.owncloud.com/owncloud/web/14330/36/14

[2021-04-07 07:42] HariBhandari07 commented on #4919
This issue is supposed to be fixed by PR https://github.com/owncloud/web/pull/4902 which was merged a few minutes ago.  Let's wait and see if it fails again in other drone run.

[2021-04-07 12:02] #4860 closed

[2021-04-07 12:04] kulmann commented on #4919
- webUISharingPublic/shareByPublicLink.feature:591
  - https://drone.owncloud.com/owncloud/web/14290/42/14

[2021-04-07 20:18] kulmann commented on #4823
@ishank011 could you confirm that this is what you need? https://github.com/owncloud/web/pull/4926

To be honest I don't get how in your setup the user has access to the storage root but shares still live in the users homeFolder path. Struggling to write meaningful tests for it.

[2021-04-07 20:20] kulmann commented on #4823
Pinging @LukasHirt @pascalwengerter @fschade here so that they get updated with more information as well.

[2021-04-08 04:46] saw-jan commented on #4919
- [ ] webUISharingExternal/federationSharing.feature:258
     - https://drone.owncloud.com/owncloud/web/14414/50/20

[2021-04-08 07:23] jasson99 commented on #4861
Fixed in this PR: https://github.com/owncloud/web/pull/4908

[2021-04-08 07:28] jasson99 commented on #4919
New Failure in
- [ ] webUITrashbinFilesFolders/trashbinFilesFolders.feature:15 in XGAPortrait and Iphone
    -  https://drone.owncloud.com/owncloud/web/14369/52/14

[2021-04-08 07:34] jasson99 commented on #4859
this is fixed in this pr https://github.com/owncloud/web/pull/4908

[2021-04-08 08:03] #4861 closed

[2021-04-08 08:03] #4859 closed

[2021-04-08 08:57] HariBhandari07 commented on #4680
"tries to" for `copy` and `move` have been adjusted here https://github.com/owncloud/web/pull/4824 and for `rename` no need to make extra adjustment as it already does what it is supposed to do.

[2021-04-08 09:30] kiranparajuli589 opened #4933 "adjust webUI test scenarios with "tries to" in its step"
Description: see issue description from here https://github.com/owncloud/web/issues/4680

After issue https://github.com/owncloud/web/issues/4680, tries to steps with following are refactored:
- [x] tries to move
- [x] tries to copy

TODO:
- [x] tries to rename https://github.com/owncloud/web/pull/5134
- [x] tries to create a public link share https://github.com/owncloud/web/pull/5137
- [x] tries

[2021-04-08 09:30] #4680 closed

[2021-04-08 11:02] pascalwengerter commented on #4788
"Public links" are `<ul>` already

"People shares" gets turned into `<ul>` in #4915

[2021-04-08 11:20] pascalwengerter commented on #4873
@jnweiger could you provide me with more context on this issue (goals, definition of done, process steps)?

[2021-04-08 11:37] pascalwengerter opened #4936 "Decide how to proceed with `manifest.json`"
### Context
In order to being able to use `web` as a progressive web app, we deliver a `manifest.json` file to our users. The content of this file should be information for how the app should be displayed and handled, by referencing images/logos for different clients, text snippets and colors. More details [here](https://web.dev/add-manifest/)

### Actual behaviour
When running with oCIS and since

[2021-04-08 12:47] #4788 closed

[2021-04-08 13:54] pascalwengerter commented on #4718
Irrelevant since there's no `/apps/files/package.json` anymore

[2021-04-08 13:54] #4718 closed

[2021-04-08 13:54] pascalwengerter commented on #4714
Irrelevant since there's no `/apps/draw-io/package.json` anymore

[2021-04-08 13:54] #4714 closed

[2021-04-08 13:55] pascalwengerter commented on #4716
Irrelevant since there's no `/apps/media-viewer/package.json` anymore

[2021-04-08 13:55] #4716 closed

[2021-04-08 13:56] pascalwengerter commented on #4717
Irrelevant since there's no `/apps/markdown-editor/package.json` anymore

[2021-04-08 13:56] #4717 closed

[2021-04-08 14:08] pascalwengerter commented on #4064
Hey @davitol, can't reproduce/what's your issue here? Could you check with the latest release of oCIDS (1.4.) or `web` on master?

[2021-04-08 14:15] pascalwengerter commented on #4936
@kulmann @LukasHirt @fschade opinions?

[2021-04-08 14:15] pascalwengerter commented on #3951
What's necessary to do this / has it been done in the meantime?

[2021-04-08 14:34] pascalwengerter commented on #3908
@labkode can you confirm this is still the case? The side panel has been updated and I'm only seeing a progress bar

[2021-04-08 14:37] pascalwengerter commented on #3920
Closed in favor of #3819 since there's more relevant information to find

[2021-04-08 14:37] #3920 closed

[2021-04-08 14:43] pascalwengerter commented on #2130
Outdated since the search field has changed a lot. Search works with OC10, you can try it on web.owncloud.com, the component lives here: https://owncloud.design/#/oC%20Components/OcSearchBar

<img width="835" alt="Screenshot 2021-04-08 at 15 42 27" src="https://user-images.githubusercontent.com/16822008/114046761-078fcd80-9881-11eb-8261-c5a64be436b8.png">

[2021-04-08 14:43] #2130 closed

[2021-04-08 14:47] pascalwengerter commented on #3841
Can not reproduce, @HariBhandari07 can you confirm this still fails for you?

[2021-04-08 15:24] fschade opened #4939 "release v3.0.0"
## Story

## Release checklist
- [x] create a branch `release-3.0.0` @fschade
- [x] create a pr `release-3.0.0` @pascalwengerter
- [x] update the version to `3.0.0` in `packages/web-integration-oc10/appinfo/info.xml` @fschade
- [x] update the version to `3.0.0` in `package.json` @fschade
- [x] move changelog/unreleased/* to changelog/3.0.0_YYYY-MM-DD @fschade
- [x] create pre release tag `v3.0.0-r

[2021-04-08 15:37] pascalwengerter commented on #2126
Not relevant anymore since the menu stays open on desktop and follows a different logic on mobile

[2021-04-08 15:37] #2126 closed

[2021-04-09 06:38] Talank commented on #4878
All the failures that have been listed here and not in https://github.com/owncloud/web/issues/4919 have been fixed. So, closing this issue.

[2021-04-09 06:38] #4878 closed

[2021-04-09 08:23] LukasHirt commented on #3951
Has been done when switching to rollup https://github.com/owncloud/web/blob/535f3586ef4e03c38c6fd3c51294b71e7d276133/rollup.config.js#L71

[2021-04-09 08:23] #3951 closed

[2021-04-09 09:24] elizavetaRa commented on #4673
@kulmann I tried theming and there is a bug: setting the logo, slogan and page title doesn't work on the login page. Everywhere else it works.

[2021-04-09 09:32] pascalwengerter commented on #4673
@elizavetaRa Benedikt is out of the office today, hope you don't mind me replying. Could you clarify which login page we're talking about and ideally send us URL+screenshot?

If you mean this page
![Screenshot_2021-04-09 Sign in - ownCloud](https://user-images.githubusercontent.com/16822008/114160376-c221dd80-991e-11eb-91ae-65a1f1da317b.png)
it's a completely different app (Konnectd React app) liv

[2021-04-09 09:41] elizavetaRa commented on #4673
@pascalwengerter yes, I meant this page. Ok, this answers the quesion. It's not consistent if the login page is different that the rest of the application, so I hope, in future there will be the possibility of barinding it. In theme.json there are options for the background picture and slogan of the login page but then these options are not applicable.

[2021-04-09 10:08] pascalwengerter commented on #4673
Seems like we have a misunderstanding here. There's a login page you can enable by setting `"autoRedirect": false,` (default is true) in the theme. When doing so, you get displayed a themed login page which forwards you to the authentication provider of your choice.

The ownCloud-themed Konnectd page shown above in the screenshot is more meant as a demo application when using small oCIS instances.

[2021-04-09 10:33] elizavetaRa commented on #4673
@pascalwengerter You answered my question. Yes, by CERNBox we don't need this page but I was still wondering why it doesn't work.

[2021-04-09 11:14] labkode opened #4943 "Toggle hidden files"
## User story

![Screenshot 2021-04-09 at 13 13 24](https://user-images.githubusercontent.com/5175912/114172003-5eef7580-9935-11eb-9640-cd2c6b60da10.png)

## Acceptance criteria
- have a dropdown above the files list (first scribble from [~tbaader]) with a `Show hidden files` checkbox
- store the information in localStorage, so that it survives a browser session
- same interpretation of "hidden fi

[2021-04-09 11:16] labkode commented on #4943
cc @elizavetaRa

[2021-04-09 11:18] labkode commented on #4673
@pascalwengerter @elizavetaRa there is still a page that I've just found that I don't know if it is covered in theming,
this one:
![Screenshot 2021-04-09 at 13 16 53](https://user-images.githubusercontent.com/5175912/114172460-fce34000-9935-11eb-8884-088a9d665091.png)

[2021-04-09 11:40] pascalwengerter commented on #4673
@labkode can't reproduce, works fine for me with the following:

[code]

We may need to change the CSS on the logo width/height, though

<img width="1440" alt="Screenshot 2021-04-09 at 12 39 12" src="https://user-images.githubusercontent.com/16822008/114174495-99a2df00-9930-11eb-9b50-bc40f2c50916.png">

[2021-04-09 12:00] dpakach opened #4944 "Change the screenshots cache server"
Currently screenshots are uploaded to an hardcoded url in .drone.star https://github.com/owncloud/web/blob/master/.drone.star#L1741

We can change it to `cache_s3_endpoint` from the drone secrets.

[2021-04-09 12:05] labkode commented on #4673
@pascalwengerter thanks Pascal! Hopefully next week we can try these changes in our live environment with real users.

[2021-04-09 13:24] pascalwengerter commented on #4345
## Update
We resolved all (known) offenders in the design system in the **v4.0.0** release, now it's time to clean up the web

This comment shall be used to collect things to be fixed, feel free to append the list

- [ ] `<div>` and `<ul>` inside `<h1>` when moving a file/folder

[2021-04-09 13:54] elizavetaRa opened #4946 "Shared with me view: error on changing status of files"
### Steps to reproduce
1. Installing ocis from binary, installing web from source code
2. Go to "Shared with me" section
2. Click on "Accept" or "Decline"

### Expected behaviour
Status of clicked file changes to selected

### Actual behaviour
Error "Cannot read property "length" of undefined" appears, file status is only updated on page reload. Sometimes error "unexpected end of JSON input" appea

[2021-04-09 14:15] pascalwengerter opened #4947 "Fixed aspect ratio in login/error screen logo doesn't work nicely with theming"
### Steps to reproduce
1. Configure a custom file in `theme.json`'s **logo** section, e.g. `"login": "https://home.cern/sites/home.web.cern.ch/files/logo/cern-logo.png"`
2. Go to `https://localhost:9200/#/access-denied`
3. See the screenshot below

![Screenshot_2021-04-09 accessDenied - ownCloud](https://user-images.githubusercontent.com/16822008/114193328-518eb700-9946-11eb-9171-70de9d7f9d60.png)

[2021-04-12 02:55] individual-it commented on #4876
all open PRs are merged, is this done?

[2021-04-12 03:34] saw-jan commented on #4876
yeah, above mentioned tests suites have been splitter to smaller suites. And drone runtime is also comparatively faster

[2021-04-12 03:47] dpakach commented on #2443
@pascalwengerter, uploading folders seems to work but all the files in the folder will be flattened.
for example, if we upload a folder with the following structure
[code]
it will upload all 3 files `file1.pdf`, `file.ttf`, and `file2.pdf` will be uploaded in the same folder. Is that correct behavior?

Uploading a similar folder in the main files section keeps the folder structure of the originall

[2021-04-12 05:14] #4876 closed

[2021-04-12 07:35] dpakach commented on #3600
Most of the things are already done. so closing this.

[2021-04-12 07:35] #3600 closed

[2021-04-12 07:37] dpakach opened #4952 "Change screenshots cache url"
Currently the s3 cache url for screenshots is set to minio.owncloud.com. We need to change that to the s3 cache server we use for other purposes which comes from the drone secret `cache_s3_endpoint`

[2021-04-12 08:47] saw-jan opened #4955 "Will oCIS server support sharing to root directory like oC10 in upcoming releases?"
With oC10, we can choose between `root directory` and `Shares` folder to decide where accepted shares will go. But with oCIS, accepted shares can be listed only inside `Shares` folder not root.

This topic should be discussed because there are separate sharing acceptance tests for `Root` and `Shares`, and we are running both test suites against oCIS. If oCIS is designed not to support accepting sh

[2021-04-13 07:47] individual-it commented on #4955
according to @dragotin the functionality to share to root will not be implemented in OCIS and the tests are already tagged `@notToImplementOnOCIS`
@phil-davis should we just delete these pipelines from ocis drone?

[2021-04-13 09:40] phil-davis commented on #4955
yes, that will be safe enough, the scenarios in those suites all involve share-to-root and the naming of the suite indicates that. So I don't think that people will accidentally add other unrelated test scenarios to those suites.

[2021-04-13 12:42] pascalwengerter opened #4966 "Configurable languages in settings service (ocis)"
### Expected behaviour
As an admin, I want to configure which languages are provided inside the frontend and can be used by the users. Therefor, I'd assume I can alter configuration to limit the available languages to a certain set.

### Actual behaviour
Available languages are hardcoded in the `packages/web-runtime/src/index.js` file in web and in https://github.com/owncloud/ocis/blob/fb30483d6fc

[2021-04-15 03:16] #4952 closed

[2021-04-15 03:50] saw-jan commented on #4955
TO DO:
- [ ] Remove sharingToRoot test suites from oCIS drone

[2021-04-15 05:54] jasson99 commented on #4919
Intermittent unexpected pass:
- [ ] webUIRestrictSharing/disableSharing.feature:46
   https://drone.owncloud.com/owncloud/web/14623/63/10

[2021-04-15 14:37] ishank011 opened #4973 "Send avatar requests in the background"
When the 'Shared with me' or 'Shared with others' tab is opened, web sends requests to the `/remote.php/dav/avatars/$username/128.png` to get the profile pictures for the collaborators. While it definitely improves the UX, it significantly increases the latency.

[2021-04-15 15:08] pascalwengerter commented on #4973
Great feedback, thanks!

For anyone looking into this:
- we perhaps want to use the native lazy loading functionality provided by [the HTML img tag](https://www.w3schools.com/tags/tag_img.asp)
- we're using the [avatar component](https://owncloud.design/#/oC%20Components/OcAvatar) from the ownCloud design system
- the avatar component is based on https://github.com/eliep/vue-avatar - I've already

[2021-04-16 04:11] #4955 closed

[2021-04-16 04:30] individual-it commented on #4919
- [ ] webUIUserJourney/journey1.feature:11
      `Error: HTTP Request Failed: Failed while creating user, Status: 502 undefined`
      https://drone.owncloud.com/owncloud/web/14676/96/10
- [ ] webUIRenameFiles/renameFiles.feature:20
     https://drone.owncloud.com/owncloud/web/14676/54/14

[2021-04-16 06:11] jasson99 commented on #4919
- [ ] webUISharingExternal/federationSharing.feature:93
   - https://drone.owncloud.com/owncloud/web/14639/52/20

[2021-04-16 08:32] kulmann commented on #4919
- [ ] webUISharingPublicManagement/publicLinkIndicator.feature:27
  - https://drone.owncloud.com/owncloud/web/14710/45/14

[2021-04-16 11:07] pascalwengerter commented on #4966
@micbar @butonic what's the planned usage for `var languageSetting` (see oCIS link above)?

Background: We need a decision on whether the available languages in `web` should be defined in the `web`'s `config.json` or "inherited" from an oCIS config/setting :)

[2021-04-16 11:19] saw-jan opened #4977 "Remove `@skip` and `@yetToImplement` tags from tests and use expected-to-fail files"
There are some acceptance tests that are tagged  `@skip` or `@yetToImplement`, we need to do the followings:
- Feature implemented
   - remove tags
   - add required step defs.
- Feature not implemented
   - remove tags
   - add tests to expected-failures

[2021-04-19 08:45] pascalwengerter commented on #3758
Closed as outdated, we'll have to update dependencies regularly in all three mentioned repositories anyways

[2021-04-19 08:45] #3758 closed

[2021-04-19 09:24] HariBhandari07 commented on #3015
@pascalwengerter  the issue still exists. We also have a test demonstrating the issue https://github.com/owncloud/web/blob/master/tests/acceptance/features/webUIUpload/uploadEdgecases.feature#L109

[2021-04-20 07:30] individual-it commented on #4946
is this a duplicate of https://github.com/owncloud/product/issues/276 ?

[2021-04-20 08:09] kulmann commented on #4946
With recent changes in web we wanted to be clever and use the response of the accept/decline request for updating the respective row of the shared-with-me page. For oc10 this works fine, for oCIS the response is empty, so we cannot use it. As a quick fix we have two options:
a) go back to reloading the shared with me list (that's what we had in place in the past)
b) request the respective share an

[2021-04-20 08:10] kulmann commented on #4946
IMO the best solution would be to actually return the share in the response, like we had it for oc10. But that's also the one that takes the most time to implement. Will work on a quick fix for now.

[2021-04-21 05:11] individual-it commented on #4869
here https://github.com/owncloud/web/pull/4985#issuecomment-823043537 it seem to have uploaded the VRT failures but also screenshots of other expected failures
![image](https://user-images.githubusercontent.com/2425577/115499968-28e4b680-a290-11eb-8be3-ce2ebc312b3c.png)

[2021-04-21 10:40] Talank commented on #4919
Recently many unexpected passes have been noticed after including core commit id in drone environment of the web. Need to investigate why those tests are passing in the drone.

**Unexpected pass:**
- [ ] webUISharingNotificationsToRoot/shareWithUsers.feature:40
  - https://drone.owncloud.com/owncloud/web/14921/11/14
- [ ] webUIPreview/imageMediaViewer.feature:83
  - https://drone.owncloud.com/ownc

[2021-04-21 15:25] #4939 closed

[2021-04-21 15:33] kulmann commented on #4946
@butonic since you looked into it today, how much effort are we talking about with returning the share in the response in reva?

[2021-04-21 15:39] kulmann commented on #4947
Fixed with https://github.com/owncloud/owncloud-design-system/pull/1207, already updated in web.

[2021-04-21 15:39] #4947 closed

[2021-04-21 20:24] exalate-issue-sync[bot] opened #4992 "Focus management"
## User story

## Acceptance criteria
- never lose keyboard focus
- meaningful order of focussable elements
- always stay in context / resume old context

[2021-04-21 20:51] kulmann opened #4994 "scrollTo broken with oCIS"
### Steps to reproduce
1. start oCIS single binary from v1.5.0-rc1 (or final)
2. Create a folder

### Expected behaviour
The UI should scroll to the created folder.

### Actual behaviour
Doesn't scroll.

#### Browser log
[code]

[2021-04-21 21:42] kulmann opened #4995 "folder sizes shown as ? for public links in ocis"
### Steps to reproduce
1. Run ocis v1.5.0-rc1 (or final)
2. Create a folder
3. Upload some files into that folder
4. Create a public link for the folder
5. Visit the public link

### Expected behaviour
Folder sizes should be shown properly.

### Actual behaviour
Folder sizes are shown as question mark (`?`), see screenshot

<img width="826" alt="Screenshot 2021-04-21 at 23 40 15" src="https://user

[2021-04-21 21:45] kulmann opened #4996 "Creating a new version of a file shows it duplicated in the file list (until page reload)"
### Steps to reproduce
1. Run ocis v1.5.0-rc1 (or final) - issue is the same with oc10
2. upload a file
3. upload the same file again, creating a new version

### Expected behaviour
The file list row should be updated with the new version of the file.

### Actual behaviour
The new upload appears as duplicate in the file list. A page reload works for showing only one of them again.

[2021-04-22 04:35] individual-it commented on #4919
@Talank those tests are not really unexpected passes but crashes of nightwatch CC @kiranparajuli589

[2021-04-22 15:15] exalate-issue-sync[bot] opened #5001 "Accessible share information"
## User story

## Acceptance criteria
- avatar group is aria-hidden and has a sr-only representation which describes how a resource is shared and with/by whom. e.g. "Shared with Alice, Bob and via three links" ("shared with others" and "shared via link")
- same for single avatars ("shared with me")
- Table column about sharing state: actions without appearance=raw => let them look like actual butt

[2021-04-22 15:33] #4992 closed

[2021-04-22 16:35] kiranparajuli589 commented on #4919
was noticed in drone run https://drone.owncloud.com/owncloud/web/14928/11/14. (actually was due to absence of notifications app on server, resolved now.)

[2021-04-22 20:07] exalate-issue-sync[bot] opened #5003 "Semantically correct headlines"
## User stories

## Acceptance criteria
- h1 tag for every page, even when it's hidden
- meaningful h2-h6 tags in proper hierarchy

[2021-04-23 06:44] JammingBen commented on #4791
Was fixed in one of the latest ODS releases.

[2021-04-23 06:44] #4791 closed

[2021-04-23 06:44] JammingBen commented on #4763
Has been fixed.

[2021-04-23 06:44] #4763 closed

[2021-04-23 07:47] individual-it opened #5006 "web does not work with older versions of chrome"
since c8a64ff8 chrome 74 is not supported anymore, it works fine with chrome 90
ToDo: find out in which version of chrome exactly it started to fail

[2021-04-23 09:14] LukasHirt commented on #4919
- [ ] webUIFilesList/fileList.feature:60
  - https://drone.owncloud.com/owncloud/web/15017/15/14

[2021-04-24 12:43] #5003 closed

[2021-04-26 07:15] saw-jan opened #5015 "Admin settings feature not implemented yet"
Admin user cannot access admin settings using web ui yet

[2021-04-26 08:12] saw-jan opened #5017 "Tags page not implemented yet"
Ability to create. delete tags and assign tag to files is not available yet.

[2021-04-26 11:10] Talank commented on #4919
- [ ] webUIMarkdownEditor/markdownFile.feature:33
  - https://drone.owncloud.com/owncloud/web/15114/12/14

[2021-04-26 11:45] Talank opened #5022 "webUIFilesActionMenu/versions.feature:14 behaves differently on CI"
### Description
Scenario webUIFilesActionMenu/versions.feature:14 behaves differently on CI than locally, which needs to be investigated and removed from the expected failure file.

### Related CI builds
- https://drone.owncloud.com/owncloud/web/15116/13/14

[2021-04-27 04:19] saw-jan opened #5026 "[Test-Only] Tests with undefined steps didn't fail in CI"
https://drone.owncloud.com/owncloud/web/15110/8/14

Tests with undefined steps should be included in expected-to-fails but are included in passes.
Investigate how test results are parsed in `run.sh` and make sure the tests with undefined steps also end up in expected fails.

[2021-04-27 13:21] butonic commented on #4946
after changing a share the endpoints need to reread the share and do a stat to fill in all necessary data. quite a bit of logic and testing. rough estimation 3 days.

[2021-04-27 14:36] pascalwengerter opened #5031 "Can't edit collaborators while file uploads are in progress"
### Steps to reproduce
1. Upload a reasonably large folder (I went for a WordPress plugin with ~4.000 items)
2. Move into the uploading folder while the upload is still in process
3. Try sharing an item with a fellow user

### Expected behaviour
Either the sharing dialogue is disabled/not displayed while the upload is still running **or** I can already share files/folders that are partly/completel

[2021-04-27 19:18] jnweiger commented on #4638
1.0.2 release is done.

[2021-04-27 19:18] #4638 closed

[2021-04-27 19:24] jnweiger commented on #4873
Release 2.1.0 was done.

[2021-04-27 19:24] #4873 closed

[2021-04-29 07:00] saw-jan commented on #5006
From the commit-id https://github.com/owncloud/web/commit/c8a64ff8e27a7f255516e5d0b01aa66519231f3f, `web` is not working for `chrome version` `79` and lower.
But works from `chrome version` `80` and above.

And for selenium docker image, web will work with `selenium/standalone-chrome-debug:3.141.59-zirconium` and above.
But with selenium docker lower than this image version, web won't work (lower

[2021-04-29 07:59] individual-it opened #5038 "change storage provider in web tests to ocis storage"
OCIS PR https://github.com/owncloud/ocis/pull/1962 improved the cleanup of users when they are deleted. We should be able now to switch the storage provider in the web tests from owncloud storage to ocis storage

Related issue https://jira.owncloud.com/browse/OCIS-706

[2021-04-29 08:54] individual-it commented on #5006
CC @kulmann does that information help you?

I will close this issue now, please feel free to re-open or create a new one if any follow up is needed

[2021-04-29 08:54] #5006 closed

[2021-04-30 03:05] phil-davis commented on #4919
- [ ] webUIUpload/upload.feature:130
- https://drone.owncloud.com/owncloud/web/15225/50/14
[code]

[2021-04-30 03:43] #4887 closed

[2021-04-30 11:08] fschade commented on #4597
done by latest translations

[2021-04-30 11:08] #4597 closed

[2021-05-03 13:45] elizavetaRa opened #5060 "UI hangs when directory contains a large amount of files"
### Steps to reproduce
1. Create many files in local setup (tried with 5000, 8000)
2. Try to list them in the web UI

### Expected behaviour
UI doesn't freeze

### Actual behaviour
 UI freezes or the response comes after a longer time (approx. 2 minutes) and are not clickable

### Server configuration
Newest ocis version

![image](https://user-images.githubusercontent.com/5175912/117401909-b74e6e8

[2021-05-03 13:58] ishank011 commented on #5060
Adding that the issue wasn't visible in the previous web version (2.1.0) used in ocis.

[2021-05-03 14:12] kulmann commented on #5060
We're planning to introduce [pagination](https://github.com/owncloud/ocis/issues/1178) to solve this

[2021-05-04 04:20] dpakach commented on #4885
@individual-it I don't think we really need to cache oc10. currently, it takes about 40-50seconds to install oc10. That less time than what it would take if we were to check the oc10 cache, pull it and install the dependencies as we won't be adding all the dependencies in the cache. So it would end up taking more time.

[2021-05-04 04:31] individual-it commented on #4885
In that case we can close the issue

[2021-05-04 04:31] #4885 closed

[2021-05-04 04:48] phil-davis commented on #4919
- [ ] webUIMoveFilesFolders/moveFiles.feature:105 https://drone.owncloud.com/owncloud/web/15255/15/14
[code]

[2021-05-04 04:58] saw-jan commented on #4977
blocked because of https://github.com/owncloud/web/pull/5018

[2021-05-04 05:05] Talank commented on #4601
blocked until https://github.com/owncloud/web/pull/5018 is merged.

[2021-05-04 05:38] dpakach commented on #4869
@individual-it It shows the screenshots for VRT tests and regular tests separately (eg. https://github.com/owncloud/web/pull/5062#issuecomment-831679813)

As for the large number of screenshots showing, I can't think of any way to fix that. when screenshots are enabled all failing tests will produce screenshots. And the screenshots are just named with the timestamp, so not really any way to identi

[2021-05-04 05:57] dpakach commented on #5022
It gives error `Error: HTTP Request Failed: Could not create the file "lorem.txt" for user "user0"., Status: 423 undefined`

This means that the file is locked. I think we had similar issue in other tests as well.

[2021-05-04 06:14] individual-it commented on #4869
@dpakach could we enable screenshots only for the second run of nightwatch? So the first try would not even produce screenshots?

[2021-05-04 06:36] saw-jan opened #5064 "[tests-only] refactor acceptance tests code"
refactor `webdavHelper:getTrashBinElements` to prevent the error like below:
https://drone.owncloud.com/owncloud/web/15259/6/10
[code]
- check `trashData` is of type array before doing `.map()` array function

This type of error occurs when tests are run against `oCIS` server with `ocis-storage`.
because of this issue https://github.com/owncloud/ocis/issues/1128

[2021-05-04 06:50] #5026 closed

[2021-05-04 07:08] #5064 closed

[2021-05-04 07:15] jasson99 opened #5065 "Occ commands in web tests not working locally"
### Steps to reproduce
1. Run web tests having steps to set `shares_folder` to `Shares` locally

### Expected behaviour
The `shares_folder` should be set to `Shares` and hence the tests should execute properly.

### Actual behaviour
The `shares_folder` is not set to `Shares` and hence the tests fail in the later steps where the share is to be accepted from `Shares` folder. However, the tests do no

[2021-05-05 04:41] dpakach commented on #4869
@individual-it, I found a way for that. We can basically save the screenshot using the selenium API rather than just using the magic config. that way we get to name the screenshot according to the feature file and it would be easier to recognize which screenshot is for which feature

[2021-05-05 06:58] dpakach commented on #4869
Added the fix for this in https://github.com/owncloud/web/pull/5062

[2021-05-05 08:38] pascalwengerter opened #5068 "Timestamp in file row & sidebar aren't identical"
### Steps to reproduce
1. Run oCIS master & web frontend
2. Go to "Shared with me page" and click on a row
3. See that timestamp in table row and on sidebar aren't identical (sidebar always says "a few seconds ago")

### Expected behaviour
Timestamp in the sidebar should reflect the timestamp from the table row

### Actual behaviour

<img width="473" alt="Screenshot 2021-05-05 at 09 32 30" src="ht

[2021-05-05 09:04] kulmann commented on #5068
The time in the right sidebar is the `last modified` date/time. We probably need to add that to the right sidebar. `Modified a few seconds ago` instead of just `a few seconds ago`.

[2021-05-05 13:26] micbar commented on #5060
Web 2.1.0 was using virtual scrolling and only kept 10 items in the DOM

In web 3.0 there is no virtual scrolling because it was necessary to remove it.

Web 3.x needs pagination instead of the virtual scrolling.

[2021-05-05 17:38] diocas commented on #3742
This no longer applies, so I'm closing this ticket. Feel free to re-open if necessary.

[2021-05-05 17:38] #3742 closed

[2021-05-05 17:41] diocas commented on #3743
This no longer applies, so I'm closing this ticket. Feel free to re-open if necessary.

[2021-05-05 17:41] #3743 closed

[2021-05-05 17:44] diocas commented on #3907
@labkode I'm tempted to close this  as no longer seems relevant ti the current version (although it hasn't changed much).

[2021-05-05 17:45] diocas commented on #3908
I'm closing this ticket as now it's a bit more consistent. The progress bar is shown even on sharing options.

[2021-05-05 17:45] #3908 closed

[2021-05-05 17:51] diocas commented on #3897
@ishank011 I think we can close this. We no longer can share the shares folder (and we even want to hide it). Please re-open if not true.

[2021-05-05 17:51] #3897 closed

[2021-05-06 05:44] #4869 closed

[2021-05-06 06:27] #4834 closed

[2021-05-06 13:08] #5001 closed

[2021-05-06 21:26] kulmann commented on #4946
For now mitigated in web by fetching the share by id after accepting/declining if the response was empty: https://github.com/owncloud/web/pull/4988

[2021-05-06 21:28] kulmann commented on #4946
@elizavetaRa could you check if we can close this ticket for now? A fix in reva would be good and is in progress AFAIK. Web will be compatible with that out of the box, as the fix in reva will resemble the oc10 behaviour, which is already working.

[2021-05-07 05:26] labkode opened #5075 "Do not block main rendering on preview (thumbnail) requests"
When listing a directory with N files  there will be N requests send to create a preview.
These requests instead of being sent in the background block the rendering of the UI and the file list.

For example:
When listing a folder with 100 entries, 100 requests to fetch the previews are made. The PROPFIND response takes 300ms and user get a render after 7 seconds because you wait for the preview re

[2021-05-07 05:27] labkode opened #5077 "Disable avatar requests"
It is not possible to change avatar in OCIS.
Disable this feature until is available to avoid network latencies.

[2021-05-07 05:36] labkode opened #5078 "Increase density of the UI"
The current UI shows less items than the OC10 one.
In my Mac: 12 items (OC10) vs 9 (OCIS).
A higher density needs to be configured.

[2021-05-07 05:40] labkode opened #5079 "Generate previews only for files that can have a preview"
Only send previews for known mimetypes that can have them and app allows for that.

The logic should be:
1) Check what apps are installed
2) Get list of mimetypes handled by apps
3) Check if for each mime type the app can generate a preview
4) Send the preview (and cache in browser)

[2021-05-07 05:45] labkode opened #5080 "Sharing permission not respected consistently"
If I click the share icon on a resource I don't have the right to share the following happens:

1) the collaborators panel shows that I don't have permissions to share
<img width="539" alt="Screenshot 2021-05-07 at 07 44 29" src="https://user-images.githubusercontent.com/5175912/117403207-1ad99b80-af08-11eb-93c4-af7f8521a7eb.png">

2) the public link button is still available:
<img width="531" alt

[2021-05-07 05:55] labkode opened #5081 "Dialog to overwrite files does not work as expected"
I upload the same file and the dialog appears:
<img width="1081" alt="Screenshot 2021-05-07 at 07 48 03" src="https://user-images.githubusercontent.com/5175912/117403908-43ae6080-af09-11eb-9b27-307de3b36a87.png">

After clicking accept, I see two entries with the SAME name.
<img width="1074" alt="Screenshot 2021-05-07 at 07 49 03" src="https://user-images.githubusercontent.com/5175912/117403912-47

[2021-05-07 05:58] labkode opened #5082 "The via button sends you to the parent of the share entry"
The "Via" button send you to the parent of the share entry, however this folder may not be accessible to the user.
The "Via" button should send you the to share entry.

For example:

If I have received a share to folder Two, the user will see the following path:
`/eos/user/d/diogo/One/Two/Three`

If I am in Three and click "Via" button I get redirected to "One" where I should have been redirected

[2021-05-07 06:00] labkode opened #5083 "When navigating to areas I don't have permissions it says I'm the owner"
![image](https://user-images.githubusercontent.com/5175912/117404397-2af27a80-af0a-11eb-8f7e-76ef318d9b83.png)

 In this example, the folder is owned by user: gagarcia but I'm shown as the owner.

[2021-05-07 06:00] labkode opened #5084 "File extensions should behave the same independently of case"
File extensions appear to be case-sensitive: .PNG and .png files behave differently (the first opens the download dialog, the second the media viewer)

[2021-05-07 06:03] labkode opened #5085 "Responses are rendered in different places"
If I send a request to list a large directory /`A/B/C`.
In the mean time I change path to `/Z`.
Request to `/A/B/C` finished and shows the content of `C` inside `Z`.

The expected behaviour is that the response should not be rendered as this is not the original path it was requested.

[2021-05-07 06:04] labkode opened #5086 "Make Directly Shared with People icon appears consistently"
The Directly Shared with People icon on the file list view is only shown right after sharing, if you refresh the view or move inside the directory and back with the breadcrumbs, it disappears

[2021-05-07 06:12] labkode opened #5087 "Sharing tab is not consistent"
If I click on the "Add collaborator" I don't see the list of existing people I'm sharing.

<img width="674" alt="Screenshot 2021-05-07 at 08 10 38" src="https://user-images.githubusercontent.com/5175912/117405382-d51ed200-af0b-11eb-9685-0fc65db70770.png">

If I open the share tab by just clicking on the row the list of people is displayed:
<img width="543" alt="Screenshot 2021-05-07 at 08 10 45" s

[2021-05-07 06:35] #5038 closed

[2021-05-07 08:39] pascalwengerter commented on #4735
@labkode let's further narrow down the definition of done for this task in a scope that adds value to you/CERN!

Acceptance criteria
You can
- define a number of (remote) scripts in the web `config.json`
- optionally can be configured to be async or deferred (see the [script docs](https://www.w3schools.com/Tags/tag_script.asp) for details)

Example:

[code]

These scripts
- get inserted at the end

[2021-05-07 08:52] pascalwengerter commented on #5077
Took a look into that, turns out we're actually already checking for this in the frontend but the backend doesn't communicate it inside the capabilities. I'll open corresponding issues in `oCIS` and `core` to do so.

Please note that we're already tackling this in #5073 and https://github.com/owncloud/owncloud-design-system/pull/1282 which will improve the situation a lot.

[2021-05-07 08:53] phil-davis opened #5089 "Acceptance test CI should fail if the suite name is not valid"
The test runner does not exit with an error status when the test suite name does not exist, it just reports `0 scenarios` have been run. So if we make an error in the test suite name, then it does not get easily noticed.

Add an extra check in `run.sh` that the folder for the suite exists in `tests/acceptance/features` and if not, then exit early with error status. Make sure that CI fails when an

[2021-05-07 08:54] phil-davis commented on #5089
Related to https://github.com/owncloud/ocis/issues/2029

[2021-05-07 09:06] pascalwengerter commented on #5077
oc10 issue: https://github.com/owncloud/core/issues/38708
oCIS issue: https://github.com/owncloud/ocis/issues/2031

[2021-05-07 09:34] pascalwengerter commented on #5078
@labkode can you give us an idea of
a) how this should be achieved
b) how the results should look like
from your perspective?

My first naive suggestion would be to tackle it a) by reducing the row height as shown in the screenshot below by b) moving the configuration of the row height from the component to the theming so every `web` theme can define the "denseness" of their UI themselves

@tbsbdr

[2021-05-07 10:17] kulmann commented on #5084
Issue was fixed in https://github.com/owncloud/web/pull/4627/files#diff-4a03aa98718dbdf36de7394680eada567e49e4127471b917bca4a8129fc7bfc1R28 and released in [v3.0.0](https://github.com/owncloud/web/releases/tag/v3.0.0)

[2021-05-07 10:17] #5084 closed

[2021-05-07 10:26] kulmann commented on #5087
The way the sharing form works as of now would suggest that saving the share would apply the selected role to all pre-existing shares as well. There's a new concept for sharing, which is agreed with you as far as I know. That concept shows a combined view of pre-existing shares and the new ones. Unfortunately the tickets for it are not available here, yet, as concepting is not finished (and happen

[2021-05-07 10:55] #5089 closed

[2021-05-07 11:08] kulmann commented on #5081
Closing as duplicate here, there is this ticket already: https://github.com/owncloud/web/issues/4996
@ishank011 also already added the proper label to the other ticket

[2021-05-07 11:08] #5081 closed

[2021-05-07 12:45] tbsbdr commented on #5078
suggestion: lets make the corresponding variables themable so you can adjust it to your needs.

[2021-05-10 05:06] dpakach commented on #4620
Fixed by https://github.com/owncloud/web/pull/4959/files

[2021-05-10 05:06] #4620 closed

[2021-05-10 08:57] pascalwengerter commented on #5078
Update for the ODS is in progress: https://github.com/owncloud/owncloud-design-system/pull/1291/files

[2021-05-10 09:28] pascalwengerter commented on #5078
Prepared the 6.0.2 as discussed with Benedikt, let's see if we can include some more minor stuff for CERN there and release it this week?

[2021-05-10 10:15] kulmann opened #5096 "Release v3.1.0"
## Release checklist
- [x] create a branch `release-3.1.0` @kulmann
- [x] prepare release rc:
  - [x] update the version to `3.1.0` in `packages/web-integration-oc10/appinfo/info.xml` @kulmann
  - [x] update the version to `3.1.0` in `package.json` @kulmann
  - [x] move changelog/unreleased/* to changelog/3.1.0_YYYY-MM-DD @kulmann
- [x] create a **draft** pr `release-3.1.0` @kulmann
- [x] create p

[2021-05-10 10:22] kulmann commented on #5096
Smoke testing should happen on https://github.com/owncloud/web/releases/tag/v3.1.0-rc1

[2021-05-10 12:28] LukasHirt commented on #5096
## Smoke test against oC10 standalone

- :x: as bob - upload 1930 files
	- upload got interrupted due to authorisation timeout. I would need to re-login and start the upload again manually (~700 files uploaded)
	- progress bar shows 100 % after first file is uploaded (my guess is this is a case already since older versions :shrug:)
	- progress bar is not sticky (same as above)
- :heavy_check_mark:

[2021-05-10 19:15] kulmann commented on #5096
## Smoke test rc1 as app integrated into oc10

- :heavy_check_mark: as gunter - upload arch/mips folder from linux kernel (1945 files)
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as gunter - share the folder to alice as viewer
- :heavy_check_mark: as alice - share is already accepted. declining and accep

[2021-05-11 15:00] pascalwengerter commented on #5078
@labkode how do you suggest we proceed with this issue/ticket?

A couple of thoughts from my side:
- we're developing the new `web` frontend dedicatedly to *not* look like the OC10 UI, so looking at the old UI for inspiration feels wrong
- while you're looking for a more dense UI at the CERN, there's only a small chance those requirements and the resulting changes will make it upstream into the ma

[2021-05-12 04:33] dpakach commented on #4829
Blocked by https://github.com/perry-mitchell/webdav-client/issues/261

[2021-05-12 06:48] tbsbdr commented on #5078
@pascalwengerter @labkode thanks for trying to solve this issue "ad hoc". let @elizavetaRa and me try to find a solution on 20.5.2021 in our meeting.
fyi @pmaier1 @diocas

[2021-05-12 07:13] kulmann commented on #4919
- [ ] webUIPreview/imageMediaViewer.feature:177
       https://drone.owncloud.com/owncloud/web/15401/6/14

[2021-05-12 08:41] pascalwengerter commented on #5096
## Smoke test rc2 against oCIS

WIP

[2021-05-12 09:16] LukasHirt commented on #5096
## Smoke test rc2 against oC10 standalone

- ✔️ as bob - upload 1930 files
	- increased the session timeout in oC10 to finish the upload
	- progress bar shows 100 % after first file is uploaded (my guess is this is a case already since older versions :shrug:)
	- progress bar is not sticky (same as above)
- :heavy_check_mark: as bob - share the folder to admin as viewer
- :heavy_check_mark: as admi

[2021-05-12 09:21] pascalwengerter commented on #2977
Will be closed with #5077, closed as duplicate in favor of more recent and better documented issue

[2021-05-12 09:21] #2977 closed

[2021-05-12 09:26] pascalwengerter commented on #3098
@fschade to what extent did #5073 mitigate this issue?

[2021-05-12 09:28] pascalwengerter commented on #4611
@hurradieweltgehtunter could you check if that's still the case sometime next week/once web `v3.1.0` is officially released? We've added some caching for the avatar images now

[2021-05-12 09:30] pascalwengerter commented on #5075
Updated this to only reflect thumbnail loading since #4973 has successfully been closed

[2021-05-12 10:28] fschade commented on #3098
no, at the moment we only cache the url // presigned-url.

[2021-05-12 11:50] kulmann commented on #3098
The browser cache can only kick in for the already known URLs. Which is for max. 60 seconds now. Since presigned URLs get invalidated pretty quick we cannot build a reasonable cache at the moment. For a single page load it is improved though, since we re-use the same presigned URL by userId. As a result, if one and the same avatar is on the current page 5 times, we only load it once and use it 4 t

[2021-05-12 12:06] kulmann commented on #3911
This has been implemented in https://github.com/owncloud/web/pull/5018 but is waiting for a release. Planned to be released by the end of this month with the next web release. We'll have a hard time merging that PR, so there's some uncertainty.

[2021-05-12 12:13] exalate-issue-sync[bot] opened #5102 "Open context menu from 3-dots"
## AC
- toggles the context menu on click on the 3-dots button
- only for the file/folder of the one row (no multi resource context menu on 3-dots button click)
- tests

[2021-05-12 12:13] exalate-issue-sync[bot] opened #5103 "Open context menu on rightclick"
## AC:
- rightclick single row opens context-menu for all selected resources (if none selected, use row that was clicked)
- For multiple selected files/folders, the context menu then only shows the batch actions ("Move", "Copy", "Delete") and "Details"
- having multiple files/folder selected (with checkboxes) and doing a rightclick on a different row opens the context menu only for the clicked row

[2021-05-12 13:18] kulmann commented on #3907
I'm also for closing this one. The right sidebar has an accordion now, so upon navigating into that right sidebar we clarify the active context by allowing only one accordion item to be open. With that this issue here should be done.

More context though: We don't have a context menu at the moment and the naming is not `Collaborator` anymore but `People` instead. There are two ways of opening the

[2021-05-12 13:45] kulmann commented on #5077
PR in oCIS: https://github.com/owncloud/ocis/pull/2036/files

[2021-05-12 13:45] kulmann commented on #5077
PR in oc10 is already merged: https://github.com/owncloud/core/pull/38722

[2021-05-12 14:09] kulmann commented on #3926
Parts of this are being taken care of in https://github.com/owncloud/web/pulls

[2021-05-12 14:32] kulmann commented on #5079
Needs a product decision @tbsbdr
In my opinion the web ui should not assume which files can have previews. That's up to the backend. Especially when we implement a grid view (planned for Q2 or Q3 2021) and when we show file details in the right sidebar (planned for the current sprint, by end of May 2021) we will have a bigger version of previews without going into any extension. Would be a pity to

[2021-05-12 21:55] #5096 closed

[2021-05-13 04:49] individual-it commented on #4404
@LukasHirt we have already some of them, should we close this issue or keep it open for now?

[2021-05-13 07:32] LukasHirt commented on #4404
Yep, I think we can close this now. In my head, this was more about making it possible to write such tests. Not necessarily implement all of them right away. Awesome job!

[2021-05-13 07:32] #4404 closed

[2021-05-14 05:15] saw-jan commented on #5022
blocked because of #5018

[2021-05-16 07:20] kulmann commented on #5077
Since both PRs are merged I'll close this issue. Respective backend releases are pending though.

[2021-05-16 17:58] diocas commented on #4735
Can we also have a way to import CSS in the exact same way? I know we can use branding, but that only allows us to set some variables and @elizavetaRa and I were discussing and we think it would be a good addition.

[2021-05-16 18:09] diocas opened #5106 "Uploading a file with a name that already exists is confusing"
When I upload a file that has the same name as another one I already have, I'm asked to "create a new version".

This is confusing to users as they are not sure what "a new version" is. So, we should show the normal options instead: keep both files (and rename the one I'm uploading; we could even ask the users to give a name) or replace file (which will create a version).

[2021-05-16 18:24] kulmann commented on #4735
Yes, absolutely! Loading custom css was already in a small PoC, we could bring it to the product easily.

[2021-05-17 04:11] dpakach commented on #4294
we run tests using oauth in CI not using openid connect

[2021-05-17 04:11] #4294 closed

[2021-05-17 07:06] kulmann commented on #5106
IMO a good improvement which brings us closer to the native desktop (whichever platform) experience. @tbsbdr can we have a look at our roadmap for this?

[2021-05-17 07:08] kulmann commented on #5087
@labkode @diocas any comment on this?

[2021-05-17 07:52] labkode commented on #5087
Hello @kulmann, when will be the new sharing introduced?

[2021-05-17 07:53] labkode commented on #4735
We need an agile process to test changes in the ocis deployment. If changes can happen without having to re-compile is the easiest approach (like it was in OC10 with the theming apps).

[2021-05-17 07:55] labkode commented on #5079
If the client does not have the knowledge that a particular mime type can have a preview means you will be sending N requests for N objects and most of the time (from experience) you won't get a preview, therefore you're waisting resources.

[2021-05-17 07:57] labkode commented on #3907
Yeah we can close this one

[2021-05-17 07:57] #3907 closed

[2021-05-17 08:16] hurradieweltgehtunter commented on #4611
Quite hard to reproduce since we don't have oc web enabled in our internal cloud anymore :/

[2021-05-17 08:55] pascalwengerter commented on #1645
Will get resolved by #5018

[2021-05-17 09:42] pascalwengerter commented on #4609
@frankaellen should we close this since the sidebars are being redesigned anyways?

[2021-05-17 10:20] pascalwengerter commented on #3895
@ishank011 could you confirm this isn't reproduce-able anymore (and then close the issue)? :)

[2021-05-17 11:14] saw-jan commented on #4806
`selectFolder` in `locationPicker.js`, what it does is it opens the destination folder where the file(s) will be moved/copied into.

@individual-it do you still think that the changes are needed?
Or Does renaming to something like `openFolder` or `navigateToFolder` sound good?

[2021-05-17 11:43] individual-it commented on #4806
I think we can close this, the current implementation looks good to me

[2021-05-17 11:43] #4806 closed

[2021-05-17 12:23] pascalwengerter commented on #5083
Should be fixed by #5112

[2021-05-17 12:26] pascalwengerter commented on #4943
@labkode @diocas two questions before we can get started working on this
- should this be done on an instance-wide basis (via the `config.json`, perhaps) or configurable per user (which may take longer to implement)?
- who defines what a hidden file is, do you want to provide your own list, should we follow some standard, same approach as OC10 etc?

[2021-05-17 13:28] pascalwengerter commented on #3910
@tbsbdr could you add this issue to your "to be discussed" list?

[2021-05-17 13:49] pascalwengerter commented on #3919
@tbsbdr can we discuss this in the design initiative?

[2021-05-17 13:55] kulmann commented on #3919
We already have a concept for this, and a story, but somehow it doesn't appear in github. Issue in Jira is WEB-29. The idea is to give the option to the user to open the right sidebar without having a file/folder selected. With that sharing becomes available for the current folder. As of now the Issue is planned for the next sprint, to be released end of June.

[2021-05-17 14:06] kulmann commented on #5087
@labkode It will most probably **not** be part of the next sprint, but the one after that. If that is the case, it would be released mid of July. That has some uncertainty as of now.

[2021-05-17 16:27] pascalwengerter commented on #5086
Couldn't reproduce, @labkode could you provide me with a step-for-step guide on how you achieved it so I can solve it? :)

[2021-05-17 16:28] pascalwengerter commented on #5083
@labkode could you try with the current master and confirm it has been resolved?

[2021-05-18 03:49] gpapaiko opened #5114 "WEB interface not working with Only Office and custom Theme"
Hi,

I have just enable the new WEB interface as per the instructions and at first glance it looks great.
BUT I have come across some issues:

1.  There are no potion to create new documents with Only Office. I have Only office installed and working, and in the classical mode everything is working I can create and edit documents in Only Office with out any issues.
2. I use a app call Draw IO (*.io

[2021-05-18 04:12] dpakach commented on #4919
#### On webUIOCISRename-chrome
- [ ] webUIRenameFiles/renameFiles.feature:129
    https://drone.owncloud.com/owncloud/web/15484/64/9

[2021-05-18 05:36] gpapaiko opened #5116 "Application not being listed and themes"
Hi,

Today I just got this new interface configured after I did the update to the latest version via marketplace update.
Currently on version 3.1.0
![image](https://user-images.githubusercontent.com/21032399/118594245-79e2be80-b7ec-11eb-979e-17a5a54cf047.png)

On my current (classical view I can see all of these application), I use most of them other are for testing.
![image](https://user-images.g

[2021-05-18 08:02] pascalwengerter commented on #5116
@gpapaiko will get back to you about the app situation at a later point, regarding the theming the docs are to be found here: https://owncloud.dev/clients/web/theming/

TL;DR: Place a `theme.json` (find template at the bottom of the docs page)  in web/packages/web-runtime/themes/{theme-name}/theme.json and change the `config.json` accordingly, or reference a theme as an URL. Need to restart the ap

[2021-05-18 08:48] pascalwengerter opened #5119 "Introduce (blob) cache on the client-side"
### Idea
- [ ] Write an ADR
- [ ] Introduce generic cache (for strings etc) client-side
- [ ] Use the generic cache as a blob cache (e.g. for avatar profile pictures, file thumbnails/previews)

### Expected behaviour
Prevent unnecessary requests

### Actual behaviour
Images don't get cached by the browser cache since the pre-signed URL differs for each occurrance of an img

[2021-05-18 08:57] tbsbdr commented on #3910
maybe this issue is addressed with the planned show/hide sidebar switch as shown by @elizavetaRa

[2021-05-18 09:02] #4888 closed

[2021-05-18 09:11] pascalwengerter commented on #5079
@labkode we discussed this internally and would suggest the following:

The admin provides a `supportedPreviewFileTypes` option in the `config.json` file. If it is present, previews only get fetched for the file types that are registered there. If the list is not present it falls back to the current behaviour and tries to fetch previews for every filetype.

What do you think of this approach?

Not

[2021-05-18 09:56] dpakach commented on #4919
#### OCISSharingPublicDifferentRoles-chrome
- [ ] - shareByPublicLinkDifferentRoles.feature:279
[code]

[2021-05-18 09:56] LukasHirt commented on #5065
I tried today as well and works perfectly!

[2021-05-18 10:21] #5065 closed

[2021-05-18 13:17] pascalwengerter commented on #4823
@ishank011 could you update us on whether this has been resolved by https://github.com/cs3org/reva/pull/1605?

[2021-05-18 13:23] pascalwengerter commented on #4707
@labkode @butonic could you update this ticket according to how things have evolved around the `Spaces` concepting in Reva (which I think is what originally would make this possible)?

[2021-05-18 14:38] pascalwengerter commented on #4735
Agreed, and this would be possible both by referencing external scripts (e.g. through `https://raw.githubusercontent.com/example-script.js`) or by having them load from a local path (which, as stated above, may be harder to implement and therefore take longer) - no need to recompile oCIS, however it works differently than in OC10

[2021-05-18 14:49] ishank011 commented on #4823
We can close this since it's being tracked in reva itself

[2021-05-18 14:49] #4823 closed

[2021-05-18 14:50] ishank011 commented on #3895
Fixed!

[2021-05-18 14:50] #3895 closed

[2021-05-18 16:19] pascalwengerter commented on #4995
Seems to be an oCIS issue, the propfind request returns a `<d:getcontentlength>` for the file (item on the bottom) but not for the folder (upper item in the screenshot)

<img width="582" alt="Screenshot 2021-05-18 at 17 17 57" src="https://user-images.githubusercontent.com/16822008/118687536-07c6a580-b7fd-11eb-9fce-f5314aa87800.png">

[2021-05-19 06:53] labkode commented on #4943
@pascalwengerter user-based. Hidden files are files starting with `.`. This is the OC10 model and is good enough. If more features will need to be added can be added in steps.

[2021-05-19 06:54] labkode commented on #5079
@pascalwengerter I think is a good compromise.

[2021-05-19 06:55] labkode commented on #5083
@pascalwengerter will tested it and let you know

[2021-05-19 07:14] tbsbdr commented on #5106
jep, behavior should be similar to known scenarios from desktop. agree.

[2021-05-20 04:25] SwikritiT commented on #4933
I think we still need some adjustments in webUI test scenarios with "tries to" in its step for renaming , so I'm un-checking the box and adding it to TODO

for eg:
https://github.com/owncloud/web/blob/4bf7899f57dbf8f10a2c0258e4c6e5bdb2022671/tests/acceptance/features/webUIRenameFiles/renameFiles.feature#L182
The file should be renamed in this case and we shouldn't use `tries to rename`  we should

[2021-05-20 05:44] individual-it opened #5127 "reduce test run time with Test Impact Analysis"
The whole idea is based on https://martinfowler.com/articles/rise-test-impact-analysis.html

## issue
Currently, we run web UI tests that sum up to nearly 17h of CI time (including building web, setup oc & ocis, etc.). To reduce the feedbacktime for developers doing a PR those tests a massively parallelized (90+ UI test-pipelines), but still around 30min are needed to run all pipelines.

The propo

[2021-05-20 10:17] elizavetaRa opened #5128 "Theming: Logo sizing options are missing"
![er](https://user-images.githubusercontent.com/7430156/118960077-352d6380-b963-11eb-82c9-13cbb6c9b4e3.png)

### Steps to reproduce
1. Embed the logo image in theme.json

### Expected behaviour
Option for different sizes (S, M, L..), also option for max height/width

[2021-05-21 04:01] dpakach opened #5132 "[Tests-Only] Implement owncloud test middleware"
### Description
Currently, most of the test-related code here is also moved to https://github.com/owncloud/owncloud-test-middleware.
We can use the middleware to run tests using the middleware.
But that will increase the complexity of the test runner.

We need to think about how to implement the middleware on our existing test framework.

[2021-05-21 07:22] labkode commented on #5083
@pascalwengerter not fixed. Reproducible from master branch

[2021-05-21 07:42] diocas commented on #5086
I'm closing this ticket for now as it seems an issue with our deployment. I'll re-open if we find otherwise.

[2021-05-21 07:42] #5086 closed

[2021-05-21 07:48] kulmann commented on #5086
@pascalwengerter  was in fact able to reproduce it for the `link` share indicator on the root level. That one is only appearing when you create a public link if I remember correctly. Only valid for the root level though. On with oc10 it works, with ocis/reva it doesn't. In subfolders it works correctly.

[2021-05-21 07:58] labkode commented on #4946
@kulmann the Reva PR is already there since  some weeks but the error the behaviour is still wrong. We'll give you more details today in the go-live meeting.

[2021-05-21 07:59] labkode commented on #5082
Still reproducible.

[2021-05-21 08:45] diocas commented on #5086
Then it might be a ocis issue?

[2021-05-21 08:47] kulmann commented on #5082
I just re-tested it from the current web master and can confirm the fix with an oc10 and and ocis backend. 🤔

1: Create a folder `One`
2: Create a subfolder `One/Two`
3: Upload a file `image.jpg` into `One/Two/image.jpg`
4: Share folder `One/Two` with user bob
5: Login as bob and accept the share - for bob it's now `Two` as a root level share
6: Open the right sidebar in `People` accordion item fo

[2021-05-21 08:48] kulmann commented on #5086
Asked @C0rby, apparently it's a reva issue. According to him it would need quite some refactoring in reva to make it possible to have properly working link share information in the root level. Don't know the technical details though.

[2021-05-21 08:48] kulmann commented on #5086
@C0rby could you take care of opening a reva issue with the details?

[2021-05-21 09:21] pascalwengerter commented on #5083
Thanks for the feedback, could you give me exact steps to reproduce your issue?

[2021-05-21 10:12] labkode commented on #5082
8. You land in "Shares" not in Two.

https://user-images.githubusercontent.com/5175912/119121504-cb2dc080-ba2d-11eb-9b8f-ea494743fa00.mov

[2021-05-21 10:18] kulmann commented on #5082
@labkode ocis.owncloud.works is not deployed with web master, but only from ocis master (with the most recent web release). I will check internally if we can get an oCIS test system that has web from current master at least nightly.

[2021-05-21 10:21] labkode commented on #5082
@kulmann is the same behaviour on our deployment which uses latest version from web@master since yesterday.

[2021-05-21 10:21] labkode commented on #5082
@kulmann is it a config option maybe that we're missing?

[2021-05-21 10:30] labkode commented on #5083
@pascalwengerter

https://user-images.githubusercontent.com/5175912/119123865-51e39d00-ba30-11eb-9815-152ed2b0a06e.mov

[2021-05-21 11:15] kulmann commented on #5082
Not related to config options. It's actually changed without exception. If you can still see the `scrollTo` in the URL, then it really is not the most recent master.

[2021-05-21 11:20] wkloucek opened #5135 "let extensions register more flexible file open actions"
As an extension developer I want an extension to be able to:
- [X] Register a name per file extension: "open in x", where x is the name, eg: "open in Collabora" and "open in CodiMD" #5805
- [ ] Register a custom action name: "y in x", where y is the action name, eg: "open in x" or "edit in x" or "view in x" => needs
- [ ] Register a file action dependent on the permissions on a file, usecase: if I

[2021-05-21 11:22] wkloucek commented on #5135
@kulmann The answer to all requests is currently not supported I suppose? ;-) Are there already plans to support it?

[2021-05-21 11:48] labkode commented on #5082
Fixed. Thanks!

[2021-05-21 11:48] #5082 closed

[2021-05-21 11:57] ishank011 commented on #4973
Still happens in foreground. Tested with e229c60e423266cb55da9747851109afbfb4688d

[2021-05-21 11:59] labkode commented on #5075
Probably related with testing on old version 2.1

[2021-05-21 11:59] #5075 closed

[2021-05-21 12:01] ishank011 commented on #5077
Observed with e229c60e423266cb55da9747851109afbfb4688d, reva 3aba8fae57b05a3e4b128decc005353393fe801d and ocis  34a8ed3816203c5beffbada29031464ec98c2575

[2021-05-21 12:03] ishank011 commented on #5077
Should have been enabled by https://github.com/cs3org/reva/pull/1694, as the default value for the `profile_picture` attribute is false

[2021-05-21 12:08] ishank011 commented on #5077
Reproducible at ocis.owncloud.works as well

[2021-05-21 13:13] kulmann commented on #4946
I looked into this again after the meeting. The fix in reva is merged, but `ocs.data` in the response is not an array (like with oc10), but an object. Should ideally be fixed in reva. @C0rby is taking a look.

[2021-05-21 13:43] elizavetaRa opened #6141 "Setting for customizing ocTableFiles columns"
Setting to show or hide certain columns (e.g. in "Shared Wth Me" in web show "Shared with")

[2021-05-21 13:45] kulmann commented on #5083
Clarified in a call that this is not related to sharing, but about actual file ownership. The owner is available in the fileInfo as `{http://owncloud.org/ns}owner-id` and `{http://owncloud.org/ns}owner-display-name`. Needs to be used in `buildResource` in the resources.js helper.

[2021-05-21 14:49] elizavetaRa opened #6140 "Column "Shared With" is not shown in the table"
Possible reason: Property "sharedWith"  from ocTableFiles is called "share_with" in the backend

[2021-05-21 15:26] tbsbdr commented on #5078
- short term / quickfix: Reduce the row height to the possible minimum of 49px (https://github.com/owncloud/owncloud-design-system/pull/1319)
- longterm: maybe move the sharing indicators out of the 2nd row (below the filename) to a dedicated column. needs scribbles and more concepting in the future. maybe also groundwork for a special condensed view-switch.

[2021-05-23 08:23] kulmann commented on #4946
Thanks to the recent fixes from @C0rby this is fixed now. Tested with most recent reva master, works like a charm. Closing this issue.

[2021-05-23 08:23] #4946 closed

[2021-05-23 08:26] kulmann commented on #5006
It does, thanks @saw-jan for the info! Chrome version 80 is already more than one year old. That sounds reasonable to me.

[2021-05-23 09:17] pascalwengerter commented on #5077
@ishank011 the issue is that we'll have to wait for the ownCloud 10.8 release to make the frontend respect the new capability. The issue is technically fixed yet not released. We can leave the ticket open or closed, no preference I suppose

[2021-05-25 16:53] exalate-issue-sync[bot] opened #5150 "Web master in ocis demo deployment"
## User story

## Acceptance criteria
- Have an oCIS demo instance publicly available which is frequently (nightly?) updated to the current ocis master, but running the current web master instead of the builtin web service.
- As it's a public demo instance it needs to be reset frequently to avoid malicious usage of the storage.
- Demo users like with all other public ocis demo instances.

[2021-05-25 20:56] kulmann commented on #3588
Closed via https://github.com/owncloud/web/pull/5147

[2021-05-25 20:56] #3588 closed

[2021-05-26 08:49] pascalwengerter opened #5152 "Trying to create a (public) link share of the `Shares` folder throws an error"
### Steps to reproduce
1. Go to all files
2. Open right sidebar for `Shares` folder
3. Try to create a public link for the folder

### Expected behaviour
One perhaps shouldn't even see the buttons to create a public link for one's `Shares` folder

### Actual behaviour
See an error

<img width="904" alt="Screenshot 2021-05-26 at 09 46 51" src="https://user-images.githubusercontent.com/16822008/1196

[2021-05-26 08:50] phil-davis commented on #5152
Is this with OCIS or oC10 server back-end, or both?

[2021-05-26 08:52] pascalwengerter commented on #5152
Good point, oCIS from current master. We'll have to check this on the frontend independently of the backend though I suppose since you perhaps shouldn't be able to share your `Shares` folder from my understanding ;)

[2021-05-26 08:59] phil-davis commented on #5152
The `Shares` folder is a system-wide thing. So it is a bit odd for a user to share the whole of it. The receiver would end up with a `Shares/Shares` folder! A product manager should decide what is the requirement, and we can easily first have an API test that checks for the desired behaviour.

[2021-05-26 09:01] pascalwengerter commented on #5152
Agreed that it shouldn't be possible to do it, @tbsbdr could you take a look and add a corresponding story to our backlog?

[2021-05-26 10:22] dragotin commented on #2251
I think this is not longer valid. Pls reopen in case it is.

[2021-05-26 10:22] #2251 closed

[2021-05-26 10:30] dragotin commented on #4893
Can reproduce. Even more strange: When I change the file name (not the ext.) it was displayed with two dots - as shown on the screenshot.
![ksnip_20210526-122858](https://user-images.githubusercontent.com/1070214/119645284-2a207a80-be1e-11eb-9c50-ed429008eb57.png)

[2021-05-26 10:38] kulmann commented on #4893
Moved this issue to our fastlane. Bug probably lies somewhere in the design system's OcResource* components.

[2021-05-26 10:41] dragotin commented on #4192
This might be related to #4893 . I think it can only not be shared if the extension is changed.

[2021-05-26 10:44] dragotin commented on #4856
I can not reproduce this any more. Closing, please reopen if you disagree.

[2021-05-26 10:44] #4856 closed

[2021-05-26 11:04] #3924 closed

[2021-05-27 05:27] dpakach commented on #5152
Also when trying to create a user share, it doesn't shows any error message on ocis.
![Screenshot from 2021-05-27 10-47-08](https://user-images.githubusercontent.com/19869344/119769105-9318f880-bed9-11eb-94da-3459297fcab9.png)

While on oc10 it shows error message
![Screenshot from 2021-05-27 11-10-09](https://user-images.githubusercontent.com/19869344/119770625-27845a80-bedc-11eb-923b-8708dda45b6

[2021-05-27 10:42] dpakach opened #5158 "[Tests-Only] Combine the pipelines that take less time"
Looks like there are make suites that complete fairly quickly, For these suites, we don't need to start seperate pipelines, we can just combine these so we don't take up too many drone agents and reduce the overall load at the CI infrastructure.
since each pipeline needs to set up its own owncloud server, reducing the pipelines will reduce the load at the system.

Here is a list of times taken by

[2021-05-27 12:11] fschade commented on #5083
@labkode, i was ale to reproduce the issue now with ocis driver. We first need to implement this

https://github.com/cs3org/reva/blob/e8a00d9b236877bcb9302070a967cc7632e8ca84/internal/http/services/owncloud/ocdav/propfind.go#L586-L586

before we can fix this

[2021-05-27 13:37] fschade commented on #5079
@labkode, pr created. Happy to get your feedback https://github.com/owncloud/web/pull/5159

[2021-05-27 14:19] ishank011 commented on #5083
@fschade can you share the steps to reproduce? Are you exposing the global namespace as well?

[2021-05-27 14:37] fschade commented on #5080
we merged it into the a11y branch which will go to master soon, i close this for now

[2021-05-27 14:37] #5080 closed

[2021-05-28 01:16] exalate-issue-sync[bot] opened #5160 "interaction via context menu"
## Context
Only for one resource. Context menu for multiple selected is handled in WEB-639.

## AC
- [X] have a context menu component in ODS
- [X] write unit tests
- [X] works on mobile devices as good as possible (context menu stays in viewport, might need scrolling on mobile)

- [X] "Open" is available when at least 1 extension can handle the file, "Open with" is available when more than 1 exte

[2021-05-28 01:16] exalate-issue-sync[bot] opened #5161 ""Details" in the Sidebar"
## AC:
- have a dedicated details item within the accordion
- show the following information: (TODO: don't disclose all information in public links)
1. file preview / filetype-icon (fallback, if no preview possible)
1. share indicator
1. modified: (time)
1. created: (time)
1. owner: Displayname (username / email)
1. size: (size)
1. versions  (count, only for files; linked to accordion if available

[2021-05-28 07:09] fschade commented on #5083
@ishank011 to reproduce it i attached a different owner to a folder by doing

[code]

in this case the ui still shows `einstein` as owner instead of `marie`.

[2021-05-28 07:36] exalate-issue-sync[bot] opened #5163 "Request cancelation"
# Description
While quickly navigation through the ui, it can happen that requests from other routes are still ongoing.

This could lead to problems because the old request can mutate the state (VueX) even if its not intended anymore.

# Steps to reproduce
- open files app
- open browser network panel
- click all files very fast multiple times
- look at ongoing requests in network panel

# Story
a

[2021-05-28 07:40] fschade commented on #5163
relates to #5163, #5085

[2021-05-28 08:06] pascalwengerter commented on #1960
Closing this since we've put in quite some effort to eliminate getting all user-facing strings translated and the list isn't actionable

[2021-05-28 08:06] #1960 closed

[2021-05-28 08:08] pascalwengerter commented on #1943
@tbsbdr do you agree on having to work on this or shall we close the ticket?

[2021-05-28 08:11] pascalwengerter commented on #1905
Can't reproduce, popup appears instantly

[2021-05-28 08:11] #1905 closed

[2021-05-28 08:13] pascalwengerter commented on #1733
Related to an old version of the UI, closing this for now

[2021-05-28 08:13] #1733 closed

[2021-05-28 08:17] pascalwengerter commented on #1903
Fixed via #5000 right now on the `a11y-swarming` branch, coming to `master` soon

[2021-05-28 08:17] #1903 closed

[2021-05-28 08:18] pascalwengerter commented on #1234
Closing this as we're not supporting IE11 anymore

[2021-05-28 08:18] #1234 closed

[2021-05-28 08:19] pascalwengerter commented on #1645
Fixed via #5000, coming to `master` soon

[2021-05-28 08:19] #1645 closed

[2021-05-28 08:21] pascalwengerter commented on #276
We're now able to display thumbnails and do so for certain file types in the files list/table. There's also discussions about having larger previews in the sidebar or on a grid view, but that's a different story.

If further previews are needed please open a new ticket.

[2021-05-28 08:21] #276 closed

[2021-05-28 08:26] pascalwengerter commented on #1653
Closed by
- Using tippy for dropdowns (https://github.com/owncloud/owncloud-design-system/pull/1269)
- Listening in the modal component (https://github.com/owncloud/owncloud-design-system/pull/1324)

[2021-05-28 08:26] #1653 closed

[2021-05-28 08:27] tbsbdr commented on #1943
never notices the described behaviour to be honest.
suggestion: if its okay for you i would close this issue unless somebody who is experiencing this issue in an eg. productive environment  comes up with it again, then we should take care.

[2021-05-28 08:29] pascalwengerter commented on #1646
@fschade has introduced a focus recording in https://github.com/owncloud/web/pull/4993 which we've implemented for a bunch of use cases already. Will do a final check before handover to the a11y auditor next week but closing this for now

[2021-05-28 08:29] #1646 closed

[2021-05-28 08:32] pascalwengerter commented on #1855
Closing this since we've introduced a slight animation for the sidebar. Further feedback from @tbsbdr welcome

[2021-05-28 08:32] #1855 closed

[2021-05-28 08:35] #2143 closed

[2021-05-28 08:38] pascalwengerter commented on #2133
Has been solved:

![Uploading Screenshot 2021-05-28 at 09.37.52.png…]()

[2021-05-28 08:44] exalate-issue-sync[bot] opened #5164 ""Details" for multiple selected Files in the Sidebar"
## AC
if multiple files are selected, the sidebar "files-details" show:
- filesize of all selected folders / files
- number of selected files
- number of selected folders
- tests

[2021-05-28 08:44] exalate-issue-sync[bot] opened #5165 "Add switch to collapse/expand sidebar"
## Userstories

GitHub ticket - https://github.com/owncloud/phoenix/issues/2061 and https://github.com/owncloud/phoenix/issues/3919
## AC:
- on click on the switch, the sidebar opens / closes;
- the switch visuallizes the current state (expanded / collapse)
- if no resource is selected, the current parent is the selected resource in the sidebar
- if the current folder is root, "Select a file or fo

[2021-05-28 08:52] pascalwengerter commented on #2625
Should be resolved in the `a11y-swarming` branch, coming to web `master` soon

[2021-05-28 08:52] #2625 closed

[2021-05-28 08:52] pascalwengerter commented on #2623
Closed via #5055 for now

[2021-05-28 08:52] #2623 closed

[2021-05-28 08:58] pascalwengerter commented on #3476
Can't reproduce with current web version, Safari 14.1 and macOS Big Sur 11.3.1

[2021-05-28 08:58] #3476 closed

[2021-05-28 09:58] pascalwengerter commented on #1943
Thanks for the feedback, closing it for now then

[2021-05-28 10:03] pascalwengerter commented on #3673
@tbsbdr could you update this to the current state of things eventually? :)

[2021-05-28 10:06] pascalwengerter commented on #3694
Can't reproduce anymore, files table gets loaded asynchronous and breadcrumbs + "New" button stay fixed/don't jump

[2021-05-28 10:06] #3694 closed

[2021-05-28 10:07] #3614 closed

[2021-05-28 10:14] pascalwengerter commented on #4064
Closed due to inactivity, feel free to re-open with more info! :)

[2021-05-28 10:14] #4064 closed

[2021-05-28 10:20] pascalwengerter commented on #4065
@davitol the strings should be translate-able by now, if you want to support us in bringing the Spanish translations over please read https://github.com/owncloud/core/#important-notice-on-translations - we're looking for contributors there, too :)

[2021-05-28 10:21] #4065 closed

[2021-05-28 10:48] phil-davis opened #5167 "[QA] review ocisSmokeTest test scenarios"
17 scenarios are currently tagged `ocisSmokeTest`.

OCIS PR https://github.com/owncloud/ocis/pull/2093 changed the OCIS CI so that it only runs the `ocisSmokeTest` scenarios, rather than running all `owncloud/web` UI acceptance tests.

- review the scenarios tagged `ocisSmokeTest`
- select other scenarios to tag `ocisSmokeTest`

so that:
- the scenarios cover a range of "basic" web behaviour
- the

[2021-05-28 12:13] tbsbdr commented on #3673
### Current state of discussion
... and next steps:
- **purpose** the sharing indicators proofed to be quite helpful for the users question "who has access?" at first glance
- **effective** in the usability test the sharing indicators functionality was recognised correctly and gave safety to the users, as their (prior) sharing-action was reflected by  the indicators (btw: fulfills "" visibility of

[2021-05-28 14:39] #2590 closed

[2021-05-28 14:56] kulmann opened #5171 "Release v3.2.0"
## Release checklist
- [x] create a branch `release-3.2.0` @kulmann
- [x] prepare release rc:
  - [x] update the version to `3.2.0` in `packages/web-integration-oc10/appinfo/info.xml` @kulmann
  - [x] update the version to `3.2.0` in `package.json` @kulmann
  - [x] move changelog/unreleased/* to changelog/3.2.0_YYYY-MM-DD @kulmann
  - [x] update the ocis commit id in `.drone.env` to the most recen

[2021-05-31 04:18] dpakach opened #5173 "[ci] minimal nightly builds running in CI"
When the last commit is translation update, then the nightly build only runs minimal build. The nightly builds should run the full build regardless of the last commit.

eg. https://drone.owncloud.com/owncloud/web/15822

Edit: Seems like the nightly builds are running just one pipeline regardless of the last commit

[2021-05-31 08:02] kulmann commented on #5135
1) and 2) are easy, we can allow that file handlers define their own name for the action entirely.
For 3) we'd have to extend the first one even more and react differently depending on the permissions on the file. The resource (and with that the permissions) is available anyway, so we just have to come up with a reasonable mapping structure.
4) needs changes in the way we load extensions. As of no

[2021-05-31 08:15] phil-davis commented on #5158
I added this to QA Test Automation Backlog. But it is probably easy to do, so put it in the current QA Test Automation project if there are resources to do it.

[2021-05-31 08:48] kulmann commented on #4966
For now we went with just deploying a custom patched and built version of ocis where only the languages exist in the code that we want to deploy. Might not even be a good idea to have knowledge about the languages in an env var.

[2021-05-31 09:14] SwikritiT commented on #4933
I couldn't find anything that can be refactored with `tries to` share so I'm removing it from todo

[2021-05-31 10:57] micbar commented on #4973
@ishank011 did you test with a local build?

https://github.com/owncloud/web/pull/5073 is not yet released. It is part of `v3.2.0-rc2`

[2021-05-31 11:49] pascalwengerter commented on #5078
@elizavetaRa we've reduced the default table row height in the design system to 49px, however it won't be included in the `v3.2.0` web release but only in the next version. If you want it you can of course easily change it via your `theme.json` :)

[2021-05-31 12:29] pascalwengerter commented on #5171
## Smoke test rc1 against oCIS

- :heavy_check_mark: as einstein - upload 2.092 files
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as einstein - share the folder to admin as viewer
- :heavy_check_mark: as admin - accept share
- :heavy_check_mark: as admin - try do delete file from shared folder
- :heavy_c

[2021-05-31 12:45] LukasHirt commented on #5171
## Smoke test rc1 against oC10 standalone

- ✔️ as bob - upload 1000 files
- :heavy_check_mark: as bob - share the folder to admin as viewer
- :heavy_check_mark: as admin - accept share
- :heavy_check_mark: as admin - try do delete file from shared folder
- :heavy_check_mark: as admin - try to add file
- :heavy_check_mark: as admin - copy 100 files from share to home
- :heavy_check_mark: as bob -

[2021-05-31 15:06] diocas commented on #5078
@pascalwengerter we are using our fork of ODS and web when building our oCIS, so we can deploy everything from the tip of the master branch. But @elizavetaRa told me there were some incompatibilities with the latest ODS. Can I use latest everything or is there some "stable" branch I should use instead?

[2021-05-31 15:09] pascalwengerter commented on #5078
Hey, yeah the current release to use with web `master` is [v6.0.3](https://github.com/owncloud/owncloud-design-system/releases/tag/v6.0.3), the current ODS master will get released as v7.0.0 later today and needs some more work until we can merge it into web...

[2021-05-31 15:30] diocas commented on #5078
Ok, so I'll wait for everything to be fixed to use the latests (with the fix for the density). Can you ping me when this process finishes? thanks

[2021-05-31 15:43] pascalwengerter commented on #5078
The themable row height was part of `v6.0.3` so you should already be able to set the `height-table-row` property via the `theme.json` (we did this release for you at CERN to reduce the wait time after all, cangelog for the release: https://github.com/owncloud/owncloud-design-system/releases/tag/v6.0.3). Theming docs are [here](https://owncloud.dev/clients/web/theming/) if you want to check (and w

[2021-05-31 17:18] diocas commented on #5078
Ah sorry, didn't realize that! Will try then.

[2021-06-01 04:11] SwikritiT commented on #4933
@individual-it @phil-davis can you take a look at this issue and make sure if we can close it?

[2021-06-01 06:11] #4933 closed

[2021-06-01 12:57] #5171 closed

[2021-06-01 16:08] phil-davis opened #5183 "[QA] add ability to run the full webUI CI without stopping early"
Similar to https://github.com/owncloud/ocis/issues/2107 but different!

The full webUI tests run in this repo already - good. But they stop early when the first pipeline fails.

Add a feature to `.drone.star` so that if the PR title has `full-ci` in it then do not stop early - let all the pipelines run.

That will be useful for PRs like #5181 that is bumping the commit id and getting a lot of diff

[2021-06-02 03:16] #5183 closed

[2021-06-02 21:31] dschmidt opened #8857 "Streamline props and events for all form components"

[2021-06-03 08:35] dpakach commented on #5173
The cause for this issue is https://github.com/owncloud/web/pull/5145/files#r644592156

[2021-06-03 10:53] pascalwengerter commented on #3841
Closed since I can't reproduce and received no answer

[2021-06-03 12:20] HariBhandari07 commented on #3841
@kiranparajuli589 @Talank  can you guys please confirm if this issue is resolved?

[2021-06-04 07:48] Talank commented on #3841
Putting this in the backlog and adding a QA label.

Todo:
- [ ] Need to confirm if this issue is resolved

[2021-06-04 08:28] #5158 closed

[2021-06-04 08:33] labkode opened #5196 "Media gallery view loading icon is misaligned"
The loading icon is not vertically centered, gives the impression that UI is broken.

https://user-images.githubusercontent.com/5175912/120772108-3c866c80-c520-11eb-866a-6b44f8f520d2.mov

[2021-06-04 08:46] SwikritiT commented on #4919
- [ ] webUIPreview/imageMediaViewer.feature:177
https://drone.owncloud.com/owncloud/web/15975/6/14

[2021-06-07 07:54] dpakach commented on #5173
fixed in https://github.com/owncloud/web/pull/5199/files

[2021-06-07 07:54] #5173 closed

[2021-06-07 08:08] Talank commented on #3841
Reopening to confirm if the issue is resolved.

[2021-06-07 08:35] SwikritiT commented on #3841
I cannot reproduce this issue either. Maybe it has been solved . I'm closing this issue for now.

[2021-06-07 08:35] #3841 closed

[2021-06-07 08:52] refs opened #5200 "Settings Language dropdown not populated on first run"
### Steps to reproduce
1. clone ocis
2. `cd owncloud/ocis/ocis`
3. `make build ocis`
4. `bin/ocis server`
5. browser -> localhost:9200
6. login as einstein (or any other user)
7. go to `Settings`
8. Languages dropdown is unpopulated

### Expected behaviour
It should display `English` for the logged in user.

### Actual behaviour
It shows nothing.

![screencast 2021-06-07 10-38-55](https://user-ima

[2021-06-07 11:38] pascalwengerter commented on #5200
Thanks, great catch! This is part of the `settings` app in oCIS though, moving it to the respective repo!

[2021-06-07 21:27] elizavetaRa opened #5204 "Shared with me: "Accept" and "Decline not implemented as batch actions"
### Expected behaviour
"Accept" and "Decline" should appear as batch actions on selecting the share with a select box as alternative to the buttons. This would allow to accept/decline all selected pending shares at once -> better consistency, usability improvement

### Actual behaviour
- Not implemented
- The function triggerShareAction should be implemented similar to move/copy actions, not in th

[2021-06-08 04:42] phil-davis commented on #4919
- [ ] webUITrashbinRestore/trashbinRestore.feature:14
https://drone.owncloud.com/owncloud/ocis/5332/43/6
[code]

[2021-06-08 08:00] TheOneRing opened #5207 "oc10: Activities download count on public shares broken?"
### Steps to reproduce
1. Create a public shared folder
2. Download from the share
3. Take a look at the activities of the share

### Expected behaviour
The downloads are tracked.
### Actual behaviour
It appears that without the web app the downloads are tracked.  However this is not the case with web installed.

### Server configuration
**Operating system**:
Docker
**Web server:**

**Database:**

[2021-06-08 11:50] #5022 closed

[2021-06-08 12:42] diocas opened #5210 "Do not re-authenticate when not needed"
As far as I understood, you keep the authentication/session information (tokens) in the browser local/session storage, right?
But, if I open a new tab, I go through the auth process again, even if the previous information is still valid. Could we do the re-auth only if there's a need to (i.e expired token)? Or is there any security implications?

I'm thinking about this because it's useful to let

[2021-06-08 12:44] kulmann commented on #5207
Next steps (to whoever is working on this in the fastlane):
Try to reproduce if this is a web issue at all. Try the steps from above with web oc10 app installed and enabled + without web oc10 app installed. Check if this behaviour is reproducible at all and if it only surfaces if the web oc10 app is active. If unrelated to web, this issue needs to be moved to the core repo.

[2021-06-09 03:43] individual-it opened #5214 "reset opcache after running occ commands"
when settings are changed in oC10 they take some time to be implicated because of the PHP cache
we need to reset opcache as we do in the oC10 core tests when running occ commands

https://github.com/owncloud/core/blob/eebd754771a99bc44820eb67a6d57cea238e6b86/tests/TestHelpers/SetupHelper.php#L801

[2021-06-09 05:17] saw-jan opened #5216 "When a user shares folder to a group, the sharer is shown as group in group member's sharing-sidebar"
### Steps to reproduce
1. Create user `Alice` and `Brian`
2. Create group `Group101` and add user `Brian` to this group
3. Login as `Alice`, create a folder `SHAREME` and share it with group `Group101`
(the collaborator list seems fine)
4. Login as `Brian`, open sharing-sidebar (user `Alice` is displayed as group)

Alice's view (Sharer):
![gs01](https://user-images.githubusercontent.com/52366632/1

[2021-06-09 07:03] individual-it opened #5217 "increase unit test coverage"
This is an epic and needs to be divided into smaller parts.
Currently only very limited areas are covered by unit test for now this areas should be prioritised to be covered:

- vue components
   - events (fired mostly by `@click`, `@input`, `$emit`): check if desired action happens, check for issues when invalid input is given
   - properties: check if desired action happens when certain properti

[2021-06-09 07:46] #5214 closed

[2021-06-09 12:54] LukasHirt opened #5221 "Public link quick action opens a copy dialog"
### Steps to reproduce
1. Click on public link quick action in files list

### Expected behaviour
A public link is created and copied

![Screenshot 2021-06-09 at 14 50 49](https://user-images.githubusercontent.com/25989331/121357952-844b3080-c932-11eb-9e3f-55b48d225131.png)

### Actual behaviour
A copy to clipboard dialogue is opened.

### Server configuration
**ownCloud version:** 10.7

### Clien

[2021-06-09 13:03] pascalwengerter commented on #5221
`master` or `a11y-swarming` branch? Just tried to reproduce on the latter, got different behaviour

[2021-06-09 13:57] LukasHirt commented on #5221
Master

[2021-06-09 14:21] kulmann commented on #5221
Can't reproduce on master 🤷 maybe you have a local link of ODS and some issue because of that?

[2021-06-09 19:30] exalate-issue-sync[bot] opened #5226 "Add fileEditor distinction for create and edit in callbacks"
## User story

## Acceptance criteria
- have a parameter for creation/editing mode in https://github.com/owncloud/web/blob/81b4be750641446b99c5335d0e7133dffdab9c46/packages/web-app-files/src/mixins/fileActions.js#L69

[2021-06-10 04:08] saw-jan opened #5227 "File link in notifications seems to not work"
### Steps to reproduce
[enable notification app]
[as Brian disable auto-accept-share]
1. Create users `Alice` and `Brian`
2. Login as `Alice`, create folder `TOSHARE` and share it with `Brian`
3. Login as `Brian`, follow the link from notifications dropdown

### Expected behaviour

### Actual behaviour
![noti01](https://user-images.githubusercontent.com/52366632/121463236-67b20580-c9d1-11eb-967f-7

[2021-06-10 08:17] kiranparajuli589 opened #5230 "collect coverage data and send to sonar cloud"
## Description
- [x] collect coverage data, send to sonar cloud

[2021-06-10 08:58] kiranparajuli589 commented on #5230
done in #5223

[2021-06-10 08:58] #5230 closed

[2021-06-10 09:02] kiranparajuli589 opened #5231 "Run only unit tests when only unit tests are changed"
TODO:
- [ ] adjust CI scripts so that acceptance tests are not run when only unit tests are changed

workaround used:
- [x] do not run acceptance tests if PR title contains `unit-tests-only` https://github.com/owncloud/web/pull/5255

[2021-06-10 09:04] phil-davis commented on #5231
And if we manage to do this, then we can apply similar logic to CI of other repos. And try to do "run only the changed acceptance test suites when only some feature files are changed"

[2021-06-10 10:26] pascalwengerter commented on #2144
Can't reproduce on current master, closing this for now

[2021-06-10 10:26] #2144 closed

[2021-06-10 10:38] pascalwengerter commented on #3911
Closed since we merged #5018 💪🏽

[2021-06-10 10:38] #3911 closed

[2021-06-10 10:41] pascalwengerter commented on #4193
Can you still reproduce this? Never seen this before and would like to close the ticket if outdated :)

[2021-06-10 10:47] pascalwengerter commented on #4892
We're hiding this based on capabilities now that #5018 is merged. Closing this ticket since it was originally a bug report

[2021-06-10 10:47] #4892 closed

[2021-06-10 10:48] pascalwengerter commented on #4854
Closing this in favor of #4839 which has more context

[2021-06-10 10:48] #4854 closed

[2021-06-10 11:11] pascalwengerter commented on #4345
Fixed via #5018, we'll open new ticket(s) if more offenses appear

[2021-06-10 11:11] #4345 closed

[2021-06-10 11:12] pascalwengerter commented on #4531
@kulmann could you take a look eventually?

[2021-06-10 11:14] pascalwengerter commented on #4342
Fixed via #4811 a while ago

[2021-06-10 11:14] #4342 closed

[2021-06-10 11:15] pascalwengerter commented on #4343
Needs another Transifex update but all strings should now be correctly translated/translate-able since #5018 got merged

[2021-06-10 11:15] #4343 closed

[2021-06-10 11:18] kiranparajuli589 opened #5234 "list of components for unit testing"
## TODO:
### packages/web-app-files/src/components/:

#### AppBar

- [x] AppBar.vue #5603

##### AppBar/SelectedResources
- [x] SizeInfo.vue #5522
- [x] BatchActions.vue #5282, #5519

##### AppBar/Upload
- [x] FileDrop.vue #5552
- [x] FileUpload.vue #5258
- [x] FolderUpload.vue #5559

#### FilesList
- [x] ListInfo.vue #5495
- [x] ListLoader.vue (test may not be required: has no logic)
- [x] NoCont

[2021-06-10 11:23] pascalwengerter commented on #4319
Fixed via https://github.com/owncloud/ocis/pull/1794 and https://github.com/owncloud/ocis/pull/1811 in oCIS (since it's the IDP extension)

[2021-06-10 11:23] #4319 closed

[2021-06-10 11:33] pascalwengerter commented on #3745
Closed, perhaps was fixed when _the evil PR_ ™️ got merged

[2021-06-10 11:33] #3745 closed

[2021-06-10 11:33] kiranparajuli589 opened #5236 "list of helpers for unit testing"
## TODO
#### packages/web-app-files/src/:
- [x] resources/
- [x] share/
- [x] user /
- [x] helpers/batchActions.js (doesn't contain any logic to test)
- [x] helpers/path.js
- [x] helpers/resources.js (#5774)
- [x] helpers/shareTypes.js (doesn't contain any logic to test)
- [x] helpers/textUtils.js (#5772 )
- [x] helpers/collaboratorRolesDefinition.js (#5544)
- [x] helpers/permissions.js
- [x] help

[2021-06-10 11:36] kiranparajuli589 opened #5237 "list of views for unit testing"
### TODO

#### packages/web-app-files/src/views/:
- [x] Favorites.vue  #5345
- [x] FilesDrop.vue #5680
- [x] LocationPicker.vue #5697
- [x] Personal.vue (there are some duplication for setup inside the tests, we can refactor this) (#5588)
- [x] PrivateLink.vue (TODO: #5750) (#5755)
- [ ] PublicFiles.vue wip @kiranparajuli589 #5722 #6181
- [x] PublicLink.vue #5749 #5756
- [x] SharedViaLink.vue (TOD

[2021-06-10 11:40] pascalwengerter commented on #3119
@tbsbdr I'd be in favor of closing this issue, maybe you want to draw some inspiration from it when redesigning the sharing sidebar though? Or should we leave it open? 😉

[2021-06-10 11:42] pascalwengerter commented on #3132
Just fixed the selectors for expiration dates in the acceptance tests the other day so closing this as fixed :) we'll perhaps move some of it to unit tests soon, but let's open a new ticket for that when it gets relevant

[2021-06-10 11:42] #3132 closed

[2021-06-10 11:52] pascalwengerter commented on #2728
We should take another look at this after #5194 got merged

[2021-06-10 11:52] individual-it commented on #5227
is that the case for all private links for you or just when you navigate from the notification?

[2021-06-10 11:55] pascalwengerter commented on #2805
@individual-it could you take a look here and closed if not applicable anymore?

[2021-06-10 12:50] kulmann commented on #4531
Cannot reproduce with web v3.2.0 as oc10 app.

[2021-06-10 12:50] #4531 closed

[2021-06-10 13:09] tbsbdr commented on #4943
discussed a good idea by @elizavetaRa showing the switch in direct context the files list - and maybe in the future next to view-options like grid/condensed view. @elizavetaRa could you add a screenshot?

[2021-06-10 13:23] kulmann opened #5238 "Move transifex resources from `ownCloud Web` to `ownCloud`"
Our transifex resources currently live in the `ownCloud Web` project. Should be moved back to the original `ownCloud` project, since it doesn't make sense that we maintain two.

[2021-06-10 14:54] exalate-issue-sync[bot] opened #5239 "Add filtering to files list"
## Stories

## Acceptance criteria
- accessibility tests for the components
- unit tests for the components
- filters that should be available in the first iteration of this feature:
	- hidden files (enabled/disabled)

[2021-06-10 14:57] kulmann commented on #4943
UX-wise I fully agree. Related to https://github.com/owncloud/web/issues/5239
If we want to use the settings service (including the settings UI) from oCIS we need a concept of how changing the filter option in the files app also changes the setting in the settings service. We could start without the settings service, only storing the choice in the local storage of the browser (i.e. not persisted f

[2021-06-10 16:11] dpakach commented on #4193
I haven't seen this issue recently, so must have been fixed
the cause was probably https://github.com/owncloud/ocis/issues/1226#issuecomment-855643637
which seems to be fixed too

[2021-06-10 16:11] #4193 closed

[2021-06-10 16:12] tbsbdr commented on #3119
ah, thanks! nice idea, got it. maybe i'll find someplace in the new sharing dialog. closing to tidy up.

[2021-06-10 16:12] #3119 closed

[2021-06-10 18:41] pascalwengerter commented on #3768
Can't reproduce on current master, closing this as fixed ⚡

[2021-06-10 19:04] ChrisEdS commented on #5240
It depends on how many icons are in that view in the end. I'd vote for `oc-m-s` if it stays like this.
Also the click/hover behaviour is nice then.

If it is imaginable to have 5 icons in a row later, then `oc-m-xs` might be the better option.

[2021-06-10 19:45] pascalwengerter commented on #5240
I guess this occurance of the icons will stay with two icons for a while. I'd vote for the `oc-m-xs` myself in any case to not create to much space between the icons

Adding @tbsbdr into the mix for a final decision on that issue plus to give him feedback for the re-structuring of the sidebar!

[2021-06-10 19:54] pascalwengerter commented on #5227
Could you please re-try with the latest web `master`? We merged a big PR today and I remember fixing the tests for this the other day and just tried myself, see screenshot below:

<img width="426" alt="Screenshot 2021-06-10 at 20 53 37" src="https://user-images.githubusercontent.com/16822008/121588540-efc5f880-ca2d-11eb-98e5-ce35ba869844.png">

[2021-06-10 19:56] pascalwengerter commented on #5221
Can't reproduce either, what was your setup like (accessing through Selenium/VNC viewer), which part(s) of backend/frontend was/were dockerized? :)

[2021-06-10 20:10] kulmann commented on #5240
We'll implement a new sharing widget in the right side bar within the next two sprints. So it will change soon anyway. 😅 but still, a bit more margin is a quick win. I like the smaller of the two proposals more.

[2021-06-11 05:29] tbsbdr commented on #5240
i would opt for `oc-m-xs` - the second one - as well. thanks for the proposals!

[2021-06-11 06:11] #5167 closed

[2021-06-11 10:00] #5240 closed

[2021-06-11 11:54] pascalwengerter commented on #1197
@fschade posted this in the chat already but to document it here as well: https://github.com/microsoft/playwright could be an awesome solution!

[2021-06-11 12:18] individual-it commented on #1197
Wouldn't that mean to rewrite all UI acceptance tests to port them from nightwatch to playwright?

We could also try (again) to create a pipeline that executes selenium with FF and runs the current tests there

[2021-06-11 13:03] kulmann commented on #5207
The classic UI uses a different download URL than we're using in the new web UI.
- classic: https://github.com/owncloud/core/blob/9b8a804d4aee0bd14fbc8db00a9bf431d4572bee/apps/files_sharing/lib/Controllers/ShareController.php#L384
- new: https://github.com/owncloud/core/blob/817f54f53d64249166feaa0eb9231c50ca1ed7e0/apps/dav/lib/Files/PublicFiles/PublicFilesPlugin.php#L151-L199

[2021-06-11 21:11] kulmann commented on #4943
Fine by me 👍 Waiting on a screenshot from the UX discussion.

[2021-06-11 21:19] kulmann commented on #3919
Will be solved when https://github.com/owncloud/web/issues/5165 is implemented. Still planned for end of June.

[2021-06-11 21:25] kulmann commented on #3922
I don't really see this as a web issue. The web UI is respecting the favorites capability. As soon as reva supports favorites and announces it via the respective capability it will automatically work in the web UI.

[2021-06-11 22:07] kulmann commented on #5128
Created https://github.com/owncloud/owncloud-design-system/pull/1380 which will add theming options for the max-width and max-height of the logo in the sidebar.

@elizavetaRa Could you clarify what the different sizes are needed for? We always have the same size for the left sidebar anyway, so I don't see the need for size options. max-width and max-height should be sufficient.

[2021-06-12 12:17] pascalwengerter commented on #5128
I'd also strongly vote in favor of handling this via theming (and then one can decide individually if it should be `px`, `rem` or `%`) which keeps it simple yet flexible :)

Needs a theming docs update once the next ODS release gets integrated into web

[2021-06-14 04:49] kiranparajuli589 opened #5257 "Report tests that passes on retry"
## Description
Acceptance tests are retried 1 time if it fails for the first time. If a test passes on a retry, the CI will go green silently. If not examined properly, these passes ( with a retry ) will go unnoticed.
We should be able to report (to `GitHub` or `rocket chat `🤔 ) if tests pass on a retry so that they can be investigated at the same time when they arise, but not when they explode.

[2021-06-14 07:54] LukasHirt commented on #5221
Cannot reproduce it anymore as well...

Might have been :shrug:

[2021-06-14 07:54] #5221 closed

[2021-06-14 08:41] fschade opened #5259 "Reduce buildpipeline complexity and duration"
Web currently uses rollup for its builds, the configuration started to get huge and complex.
It's hard to understand and adopt as a extension developer.

Beside the complexity it also needs up to 7 seconds to rebuild after a code change (MacBook Air M1).

[RFC](https://github.com/owncloud/web/discussions/5260)

[2021-06-14 14:24] #4996 closed

[2021-06-14 14:41] kulmann opened #5261 "Federation sharing capability is not respected"
### Steps to reproduce
1. Disable outgoing federation sharing (needs to be absent in capabilities of `files_sharing`)
2. Navigate to the form for sharing a file or folder with people

### Expected behaviour
The form should not show any hints of federation sharing

### Actual behaviour
The description message of the sharee autocomplete form element says `Add new person by name, email or federation

[2021-06-15 07:28] #5226 closed

[2021-06-15 07:55] elizavetaRa opened #5263 "Share status displayed wrongly after accepting/declining"
### Steps to reproduce
1. Click "Accept", "Decline" in "Shared with me"

### Expected behaviour
The status changes immediately corresponding to the button action

### Actual behaviour
The status changes to "Pending" with no buttons shown. After reloading the page status is shown correctly.
![Files shared with me - ownCloud](https://user-images.githubusercontent.com/7430156/122014612-9cea9900-cdbf-

[2021-06-15 10:06] fschade commented on #4895
fixed by https://github.com/owncloud/web/pull/5130

[2021-06-15 10:06] #4895 closed

[2021-06-15 10:20] fschade commented on #4667
Need to be implemented in [thumbnails](https://github.com/owncloud/ocis/tree/master/thumbnails) service. For videos it's hard to decide which frame should be used for preview. I leave this open for discussion and collecting ideas.

cc: @C0rby

[2021-06-15 10:24] fschade commented on #4611
fixed by https://github.com/owncloud/web/pull/5194

[2021-06-15 10:24] #4611 closed

[2021-06-15 10:52] C0rby commented on #4667
In oc10 we display a generic video icon for video files.
I would propose to do the same for oCIS since thumbnailing for videos is a bit more complex.

[2021-06-15 11:02] fschade commented on #4295
@swoichha, issue didn't happen on latest master anymore.

[2021-06-15 11:02] #4295 closed

[2021-06-15 11:04] fschade commented on #4302
@tbsbdr - FYI - ux topic

[2021-06-15 11:07] fschade commented on #4305
@CarolinaCst, thank you for your feature request, can you explain a bit further what you mean by that `The share documents are other in two options: "Share with" and "Share time"`

[2021-06-15 11:08] fschade commented on #4310
@individual-it, can we close the issue or is it still needed?

[2021-06-15 11:10] fschade commented on #4171
fixed in latest master with the a11y improvements

[2021-06-15 11:10] #4171 closed

[2021-06-15 11:17] fschade commented on #4172
Fixed in latest master

[2021-06-15 11:17] #4172 closed

[2021-06-15 11:21] fschade commented on #4192
Error does not happen anymore in latest master. I close this for now

[2021-06-15 11:21] #4192 closed

[2021-06-15 11:25] individual-it commented on #4310
@fschade if the issue itself is solved we can close it. I cannot see any test failures marked with this issue so I guess its fixed
closing

[2021-06-15 11:25] #4310 closed

[2021-06-15 11:29] fschade commented on #4214
i can confirm that the issue still happens in latest master.
<img width="1088" alt="Bildschirmfoto 2021-06-15 um 13 27 18" src="https://user-images.githubusercontent.com/49308105/122045085-91a66600-cddd-11eb-90cb-c16f37d9f63c.png">

[2021-06-15 11:36] fschade commented on #4101
the `$_ocDrop_close` and navigation duplication errors do not happen anymore, instead browser console now complains with different errors.

cc @pascalwengerter

<img width="727" alt="Bildschirmfoto 2021-06-15 um 13 35 13" src="https://user-images.githubusercontent.com/49308105/122045896-8acc2300-cdde-11eb-8199-118e426172c5.png">

[2021-06-15 11:38] exalate-issue-sync[bot] opened #5268 "research: try out VUE3 compat release"
## User story
- As a developer I'd like to work with Vue 3 as soon as possible so that we can upgrade certain dependencies (like the vue router).

## Acceptance criteria
- Check out the vue3 compat release https://github.com/vuejs/vue-next/tree/master/packages/vue-compat
- if easy to switch: just do it. If complicated: write down steps needed.
- don't spend more time than half a day

[2021-06-15 11:38] exalate-issue-sync[bot] opened #5269 "Migrate to Vue 3"
## discuss:
are dependencies we are using already in good shape reg. vue3 ?
## Stories

## Prerequisites // Tasks
- [ ] ownCloud design system should be bundled by rollUp (https://jira.owncloud.com/browse/WEB-176)
- [ ] ownCloud design system needs to be ported to vue3 (https://jira.owncloud.com/browse/WEB-176)
- [ ] web needs to be ported to vue3

## Vendor dependency compatibility notes (might g

[2021-06-15 11:40] fschade commented on #4093
closing in favour of https://github.com/owncloud/web/issues/5269 and https://github.com/owncloud/web/issues/5268

[2021-06-15 11:40] #4093 closed

[2021-06-15 11:48] pascalwengerter commented on #2027
Can't reproduce on current `master`, seems to be fixed by introducing a bulk action. Closing it for now.

![Screenshot 2021-06-15 at 12-48-15 Jo - Alle Dateien - ownCloud](https://user-images.githubusercontent.com/16822008/122047382-ff4f9380-cdd7-11eb-819d-dfd3c8e2623b.png)

[2021-06-15 11:48] #2027 closed

[2021-06-15 11:49] fschade commented on #3823
@LukasHirt, is this still a thing?

[2021-06-15 11:53] fschade commented on #3839
needs to be discussed if this makes sense, at the moment we support thumbnails for txt files, so in my opinion nothing speaks against it. cc @kulmann

[2021-06-15 11:55] fschade commented on #3846
some points mentioned where fixed by https://github.com/owncloud/web/pull/5194. We should revisit this issue and discuss further improvements

[2021-06-15 11:56] fschade commented on #3892
all mentioned ideas are implemented in the a11y swarming in the past weeks. They are part of current master already. Closing this

[2021-06-15 11:56] #3892 closed

[2021-06-15 11:58] fschade commented on #3898
@kulmann points are still open, we should discuss this and decide how to handle them.

[2021-06-15 12:00] fschade commented on #3906
@LukasHirt, is this still relevant regarding the lastest filepicker improvements?

[2021-06-15 12:00] pascalwengerter commented on #1001
Closing this since the `web-app-files` has received a major overhaul early this year and the upload progress is prominently visible now.

Pausing/resuming/cancelling uploads should live in a dedicated ticket which can be added as necessary (if it doesn't exist yet) and presumably need (some) backend implementations too

[2021-06-15 12:00] #1001 closed

[2021-06-15 12:01] pascalwengerter commented on #2048
@LukasHirt is that a `web` or `idp (oCIS)` issue, and is it still relevant after we've merged the `a11y`-enhancements? :)

[2021-06-15 12:02] LukasHirt commented on #3823
There hasn't been done anything to test it out AFAIK but as it was an idea it could be also closed if considered "not worth the effort"...

[2021-06-15 12:04] pascalwengerter commented on #1774
@kulmann @LukasHirt can one of you check if this has been fixed by #5130, too?

[2021-06-15 12:06] pascalwengerter commented on #2633
Closing this since #5018 has been merged

[2021-06-15 12:06] #2633 closed

[2021-06-15 12:06] kulmann commented on #3823
Product decision if we want to invest time in the mediaviewer. @tbsbdr

[2021-06-15 12:08] LukasHirt commented on #2048
Both, it's the actual Web login screen

![Screenshot 2021-06-15 at 14 06 38](https://user-images.githubusercontent.com/25989331/122049638-f0baa980-cde2-11eb-8802-dac4b9edfe81.png)

Depends... it is possible to focus manually the login button and then hit enter. But there is the skip-to-main link before that which doesn't really make sense since there is only main content

[2021-06-15 12:08] pascalwengerter commented on #2514
Not sure what this ticket is about since declining and deleting seem to get mixed up. Closing it as outdated since a lot of fixes around accepting/declining shares have been recently merged

[2021-06-15 12:08] #2514 closed

[2021-06-15 12:10] pascalwengerter commented on #1728
Closing this since we've introduced a new modal component a while ago and I've never heard about anyone getting stuck with it 😇

[2021-06-15 12:10] #1728 closed

[2021-06-15 12:13] pascalwengerter commented on #1693
@LukasHirt could you check if this still happens/has been fixed by all the changes in `web-app-files`? Can't find the respective code deepdiver mentioned above anymore

[2021-06-15 12:15] kulmann commented on #3839
The issue here was that xml files had neither (not a preview and not a generic icon for the file type). Has been fixed with https://github.com/owncloud/web/pull/4357

See screenshot:
<img width="210" alt="Screenshot 2021-06-15 at 14 12 46" src="https://user-images.githubusercontent.com/3532843/122050484-c9b0a780-cde3-11eb-97a7-a1212785a661.png">

If xml files should have previews is a decision for

[2021-06-15 12:15] #3839 closed

[2021-06-15 12:21] pascalwengerter commented on #2903
Closing this since passwords now work and we have enough other tickets for the datepicker and need to replace it to become fully a11y-compliant (see e.g. #2258) - we should tackle the `changes height if you click through the months` there.

[2021-06-15 12:21] #2903 closed

[2021-06-15 12:22] pascalwengerter commented on #4300
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:22] #4300 closed

[2021-06-15 12:23] pascalwengerter commented on #2626
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:23] #2626 closed

[2021-06-15 12:24] pascalwengerter commented on #4320
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:24] #4320 closed

[2021-06-15 12:24] pascalwengerter commented on #4321
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:24] #4321 closed

[2021-06-15 12:25] pascalwengerter commented on #2630
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:25] #2630 closed

[2021-06-15 12:25] pascalwengerter commented on #4323
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:25] #4323 closed

[2021-06-15 12:25] kulmann commented on #3898
Closing here, since the individual issue have their own tickets. All of them have a label that lets them appear in our fastlane, so they have sufficient attention.

[2021-06-15 12:25] #3898 closed

[2021-06-15 12:26] pascalwengerter commented on #2628
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:26] #2628 closed

[2021-06-15 12:26] pascalwengerter commented on #4787
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:26] #4787 closed

[2021-06-15 12:26] pascalwengerter commented on #4769
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:26] #4769 closed

[2021-06-15 12:28] pascalwengerter commented on #4334
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:28] #4334 closed

[2021-06-15 12:28] pascalwengerter commented on #4333
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:28] #4333 closed

[2021-06-15 12:28] pascalwengerter commented on #4654
Closing this since #5018 and #5055 are merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:28] #4654 closed

[2021-06-15 12:28] pascalwengerter commented on #4764
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:28] #4764 closed

[2021-06-15 12:29] pascalwengerter commented on #4766
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:29] #4766 closed

[2021-06-15 12:29] pascalwengerter commented on #4765
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:29] #4765 closed

[2021-06-15 12:29] pascalwengerter commented on #4340
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:29] #4340 closed

[2021-06-15 12:29] pascalwengerter commented on #4339
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:29] #4339 closed

[2021-06-15 12:29] pascalwengerter commented on #4338
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:29] #4338 closed

[2021-06-15 12:30] pascalwengerter commented on #4332
Closing this since #5018 and #5055 are merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:30] #4332 closed

[2021-06-15 12:31] pascalwengerter commented on #4347
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:31] #4347 closed

[2021-06-15 12:31] pascalwengerter commented on #4344
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:31] #4344 closed

[2021-06-15 12:31] pascalwengerter commented on #4408
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:31] #4408 closed

[2021-06-15 12:31] pascalwengerter commented on #4407
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:31] #4407 closed

[2021-06-15 12:31] pascalwengerter commented on #4409
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:31] #4409 closed

[2021-06-15 12:32] pascalwengerter commented on #4768
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:32] #4768 closed

[2021-06-15 12:32] pascalwengerter commented on #2627
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:32] #2627 closed

[2021-06-15 12:33] pascalwengerter commented on #4789
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:33] #4789 closed

[2021-06-15 12:33] pascalwengerter commented on #4790
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:33] #4790 closed

[2021-06-15 12:33] pascalwengerter commented on #4330
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:33] #4330 closed

[2021-06-15 12:34] pascalwengerter commented on #4329
Closing this since #5018 is merged and we're waiting for feedback (and will open new tickets with the requested changes from the `a11y` audit)

[2021-06-15 12:34] #4329 closed

[2021-06-15 12:35] pascalwengerter commented on #4829
Closed via #5063

[2021-06-15 12:35] #4829 closed

[2021-06-15 12:37] pascalwengerter commented on #4582
@phil-davis how's that one looking? From my recent involvement with merging back the `a11y`-branch the CI has been pretty solid recently!

[2021-06-15 12:38] pascalwengerter commented on #4596
Can't reproduce on current `master`, closing as fixed

[2021-06-15 12:38] #4596 closed

[2021-06-15 12:40] pascalwengerter commented on #4113
Contrary to #4608, needs a product decision @tbsbdr

[2021-06-15 12:44] pascalwengerter commented on #5242
Translations work fine now, not sure what the original issue was and no response so closing this

[2021-06-15 12:44] #5242 closed

[2021-06-15 12:45] pascalwengerter commented on #5106
Linking #5243 here to keep track of similar issues

[2021-06-15 12:51] pascalwengerter commented on #4919
@phil-davis what's the `Definition of done` for this issue? :)

[2021-06-15 12:55] pascalwengerter commented on #4867
Closing this since it's kinda fixed (and not within the scope of the accessibility audit) for OC10 through the ODS and search isn't implemented for oCIS

[2021-06-15 12:55] #4867 closed

[2021-06-15 12:58] pascalwengerter commented on #2135
Closed as fixed, error message is translate-able now

[2021-06-15 12:58] #2135 closed

[2021-06-15 13:00] pascalwengerter commented on #2121
Closed since we don't currently have a filter anymore

[2021-06-15 13:00] #2121 closed

[2021-06-15 13:02] pascalwengerter commented on #2250
Closing since we don't currently have filtering in the files list

[2021-06-15 13:02] #2250 closed

[2021-06-15 13:03] pascalwengerter commented on #1872
Update: Implemented for (public) links by now on `master`, only collaborator dialogue missing

[2021-06-15 13:05] pascalwengerter commented on #2254
Closing since we don't have the home icon anymore and overhauled the breadcrumbs anyways

[2021-06-15 13:05] #2254 closed

[2021-06-15 13:08] pascalwengerter commented on #2256
Closing this as (long) outdated

[2021-06-15 13:08] #2256 closed

[2021-06-15 13:10] pascalwengerter commented on #2260
Closing this as outdated since we've stuck to different pages and I haven't heard anything contrary in the last months

[2021-06-15 13:10] #2260 closed

[2021-06-15 13:12] pascalwengerter commented on #2263
Closing this since the new modal has been introduced a while ago now #3378

[2021-06-15 13:12] #2263 closed

[2021-06-15 13:13] pascalwengerter commented on #2262
Closing this as outdated, most points have been adressed by now

[2021-06-15 13:13] #2262 closed

[2021-06-15 14:11] phil-davis commented on #4919
@Talank @kiranparajuli589 can you give a summary of where this is up to, and what is the chance that all the items will be sorted out "soon"?

Maybe we need to move items to their own issues. Because this issue becomes never-ending - some things are made reliable and then other intermittent tests are noticed.

[2021-06-15 15:17] #5196 closed

[2021-06-15 15:33] ChrisEdS opened #5271 "Mediaviewer toolbar icons contrast ratio needs is bad"
## Describe the bug

The Mediaviewer icons contrast ratio needs to be changed.

## Steps to reproduce

Steps to reproduce the behavior:

1. Click on a image. Mediaviewer opens.
2. Take a look at the toolbar

## Expected behavior
The icons stand out clearly from the background

## Actual behavior
![image](https://user-images.githubusercontent.com/33026403/115926897-df5cbd00-a483-11eb-894b-3c15e1aac

[2021-06-16 04:23] saw-jan commented on #5227
I still get the same link with latest web and latest core
![sharenoti](https://user-images.githubusercontent.com/52366632/122157458-9b39d780-ce8a-11eb-82f2-7e93f7117723.png)

oC10 running on: `http://localhost/core`
web: `http://localhost:9100`

[2021-06-16 04:27] individual-it commented on #5227
@saw-jan can you paste your core configuration (output of `sudo -u www-data ./occ config:list`)

[2021-06-16 04:30] saw-jan commented on #5227
Yeah,
[code]

[2021-06-16 04:31] saw-jan commented on #5227
private links are as
![pvtlinks](https://user-images.githubusercontent.com/52366632/122158135-d557a900-ce8b-11eb-8cae-028fd316ced1.png)

[2021-06-16 08:46] kulmann commented on #5263
I just re-tested with your provided server configuration and can't confirm. Not likely to be a caching issue, because there is no caching of the server application. Closing here. Please re-open and provide more details if this is still failing for you.

[2021-06-16 08:46] #5263 closed

[2021-06-16 09:59] saw-jan commented on #5227
core/config/config.php
[code]

[2021-06-16 11:51] pascalwengerter commented on #5161
@tbsbdr currently the sidebar accordion items have icons. Should the `Details` also feature one and if yes, which one?

![Screenshot 2021-06-16 at 12-50-34 Jo - Alle Dateien - ownCloud](https://user-images.githubusercontent.com/16822008/122214016-83ba1900-cea1-11eb-8953-2add5e504807.png)

[2021-06-16 19:55] pascalwengerter commented on #5161
@tbsbdr while working on this I figured we might want to have the three vertical dots at the right end of the file table rows open the `Actions` panel whilst clicking on the row itself opens the new `Details` panel

The three dots feel "actionable" for me from experience with other user interfaces and having to click once more after clicking on them makes little sense (otherwise we could drop them

[2021-06-17 07:19] individual-it opened #5286 "use the same linting and prettier config like in ODS"
should we have the same configuration here as in ODS?
I noticed it because we are using single quotes here and double quotes in ODS

@kulmann @LukasHirt @pascalwengerter

[2021-06-17 08:02] tbsbdr commented on #5161
Yes, it should have an icon as the others also have one. I would go with the `info` Icon https://owncloud.design/#/Design%20Tokens/Icon

[2021-06-17 08:07] tbsbdr commented on #5161
Your suggestion makes total sense as long as we dont have a context-menü. so it would be an interim solution and wont break the actual behavior. good idea of yours imo, would do it if the effort is "low".

[2021-06-17 08:42] kulmann commented on #5161
One remark: for keyboard-only users there would be no way to open the right sidebar in the details accordion right away, as the file row cannot be focussed. IMO ok that way. Just wanted to point it out @tbsbdr

[2021-06-17 12:48] tbsbdr commented on #4943
adopting elizas idea to place the switch next to the filelist and make it possible to add more options in the future like "show deleted files" and "show quick access files".

## first screen is, whats planned next for short term:
 the other screens depict possible next levels, taking the sidebar-switch and more options into account:
![image](https://user-images.githubusercontent.com/26610733/12239

[2021-06-17 12:52] tbsbdr commented on #4943
adopting elizas idea to place the switch next to the filelist and make it possible to add more options in the future like "show deleted files" and "show quick access files".

## first screen is, whats planned next for short term:
 the other screens depict possible next levels, taking the sidebar-switch and more options into account:
![image](https://user-images.githubusercontent.com/26610733/12239

[2021-06-17 12:54] tbsbdr commented on #4943
![image](https://user-images.githubusercontent.com/26610733/122400320-e67fe300-cf7b-11eb-8cb7-3fdcaf13a9c7.png)

[2021-06-17 12:56] kulmann commented on #4943
(closed accidentally)

[2021-06-17 12:57] tbsbdr commented on #4943
you know me...

[2021-06-17 13:53] LukasHirt commented on #5286
It's actually the other way round https://github.com/owncloud/owncloud-design-system/issues/717

We wanted to create a repository with one config which will be then only pulled as a npm package into all projects where needed

[2021-06-17 14:41] #5060 closed

[2021-06-17 16:49] diocas commented on #4943
Mockups look really good. Suggestion: I would try to put the right buttons vertically aligned with the left buttons ("+ New") to avoid having even less vertical real-estate.

[2021-06-17 17:19] #2209 closed

[2021-06-17 17:22] pascalwengerter commented on #5128
This has been fixed now that ODS `7.4.0` is merged in the web master. @elizavetaRa you can now use [sizes within theming](https://owncloud.dev/clients/web/theming/#sizes) to set `var(--oc-size-max-height-logo)` and `var(--oc-size-max-width-logo)` according to your needs!

[2021-06-17 17:22] #5128 closed

[2021-06-17 17:34] pascalwengerter commented on #3819
Closed in favor of the more recent #5103

[2021-06-17 17:34] #3819 closed

[2021-06-17 17:44] #2019 closed

[2021-06-17 18:34] pascalwengerter commented on #4304
Closed in favor of #3919

[2021-06-17 18:34] #4304 closed

[2021-06-17 18:37] pascalwengerter commented on #2061
Closed in favor of #3919

[2021-06-17 18:37] #2061 closed

[2021-06-17 18:47] pascalwengerter commented on #5243
Closing this in favor of #5106

[2021-06-17 18:47] #5243 closed

[2021-06-17 19:08] pascalwengerter commented on #5273
Look at #4667 for more information

[2021-06-17 19:09] pascalwengerter commented on #4667
Closing this in favor of #4667

[2021-06-17 19:09] #4667 closed

[2021-06-17 19:11] pascalwengerter commented on #5241
Closing this since it has been clarified that it's about bulk actions vs individual actions and we'll update the sidebar soon anyways

[2021-06-17 19:11] #5241 closed

[2021-06-17 19:22] pascalwengerter commented on #3046
Should have been fixed by the `a11y` improvements (at least for Chrome)

[2021-06-17 19:22] #3046 closed

[2021-06-17 19:25] pascalwengerter commented on #3184
Shouldn't be the case anymore on current master with the new files table etc @LukasHirt ?

[2021-06-17 20:11] kulmann commented on #3184
Correct, we don't reload the various file lists anymore. That caused us some other headache, but meanwhile fixed. ;-) Closing here.

[2021-06-17 20:11] #3184 closed

[2021-06-17 23:00] pascalwengerter opened #5293 "Reduce CI flakyness by copying (instead of reinstalling) bundle in pipelines"
### Steps to reproduce
1. Start a CI run
2. Watch one or multiple pipelines fail in the `npm install` step
3. Restart it
4. Hope point 2 doesn't happen again, if so go back to 3

### Expected behaviour
CI runs smoothly and reliably and only fails for actual failures related to failing tests, without the need to restart it multiple times to let small changes pass

### Actual behaviour
`npm install`

[2021-06-18 02:22] individual-it commented on #5286
closing in favour of #717

[2021-06-18 05:56] individual-it opened #5296 "collaborator role icon does not change directly after changing the role"
### Steps to reproduce
1. add a collaborator
2. change it's role
3. examine the icon

### Expected behaviour
icon should have changed

### Actual behaviour
the icon of the original role is shown, it only changes after reloading that part of the sidebar

https://user-images.githubusercontent.com/2425577/122513342-053cb300-d02a-11eb-8009-e6b1a34a2084.mp4

[2021-06-18 06:30] individual-it opened #5299 "no resharing popup displayed if a share is only reshared once"
### Steps to reproduce
1. as `admin` share to `user1`
2. as `user1` share to `user2`
3. as `admin` click the `shared by user1` button in the people list

### Expected behaviour
a box should be displayed with the information

### Actual behaviour
a slightly visible empty box is displayed
it works fine if the share is reshared again from `user2` to `user3`

https://user-images.githubusercontent.com/

[2021-06-18 06:34] individual-it commented on #5299
in FF it only shows the content of the box for one reshare
![image](https://user-images.githubusercontent.com/2425577/122517060-4aafaf00-d02f-11eb-9f99-f3b354d01f03.png)

but

![image](https://user-images.githubusercontent.com/2425577/122517093-54d1ad80-d02f-11eb-8fad-7de8a5e23606.png)

[2021-06-18 07:00] pascalwengerter commented on #5299
Hint: Perhaps the `<oc-drop>` in web/packages/web-app-files/src/components/Collaborators/Collaborator.vue was forgotten when we switched to tippy whilst doing all the a11y changes (and were mostly checking with oCIS backends which don't support reshares)

[2021-06-18 07:19] pascalwengerter commented on #5286
You perhaps meant https://github.com/owncloud/owncloud-design-system/issues/717 but let's keep it open since it applies to both repos

[2021-06-18 07:24] xoxys commented on #5293
There is also a small bash tool available in all `owncloudci/nodejs` images that may help as well, https://github.com/owncloud-ci/retry/. If you want to use it please just retry commands 2-3 times not 100 ;)

[2021-06-18 07:36] phil-davis commented on #5293
As a separate question, do we know why this has started happening a lot the last 2 days?
What changed in drone/Hetzner/"the big bad internet"?

[2021-06-18 07:36] xoxys commented on #5293
No changes on our side

[2021-06-18 09:04] saw-jan opened #5302 "Cannot determine share source path when sharing same name file from different path in shared-with pages"
### Steps to reproduce
1. create users `Alice` and `Brian`
2. As `Alice`, upload file `simple.txt`
3. As `Alice`, create folder `ABC` and upload file `simple.txt` inside it
4. As `Alice`, share `simple.txt` and `ABC/simple.txt` with user `Brian`
5. As `Alice`, share `simple.txt` and `ABC/simple.txt` via public link

### Expected behaviour
expected to see the distinctive file sources in share-with

[2021-06-18 09:08] #4609 closed

[2021-06-18 09:08] pascalwengerter commented on #4601
@phil-davis with all the current progress you're making can this be closed? :)

[2021-06-18 09:09] #4302 closed

[2021-06-18 09:12] pascalwengerter commented on #3616
Closing this as fixed within the `a11y` efforts, I do have extracted your opinions and will publish them in a `conventions` file I'm sourcing right now for this repo

[2021-06-18 09:12] #3616 closed

[2021-06-18 09:14] #3183 closed

[2021-06-18 09:15] pascalwengerter commented on #5296
Duplicate but newer than #3138, so closing the old issue to give this more visibility

[2021-06-18 09:16] pascalwengerter commented on #3138
Closed in favor of #5296

[2021-06-18 09:16] #3138 closed

[2021-06-18 09:23] phil-davis commented on #4601
These remain in `expected-failures-with-ocis-server-ocis-storage.md`
[code]

I need to look at these 5 scenarios and see what should be adjusted, or if I can delete them...

[2021-06-18 10:02] individual-it commented on #5299
I cannot see any differences in the DOM, I think the problem is that the dropdown is opening down and then its hidden

[2021-06-18 10:09] #3098 closed

[2021-06-18 10:09] #4973 closed

[2021-06-18 10:09] #5163 closed

[2021-06-18 11:07] phil-davis commented on #4601
Those were all out-of-date bug-demo scenarios. PR #5307 removes them.

[2021-06-18 11:51] #4601 closed

[2021-06-18 11:56] kulmann commented on #5077
There is an open PR in Web ( https://github.com/owncloud/web/pull/5178 ) for respecting the new capability, but we have to wait for the ownCloud 10.8 release which happens in early July.

[2021-06-18 12:11] pascalwengerter commented on #1197
We'd have to at least restructure them, discussed this with @fschade but definitely not pressing at the moment. Just wanted to document the possibility above for documentation reasons :)

[2021-06-18 12:15] fschade commented on #1197
should already work with https://hub.docker.com/r/selenium/standalone-firefox/ and https://github.com/owncloud/web/tree/acceptance-tests-docker. need to try that out and hopefully find time to finalize the pr

[2021-06-18 13:27] pascalwengerter opened #5310 "Prevent thumbnail loading for not accepted shares in "Shared with me" view"
### Steps to reproduce
1. User a shares image file with user b
2. User b goes to "Shared with me" page and sees the pending shared image file
3. 404 error in console for thumbnail preview of shared img

### Expected behaviour
Preview is loaded asynchronously & displayed upon accepting the share

### Actual behaviour
No differentiation loads to failing requests and console errors

[2021-06-19 08:08] exalate-issue-sync[bot] opened #5312 "Add "Items per page" -option for pagination"
## User story

## Acceptance criteria:
- OcPaginationSize (or similar naming) component in ODS
- component in ODS unit tested
- add component from ODS to all occurences of pagination in web (as shown in the scribble)
- modifying the page size leads to a global update of the page size (i.e. identical page size for all views ("all files", "favorites", etc))
- page size synced into localStorage, so t

[2021-06-19 08:17] exalate-issue-sync[bot] opened #5313 "Concepting: Normalize browser URLs"
## Proposed Global URL Format

`https://<host>/#/s/<spaceid>/<relative/path>?id=b78c2044-5b51-446f-82f6-907a664d089c:194b4a97-597c-4461-ab56-afd4f5a21607`

`/s` denotes that this is a space url.
- the relative path is optional

## Proposed Private link URL Format
https://xmpl.com/f/<spaceid>/<relative/path>?id=<b78c2044-5b51-446f-82f6-907a664d089c:194b4a97-597c-4461-ab56-afd4f5a21607>

## User sto

[2021-06-19 08:18] kulmann commented on #4595
We were thinking about an entirely new URL format recently. There was some concepting done here https://github.com/owncloud/web/issues/5313 but it stalled lately. Needs to be on our agenda again. cc @tbsbdr

[2021-06-19 08:22] kulmann commented on #4946
For the record, there is an unrelated issue https://github.com/owncloud/ocis/issues/2011 when accepting an already declined share in ocis.

[2021-06-21 07:10] kulmann opened #5318 "Release v3.3.0"
## Release checklist
- [x] create a branch `release-3.3.0` @kulmann
- [x] prepare release rc:
  - [x] update the version to `3.3.0` in `packages/web-integration-oc10/appinfo/info.xml` @kulmann
  - [x] update the version to `3.3.0` in `package.json` @kulmann
  - [x] move changelog/unreleased/* to changelog/3.3.0_YYYY-MM-DD @kulmann
  - [x] update the ocis commit id in `.drone.env` to the most recen

[2021-06-21 08:54] kulmann commented on #4943
FYI: I removed the `Early-Adopters:CERN` label because we planned this issue in our new sprint. `Early-Adopters:CERN` tickets live in our fastlane, which makes them unusable in sprints.

[2021-06-21 09:29] saw-jan opened #5321 "Saving public share is not possible"
### Steps to reproduce
As user `admin`:
1. create a folder `folder123` and upload a file
2. create public share of a folder `folder123`

As user `Brian`
1. access the public link shared by user `admin`
2. try to save the public share to own owncloud account.

### Expected behaviour
Able to save public share to own account like in oC10: with `Add to` button
![coresaveshare](https://user-images.gith

[2021-06-21 09:36] pascalwengerter commented on #5321
@saw-jan could you please use the provided issue-template and write the `actual` and `expected` behaviour so it's clear what we're looking at here? If you want to download the file with the new frontend, you need to click on the file row and then the right sidebar will open which contains a "Download" button

[2021-06-21 10:01] pascalwengerter commented on #5293
@wkloucek could you take a look? I think you did something similar with a cached oCIS somewhere else!

[2021-06-21 10:31] pascalwengerter opened #5322 "Wait for unit & integration tests to succeed before running all acceptance tests"
### Steps to reproduce
1. Check CI runs
2. See that unit & acceptance tests run in parallel with a lot of acceptance test pipelines

### Expected behaviour
Acceptance tests should only run after unit & integration tests have succeeded

### Actual behaviour
Unit & integration tests run in parallel with acceptance tests. Unit & integration tests are supposed to fail (or pass) early and should preven

[2021-06-21 10:32] pascalwengerter commented on #5322
@phil-davis @individual-it could we prioritze this for the upcoming days?

[2021-06-21 10:36] phil-davis commented on #5322
Yes, that should be an easy job.

Note: example https://drone.owncloud.com/owncloud/web/16615/5/1
unit and integration tests take 5 or 6 minutes. So waiting for them to finish before starting acceptance tests will increase the elapsed time of a successful CI  run by 5 or 6 minutes. We need to all understand that there is this trade-off between running various pipelines sequentially or in parallel.

[2021-06-21 10:42] pascalwengerter opened #5323 "Correctly prefix CI acceptance tests pipelines with `OC10-` and `oCIS-`"
### Steps to reproduce
1. Check `web` CI runs on Drone
2. Check acceptance pipeline names
3. Have no clue which pipeline uses which backend (OC10 vs oCIS). Currently, everything that doesn't carry `ocis` in its name is run with OC10, but that's implicit and hard to understand for newcomers/outsiders

### Expected behaviour
It should be obvious which (failing) pipeline is running which backend, so

[2021-06-21 10:45] pascalwengerter commented on #5322
No free lunch, huh? 😉 maybe we can work on the unit test speed from the dev team side and/or parallelize them a bit to cut the unit & integration test step completion time by 50-66%? In terms of server load and wasted resources I still think the tradeoff is fine in any case

[2021-06-21 11:03] ScharfViktor opened #5324 "Endless loading when opening a file in section "Shared with me" or "Shared with other""
### Steps to reproduce
1. user 1 share file with type "jpeg" to user 2
2. user 2 accepted file and
3. user try to open file in section "shared with me"

### Expected behaviour
File can be opened in Mediaviewer.

### Actual behaviour
endless loading. "Cannot read property 'substr' of undefined".

### Client configuration
**Browser: Chrome v. 91.0.4472.106 **

**Operating system: Macos Big Sure v.11

[2021-06-21 15:47] pascalwengerter commented on #1159
Closing this since all the mentioned/missing features are documented in dedicated tickets

[2021-06-21 15:47] #1159 closed

[2021-06-21 15:50] pascalwengerter commented on #116
Closing this since server-side pagination won't happen anytime soon and we've sped up file table rendering and added pagination

[2021-06-21 15:50] #116 closed

[2021-06-21 20:35] kulmann commented on #5324
@ScharfViktor could you add the server (oCIS or ownCloud 10? which version?) and the used web version if run standalone?

From your screenshot I can already guess that it's an oCIS, probably with the embedded version of web. But please write it down here in the ticket, just to be sure. :-)

[2021-06-21 20:38] kulmann commented on #5296
@individual-it could you re-test and close if fixed? we merged and released https://github.com/owncloud/owncloud-design-system/pull/1407 today, sounds like it was the issue here as well.

[2021-06-21 20:52] kulmann commented on #5296
Re-tested myself and can confirm the fix. Closing here. Please re-open if needed.

[2021-06-21 20:52] #5296 closed

[2021-06-21 21:06] kulmann commented on #5318
## Smoke test rc3 standalone against oc10

- :heavy_check_mark: as gunter - upload arch/mips folder from linux kernel (1945 files)
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as gunter - share the folder to alice as viewer
- :heavy_check_mark: as alice - share is already accepted. declining and accepting

[2021-06-22 03:11] phil-davis commented on #5323
Should be fixed by #5328

[2021-06-22 04:18] #5323 closed

[2021-06-22 05:06] individual-it commented on #5322
What about the fail early strategy? All tests start together, if unit tests fail all other pipelines get cancelled

[2021-06-22 05:07] individual-it commented on #5322
Running the unit tests in parallel will not help because most time is consumed in the setup phase and for sonarcloud

[2021-06-22 07:50] pascalwengerter commented on #5322
While I'm a huge fan of the fail early strategy, I find it absurd to kick off ~60 pipelines and create a huge workload on the server without having tested if the basics (= unit tests) are right

Good insight, thanks

[2021-06-22 08:05] #5231 closed

[2021-06-22 08:07] pascalwengerter commented on #5318
## Smoke test rc3 against oCIS

- :heavy_check_mark: as einstein - upload 2.092 files
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as einstein - share the folder to admin as viewer
- :heavy_check_mark: as admin - accept share
- :heavy_check_mark: as admin - try do delete file from shared folder
- :heavy_c

[2021-06-22 08:14] labkode opened #5337 "Listing shares blocks on WebDAV call for rendering"
This issue drastically reduces performance.
We're on latest master.

When clicking on:
* Shared with me
* Shared with other
* Shared via link

https://user-images.githubusercontent.com/5175912/122888720-63c3a300-d342-11eb-96bd-17ffbf891e13.mov

There is no reason to send a WebDAV request.

@pascalwengerter @kulmann @fschade @diocas @elizavetaRa
Please include this fix in https://github.com/ownclou

[2021-06-22 08:32] labkode opened #5339 "Mimetype extension should be case preserving and is not"
Filenames are:
* TEST.png
* TEST.PNG

Both are shown equally which is very confusing.
![image](https://user-images.githubusercontent.com/5175912/122891738-0b41d500-d345-11eb-8370-ceef0c8adc8c.png)

[2021-06-22 08:42] fschade commented on #5337
@labkode thank you for the hint, we will have a look into the issue

[2021-06-22 10:26] pascalwengerter opened #5342 "Don't ship `vue-axe` to production"
### Steps to reproduce
1. Run `REPORT=true yarn build` in repo root
2. Check `dist/report.html`
3. See that we're currently ship `vue-axe` with our node-modules

### Expected behaviour
We don't ship `vue-axe` with the production bundle since it's a dev dependency

### Actual behaviour
We do ship `vue-axe` with the production bundle since we can't dynamically import it only in `NODE_ENV === 'develo

[2021-06-22 13:08] labkode commented on #5337
I reopen this one as is the same context but a different call, this time to cloud/user.

https://user-images.githubusercontent.com/5175912/122929829-ad74b380-d36b-11eb-9332-aad815a425f2.mov

[2021-06-23 14:30] #5318 closed

[2021-06-23 15:38] phil-davis opened #5356 "unexpected passes are not reported in CI"
See PR #5354

If I add some extra scenarios to an expected-failures file, then a CI pipeline should report some unexpected passes (actually some expected failures that did not fail - they might be feature file line numbers that do not exist)

This problem caused a bit of difficulty working out what was going wrong in PR #5279 - in that case an existing feature file was edited and line numbers chan

[2021-06-23 18:26] dschmidt opened #5357 "web-runtime depends on Files/ store namespace"
![Screenshot_20210623_201158](https://user-images.githubusercontent.com/448487/123148611-bb583080-d460-11eb-9bac-74aa992989aa.png)

The problem seems to be in this line: https://github.com/owncloud/web/blob/22a1ceebfc4d8e233a5caadcae7a1ced06826565/packages/web-runtime/src/plugins/web.js#L10

web-runtime probably should not depend on the files app's store.
A few lines later actions from `Files/` ar

[2021-06-24 03:25] dpakach commented on #5257
The tests that pass on retry are now reported in github PR
eg. https://github.com/owncloud/web/pull/5287#issuecomment-866722585

[2021-06-24 03:25] #5257 closed

[2021-06-24 03:27] phil-davis commented on #5257
Example: https://github.com/owncloud/web/pull/5359#issuecomment-867295422

[2021-06-24 05:13] saw-jan commented on #5321
Yeah, I am sorry about that.
I have edited the issue description

[2021-06-24 07:21] phil-davis commented on #5356
See example in #5354 and #5361 that demonstrate that unexpected pass/success does not get reported.

[2021-06-24 08:58] pascalwengerter commented on #5102
Thoughts on this for whoever implements it:

- Can be achieved by adding an `<oc-drop>` underneath the `oc-table-files-btn-show-details` button in the OcTableFiles which wraps a slot that we then fill in the respective view in the web repo
- Prevent opening the right sidebar when clicking on the three dots (otherwise the sidebar and the tippy menu open at the same time which is a very "jumpy" UX)

[2021-06-24 11:42] phil-davis commented on #4919
- [ ] webUIRestrictSharing/restrictSharing.feature:49 https://drone.owncloud.com/owncloud/web/16832/47/10

[2021-06-24 14:11] pascalwengerter commented on #5337
From what I understand at this point this fetches the user's quota, and since we're not updating it on push from the server we'll have to query it every once in a while so the user can reason about their free space. Might make sense to skip it on the "Shared with others" and "Shared via Link" since there's nothing happening with the quota there, but on "All files", "Shared with me" and "Trashbin"

[2021-06-25 03:33] dpakach commented on #5322
fixed by https://github.com/owncloud/web/pull/5366

[2021-06-25 03:33] #5322 closed

[2021-06-25 07:05] anaswaratrajan opened #5369 "Custom file action labels in oCIS extensions"
Currently, file actions from out of the box extensions can only have labels "Open in `extension-name`". I'm building an extension to provide some jupyter notebook features. The usecase requires adding 2 file actions to the filetype `.ipynb`. Is there a way to provide support for custom labels? Atleast the text after "Open in" will suffice.

Further note: There are usecases where a file (Eg. `.doc`

[2021-06-25 09:30] kulmann opened #5371 "Refactor upload business logic and update tus-js-client to 2.3.0"
We're using `tus-js-client` in version 1.8.0. The client is now at version 2.3.0 and received major improvements regarding upload tracking and fingerprinting. We should look into upgrading the client.

In addition to this it makes sense to clean up our code base regarding uploads. At the moment most of the code lives in the huge `mixins.js` of the files app. It makes sense to move code into helper

[2021-06-25 10:26] kulmann commented on #5234
Components in `web-app-files` have been renamed and restructured recently in this PR https://github.com/owncloud/web/pull/5347 - please adjust the checklist in the issue description accordingly. Sorry for the inconveniences...

[2021-06-25 10:53] pascalwengerter commented on #5234
Went ahead and did this since I'm the culprint behind the restructuring 😈

[2021-06-25 10:55] phil-davis opened #5372 "webUITrashbinDelete/trashbinDelete.feature:29 fails on small display size"
This scenario has been added to the smoke tests in PR #5315 - so now it runs in the test pipelines that test with smaller screens.

It fails in:
https://drone.owncloud.com/owncloud/web/16857/44/14 oC10iPhone2-chrome
https://drone.owncloud.com/owncloud/web/16857/41/14 oC10XGAPortrait2-chrome
https://drone.owncloud.com/owncloud/web/16857/63/15 oC10IntegrationApp2-chrome

Investigate if this is a tes

[2021-06-25 13:12] glpatcern commented on #5369
+1!

A related discussion takes place in https://github.com/cs3org/reva/issues/1779 - eventually, we'd like the web to query for the list of possible handlers (or AppProviders in Reva's parlance) of a given file and show a menu item for each of them, plus registering one of them as "default" for the response to the direct click.

[2021-06-25 19:56] tbsbdr opened #5375 "[a11y] 9.1.1.1a - Alternative texts for control elements"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:00] tbsbdr opened #5376 "[a11y] 9.1.1.1b - Alternative texts for graphics and objects"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:00] tbsbdr opened #5377 "[a11y] 9.1.3.1a - HTML-Structure elements for headings"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:02] tbsbdr opened #5378 "[a11y] 9.1.3.1b - HTML-Structure elements for lists"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:02] tbsbdr opened #5379 "[a11y] 9.1.3.1d - Structured content"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:03] tbsbdr opened #5380 "[a11y] 9.1.3.1e - Data tables implemented correctly"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:05] tbsbdr opened #5381 "[a11y] 9.1.3.1g - No structure markup for layout tables"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:06] tbsbdr opened #5382 "[a11y] 9.1.3.1h - Labels of form elements programatically determinable"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:07] tbsbdr opened #5383 "[a11y] 9.1.3.2 - Logical order"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:08] tbsbdr opened #5384 "[a11y] 9.1.4.3 - Sufficient text contrast"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:09] tbsbdr opened #5385 "[a11y] 9.1.4.4 - Text scalable to 200 %"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:10] tbsbdr opened #5386 "[a11y] 9.1.4.11 - Sufficient contrast of graphics and graphical picture elements"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:10] tbsbdr opened #5387 "[a11y] 9.1.4.13 - Faded in content is operable"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- browser zoom

[2021-06-25 20:11] tbsbdr opened #5388 "[a11y] 9.2.1.1 - Usable without mouse"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:12] tbsbdr opened #5389 "[a11y] 9.2.1.2 - No keyboard trap"
Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- ---------------

[2021-06-25 20:13] tbsbdr opened #5390 "[a11y] 9.2.2.1 - time limitations adjustable"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:13] tbsbdr opened #5391 "[a11y] 9.2.4.1 - Skip areas"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:14] tbsbdr opened #5392 "[a11y] 9.2.4.3 - Logical order on keyboad operation"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:15] tbsbdr opened #5393 "[a11y] 9.2.4.7 - Current focus position visible"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:16] tbsbdr opened #5394 "[a11y] 9.2.5.3 - Visible labels are part of the accessible name"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:16] tbsbdr opened #5395 "[a11y] 9.3.2.4 - Consistent labelling"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:17] tbsbdr opened #5396 "[a11y] 9.3.3.1 - Error detection"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:19] tbsbdr opened #5397 "[a11y] 9.4.1.2 - Name, role, value available"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-25 20:20] tbsbdr opened #5398 "[a11y] 9.4.1.3 - Status messages programatically available"
- Context: The Web UI should be accessible according to the WCAG2.1 /BITV 2.0 guidelines. The number in the title relates to the test-steps: https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/pruefschritte.html
- "Status" relates to the evaluation scheme https://www.bitvtest.de/bitv_test/das_testverfahren_im_detail/verfahren.html#c1262
- "a11y" is short for accessibility
- -------------

[2021-06-26 20:09] kulmann commented on #5339
Analysis: file extension gets converted to lowercase here: https://github.com/owncloud/web/blob/274ea6b9f3d0068ed3a22ea7d314c08c401b8afa/packages/web-app-files/src/helpers/resources.js#L27 assigned to the resource object here https://github.com/owncloud/web/blob/274ea6b9f3d0068ed3a22ea7d314c08c401b8afa/packages/web-app-files/src/helpers/resources.js#L38 and used like that in the design system here

[2021-06-28 05:10] saw-jan commented on #2443
@pascalwengerter
Is the current behavior the expected one?

[2021-06-28 09:09] saw-jan opened #5405 "[tests-only] Refactor tests step to also check the resource type"
Currently, there is a step `as "Alice" folder "FOLDER" should exist`. Its definition part checks the existence of the given resource but doesn't check its type. This means the following scenarios will also pass (grammatically they should not):
`as "Alice" file "FOLDER" should exist`
`as "Alice" folder "file.txt" should exist`

TODO: Refactor the step definition so that it also checks the resource

[2021-06-28 13:41] wkloucek opened #5407 "White boxes during thumbnail rendering"
### Steps to reproduce
1. run oCIS 1.8.0-RC1
2. create a folder with a bunch of pictures
3. navigate to that folder

### Expected behaviour
Thumbnail placeholder is replaced by the actual thumbnail when available

### Actual behaviour
Thumbnail placeholder is replaced by white box and later replaced by the actual thumbnail.

https://user-images.githubusercontent.com/34452982/123645898-07bbbb80-d82

[2021-06-28 13:43] wkloucek commented on #5407
@fschade looks like some browser behave differently :-/

[2021-06-29 05:05] #5405 closed

[2021-06-29 06:53] labkode commented on #5337
@pascalwengerter I agree, only need to do it on All files. On Shared with me is also debatable, do shares account on your quota?

[2021-06-29 07:49] phil-davis opened #5411 "Undefined steps in acceptance tests should fail CI"
Example: https://drone.owncloud.com/owncloud/web/16897/49/10
[code]

And that pipeline is using this expected-failures file:
[code]

That scenario is listed in expected-failures. So maybe that is OK?

But maybe we should always fail the pipeline when some step(s) are undefined?

[2021-06-29 11:41] SwikritiT commented on #4919
@phil-davis All the fails in this list has been checked and made sure they don't fail anymore. I'm guessing it's safe to close this issue now?

[2021-06-29 11:42] #4919 closed

[2021-06-29 13:47] pascalwengerter commented on #5377
`Login.js` in `idp/` in `oCIS` needs a `{hasError && <Typography id="oc-login-error-message" variant="subtitle2" *component="p"* color="error"`, otherwise the component type gets inherited from somewhere and it ends up being an (incorrect) `<h6>`

[2021-06-29 13:53] #4943 closed

[2021-06-30 03:28] #5356 closed

[2021-06-30 05:14] dpakach commented on #5411
@phil-davis  I think many of the undefined steps comes mostly from suites such as webUITags and webUIAdminSettings. these features are not available in web but the feature files were copied from core when we first constructed tests for web 2 years ago. Maybe we can delete those suites and copy them back when these features are available in web.

[2021-06-30 05:22] saw-jan opened #5417 "Lock information on resources is not present"
### Steps to reproduce
1. user locks a file/folder
2. look for lock information (lock icon, locks section in app sidebar) in the web UI

### Expected behaviour
expect to see lock information like in `oC10`
![lockinfo](https://user-images.githubusercontent.com/52366632/123905941-07d8ca00-d993-11eb-998e-41b9f09c2406.png)

### Actual behaviour
cannot see any information about locked resources in the

[2021-06-30 05:26] phil-davis commented on #5411
Could do so. Or we make "dummy" step definitions just have a call to make the step really fail?

It would be nice if nightwatch can pre-process a scenario, and if any step definition is not found, then fail the scenario without executing any steps. That would avoid wasting time in CI, where it currently executes  various `Given` steps  then fails. That wastes time creating the users/groups and the

[2021-06-30 05:52] saw-jan opened #5418 "Feature to keep both new and existing file"
### Steps to reproduce
1. user uploads file `sample.txt`
2. user again tries to upload same file  `sample.txt`

### Expected behaviour
dialog to keep both new and existing file like in `oC10`
![overwrite](https://user-images.githubusercontent.com/52366632/123908402-28a31e80-d997-11eb-8842-df2921afc088.png)

### Actual behaviour
Cann only create new version of existing file
![newversion](https://us

[2021-06-30 07:42] kulmann commented on #5418
Duplicate of https://github.com/owncloud/web/issues/5106 , closing here. Thanks for the screenshots, I'll add them to the original ticket.

[2021-06-30 07:42] #5418 closed

[2021-06-30 07:43] kulmann commented on #5106
Linking https://github.com/owncloud/web/issues/5418 here for reference
That issue had screenshots, adding them here as well:

### current status in oc10
![123908402-28a31e80-d997-11eb-8842-df2921afc088](https://user-images.githubusercontent.com/3532843/123921682-90ea0400-d987-11eb-8eac-4cac67e096d6.png)

### current status in web
![123908489-4f615500-d997-11eb-98ee-828ab1e03160](https://user-image

[2021-06-30 08:02] saw-jan commented on #5418
I didn't find that one so created the new one.
Thanks

[2021-06-30 08:22] fschade commented on #3757
@LukasHirt is this still aligned and should keep opened? cc: @tbsbdr

[2021-06-30 08:29] #2255 closed

[2021-06-30 09:03] exalate-issue-sync[bot] opened #5419 "Add Files-Search option: "Current folder""
## Acceptance Criteria
- applies to oc10 + ocis
- default: search scope is global (if available)
- Option to select the current folder (without sub-folders) as search-scope. to be strict: this is filtering ;-)
- happens client-side
- when searchfield is not empty: show 2 options below search bar
1. All files (serverside, not avialable on ocis)
2. Current folder (client side / filter)

check github

[2021-06-30 09:04] LukasHirt commented on #3757
@fschade It was a plan since beginning and there haven't been any discussion about not doing this

[2021-06-30 09:56] individual-it opened #5421 "reduce steps run for [unit-tests-only] CI"
when we want to run only unit tests in CI, we don't need to run the cache-ocis step and maybe even others

[2021-06-30 13:50] #3684 closed

[2021-06-30 22:09] dschmidt opened #5427 "[media-viewer] Reloading does not work"
### Steps to reproduce
1. Open an image in the media-viewer
2. Reload the page

### Expected behaviour
The same image that was shown before the reload is shown again

### Actual behaviour
MediaViewer triggers `loadFolder` action which fails because it was removed in https://github.com/owncloud/web/pull/4627, more specifically in https://github.com/owncloud/web/pull/4627/commits/138a492fcce7bee73ab

[2021-06-30 22:46] dschmidt commented on #2585
A lot of development has happened since 2019 - is there a mechanism for this by now?
If not: I see huge refactorings happen, maybe it's now time to sneak it in? ;-)

[2021-07-01 07:20] jasson99 commented on #5411
The following tests have undefined steps:
1. webUIAdminSettings:  [Admin settings feature not implemented yet](https://github.com/owncloud/web/issues/5015)
-   [webUIAdminSettings/adminAppsSettings.feature:11](https://github.com/owncloud/web/blob/master/tests/acceptance/features/webUIAdminSettings/adminAppsSettings.feature#L11)
-   [webUIAdminSettings/adminAppsSettings.feature:17](https://github.c

[2021-07-01 07:32] dschmidt opened #5430 "[media-viewer] Enable swiping through pictures"
### Steps to reproduce
1. Try to swipe through pictures in media-viewer on mobile
2. See it doesn't work, use arrow buttons instead

### Expected behaviour
Swiping through pictures works.

### Actual behaviour
It doesn't.

This used to work in the old media-viewer app in oC 10.

[2021-07-01 07:39] dschmidt opened #5431 "[media-viewer] Scrollbars flicker when going left"
### Steps to reproduce
1. Open an image in a folder with multiple pictures
2. Click `>` button
3. See no vertical or horizontal scrollbars flicker
4. Click `<` button
5. See vertical and horizontal scrollbars show up until the animation is finished

### Expected behaviour
No scrollbars show up

### Actual behaviour
Scrollbars flicker

![Screenshot_20210701_093848](https://user-images.githubusercon

[2021-07-01 07:39] jasson99 commented on #5411
### 6. webUIFileDetails: [Tags page not implemented yet](https://github.com/owncloud/web/issues/5017)
-   [webUIFilesDetails/fileDetails.feature:143](https://github.com/owncloud/web/blob/master/tests/acceptance/features/webUIFilesDetails/fileDetails.feature#L143)

[2021-07-01 07:45] dschmidt opened #5432 "[media-viewer] Controls need scrolling on mobile"
### Steps to reproduce
1. Open an image in media-viewer

### Expected behaviour
Controls fit on the screen

### Actual behaviour
They are slightly to low on the page and hence require scrolling to properly use them.

### Server configuration
**Operating system**: Android

Maybe this happens because of the soft keys I have enabled...

[2021-07-01 07:50] dschmidt commented on #5430
Duplicate of #2053

[2021-07-01 07:50] #5430 closed

[2021-07-01 07:52] jasson99 commented on #5411
### 9. webUISharingAcceptShares:
-   [webUISharingAcceptShares/acceptShares.feature:71](https://github.com/owncloud/web/blob/master/tests/acceptance/features/webUISharingAcceptShares/acceptShares.feature#L71)

### 10. webUISharingAcceptSharesToRoot:
- [webUISharingAcceptSharesToRoot/acceptShares.feature:172](https://github.com/owncloud/web/blob/master/tests/acceptance/features/tests/acceptance/fea