[2021-07-01 07:59] jasson99 commented on #5411
### 11. webUISharingExternalToRoot: Might need to adjust test steps
- [webUISharingExternalToRoot/federationSharing.feature:167](https://github.com/owncloud/web/blob/master/tests/acceptance/features/tests/acceptance/features/webUISharingExternalToRoot/federationSharing.feature#L167)

[2021-07-01 08:34] jasson99 commented on #5411
### 17. webUITags: [Tags page not implemented yet](https://github.com/owncloud/web/issues/5017)
-   [webUITags/createTags.feature:16](https://github.com/owncloud/web/blob/master/tests/acceptance/features/webUITags/createTags.feature#L16)
-   [webUITags/createTags.feature:26](https://github.com/owncloud/web/blob/master/tests/acceptance/features/webUITags/createTags.feature#L26)
-   [webUITags/creat

[2021-07-01 08:58] LukasHirt commented on #5427
It should be a no-brainer, I can take care of it

[2021-07-01 10:58] kiranparajuli589 opened #5435 "delete pending share option is not available for sharee"
## Describe the bug

Using with `ocis` backend with either storage driver, deleting a pending share option for share is not available

## Steps to reproduce

Steps to reproduce the behavior:

1. create two users `uu1` and `uu2`
2. upload a file `lorem.txt` using user `uu1`
3. share file `lorem.txt` with user `uu2` using user `uu1`
4. login with `uu2`
5. browse to `shared-with-me` page
6. open acti

[2021-07-01 12:19] kulmann commented on #2585
It's currently planned `soonish` ™️ in the web roadmap to have a grid view and even an extension point for providing other file view modes as web extensions (not planning to use web components though). Stories don't exist yet, as that will not be part of the next two sprints. Will update here (and then close this issue) when we're further in the planning process.

[2021-07-01 16:50] pascalwengerter commented on #5421
Thanks, good idea. `website` and `changelog` are also not applicable from my POV

[2021-07-01 19:01] kulmann commented on #5435
Honestly, on the `shared-with-me` page I would not expect any `Delete` button, because I'm looking at shares. I would expect `Accept share` and `Decline share` buttons only. This PR https://github.com/owncloud/web/pull/5374 modifies the behaviour so that the shared with me page only shows a `Decline share` button in the right sidebar, not a `Delete` button anymore.

[2021-07-01 19:06] kulmann opened #5437 "`View` button is left aligned in most views"
### Steps to reproduce
1. Visit one of the following pages:
  - Favorites
  - Shared with me
  - Shared with others
  - Shared via link

### Expected behaviour
The `View` button should be aligned to the right side of the screen, so that it's consistent with the other views (All files, Deleted files).

### Actual behaviour
The `View` button is aligned to the left side of the screen (see Screenshot)

[2021-07-02 05:08] individual-it opened #5438 "issue creating user during test runs"
in CI the test `webUIRestrictSharing/restrictSharing.feature:49` sometimes fail while creating a user with `Error: HTTP Request Failed: Failed while creating user, Status: 400 undefined`

examples:
- https://drone.owncloud.com/owncloud/web/16949/47/1
- https://drone.owncloud.com/owncloud/web/16880/47/1
- https://drone.owncloud.com/owncloud/web/16967/47/1

This actually might be a bug in ocis simil

[2021-07-02 06:14] individual-it opened #5439 "deleteFilesFolders.feature:59 test flaky"
the test in `webUIDeleteFilesFolders/deleteFilesFolders.feature:59` (batch deleting multiple files) fails sometimes with `data.zip` still being present in the UI
There is a check that the file is gone from the server before the check that its gone from the UI and strangely the server replies with 500 `7:27:17 AM - SEVERE - http://owncloud/remote.php/webdav/data.zip - Failed to load resource: the s

[2021-07-02 10:36] pascalwengerter opened #5440 "Update social preview image"
### Expected behaviour
As someone sharing the link to this repo on socials, I'd expect the preview image to be up to date

### Actual behaviour
Preview image still contains the old project name "Phoenix"

<img width="325" alt="Screenshot 2021-07-02 at 11 34 37" src="https://user-images.githubusercontent.com/16822008/124262156-98e1a980-db29-11eb-8bdc-d936febbd8d5.png">

Can easily be done by a repo

[2021-07-02 11:29] #2513 closed

[2021-07-02 11:29] #3101 closed

[2021-07-02 11:29] #5204 closed

[2021-07-02 11:29] #5435 closed

[2021-07-02 11:52] ChrisEdS commented on #5440
Also the color is the old one. New color code is #041e42.

[2021-07-02 12:19] kulmann commented on #5440
Update to
<img width="1280" alt="Web App" src="https://user-images.githubusercontent.com/3532843/124273493-5d060e80-db40-11eb-893c-1eae6717ccae.png">

Please close this issue if you think this solves our needs @pascalwengerter

[2021-07-02 12:22] kulmann commented on #4946
For the record, there is an API issue in ocis when declining a previously accepted share https://github.com/owncloud/ocis/issues/2128

[2021-07-05 12:16] kiranparajuli589 commented on #4167
### `Update`: at the date of the comment
- for user shares: indicators work properly (also with subfolders and files)
- for link shares:
    - just after submitting the creation form and the sidebar is not closed, the shared resource shows the link indicator
    - after the sidebar is closed the indicator is completely gone. it does not reappear after reload or anything.
    - subfolders and files

[2021-07-05 12:26] kiranparajuli589 commented on #4167
related https://github.com/owncloud/ocis/issues/1038

[2021-07-06 03:17] rpocklin opened #5451 "Permissions: Web UI does not properly check for Download permission for files"
Permission Issue - there is a missing check for the 'D' on files to validate whether the Download option is shown in the File Sidebar.

### Steps to reproduce
1.  Remove the ability for a user to download a file `extendedAttributes.push({ scope: 'permissions', key: 'download', enabled: false })`
2. Using a new browser window, go to the Web UI and login as the user you modified.
2.  Navigate to a f

[2021-07-06 03:30] rpocklin opened #5452 "Permissions: Web UI does not properly check for Copy permission for files"
Permission Issue - there is a missing check for the ability to **create** on the parent folder to enable the Copy option being shown in the File Sidebar.

### Steps to reproduce
1.  Remove the ability for a user to create files in a folder.
2. Using a new browser window, go to the Web UI and login as the user you modified.
2.  Navigate to a file which the user could previously create new files.
3.

[2021-07-06 04:12] individual-it commented on #5127
As discussion progressed in the last weeks. I would suggest first to invest more into unit tests and see if we can cut down on acceptance tests, then we can think about coming back to this

[2021-07-06 04:12] #5127 closed

[2021-07-06 05:36] kiranparajuli589 opened #5458 "different button to unshare self from a shared resource in ocis-web and oc10-web"
## Describe the bug

Comparing `oc10-web` and `ocis-web` frontend, there are different buttons to unshare (me) from the shared resource.

## Steps to reproduce

Steps to reproduce the behavior:

1. create two users `uu1` and `uu2`
2. create a new folder `simple` using user `uu1`
3. share folder `simple` with user `uu2`
4. as user `uu2` accept the incoming share from `uu1` for folder `simple`
5. lo

[2021-07-06 07:19] saw-jan opened #5453 "webUITrashbinDelete/trashbinDelete.feature:112 test is flaky"
test: `webUITrashbinDelete/trashbinDelete.feature:112`
scenario: `Delete single file from deleted files list`

CI log https://drone.owncloud.com/owncloud/web/16985/60/9
(including the CI log as older CI logs will be archived)
[code]
Possible cause: files are not visible in the files-list at the time when the test step tries to get the file

[2021-07-06 07:26] saw-jan opened #5454 "webUIPreview/imageMediaViewer.feature:35 test is flaky"
test: `webUIPreview/imageMediaViewer.feature:35`
scenario: `image preview in public share`

CI log https://drone.owncloud.com/owncloud/web/16985/6/14
(including the CI log as older CI logs will be archived)
[code]
Possible cause: files are not visible at the time when the test step tries to get the file

[2021-07-06 07:30] saw-jan opened #5455 "webUISharingInternalUsers/shareWithUsers.feature:78 test is flaky"
test: `webUISharingInternalUsers/shareWithUsers.feature:78`
scenario: `share a folder with another internal user who uploads, overwrites and deletes files`

CI log https://drone.owncloud.com/owncloud/web/17015/52/9
(including the CI log as older CI logs will be archived)
[code]
Possible cause: files are not visible at the time when the test step tries to get the file

[2021-07-06 07:33] saw-jan opened #5456 "webUIMarkdownEditor/markdownFile.feature:26 test is flaky"
test: `webUIMarkdownEditor/markdownFile.feature:26`
scenario: `append new content in a markdown file`

CI log https://drone.owncloud.com/owncloud/web/17015/10/14
(including the CI log as older CI logs will be archived)
[code]
Possible cause: TBD

[2021-07-06 07:38] saw-jan opened #5457 "webUISharingAcceptShares/acceptShares.feature:100 test is flaky"
test: `webUISharingAcceptShares/acceptShares.feature:100`
scenario: `decline an offered (pending) share`

CI log https://drone.owncloud.com/owncloud/web/17049/9/14
(including the CI log as older CI logs will be archived)
[code]
Possible cause: TBD

[2021-07-06 07:55] kulmann commented on #5458
`Decline share` is the new behaviour, which is not officially released, yet. Once it's released in `web` we will update it in `ocis`.

[2021-07-06 07:55] #5458 closed

[2021-07-06 09:50] diocas opened #5460 "Allow extensions to inject views in files app"
As we discussed before, this feature would allow extensions to hook into the files app in order to add extra buttons in the sidebar menu. These buttons would route to provided views, thus extending the normal files app with extra functionality.

Example, in our case we will create an extension to list our EOS Projects (while we wait for the spaces functionality).

@kulmann feel free to improve the

[2021-07-07 04:17] kiranparajuli589 opened #5461 "[ocis] no checkbox for share while using advanced permissions as role"
### Steps to reproduce
1. create a user `uu1`
2. create a folder `simple` using user `uu1`
3. login as user `uu1
4. open actions sidebar for folder `simple
5. expand `People` dropdown
6. select `advanced permissions` for the role field

### Expected behavior
share checkbox should be visible

### Actual behavior
share checkbox is not available
![Screenshot from 2021-07-07 09-56-11](https://user-ima

[2021-07-07 05:05] kiranparajuli589 opened #5462 "[ocis] share recipient doesn't see resharer in collaborators list"
### Steps to reproduce
1. create users `uu1`, `uu2`, `uu3`, `uu4`
2. create a group `grp1`
3. add user `uu4` to grp `grp1`
2. create a folder `simple` using user `uu2`
3. share folder `simple` with `uu1` using `uu2`
4. accept the incoming share for folder `simple` using `uu1`
5. share folder `simple` with `uu3` using `uu2`
4. accept the incoming share for folder `simple` using `uu3`
5. share `Shar

[2021-07-07 06:56] individual-it opened #5464 "browsing directly to a details 'tab' is not possible"
in oC10 UI a file can be selected and a specific details tab can be opened by providing an detailed URL. e.g. `localhost/owncloud-core/index.php/apps/files/?dir=/&fileid=2147484025&details=shareTabView` will open the sharing tab of the file with the id `2147484025`

Is a similar feature planned for web? We have those tests currently skipped in web, so if this feature is planned we should run those

[2021-07-07 07:17] kulmann commented on #5464
Yes, IMO a feature worth having. Please add to expected failures. 👍
cc @tbsbdr for the links concepting

[2021-07-07 10:24] pascalwengerter commented on #4564
For future reference: We ran into a similar issue too today in the acceptance tests, getting a basic auth popup visible in the VNC client. Here's what happened:

We had a chained method on an unresolved promise
which somehow results in the user getting logged out on the backend
which results in the backend asking for authentication (which is the popup shown here)

[2021-07-07 11:04] pascalwengerter opened #5466 "Improvements for details in Files Sidebar"
### Expected behaviour
Show more information in the files sidebar details accordion
- [x] If current user is not fileowner show additional info property behind username
- [X] ~Hide size in trashbinroute (returns `?`, at least in oCIS)~ => just hide the row if size evaluates to `?`
- [X] Add "no content" message if details would be empty
- [x] Differentiate `file` and `folder` in text about sharing

[2021-07-07 11:41] saw-jan opened #5467 "No batch action buttons in favorites page"
### Description
From (including) commit id `e8eef030324fc40ed7660b9ba5388e5d172c5852`, batch action buttons do not appear in favorites page whenever the file is selected.
(Also you can see some options are missing in sidebar's actions menu)

This is a merge commit which links to PR https://github.com/owncloud/web/pull/5340

### Steps to reproduce
1. as admin, create folder `COOL`
2. mark folder `C

[2021-07-07 13:21] phil-davis commented on #5015
@kulmann (or anyone) OCIS has an accounts and a settings UI for doing these things, if an admin wants to use a UI.

The oC10 "traditional" web UI has the user/group management UI and various settings UI pages.

But from the new "web" when used with oC10 backend, these "admin UI" things are not available.

Will these be provided in the new "web" "some day"?
Or do admins of oC10 keep using the "trad

[2021-07-07 14:13] #5161 closed

[2021-07-07 14:30] fschade opened #5471 "Unify test locations"
As [discussed](https://github.com/owncloud/web/discussions/5425) we decided to use `test` as the default tests location.
We now need to unify all tests to this location and adjust the jest config.

## tasks:
- [x] move all *.spec.ts, *.spec.js, or other test related files into `packages/{{app-name}}/tests/unit` or `packages/{{app-name}}/tests/integration` folder
- [x] check jest config

[2021-07-07 17:01] fschade opened #5472 "share file that has versions"
sharing a file that has multiple version seems to be broken.

## steps to reproduce
- upload a file
- upload the same file again an confirm the "create version" dialogue
- then try to share the file with another user

the collaborator dropdown shows for a few moments and then disappears right after.
It only happens in ocis, not oc10

[2021-07-07 20:47] kulmann commented on #5472
Doesn't happen in oCIS either. What you describe happens when you enter a username of a user who already received a share for the same file. Was trying to find a similar issue now in this repo, but couldn't find one... :-/

[2021-07-07 21:21] kulmann commented on #5015
It is not planned at the moment that ownCloud Web will have the admin settings from the classic UI. The only thing we support at the moment is that an admin can set up a custom link in the user menu for going directly into the settings page of the classic UI.

[2021-07-07 21:55] #5440 closed

[2021-07-08 03:01] phil-davis commented on #5015
OK - the "pending likely test scenarios" have been removed in PR #5469

The link to the settings page of the classic UI will be a different test that can be written when the feature is being implemented.

[2021-07-08 03:01] #5015 closed

[2021-07-08 04:11] individual-it commented on #5467
@kulmann @fschade is this change intended?

[2021-07-08 04:34] individual-it commented on #5471
fix in #5412

[2021-07-08 08:11] dpakach commented on #5372
@phil-davis this is not really a bug but rather a side effect of https://github.com/owncloud/web/issues/1725

[2021-07-08 13:38] pascalwengerter opened #5486 "Release v.3.4.0"
## Release checklist
- [x] Wait for CI run on #5470 and merge if possible
- [x] create a branch `release-3.4.0` @kulmann
- [x] prepare release rc:
  - [x] update the version to `3.4.0` in `packages/web-integration-oc10/appinfo/info.xml`
  - [x] update the version to `3.4.0` in `package.json`
  - [x] update the version to `3.4.0` in `sonar-project.properties`
  - [x] move changelog/unreleased/* to

[2021-07-08 14:31] pascalwengerter opened #5487 "`calculate-diff` blows up CI time"
### Steps to reproduce
Check CI on drone.owncloud.com for the web project and see the following

<img width="348" alt="Screenshot 2021-07-08 at 15 29 24" src="https://user-images.githubusercontent.com/16822008/124940008-81ab2c00-e001-11eb-91aa-82f3efbe6f73.png">

### Expected behaviour
`calculate-diff` should run once within the unit tests step and then determine whether the acceptance tests shoul

[2021-07-08 15:13] #5372 closed

[2021-07-08 21:49] #5471 closed

[2021-07-08 22:08] #5312 closed

[2021-07-08 22:32] kulmann commented on #5467
Not intended. Needs investigation

[2021-07-08 22:40] kulmann opened #5489 "View options closing right sidebar"
### Steps to reproduce
1. Open the right sidebar for any file/folder
2. Click on `View` options menu

### Expected behaviour
The view options dropdown menu appears without any other visual changes

### Actual behaviour
The right sidebar closes, because this is counted as an `outside click` (see directive).

### Screenshot
<img width="2593" alt="Screenshot 2021-07-09 at 00 37 43" src="https://user-

[2021-07-08 22:51] kulmann opened #5490 "Uploaded files sorted to the end of the table"
### Steps to reproduce
1. Create a folder `xyz`
2. Upload a file `a.png`

### Expected behaviour
File list updates itself showing `a.png` first and `xyz` second.

### Actual behaviour
`a.png` just gets appended to the end of the list.

[2021-07-08 22:55] kulmann commented on #5486
## Smoke test rc3 standalone against oc10

- :heavy_check_mark: as gunter - upload arch/mips folder from linux kernel (1945 files)
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as gunter - share the folder to alice as viewer
- :heavy_check_mark: as alice - share is already accepted. declining and accepting

[2021-07-09 02:04] jnweiger opened #5491 "[QA] applications[].url is documented inconsistently http:// and https://"
Seen in  https://owncloud.dev/clients/web/deployments/oc10-app/#configure-owncloud-web while testing oc10.8.0 beta2
[code]

The two URLs differ in their schema.

Expected behaviour: Document the reason, why they have to differ, or make them equal (suggest all https://)

[2021-07-09 04:31] #5438 closed

[2021-07-09 04:47] phil-davis commented on #5487
In all the recent drone builds that I have "randomly" looked at, that step takes less than 10 seconds.
drone agents got very slow at pulling docker images and dependencies yesterday. I suspect that 24:50 of the time was "hanging" until the docker image came.

 @pascalwengerter can you give a link to the build?

[2021-07-09 04:52] phil-davis commented on #5487
Note: in order to decide what tests should or should not be executed, based on the files changed in the PR, we have to be able to access the changes. We have not found a way to do that on the drone server on-the-fly when the starlark code is being execute (which generates the pipelines). We first get "real file access" to the git repo and branch when a pipeline starts. So we were forced to let all

[2021-07-09 06:33] dpakach commented on #5439
This error happens because the file is locked in the server when it is trying to delete

It gives http 500 error with following body
[code]

the logs in the server give this

[code]

[2021-07-09 07:12] individual-it commented on #5439
Then it looks like (again) an issue with locking on the server. Are there any other actions pending in the UI tests that we have to wait for to be finished e.g. thumbnail downloads or is the server locking the file for some other reason? If so, we have to move the issue to core repo and think how to make the tests be still stable

[2021-07-09 07:31] jasson99 commented on #5411
The tests related to `AdminSettings`, `comments`, and `tags` have been removed now. This is moved to backlog now, as we have planned to make some changes in nightwatch(if possible) such that the tests are parsed before they are run and whenever there is not stepdefinition, the tests fail early.

[2021-07-09 07:52] JanAckermann commented on #5491
@mmattel FYI

[2021-07-09 08:50] dpakach commented on #5439
@individual-it it fails even when previews are disabled and I cant find any other tasks pending

[2021-07-09 09:01] individual-it commented on #5439
maybe it would be best to leave this issue here, so that we can use it to work around the core-bug and create a new one in core repo (if there is no one yet that covers it)

CC @micbar

[2021-07-09 09:02] LukasHirt commented on #5489
@tbsbdr current behaviour is closing the sidebar if user clicks anywhere outside of it. TBH it feels strange. It's no dropdown or overlay but actually becomes a "part" of the content if it's opened as it even squashes the files list. If it is closed if I click anywhere else, it just feels broken to me.

What would you say about removing this behaviour? If we anyway go with permanently visible side

[2021-07-09 09:48] pascalwengerter commented on #5486
## Smoke test rc3 against oCIS

- :heavy_check_mark: as einstein - upload 2.092 files
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as einstein - share the folder to admin as viewer
- :heavy_check_mark: as admin - accept share
- :heavy_check_mark: as admin - try do delete file from shared folder
- :heavy_c

[2021-07-09 10:29] pascalwengerter commented on #2443
No, should upload the folder including files & subfolders the way they were structured before

[2021-07-09 10:43] jnweiger commented on #3272
Can we add a mouse over to the "Expires in 14 Days message" that has the exact date, including timestamp and timezone?
That way it look clean, but the exact information is also available. (Maybe rounding issues become less important then)

Idea stolen from github:
![image](https://user-images.githubusercontent.com/1108546/125066250-0f931f80-e0b3-11eb-8017-992e8efa89ca.png)

[2021-07-09 10:55] exalate-issue-sync[bot] opened #5497 "Click behaviour in files list"
(see onedive / screenrecording to get the intended experience)
## AC:
- **checkbox** click on "row-whitespace" checks its checkbox and changes the path in the address bar (see "relates to"). other than now, click on the row does not open the sidebar automatically any more.
- **conditional sidebar trigger**  If sidebar is visible: click on file/folder shows File/Folder details in sidebar. If sideba

[2021-07-09 10:57] jnweiger opened #5498 "[QA] Ldap users are duplicated in the "Add People" dropdown"
Seen in web-3.3.1 running on core 10.8.0-beta2

* Create "User Local" in owncloud.
* Create "User One" and "User Two" via LDAP
* Type in a search prefix that matches all three E.g. `User `
* Each ldap user is show twice, the local user is only shown once.
![image](https://user-images.githubusercontent.com/1108546/125067914-26d30c80-e0b5-11eb-8c44-8e6eb585aa25.png)

[2021-07-09 11:04] jnweiger opened #5499 "[QA] User search never reports more than 200 matches"
Seen in web-3.3.1 running on core 10.8.0-beta2

* Provision 1000 users, e.g. via ldap.
* Type a search that matches many. In my case, `hundred and` would match ca 900 users.
* The dropdown shows 5 and 195 more. BAD. The number is too low.
* After clicking open the "195 more" buttin, there is no additional "... more" button. BAD.

![image](https://user-images.githubusercontent.com/1108546/125068741

[2021-07-09 11:09] kulmann opened #5500 "Drone doesn't run the full ci on tags"
Creating a tag in web doesn't result in a full ci run in drone, see e.g. here https://drone.owncloud.com/owncloud/web/17240

Tags have a hard requirement to run the full ci, because we want to release with confidence.

[2021-07-09 11:14] #5486 closed

[2021-07-09 11:25] phil-davis commented on #5500
IMO it was accidentally broken by the change that analyses "unit-tests-only". That code "sees" that there were no diffs at all between the tag and master (they are the same!), and so it deduces that "only unit tests changed", and so there is no need to run acceptance tests - actually nothing at all changed!

[2021-07-09 11:53] tbsbdr commented on #5489
fully agree. clicking outside should just deselect the item(s)
issue should be addressed by https://github.com/owncloud/web/issues/5497

since the issue is just "strange" but doesn't prevent users from doing their task, i would suggest to postpone fixing the bug until we have the show-sidebar switch. what do you think?

[2021-07-09 12:30] LukasHirt commented on #5489
@tbsbdr I agree that it should be mainly taken care of in issues you mentioned. There's still the bug that clicking the view options closes it and then the position of the dropdown is wrong (as seen on the screenshot). Would "not deselecting and closing the sidebar" be okay until the new behaviour is implemented?

[2021-07-09 13:27] #5500 closed

[2021-07-09 14:07] fschade opened #5503 "Include more Badges to Readme"
Inspired by OCIS it would be nice to showoff some more badges in Readme.

https://github.com/owncloud/ocis
- [sonarcloud dashboard](https://sonarcloud.io/dashboard?id=owncloud_ocis)
- [drone](https://drone.owncloud.com/owncloud/web/)
- [Rocketchat](https://talk.owncloud.com/channel/web)
- Dockerhub

[2021-07-09 15:29] #5503 closed

[2021-07-11 15:31] micbar commented on #5498
@pmaier1 @tbsbdr @hodyroff At the moment, the only possible qa-blocker.

[2021-07-11 15:33] micbar commented on #5491
this is devdocs -> web team

@LukasHirt @pascalwengerter Let us use both times `https`

[2021-07-11 17:29] fschade commented on #5498
@jnweiger tried to reproduce. The case seems not to happen in my local setup (user9999 is my local user).
Could you check your ldap if the user is there  twice?

Stack:
- openLDAP 2
- [ownCloud 10.8.0-beta2](https://hub.docker.com/layers/owncloud/server/10.8.0-beta2/images/sha256-71985aee51389be340818bc6c4eb39451d8e8faecbbd0e996278d093006be3f6?context=explore)
- [web v3.4.0] (https://github.com/ow

[2021-07-11 18:05] fschade commented on #5499
we use [owncloud-sdk](https://github.com/owncloud/owncloud-sdk) to obtain the users. The default settings for users [perPage](https://github.com/owncloud/owncloud-sdk/blob/5efc4310ba2ce24e228662b342b2a2cb472b8aa7/src/shareManagement.js#L399) is set to 200.

the issue is fixed in [5506](https://github.com/owncloud/web/pull/5506) by adding a configuration option how many users should be listed.

thi

[2021-07-12 03:39] dpakach commented on #2805
@individual-it I've removed the code to do the wait and add a simple 1 second wait for every upload/delete in https://github.com/owncloud/web/pull/5494
Do you think it's better that way as stated in this issue? otherwise  we can close this issue.

[2021-07-12 07:00] individual-it commented on #2805
Is this code used in every single upload? e.g. we are not using the skeleton folder much anymore, but uploading the files in `Given` steps. It would be a shame if every of those steps would take 1sec

[2021-07-12 07:21] micbar commented on #5417
fixed by https://github.com/owncloud/ocis/pull/2280

[2021-07-12 07:35] fschade commented on #5460
@diocas thank you for the request, we are currently defining how the api for such a feature could look like. We did something like that by using portals but not sure if this is a good fit in your case.

You have any idea or input how such a api could look like from the perspective of a extension developer?

[2021-07-12 07:37] fschade commented on #5407
@wkloucek thanks, good catch. I take care

[2021-07-12 07:42] jnweiger commented on #5498
This was due to duplicate imports from my LDAP server. I'll investigate there, should not have happened, but I already have an idea, what might have caused it.
The test system also sees duplicate entries in the admin overview and in sharing dialogs with the classic web UI.

Sorry for the noise.
Closed invalid.

[2021-07-12 07:42] #5498 closed

[2021-07-12 08:11] pascalwengerter commented on #5085
@labkode could you check if this is still the case? Should have been fixed by our recent changes

[2021-07-12 08:16] jnweiger commented on #5499
IMO an acceptable fix would be to show the correct count of search results instead of "195 more results" -- pagination would be awesome there, but even if we can technically only show the first xxx results, informing the user of the actual number is helpful.

[2021-07-12 08:21] pascalwengerter commented on #5417
@micbar you mean the capability is now part of oCIS, right? AFAIK we're not displaying locked state (or the interaction to lock a file/folder) in `web` even if OC10 is able to. Might be worth to add this soon now that both backends support it

[2021-07-12 08:34] #5437 closed

[2021-07-12 08:48] micbar commented on #5417
interesting. The CI just "passes" now after a reva update.

[2021-07-12 10:45] dpakach commented on #2805
@individual-it In that case, the existing solution is fine. I'll close the PR and this issue too.

[2021-07-12 10:45] #2805 closed

[2021-07-12 13:35] micbar commented on #5106
fixed by https://github.com/owncloud/ocis/pull/2280

[2021-07-12 14:55] fschade opened #5513 "Release v3.4.1"
Bugfix Release v3.4.1 contains
- https://github.com/owncloud/web/pull/5501
- https://github.com/owncloud/web/pull/5493

[2021-07-12 15:49] #5513 closed

[2021-07-12 16:14] diocas commented on #5460
@elizavetaRa do you have suggestions?

[2021-07-13 04:42] sakshamgurung opened #5518 "[QA] Cannot create folder with .part in the folder name"
### Steps to reproduce
1. User creates a folder `test.part`

### Expected behaviour
- The folder `test.part` should be created.

### Actual behaviour
Tell us what happens instead
- The folder `test.part` is not created and the create folder dialog box neither closes nor shows any warning and the create button is disabled.

![oc10-actual](https://user-images.githubusercontent.com/41365307/125391465

[2021-07-13 04:52] phil-davis commented on #5518
Note: `.part` files are forbidden in oC10. They are used as temp files in chunked uploads.
![Screenshot from 2021-07-13 10-34-46](https://user-images.githubusercontent.com/1535615/125392600-2a70d700-e3c6-11eb-8838-7f43ac39ccd2.png)

The traditional web UI is aware of forbidden file type/extensions. `owncloud/web` needs to also be aware of these.

[2021-07-13 06:13] #5491 closed

[2021-07-13 06:29] fschade commented on #4977
@saw-jan any progress on this?

[2021-07-13 06:31] fschade commented on #5272
@m0nhawk can you provide the information requested above?

[2021-07-13 07:31] kulmann commented on #5106
This issue is about a UX change for uploading a file that already exists. Not fixable by any backend change. ;-)

[2021-07-13 08:24] micbar commented on #5417
was a false positive in the CI

[2021-07-13 10:27] micbar commented on #5106
Again 🙈 This issue is linked in a now passing test scenario. Weird

[2021-07-13 11:38] wkloucek commented on #5324
@kulmann I reproduced this with oCIS 1.9.0-RC1 / Web 3.4.1

https://user-images.githubusercontent.com/34452982/125445424-f26e64ae-b32c-4785-8b20-8471eebb9b6a.mp4

[2021-07-14 07:17] exalate-issue-sync[bot] opened #5523 "Right sidebar: navigation concept"
## Userstory

Figma: https://www.figma.com/proto/kFUQ3hH2Fgb1WozhfR3Mpx/Right-sidebar-Navigation-Concept?node-id=54%3A8&scaling=contain&page-id=0%3A1&starting-point-node-id=54%3A8

## Acceptance Criteria:
- [X] no accordions any more
- [X] Initial view: Details and headers of subsections (actions, sharing, versions)
- [X] on click: replace right sidebar content with panel of subsection (c.f. ios s

[2021-07-14 08:05] rpocklin commented on #5523
I don't think the mobile-style page overlay works well here, feels wrong on a web interface, esp. the navigation back to the main part - I think originally this had a few tabs up the top which worked well.  The problem with accordion is that the current expanded one is not at the top, so you may have to scroll up or down to access it which is annoying on small screens.

[2021-07-14 14:03] tbsbdr commented on #5523
Hey Patrick, thanks again for your feedback!

yep, fully agree.

regarding the tabs: I would have sticked to the tabs as they are a well known pattern, but if I want to have the tab-titles visible, they limit us to a certain width / number of tabs (I guess thats why you said "few tabs"). thats why we are looking for another solution.

[2021-07-15 04:29] dpakach commented on #5454
The browser logs give
[code]
also in the server logs it gives
[code]
seems like a problem on the server to me. But I could not reproduce it locally even running tests multiple times on loop.

[2021-07-15 04:31] saw-jan commented on #4977
@fschade there are still some tests tagged with `@skip` I need to look at those and then may be we can close this issue after they have been resolved.

[2021-07-15 05:20] dpakach commented on #5457
line number changed to webUISharingAcceptShares/acceptShares.feature:93

[2021-07-15 06:18] dpakach commented on #5457
I could not reproduce it so I'm closing this for now we will revisit this if this starts happening again.

[2021-07-15 06:18] #5457 closed

[2021-07-15 08:12] dpakach commented on #5454
could not reproduce it running on loop in CI so closing it for now
https://drone.owncloud.com/owncloud/web/17430/6/15

[2021-07-15 08:12] #5454 closed

[2021-07-15 09:58] wkloucek opened #5530 "create file with file handler does not refresh the files list"
### Steps to reproduce
1. use oCIS with WOPI extension (eg. https://ocis.ocis-wopi.latest.owncloud.works/#/login or locally https://owncloud.dev/ocis/deployment/ocis_wopi)
2. create a new file with the file creation action of oCIS WOPI server
3. the file will open in Collabora
4. close Collabora / go back to oCIS
5. the file view is empty
6. refresh the page
7. the file you created before is there

[2021-07-15 11:28] saw-jan opened #5531 "[oCIS] Received share cannot be deleted/unshared if not shared with full permissions"
### Steps to reproduce
(using web with oCIS server)
1. as admin, create folder `FOLDER` and share it with user `moss` with `Viewer` role
2. as moss, accept share shared by admin
3. as moss, open `Shares` folder and try to delete the folder `FOLDER`

### Expected behaviour
expected to see delete operation

### Actual behaviour
shared file/folder cannot be deleted if not shared with all permissions

[2021-07-15 11:47] saw-jan opened #5532 "[oCIS] Deleting accepted share doesn't change share status from Accepted to Declined"
### Steps to reproduce
(using web with oCIS server)
1. as admin, create folder `FOLDER` and share it with user `moss` with all permissions (look #5531)
2. as moss, accept the share from `share-with-me` page
3. as moss, open Shares folder and delete folder `FOLDER`
4. as moss, navigate to  `share-with-me` page (The share status is still `Accepted`)

### Expected behaviour
expected to see `Declined`

[2021-07-15 12:30] jnweiger opened #5533 "[QA] private link to folder opens parent folder"
Seen in oc 10.8.0-beta2 with web-3.3.1

* User admin creates a private link on folder beta2adminphotos
![image](https://user-images.githubusercontent.com/1108546/125788245-f31b0265-afa7-4a3c-af1e-24757d59c624.png)

* Paste the link into a fresh browser session
* authorize user admin
* the new Web UI opens the parent folder, highighting `beta2adminphotos` and its sidebar open.
![image](https://user

[2021-07-16 06:14] #5455 closed

[2021-07-16 10:39] pascalwengerter commented on #5337
Sorry @labkode that took a bit longer on my side. From what I gathered shares don't account on your quota, and since the quota isn't even displayed anywhere / not relevant _for now_ I removed it where I could. We will have to come back to that topic once spaces get implemented since quotas _for spaces_ will become relevant then, but that's a topic for another day ;)

[2021-07-16 12:27] #4648 closed

[2021-07-16 13:11] #5337 closed

[2021-07-16 13:14] pascalwengerter commented on #5083
@ishank011 any update on this? :)

[2021-07-16 13:15] #4977 closed

[2021-07-16 13:36] paulcod3 commented on #5299
OC10 issue, since oCIS doesn't allow resharing yet.

[2021-07-16 13:43] paulcod3 commented on #5431
Two of us couldn't reproduce the issue: So some questions:
Whats browser did you use?
What operating system?
What was the Viewport size?
Thx

[2021-07-16 16:29] dschmidt commented on #5431
Thanks for looking into it already!  <3

Version 91.0.4472.114 (openSUSE Build) (64-bit)

Well, openSUSE Linux ;-)

[code]

Happy to do a live debugging session with screen sharing if it's of any use, just chat me up on rocketchat :)

[2021-07-16 16:30] dschmidt commented on #5431
fwiw I seem to be able to reproduce with any thinkable view port size, very small or very large, anything in the middle I cannot not reproduce it 😅

[2021-07-19 08:00] kulmann opened #5543 "Beta testing for oc10 onlyoffice connector app"
Onlyoffice will deliver an ownCloud Web extension in the next version of the connector oc10 app: https://github.com/ONLYOFFICE/onlyoffice-owncloud/compare/feature/oc-web

Needs some early testing from us.

[2021-07-19 11:17] phil-davis opened #5545 "UI test steps "in the webUI""
Most of the acceptance test steps use "on the webUI" for when the user does something, or something exists "on the webUI"

In core we exclusively use "on the webUI" rather than "in the webUI" for consistency.

Most of the web acceptance test steps use "on the webUI" for when the user does something, or something exists "on the webUI". But there are about 15 steps that use "in the webUI".

Refactor

[2021-07-19 11:59] saw-jan commented on #5545
It would be good to have consistent test steps

[2021-07-19 12:33] #5077 closed

[2021-07-19 12:52] tbsbdr commented on #5533
nope, if you share a folder, the receiver should view the contents of the folder.
why? Because most of the systems (I know) do it this way (dracoon, Google Drive, onedrive, dropbox, box, egnyte)

[2021-07-19 13:13] tbsbdr commented on #5523
I would have said: yes, no icons, because it looks cleaner to me. but as most of the web team like the icon: lets keep the icons.

[2021-07-19 16:36] #5545 closed

[2021-07-21 08:46] jasson99 commented on #5453
I could not reproduce it, locally as well as in CI. We can re-open it if we encounter this again. Closing this issue for now.

[2021-07-21 08:46] #5453 closed

[2021-07-22 09:20] pascalwengerter commented on #5160
I went for the other way around - have the context menu / three-dot dropdown menu implemented and fill it with the actions from the sidebar's action panel first, then in a second step get funky with clustering actions and, as an example, add another `oc-drop` for cases like `Select action ...` where the user gets more choices

[2021-07-22 09:27] pascalwengerter commented on #4085
Can't reproduce anymore

[2021-07-22 09:27] #4085 closed

[2021-07-22 11:23] jnweiger opened #5560 "[QA] enabling the new web UI is overly complex"
Seen with https://github.com/owncloud/web/releases/download/v3.4.1/web-3.4.1.tar.gz

The steps to get the web UI up and running are described in
* https://owncloud.dev/clients/web/deployments/oc10-app/#configure-owncloud-10
* we link to that calling it "easily"
![image](https://user-images.githubusercontent.com/1108546/126630860-7359f13e-4321-47d4-90a9-360f751d8dcd.png)

The linked instructions co

[2021-07-22 11:26] kulmann opened #5561 "Disabling search shifts topbar layout"
### Steps to reproduce
1. Look at `All files` page with enabled searchbar (currently only possible in oc10)
2. Then...
  a. Disable search by setting `options.hideSearchBar` to `true` in `config.json` OR
  b. Browse to a page that doesn't have a search, e.g. personal menu -> `Account`

### Expected behaviour
The remaining content of the topbar should not shift to the left / remain in unchanged pos

[2021-07-22 12:21] wkloucek opened #5562 "behavioral difference for sub-shares to classic frontend"
### Description
On a oC10 backend there is a behavioral difference between the classic frontend and ownCloud Web when browsing on Sub-Shares.

### Steps to reproduce
1. Einstein shares Marie a folder "Root-Share" with read only permissions
2. Einstein creates a folder "Sub-Share" inside the "Root-Share" folder and shares it to Marie with full permissions
3. Marie browses to the "Root-Share" by usi

[2021-07-22 12:22] wkloucek commented on #5562
@rpocklin Thanks for raising the issue in the chat. Is your described case fully covered?
@kulmann @pascalwengerter

[2021-07-22 14:16] paulcod3 commented on #5398
Unclear if aria-describedby needs to be removed from every OcDrop instance, needs further clarification.

[2021-07-22 23:36] rpocklin commented on #5562
Yes - this is the behaviour I detected and was confused by.  My ideal scenario is that the UI 'acts' as though you are still in the sub-folder (eg. currenet OCIS UI behaviour) but correctly applies the _permissions_ of the sub-folder share.  I believe this is what most people would want, and even going so far as to hide the sub-folder share from the root folder in the default view.

This would eff

[2021-07-23 08:23] kulmann commented on #5398
Went through all usages of `OcDrop`, IMO the `aria-describedby` in the way we use it can be removed entirely, because the focus order dives down into the respective `OcDrop`.

[2021-07-23 11:41] pascalwengerter commented on #298
Closing this as outdated since drag&drop has been dropped in the meantime. We'll bring it back sometime soon and will do our best to make it usable on touchscreen devices

[2021-07-23 11:41] #298 closed

[2021-07-23 12:14] paulcod3 commented on #5396
1. The workflow as described doesn't lead to an error.
to a) in the filesharing sidebar all messages are translated using $gettext
to b) as discribed in 1. the error doesn't exist, other possible errors in the component are meaningful
to c) role=alert will be set

[2021-07-23 12:40] kulmann commented on #5396
Error message is coming untranslated from the server.

[2021-07-26 11:40] paulcod3 commented on #5382
Point 1 is already beeing fixed by issue https://github.com/owncloud/web/issues/5394
Point 2 is really weird and Im not yet sure what the right solution is, when I put the input element of the datepicker right under the label in DOM it seems to read the label out fine.

[2021-07-26 12:53] #5102 closed

[2021-07-26 12:53] #5103 closed

[2021-07-26 14:17] paulcod3 commented on #5397
I think we will run into a problem with the role="tooltip", as of my knowledge and what I found on google role="tooltip" is set by tippy itself and I don't find a way to turn it off.

[2021-07-26 14:23] pascalwengerter commented on #5397
Should be possible (according to https://kabbouchi.github.io/tippyjs-v4-docs/all-options/) in `OcTooltip.js` in the design system, yet haven't tried it myself

[2021-07-26 14:58] paulcod3 commented on #5397
@pascalwengerter oh thx didnt see that

[2021-07-26 17:47] exalate-issue-sync[bot] opened #5568 "Document theming of Konnect pages"
## Story

## Acceptance criteria
- documentation in devdocs
- Write-up how to theme Konnect pages, because it is not possible to configure it from web
- list of pages:
	- login page
    - select account (clients)
    - authorize

[2021-07-26 20:26] fschade opened #5569 "Sliding sidebar panel component loading"
in PR https://github.com/owncloud/web/pull/5549 we introduced the new sliding panel sidebar. The downside there is that all panels get loaded immediately after the sidebar is opened.

This can lead to additional requests even if they are not needed. To prevent that we need a way to identify if a panel is requested to slide in or out. Then we can attach to those events and hide or show the underlyi

[2021-07-27 09:27] kulmann opened #5570 "No private link in right sidebar of `Shared with me` page"
### Steps to reproduce
1. Login as Alice
2. Share any file or folder with Bob
3. Login as Bob
4. Go to `Shared with me` page
5. Accept share, if not already auto-accepted
6. Open right sidebar, links panel

### Expected behaviour
See a private link (the actual link rendered on the left of the `copy to clipboard` button)

### Actual behaviour
There is no private link rendered and the `copy to clipb

[2021-07-27 12:36] mcarioscio-ownCloud opened #5571 "no zoom functionality in the mediaviewer in new web UI"
### Steps to reproduce
1.open photo in new web UI
2.look for zoom buttons (couldn't find)
3.Crtl+ to zoom Firefox browser (didn't work)

### Expected behaviour
There should be a button to zoom in or out on a photo

### Actual behaviour
there is no buttons for zoom

### Server configuration
demo.owncloud.com

### Client configuration
**Browser:** Firefox 90.0.2 (64)

**Operating system:** Windows 1

[2021-07-27 12:39] #5523 closed

[2021-07-27 13:14] ishank011 opened #5572 "Display all available roles when creating shares"
In reva, we support a variety of available roles when creating shares (some of which include the ability to reshare resources) https://github.com/cs3org/reva/blob/master/internal/http/services/owncloud/ocs/conversions/permissions.go#L28-L44

But in web, only viewer and editor are displayed https://github.com/owncloud/web/blob/master/packages/web-app-files/src/helpers/collaboratorRolesDefinition.js

[2021-07-27 13:46] ishank011 opened #5753 "Can't logout when using keycloak"
## Describe the bug

When using oCIS with keycloak, if a user logs out of ocis, they don't log out of keycloak. As a result, they are redirected back to the landing page, which again calls keycloak's `authorization_endpoint`, which logs the user back again.

## Expected behavior
Keycloak exposes an endpoint `end_session_endpoint` which takes a param `redirect_uri`. This should be called when the u

[2021-07-27 13:50] #936 closed

[2021-07-27 14:23] pascalwengerter commented on #5114
Hey George,

sorry this took a while. Regarding your points:
1. Not sure what the current state on OnlyOffice in the new web is, let me get back to you about it
2. We're shipping a Draw IO extension with the `web` frontend, so enabling it in the `config.json` as shown in the [sample config](https://github.com/owncloud/web/blob/master/config/config.json.sample-oc10) under the `external_apps` should

[2021-07-27 20:31] #5499 closed

[2021-07-28 11:21] pascalwengerter commented on #2016
Closing this. Bundle size definitely is an issue but I'd suggest we open dedicated, actionable tickets (e.g. https://github.com/owncloud/web/issues/5342)

[2021-07-28 11:21] #2016 closed

[2021-07-28 14:26] tbsbdr opened #5578 "[Bug] "sort by modified date" shows mixed order"
### Steps to reproduce
1. login to web.owncloud.com
2. sort files by "modified"
3. see mixed dates in modified column

https://user-images.githubusercontent.com/26610733/127339747-434b14e5-766a-40ad-8b94-150f030e5501.mp4

### Expected behaviour
sort files by modified-date

[2021-07-28 14:29] pascalwengerter commented on #3168
Seems like this has been long fixed

[2021-07-28 14:29] #3168 closed

[2021-07-28 14:30] pascalwengerter commented on #3139
Tracked in #5234 now, closing this one

[2021-07-28 14:30] #3139 closed

[2021-07-28 14:33] pascalwengerter commented on #5078
@diocas @labkode @elizavetaRa I would like to close this ticket unless you have any actionable items for us that are open currently?

[2021-07-28 14:36] pascalwengerter commented on #4644
@tbsbdr needs a PM/UX decision :)

[2021-07-28 14:37] diocas commented on #5078
Well, you provided a workaround for now. But ideally we want the ui elements to be resized as well, because right now we do not consider them appropriate for desktop/laptop usage as everything is too large/big.

[2021-07-28 14:39] pascalwengerter commented on #4405
Closing this since A11y audit is in progress, thanks for all the support along the way!

[2021-07-28 14:39] #4405 closed

[2021-07-28 14:42] pascalwengerter commented on #5078
Thanks for the quick reply! Quite a lot of ui elements are resize-able through theming, could you provide us with a list of the ones that aren't themable yet so we can make them customizable on your end, too?

[2021-07-28 14:48] pascalwengerter commented on #2968
@tbsbdr should we implement this?

[2021-07-28 14:49] pascalwengerter commented on #2984
Closed as fixed, can't reproduce

[2021-07-28 14:49] #2984 closed

[2021-07-28 14:54] pascalwengerter commented on #2632
Updated the ticket according to our a11y efforts, should be a quick one to finish so adding it to the fastlane

[2021-07-28 14:58] pascalwengerter commented on #3020
Now tracked in #5234, closing this one in favor of it

[2021-07-28 14:58] #3020 closed

[2021-07-28 14:58] pascalwengerter commented on #3067
@LukasHirt what's the DoD here? :)

[2021-07-28 15:00] pascalwengerter commented on #3577
@tbsbdr what's your take on this?

[2021-07-28 15:01] pascalwengerter commented on #3467
Closing this in favor of https://github.com/owncloud/owncloud-design-system/issues/809

[2021-07-28 15:01] #3467 closed

[2021-07-28 15:04] pascalwengerter commented on #5277
Can't reproduce

[2021-07-28 15:04] #5277 closed

[2021-07-28 15:06] pascalwengerter commented on #5274
Closed as unresponsive and perhaps fixed, please reopen if applicable

[2021-07-28 15:06] #5274 closed

[2021-07-28 15:08] pascalwengerter commented on #4637
@jnweiger is that still the case? I remember @wkloucek changing some stuff regarding that

[2021-07-28 15:15] pascalwengerter commented on #2223
Tracked in https://github.com/owncloud/web/issues/5234, closing this one in favor of it

[2021-07-28 15:15] #2223 closed

[2021-07-28 15:18] pascalwengerter commented on #2341
Closed as fixed since we now have a `Details` panel in the right sidebar with a bigger preview (please reopen if you disagree @robertboyl  @tbsbdr)

[2021-07-28 15:18] #2341 closed

[2021-07-28 15:26] pascalwengerter commented on #3299
Closing this in favor of #5160 where dealing with the various "Open with" should be handled (plus we now have a contextmenu for quicker access and a details panel for better previews)

[2021-07-28 15:26] #3299 closed

[2021-07-28 15:28] pascalwengerter commented on #5578
Most likely a sorting problem in github.com/owncloud/owncloud-design-system - if that's the case let's move the issue there

[2021-07-28 15:30] pascalwengerter commented on #5085
Closed as fixed (due to various performance improvements) unless @labkode can reproduce

[2021-07-28 15:32] pascalwengerter commented on #5530
From my understanding that technically not a bug since we're not using websockets at the moment and don't update the UI state from the server, yet a good feature request to implement this!

[2021-07-28 17:07] fschade opened #5579 "Web always asks for permission to access your account if it is configured as defaultapp"
As the title says, if web is configured as the default app in oc10 the user is asked for permission on every reload and logout.
Reported through [twitter](https://twitter.com/nemethstarpro/status/1420373899892690944?s=21)

### Steps to reproduce
1. setup oc10 10.8
2. setup oauth
3. enable web
4. [Make ownCloud Web the default web interface](https://owncloud.dev/clients/web/deployments/oc10-app/#ma

[2021-07-29 03:06] m0nhawk commented on #5272
I completely forgot about this issue, sorry.

It stopped happening around version 1.2-1.4 (I'm not exactly sure, I missed updating to few versions).

And since then it was not happening, and this issue can be closed.

[2021-07-29 03:08] #5272 closed

[2021-07-29 07:43] wkloucek commented on #5530
I'm not creating a file on the server side. I'm creating it directly in ownCloud Web just like creating a new folder. Folders are correctly displayed after creating.

[2021-07-29 07:46] tbsbdr commented on #4644
as benedikt said - should be covered by a quickaction. additionally favorising will be available via righclick. added this issue to our quickaction-epic

[2021-07-29 07:56] LukasHirt commented on #3067
Updated the description

[2021-07-29 07:58] LukasHirt commented on #1693
Haven't seen the dialog for a very long time now and the code for public/private files have been split wherever it could have been done.

[2021-07-29 07:58] #1693 closed

[2021-07-29 09:09] LukasHirt commented on #3351
Cannot reproduce the bug but I would still keep the ticket for the research if we can unite folder upload dialog and drag and drop underlying logic...

[2021-07-29 09:18] LukasHirt commented on #5579
Not a bug - currently needed behaviour

https://github.com/owncloud/web/issues/2064
https://github.com/owncloud/web/issues/511

Originally was supposed to be solved by ocis-brige which would completely remove the need for the oauth and would enable us to depend only on OIDC. Unfortunately that hasn't happened... :tired_face:

[2021-07-29 09:26] pascalwengerter commented on #4644
Okay so will get closed via #5576 🌟

[2021-07-29 10:03] kulmann commented on #4644
Nope, because that PR doesn't introduce favorites as quickaction. ;-)

[2021-07-29 10:37] kulmann opened #5581 "Release v4.0.0"
## Release checklist
- [x] Merge https://github.com/owncloud/web/pull/5415
- [x] create a branch `release-4.0.0`
- [x] prepare release rc:
  - [x] update the version to `4.0.0` in `packages/web-integration-oc10/appinfo/info.xml`
  - [x] update the version to `4.0.0` in `package.json`
  - [x] update the version to `4.0.0` in `sonar-project.properties`
  - [x] move changelog/unreleased/* to changelo

[2021-07-29 11:53] tbsbdr opened #5582 "Show Quota: show / inform about personal and workspace quota"
## Status Quo (ownCloud10)
Quota (if there is one) is only personal related. That means, that every user has only her personal quota and nothing else. In ownCloud 10 this personal quota was shown on the bottom left in the sidebar (not any more). This is a expected place to display this information because onedrive and gdrive have it on this location for example.

**Personal quota**
![image](https:

[2021-07-29 12:14] pascalwengerter commented on #5582
`Also: oCIS sends a mail, if a quota is about to be full - 90% or so.` => needs to be solved on the backend, please open an issue in github.com/owncloud/ocis :)

[2021-07-29 12:19] frankaellen opened #5584 "Move action, user feedback is missing, takes very long"
### Steps to reproduce
1. Choose file
2. Select file
3. Click move icon
4. Navigate to desired location
5. Press move here
6. Button gets disabled / greyed out
6. Wait
7. Wait …
8. Page reloads

### Expected behaviour
I as a user expect some sort of user feedback. System is thinking, a spinning wheel or something comparable. I was confused whether my action was submitted and if anything would happ

[2021-07-29 12:23] frankaellen opened #5586 "Renaming of folders takes long, does not provide user feedback"
### Steps to reproduce
1. Click on folder
2. Choose actions in right sidebar
3. Click Rename
4. Enter new folder name
5. Press rename
6. Nothing happens for a while
7. Dialog window disappears

### Expected behaviour
I as a user would expect some sort of user feedback. System is thinking, spinning wheel, could not rename, etc. Was confused whether my action was submitted at all. Then tried again a

[2021-07-29 12:35] pascalwengerter commented on #5586
@frankaellen where did you check that?

- https://web.owncloud.com/ (latest web release with OC10)
- https://ocis.ocis-web.latest.owncloud.works (current web master with oCIS)
- ...?

[2021-07-29 12:59] #980 closed

[2021-07-29 12:59] #1726 closed

[2021-07-29 12:59] #3479 closed

[2021-07-29 12:59] #3521 closed

[2021-07-29 12:59] #5239 closed

[2021-07-29 12:59] #5419 closed

[2021-07-29 13:47] frankaellen commented on #5586
Hey @pascalwengerter,

on https://cloud.owncloud.com

[2021-07-29 14:06] ivnmad opened #5587 "[oC10] Web UI: Redirecting Please wait a while. You are being redirected"
### Steps to reproduce
1. Followed instructions on https://owncloud.dev/clients/web/deployments/oc10-app/#configure-owncloud-10
2. Logged in ownCloud
3. Clicked on "New Design"
4. Authorised Access

### Expected behaviour
I should be able to see the Web UI interface instead of the Classic interface

### Actual behaviour
Redirecting  Please wait a while. You are being redirected (see screenshot)
No

[2021-07-29 14:49] pascalwengerter opened #5589 "Collect dead code / run static analyzer"
### Motivation
Find & remove dead code (both unused functions, e.g. actions/mutations, and used but never defined stuff)

### Occasions
1. `loadfolders` is still being used, yet removed months ago in https://github.com/owncloud/web/commit/138a492fcce7bee73aba162d1997c30f2229810e
2. ...

### Expected behaviour
No dead code, so test coverage etc are good metrics

### Actual behaviour
We do have dead

[2021-07-29 15:30] pascalwengerter commented on #5581
## Smoke test rc1 standalone against oc10

- :heavy_check_mark: as admin - upload core folder from OC10 (2.288 files)
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
  - needs page reload to show folder size correctly in web ui (~31MB)
- :heavy_check_mark: as admin - share the folder to test as viewer
- :heavy_check_mark: as tes

[2021-07-29 15:51] fschade commented on #5581
## Smoke test rc3 against oCIS

- :heavy_check_mark: as einstein - upload many files
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as einstein - share the folder to admin as viewer
- :heavy_check_mark: as admin - accept share
- :heavy_check_mark: as admin - try do delete file from shared folder
- :heavy_ch

[2021-07-29 20:08] kulmann commented on #5581
Fixed in release branch. The SearchBar component was listening to all events globally, not restricted to events targeting the SearchBar. Fixed that by adding an early return if the event path doesn't contain the html id of the SearchBar.

[2021-07-29 21:05] kulmann commented on #5581
Fixed in release branch. Files which were deleted from the trashbin were not removed from the selection model.

[2021-07-30 01:23] rpocklin opened #5590 "Incorrect Icon - Logout menu"
In our user testing, we have found that the logout icon on the right-hand side dropdown is actually the UI Kit **sign-in** icon (https://getuikit.com/docs/icon).  This is labelled in **owncloud-design** as "exit_to_app".

(https://owncloud.design/#/Design%20Tokens/Icon) but isn't an accurate depiction of what the user is doing and feedback has been it's confusing for some people.

![image](https:/

[2021-07-30 04:22] #5160 closed

[2021-07-30 07:18] pascalwengerter commented on #5590
Great feedback! If @tbsbdr agrees we can make that happen _fast_ ™️

[2021-07-30 07:46] lookacat opened #5591 "Shares folder "New" button should be invisible"
### Steps to reproduce
1. Go to Shares folder
2. Eg. create a new folder
3. When you try to create the folder the dialog doesn't show an error but won't work

### Expected behaviour
The "New"-Button should not be visible when inside Shares folder

### Actual behaviour
The "New"-Button as visible but actions wont work

[2021-07-30 08:11] phil-davis commented on #5591
https://github.com/owncloud/ocis/issues/2322 reports the same problem.

IMO we are coming to the decision that oC10 and OCIS servers are going to keep behaving differently for this - oC10 let's you write you own "random" stuff to the "Shares" folder. OCIS makes the "Shares" folder a place to only receive shares.

There might be back-end server changes to help clients understand whether they cam wr

[2021-07-30 09:16] exalate-issue-sync[bot] opened #5592 "move a single file/folder via drag & drop"
## User story
"As a non-touch-device user I want to be able to move a single file or folder via Drag & Drop to a different location to tidy up my folder."

## Acceptance critera
- no subfolder navigation on move. we only let users drop files and folders into direct subfolders.
- use https://github.com/SortableJS/Vue.Draggable (because native html `draggable` doesn't support dragging multiple items

[2021-07-30 09:52] PeterPablo opened #5593 "media viewer does not handle special characters"
I tried owncloud Web with the new oc 10.8 release and noted that files conaining special characters like `#` or `ü` can not be viewed with the media viewer. The right panel though is showing the file. Once the file is renamed to `tmp.jpg` from within the web interface, the file can be then displayed using the media viewer.

Hopefully omitting the lengthy questionaire is acceptable.

[code]

To me

[2021-07-30 10:00] tbsbdr opened #5594 "[Bug] Mediaviewer: pictures with ü or # in filename cant be viewed in mediaviewer"
A user reported the following bug via our survey https://owncloud.com/web-design-feedback (thanks for feedback!! )

### Steps to reproduce
1. goto demo.owncloud.com
2. upload a jpg file and give it the name "asd#2_Blick-nach-Süd_Hauswand_zu-#1.jpg"
3. click on the filename to open the image with the media viewer
4. mediaviewer shows a "❗️"
(preview in sidebar and thumbnail works)

![image](https:/

[2021-07-30 10:03] #5568 closed

[2021-07-30 10:05] pascalwengerter commented on #5594
Closed as duplicate to #5593 but referencing for more info + screenshots

[2021-07-30 10:05] #5594 closed

[2021-07-30 10:29] tbsbdr commented on #5590
nice one! and of course - please change it. Thanks a lot!!

[2021-07-30 11:46] wkloucek opened #5595 "remove tests, testing wrong behaviour"
### Description
Remove following tests, since they test the wrong behaviour.

[code]
### Related issues
- https://github.com/owncloud/ocis/pull/2334#issuecomment-889826547
- https://github.com/owncloud/ocis/pull/2334/commits/9cc41b9444fb0e8608ff7834e5711dd994afe577

[2021-07-30 11:48] phil-davis commented on #5595
I can do after https://github.com/owncloud/ocis/pull/2334#issuecomment-889826547 is merged. My plan is that I will update the OCIS commit id in web at the same time, and adjust the tests (or merge them with some other existing scenarios) so that they check that the "rename to name containing a backslash" fails in a "user-friendly" manner.

[2021-07-30 16:29] tbsbdr commented on #4608
## What is the path good for?
**Prevent name collision:** I think the path is useful to distinguish favored files with the same name and it gives some context (=orientation - "where is the file?").

My guess is, that in most usecases users favor mainly folders and only in some cases files (90% - 10% or so..).

Heuristics:
- Win 11 can only favorize "pin" only folders, no files
- MacOS can only fav

[2021-07-30 18:06] #5595 closed

[2021-08-02 07:14] wkloucek commented on #4637
I didn't touch any thing related to these specific errors. I wonder if we allow inline scripts on the whole route of the Web frontend. We already have it for some places, eg:

https://github.com/owncloud/web/blob/10f17f36ba5efb7253292f4e8b53c0cbcbb63853/packages/web-integration-oc10/lib/Controller/FilesController.php#L122

[2021-08-02 07:21] kulmann commented on #4637
Inline scripts are allowed for the entire index.html file, which is basically the full ownCloud Web.

[2021-08-02 12:18] pascalwengerter commented on #2054
Superseded by #5571

[2021-08-02 12:18] #2054 closed

[2021-08-02 14:38] kulmann commented on #5532
Apparently fixed in latest ocis version. CI reported this issue as unexpected pass in https://github.com/owncloud/web/pull/5602

[2021-08-02 14:38] #5532 closed

[2021-08-02 14:52] #5376 closed

[2021-08-02 14:52] #5377 closed

[2021-08-02 15:04] pascalwengerter commented on #1242
Superseded by #5592, drag&drop of multiple selected items and having breadcrumbs become drag-targets will be tracked in dedicated issues by @tbsbdr

[2021-08-02 15:04] #1242 closed

[2021-08-02 15:07] pascalwengerter commented on #5313
Linking #1919 for reference

[2021-08-02 16:22] tbsbdr opened #5608 "[Bug] "Share" does not show sharing-dialog in right sidebar"
### Steps to reproduce
1. login to https://ocis.ocis-web.latest.owncloud.works/
2. create fresh folder
3. rightclick -> "share"
4. no sharing in right sidebar
![2021-08-02_18-15-07 (1)](https://user-images.githubusercontent.com/26610733/127892953-e0bacb4a-cee4-4297-b9e3-7005b1fca68a.gif)

### Expected behaviour
You should see the sharing dialog:
![image](https://user-images.githubusercontent.com/2

[2021-08-03 06:48] kulmann opened #5610 "[oc10] Let users choose if they want to use the new or classic design by default"
## User story

## Acceptance criteria
- Users have a way (e.g. in user settings of oc10 or cookie based) to choose between the classic and the new web UI as their default.

[2021-08-03 07:28] LukasHirt opened #5611 "Broken acceptance tests defaults"
Default `SERVER_HOST` and `BACKEND_HOST` has been recently changed in the code but not in the documentation. It should either be changed in the docs or brought back to the original value.

![image](https://user-images.githubusercontent.com/25989331/127975129-02a6d92f-a53c-43ba-91fa-af6a71f15d83.png)

[2021-08-03 07:28] wkloucek opened #5612 "Infinite loading spinner after changing the OIDC client id"
### Steps to reproduce
1. set following IDP configuration (identifier-registration.yaml) for oCIS
[code]
1. start oCIS with `WEB_OIDC_CLIENT_ID=web`, open ownCloud Web and login
2. everything works fine
3. leave the browser / tab open
3. stop oCIS and start again with `WEB_OIDC_CLIENT_ID=web-1`, go to the tab, where Web is open and reload. Enjoy the infinite loading spinner.
5. open the exact same

[2021-08-03 09:44] exalate-issue-sync[bot] opened #5613 "Sort folders and files by name "en block""
## Userstory

## Acceptance Criterias
Same behavior as in oc10
- affects only **sorting by name**
- **En-Block**: Ascending order (a-z): Folders first, then files
- **En-Block**: Descending order (z-a): Files first, then folders second
- Sorting by "modified date" or "size" is not affected by this en block sorting

[2021-08-03 10:00] ScharfViktor opened #5614 "No default sorting/ Sort by name does not work correctly"
[checkSort copy.zip](https://github.com/owncloud/web/files/6919460/checkSort.copy.zip)

-  ### **1.No default sorting:**

1. Upload folder with files [checkSort copy.zip](https://github.com/owncloud/web/files/6919460/checkSort.copy.zip)

2. Open folder "Check Sort"

**Expected behaviour:**
by default sort by name, then follow the selected sorting

**Actual behaviour:**
No default sorting. Files ar

[2021-08-03 10:08] paulcod3 commented on #5592
sorry for closing the issue, i know understand that "fixes" is smart enough to close my tickets 🧐

[2021-08-03 10:32] pascalwengerter commented on #5391
Needs a fix in the ODS

[2021-08-03 10:44] pascalwengerter commented on #5392
Date picker was expected to fail in the audit, not sure if we should (finally) address it for the re-audit?

[2021-08-03 10:46] pascalwengerter commented on #5390
Tracked in #4664, closing this since it's a question and doesn't seem to be a hard requirement to be fulfilled from an a11y (audit) point of view. Feel free to re-open if I'm mistaken

[2021-08-03 10:46] #5390 closed

[2021-08-03 10:49] pascalwengerter commented on #4664
Also has a11y implications which were mentioned in #5390 and are tracked in #4336

[2021-08-03 10:59] pascalwengerter commented on #5389
@tbsbdr @kulmann did we target Firefox as supported browser in the audit? Can confirm this is only an issue in FF and not in Chrome

[2021-08-03 11:02] pascalwengerter commented on #5388
Needs a discussion if we _always_ want to close tooltips once they loose focus (by adding sth along the lines of https://atomiks.github.io/tippyjs/v6/plugins/#hideonpopperblur to the ODS)

[2021-08-03 11:04] kulmann commented on #5392
Yes, we need to do that

[2021-08-03 11:08] pascalwengerter commented on #5387
Perhaps can easily be fixed by configuring tippys to be interactive (https://atomiks.github.io/tippyjs/#interactivity), investigating this now

[2021-08-03 11:20] wkloucek commented on #5135
A discussion with CERN today raised the question to not use the file extension but the mimetype from the propfind of a file when looking for the open in app action. This allows oCIS / REVA adminstrators to add custom mimetypes without changing the Web frontend. Should be easily doable, what do you think about this @kulmann?

Example:
mimetype `application/vnd.oasis.opendocument.text` is able to be

[2021-08-03 11:24] pascalwengerter commented on #5385
@tbsbdr @kulmann this one needs a bit more radical changes I'm afraid. What was the reasoning of not having any nav (top nav & left sidebar) present when copying/moving resources?

[2021-08-03 12:24] kulmann commented on #5385
I don't know the reasoning. @LukasHirt maybe?

[2021-08-03 12:24] kulmann commented on #5385
IMO would be ok to include the topbar there as well.

[2021-08-03 13:10] kulmann commented on #5135
Currently we're not using mime types in web, but they are available with the DAV property `{DAV:}getcontenttype`, so at least retrieving it would be easy.

[2021-08-03 13:45] labkode commented on #5135
cc @elizavetaRa

[2021-08-03 13:55] pascalwengerter commented on #5581
## Smoke test `v4.0.0-rc1` against oCIS

- :heavy_check_mark: as admin - upload many files
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as admin - share the folder to einstein as viewer
- :heavy_check_mark: as einstein - accept share
- :heavy_check_mark: as einstein - try do delete file from shared folder

[2021-08-03 14:23] kulmann commented on #5581
## Smoke test rc1 standalone against oc10

- :heavy_check_mark: as gunter - upload arch/mips folder from linux kernel (1945 files)
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as gunter - share the folder to alice as viewer
- :heavy_check_mark: as alice - share is already accepted. declining and accepting

[2021-08-03 15:05] ScharfViktor commented on #5581
### Smoke test v4.0.0-rc1 against oCIS
✔️ as einstein - upload many files
progress bar is not sticky
expanding the upload progress section slows down browser & upload time significantly
✔️ as einstein - share the folder to admin as viewer
✔️ as admin - accept share
✔️ as admin - try do delete file from shared folder
✔️ as admin - try to add file
 try the drag & drop upload small file to folder Sha

[2021-08-03 16:07] tbsbdr opened #5618 "[Bug] Public link site: remove "New" btn"
## Problem

- **New button** If I receive a public link with read-only permissions, the new-Button is still shown on the public link site.
~~- **Context menu** no context menu is shown on righclick or 3-dots menu~~

### Steps to reproduce
1. login to https://ocis.ocis-web.latest.owncloud.works
2. upload a file
3. create a public link for this file with role **"viewer"**
4. open this link in a priv

[2021-08-03 23:18] kulmann commented on #5608
Since we will have the invite form on the same level as the list of existing shares really soon, I don't see much priority on fixing this to be honest. 😅

[2021-08-03 23:24] pascalwengerter opened #5619 "`<hr>` inside `<ul>` in ContextMenu is an a11y-offense"
`Vue-axe` rightfully warned about the `<hr>` HTML tag not being a valid child element of `<ul>` or `<ol>` tags. We should perhaps split the list into three distinct ones separated by `<hr>`s when touching the contextmenu the next time, e.g. when handling multiple "open" actions

Offender: https://github.com/owncloud/web/blob/eeedc0cb8b029e77779a7652fccdf3815d74276c/packages/web-app-files/src/compo

[2021-08-03 23:27] kulmann opened #5620 "unit and integration tests don't run on tags"
Noticed in here https://drone.owncloud.com/owncloud/web/17954 that unit and integration tests are not running on tags. Urgently needed.

[2021-08-04 04:25] phil-davis commented on #5293
I removed my assignment because I am just not getting to this. We will assign to someone else.

[2021-08-04 08:18] xoxys opened #5625 "Handle config errors in containers"
We need to find a way to handle `config.json` errors in the ownCloud web docker container. There is an error message displayed in the browser, but the container starts just fine without any error, which is IMO uncommon in container environments.

### Expected behaviour
Exit container on config errors and rely on the configured restart policy of the container solution.

Possible options:
- add a `/

[2021-08-04 08:29] #5620 closed

[2021-08-04 10:16] pascalwengerter commented on #5581
Did some testing for the release blockers from https://github.com/owncloud/web/issues/5581#issuecomment-891889921 with `web` + `oCIS` and consider them fixed

[2021-08-04 11:27] #5427 closed

[2021-08-04 11:34] phil-davis opened #5627 "webUISharingInternalUsersShareWithPage/shareWithUsers.feature:91 is failing lot in CI"
Sometimes it passes on retry, but quite often it fails twice and the CI pipeline fails.

For example: https://drone.owncloud.com/owncloud/web/17965/25/14
[code]

Needs investigation to understand why it is now failing much more often. Maybe there is some timing problem or?

[2021-08-04 11:58] ScharfViktor commented on #5627
That's right, it's a bug. This case doesn't work. Repeated manually (web with ocis)

[2021-08-04 12:41] pascalwengerter commented on #5581
## Smoke test `v4.0.0-rc2` against oCIS

- :heavy_check_mark: as admin - upload many files
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
  - :heavy_check_mark: as admin - share the folder to einstein as viewer
- :heavy_check_mark: as einstein - accept share
- :heavy_check_mark: as einstein - try do delete file from shared fold

[2021-08-04 15:30] #5581 closed

[2021-08-04 15:32] phil-davis commented on #5627
IMO it does pass sometimes. web 4.0.0 has just been merged. After that is pulled into `owncloud/ocis` and the latest OCIS is released (with whatever also comes from cs3org/reva) then we need to look at this and see if it passes, intermittent or hard fail.

[2021-08-05 05:38] #5421 closed

[2021-08-05 07:37] dpakach commented on #5293
Even if we copy the dist folder, I think we need test dependencies (eg. nightwatch, cucumber etc) to run the tests. in package.json all the dependencies are under `devDependencies` so we cannot install only test dependencies while running tests. One solution will be to either cache the whole `node_modules` folder, which I dont think will be practical because its size is too big and also consists o

[2021-08-05 08:06] wkloucek commented on #5293
I tried that once for Go sources and all the requests to our Cache are too slow. Packing these files in an archive also takes too long.

I played around with an NPM cache registry, which could be a last option. But this is quite ugly since then only the name of the cache registry will appear in the yarn lock file and users not using the cache registry will get errors...

The CI container running t

[2021-08-05 10:02] tbsbdr opened #5633 "Avoid stacked batch actions on small screens"
## Userstory

### Steps to reproduce
1. login to https://ocis.ocis-web.latest.owncloud.works/
2. select an item (sidebar should be open now)
2. check the items checkbox (batch actions should be visible now)
3. resize the browsers window until batch actions get stacked
![image](https://user-images.githubusercontent.com/26610733/128313688-f9596581-9b2d-43f4-bec0-98c522a58850.png)

### Expected behav

[2021-08-05 10:40] tbsbdr opened #5634 "[Bug] Guests are displayed as "Users""
### Steps to reproduce
1. OC10.8: login to classic ui
2. share a file with a guest (enter an email)
3. switch to Web UI
4. select the same, shared file and open "People" section the sidebar
5. guest share with email gets displayed as "User" share (which is wrong, its a guest)

![image](https://user-images.githubusercontent.com/26610733/128336173-98e93e36-331c-4d03-8eae-5ab89203c457.png)

### Expec

[2021-08-05 11:20] fschade commented on #5569
ref
* https://github.com/owncloud/web/pull/5602/commits/982f1e30bf386c4132aad34ce1a4a06d585342df
* https://github.com/owncloud/web/pull/5573

[2021-08-05 11:20] #5569 closed

[2021-08-05 15:05] pascalwengerter opened #5637 "Don't run acceptance tests if only changelog/ or docs/ have been changed"
### Steps to reproduce
1. Look at this CI https://drone.owncloud.com/owncloud/web/18028/6/1
2. Wonder why we're starting 60 acceptance test pipelines for a small docs change

### Expected behaviour
Either a `docs-only` tag or a "smart" analysis of the changes should determine what needs to be done.
If changes only affect `docs/` and `changelog/`, we can skip _almost all_ CI steps (linting, unit te

[2021-08-05 15:40] phil-davis commented on #5637
We already have `calculateDiffContainsUnitTestsOnly()` - that can easily be expanded to check if the diff only has files from some set of "not related to real code"  files.

[2021-08-05 15:46] pascalwengerter commented on #5637
@phil-davis @individual-it almost all repos inside the ownCloud organisation follow the same conventions. What's stopping you from applying the same simple rules (like the ones suggested in this issue) across them?

[2021-08-05 15:55] phil-davis commented on #5637
Nothing is stopping us. We just need to double-check each repo for the set of files that "don't need to invoke tests".

[2021-08-06 03:51] phil-davis opened #5640 "PRs from forks fail the stop-recent-builds check"
https://drone.owncloud.com/owncloud/web/18035/2/2
[code]

I suspect that either:
1) the person from the fork does not have privilege to list and cancel drone builds, or
2) the PR is from another repo, and so the `drone build ls` command does not understand the reference to another fork repository.

IMO we need to detect this case of a PR coming from a fork, and just skip stop-recent-builds from tr

[2021-08-06 06:09] saw-jan commented on #5637
TODO:
- [ ] check for `docs-only` in PR title and do not run `unit`, `acceptance` test pipelines
- [ ] check for file only-docs changes and skip the pipelines

[2021-08-06 06:11] PeterPablo commented on #5593
web 4.0 release still has the same issue

[2021-08-06 06:38] SwikritiT commented on #5456
This issue still exists

CI LOG: https://drone.owncloud.com/owncloud/web/18037/12/14

https://drone.owncloud.com/owncloud/web/17972/12/14

[code]

[2021-08-06 06:45] SwikritiT commented on #5627
This test is still passing on the retry - https://drone.owncloud.com/owncloud/web/18036/25/14

[2021-08-06 09:04] phil-davis commented on #5640
The same problem is also in `owncloud/ocis` - needs to also be fixed there.

[2021-08-06 09:27] pmaier1 opened #5644 "Feedback on search in 4.0.0"
I have some feedback on the "Search all files" feature which was introduced in 4.0.0.

When I tried the feature, it felt unexpected because
- ~the left sidebar disappears and the file list becomes full width which felt to me like a bug and~ **not the case anymore**
- I can't easily go back without using browser navigation
- also the behavior is inconsistent with the filtering mode (there the sideb

[2021-08-06 11:36] sakshamgurung commented on #5456
After running the scenario is a loop, this might be the possible reason for failure:

- After saving the .md file this error pops up

![Screenshot from 2021-08-06 17-15-15](https://user-images.githubusercontent.com/41365307/128504698-e6679d87-2411-4128-99e6-76fa9963bfd0.png)

[2021-08-06 11:59] wkloucek commented on #5640
solved in:
- oCIS: https://github.com/owncloud/ocis/pull/2368
- Web: https://github.com/owncloud/web/pull/5645

[2021-08-06 12:00] wkloucek commented on #5640
always using `ctx.repo.slug` is safe from my point, since this is always the referrer to the drone repo, even if the PR is coming form an fork

[2021-08-06 12:01] wkloucek commented on #5640
@phil-davis a quick github search didn't find this on other repos. Do you know of any others?

[2021-08-06 12:04] phil-davis commented on #5640
We haven't added this to other repos yet. core PR https://github.com/owncloud/core/pull/39074 needs to be finished, so @jasson99 can make sure to include the changes here.

[2021-08-09 07:11] kulmann commented on #5593
We didn't have time, yet, to tackle this bug. Release 4.0.0 was already in progress when you reported it. ;-) I'll add some priority to this, so that it will be fixed in the next release (expected in 2 weeks).

[2021-08-09 07:22] #5613 closed

[2021-08-09 08:49] PeterPablo commented on #5593
don't worry, I merely wanted to save you that question "is it still an
issue in the latest release?".

Benedikt Kulmann ***@***.***> schrieb am Mo., 9. Aug. 2021,
09:11:

[2021-08-09 10:20] #5543 closed

[2021-08-10 13:57] LukasHirt opened #5656 "[QA] webUIUpload/upload.feature:90 failing randomly"
This scenario seems to be often failing in the CI

[2021-08-10 14:35] kulmann commented on #5656
Can confirm. One example: https://drone.owncloud.com/owncloud/web/18146/14/14

[2021-08-10 14:56] dragotin opened #5657 "ownCloud Web should display it's version somewhere."
### Expected behaviour

It should be possible to see the version of ownCloud Web, the backend type and its version in ownCloud web.

### Actual behaviour

The version is not displayed anywhere

Probably an oCIS API to query the version of the backend is required.

[2021-08-11 13:20] LukasHirt opened #5660 "[QA] webUISharingInternalUsersSharingIndicator/shareWithUsers.feature:154 failing randomly"
Another randomly failing scenario. Example https://drone.owncloud.com/owncloud/web/18187/28/14

[2021-08-12 04:21] saw-jan commented on #5456
`@disablePreviews` tag can be a possible solution
https://github.com/owncloud/web/pull/5652#discussion_r687369779

[2021-08-12 06:12] phil-davis commented on #5656
Should be fixed in #5652

[2021-08-12 06:12] #5656 closed

[2021-08-12 07:15] wkloucek commented on #5640
@phil-davis this can be closed since https://github.com/owncloud/core/pull/39074 was merged, too!?

[2021-08-12 07:16] phil-davis commented on #5640
Yes - closing

[2021-08-12 07:16] #5640 closed

[2021-08-12 08:13] sakshamgurung commented on #5456
@saw-jan  Yes, It is work for now.

[2021-08-12 08:37] kiranparajuli589 opened #5663 "link edit datepicker sets event to a string date prop"
## Description
Datepicker in `LinkEdit` component is described as:
https://github.com/owncloud/web/blob/d6afce72927225171b5372eea5a77820220a63dc/packages/web-app-files/src/components/SideBar/Links/PublicLinks/LinkEdit.vue#L40-L59

whenever the `input `event is emitted from `oc-datepicker` it sends a date string value
https://github.com/owncloud/owncloud-design-system/blob/490bd01a4cdd46d84f881ec04

[2021-08-12 09:23] #5456 closed

[2021-08-12 11:43] kulmann opened #5666 "Acceptance tests cannot decline pending shares"
The test `webUISharingInternalUsersToRootShareWithPage/shareWithUsers.feature:79` tries to decline a pending share via the right sidebar. Issue here is that the right sidebar shows a message `Please, accept this share first to display available actions` in the right sidebar. The `actions` panel doesn't even exist for pending or declined shares (at least not yet).

There are two solutions to this:

[2021-08-12 12:36] kulmann commented on #5666
Since we want to have solution (1) in the foreseeable future the option (2) would need to be implemented now and reverted later. Kind of have the feeling that we should skip (2), keep the test in the expected failures for now, and schedule (1) as soon as possible.

[2021-08-13 09:00] wkloucek opened #5670 "[oC10] loading oC Web fails when OIDC app is enabled"
### Steps to reproduce
1. use Web on oC10 with oAuth app, set Web as default app
2. enable OpenID Connect App
2. go to your ownCloud instance
3. see an error ![image](https://user-images.githubusercontent.com/34452982/129329498-382b0c40-6af3-4156-b19c-ea34534a4bdb.png)
4. disable OpenID Connect App
5. see a login screen or oC Web

### Expected behaviour
See a login screen or oC Web in either way

[2021-08-13 09:28] wkloucek opened #5671 "modified date - user expectations"
### Description
1. use oC Web 4.0.0
2. browse some files an have a look at the modified row and last modified field in the details

![image](https://user-images.githubusercontent.com/34452982/129336336-18f0d9a8-0ea6-40a3-91f8-7651d301ec8a.png)

### Findings
1. Sorting by `modified` is not working. It`s completely random. My expectation would be that I can sort it from oldest to youngest and vice v

[2021-08-13 09:53] exalate-issue-sync[bot] opened #5672 "Show detailed / absolute date"
## Userstory

## Acceptance Criteria
- relative dates rendered on screen:
	- in places where we don't have much screen real estate:
		- Modified Date in files table
		- Modified Date in Sidebar: below the header
		- Expiration Date for public links (in links sidebar panel)
		- Expiration Date for Shares (in people sidebar)
	- needs to be a11y compliant (show tooltip on focus via tabindex:0 for key

[2021-08-13 09:56] tbsbdr commented on #5671
Hey Willy,

thanks! should be covered by:

- https://github.com/owncloud/owncloud-design-system/issues/1552
- https://github.com/owncloud/web/issues/5672

We'll take care 👍

[2021-08-13 10:03] wkloucek commented on #5671
Great, didn't find them. Will close this issue

[2021-08-13 10:03] #5671 closed

[2021-08-13 16:01] bfren commented on #5587
I am having this issue too, I've gone round the houses on config etc.  I am seeing a JavaScript error in the console:

`failed to load app undefined TypeError: t is undefined` in `web-runtime-03539e51.js:1:69806`.

[2021-08-16 10:19] kiranparajuli589 opened #5679 "Sidebar does not open for resource in files page"
### Steps to reproduce
1. have web setup with oc10 backend
2. browser to web base URL (for my case it is http://localhost/web/dist)
3. after a successful login user is redirected to the files page
4. create a file or a folder using the `+ New` button
5. pick the uploaded file or click the `info` icon button in the Actions column or open details from the actions menu

### Expected behavior
the side

[2021-08-16 18:36] kulmann commented on #5590
Fixed by https://github.com/owncloud/web/pull/5681

[2021-08-16 18:36] #5590 closed

[2021-08-16 20:26] kulmann commented on #5614
Hey, good findings, thank you! Could you please split this issue into four different ones? Having one big issue makes it harder to work on fixing issues with pull requests.

[2021-08-17 07:32] ScharfViktor commented on #5614
Yeah sure, I'll do it.

[2021-08-17 07:39] kulmann commented on #5679
@kiranparajuli589 Could you please check if running `yarn install` fixes it? I cannot reproduce this issue locally.

[2021-08-17 08:03] kiranparajuli589 commented on #5679
it works perfectly after `yarn install`
thank you

[2021-08-17 08:03] #5679 closed

[2021-08-17 11:08] ScharfViktor opened #5684 "No default sorting"
[checkSort copy.zip](https://github.com/owncloud/web/files/6919460/checkSort.copy.zip)

### **No default sorting:**

1. Upload folder with files [checkSort copy.zip](https://github.com/owncloud/web/files/6919460/checkSort.copy.zip)

2. Open folder "Check Sort"

**Expected behaviour:**
by default sort by name, then follow the selected sorting

**Actual behaviour:**
No default sorting. Files are dis

[2021-08-17 11:12] ScharfViktor opened #5685 "The selected sorting is not saved"
[checkSort copy.zip](https://github.com/owncloud/web/files/6919460/checkSort.copy.zip)

### ** The selected sorting is not saved:**

1. Open folder "Check Sort"
2. Choose the sort by name/size/modified
3. Go back to "All files"
4. Reopen folder "Check Sort"

**Expected behaviour:**
custom sort is saved and it works on all pages

**Actual behaviour:**
custom sort is not saved

### Server configurat

[2021-08-17 11:14] ScharfViktor opened #5686 "Sort by name/modified does not work correctly"
[checkSort copy.zip](https://github.com/owncloud/web/files/6919460/checkSort.copy.zip)

### ** Sort by name does not work correctly:**

1. Open subfolder "Check Sort/WithText"
2. Choose the sort by name

**Expected behaviour:**
the order in which the files are displayed: copy0 -> copy1 -> copy02->copy2 ->copy101-> copy110

**Actual behaviour:**
the order in which the files are displayed: copy0 ->

[2021-08-17 11:17] pascalwengerter commented on #5684
Note: Should be fixed by ODS release `v9.1.0` later this week

[2021-08-17 11:17] pascalwengerter commented on #5686
Note: Should be fixed by ODS release `v9.1.0` later this week

[2021-08-17 11:18] kulmann commented on #5686
Actually no. This will not be fixed by ODS `v9.1.0` because we don't do so called `natural sorting` (yet).

[2021-08-17 11:19] ScharfViktor opened #5687 "Incorrect sort when you use pagination"
### **Sort when file more than 100:**

1. Open subfolder "Check Sort/CheckPagination"
2. Choose the sort by name
3. Go to page 2

**Expected behaviour:**
files on page 2: 101, 102, 103, 104

**Actual behaviour:**
files on page 2: the last 4 files from the response (random)

![Screenshot 2021-08-03 at 11 53 17](https://user-images.githubusercontent.com/84779829/127996765-c402a3b7-3903-41f6-8733-16a

[2021-08-17 11:21] ScharfViktor commented on #5614
https://github.com/owncloud/web/issues/5684

[2021-08-17 11:23] #5614 closed

[2021-08-17 12:17] frankaellen opened #5688 "Moving items in ownCloud Web not possible"
### Steps to reproduce
1. Click on small (and/or) large file
2. Select move
3. Click on parent folder
4. Wait, nothing happens anymore

Please find a video with a screencast here:
https://cloud.owncloud.com/index.php/f/5515993

### Expected behaviour
Should be able to move even very large files easily within the ownCloud Web frontend

### Actual behaviour
Nothing happens. Waiting, spinning wheel.

[2021-08-17 12:25] kulmann commented on #5687
Urgh. we're sorting inside `OcTableFiles` (ownCloud Design System). Since we're handing only the paginated data to the `OcTableFiles` component we're only sorting the data of the current page. :-(

[2021-08-17 12:29] kulmann commented on #5687
We should remove the sort logic from the design system and only emit events for sorting. Sorting needs to happen within web (and later on server side).

[2021-08-17 12:32] kulmann commented on #5685
Unclear if it's really desired UX to persist the selected sorting globally. @tbsbdr what's your opinion?

[2021-08-17 14:33] #5490 closed

[2021-08-17 14:33] #5684 closed

[2021-08-17 14:33] #5686 closed

[2021-08-17 16:14] pascalwengerter commented on #5688
@frankaellen I guess this is more about lack of (visual) feedback about the move process having started/successfully finished? Moving did work fine last time I checked which was around 2 weeks ago and should be also covered by acceptance tests

[2021-08-17 19:13] #2018 closed

[2021-08-18 07:05] kulmann commented on #3913
This needs an implementation in REVA first. Any progress on this @labkode ?

[2021-08-18 08:41] frankaellen commented on #5688
Hm, it behaves differently than the other issue I opened some weeks ago.

Screencast from 3 weeks ago:
https://cloud.owncloud.com/index.php/f/5494392

Screencast from yesterday:
https://cloud.owncloud.com/index.php/f/5494392

Differences:
- In the newer one I can't even navigate to the parent folder
- Spaces in the folder names (or the symbols between different hierarchy levels) are replaced by so

[2021-08-18 08:50] kulmann commented on #3919
Will be fixed when https://github.com/owncloud/web/pull/5678 is merged

[2021-08-18 08:59] tbsbdr opened #5695 "oc10: Add quick action + context menu "copy private link""
## Userstory

## Acceptance criteria
- Add private link to quickactions, if capability for private links exists. Add it to the left of the public link quick action (same order as in the right sidebar. private link first, public links last).
- Add private link to context menu, if capability for private links exists. Add it above the `create public link` item (same order as in the right sidebar. pri

[2021-08-18 10:06] pascalwengerter commented on #5695
@tbsbdr why use a different icon than the one from the links section in the right sidebar? There's already a copy-private-link icon/button there

[2021-08-18 11:12] tbsbdr commented on #5695
Plz help me, i only see those or do you mean sth different?

![Screenshot_20210818-131131.png](https://user-images.githubusercontent.com/26610733/129888383-40d8c3f1-c3de-4cd9-858b-cfc356abc41e.png)

[2021-08-18 11:39] kulmann commented on #5135
FTR: we have mime type now on resources: https://github.com/owncloud/web/blob/29341a1c1162e8e1f41fa926b13dde340902df75/packages/web-app-files/src/helpers/resources.js#L37

[2021-08-18 11:46] pascalwengerter commented on #5695
Yeah exactly I mean those "Copy link" icons and would vote in favor of re-using them in the contextmenu (from a recognition value POV)

[2021-08-19 06:52] kulmann opened #5698 "Release v4.1.0"
## Release checklist
- [x] Merge https://github.com/owncloud/web/pull/5588 @paulcod3
- [x] Merge https://github.com/owncloud/web/pull/5678 @paulcod3
- [x] prepare release rc: @paulcod3
  - [x] create a branch `release-4.1.0` @paulcod3
  - [x] update the version in `packages/web-integration-oc10/appinfo/info.xml` @paulcod3
  - [x] update the version in `package.json` @paulcod3
  - [x] update the ve

[2021-08-19 10:30] saw-jan opened #5700 "[tests-only] Investigate tests in webUIWebdavLockProtection suite"
Since the issue https://github.com/owncloud/core/issues/38912 has been fixed, some of the test scenarios in `webUIWebdavLockProtection` should pass.

Test scenarios expected to pass:
- webUIWebdavLockProtection/delete.feature:57
- webUIWebdavLockProtection/move.feature:105, 127
- webUIWebdavLockProtection/upload.feature:75

But those tests are failing currently. Need to investigate why the tests a

[2021-08-19 12:00] kulmann opened #5701 "Details in right sidebar for pending/declined shares and trashbin"
## User story

## Acceptance criteria
- Make sure that all panels are available that make sense
  - for `Shared with me`: Details, Actions, if resharing is possible: Sharing and Links
  - for `Trashbin`: Details, Actions

**Trashbin:**
- deleted on: (deletion date)
- Size: size

**Shared with me**
- owner
- Status: pending/acepted/declined
- Shared on: date
- Mime type: tbd

[2021-08-19 12:01] kulmann commented on #5666
(1) is now tracked in https://github.com/owncloud/web/issues/5701
We're going to close this ticket via PR https://github.com/owncloud/web/pull/5678 with an intermediate solution in CI

[2021-08-19 13:30] exalate-issue-sync[bot] opened #5702 "Refactor web-app-files store into modules"
The store in web-app-files is very cluttered at the moment, basically untestable and a huge mix of state and business logic. This should be refactored into dedicated store modules (good example: our new `sidebar` store module in the files app) which only handle state. Move business logic elsewhere.

[2021-08-19 13:40] tbsbdr commented on #5695
ah okay. I didn't write, that i want to keep both links in the quickaction - the public and the private link :-) and therefore I thought the icons should be distinguishable

[2021-08-19 13:57] pascalwengerter commented on #5695
Then let's add the icon you suggested for private links and use it everywhere the private link appears and needs an icon (for better distinguish-ability)!

[2021-08-19 14:33] #3919 closed

[2021-08-19 14:33] #5165 closed

[2021-08-19 14:33] #5666 closed

[2021-08-19 15:16] pascalwengerter commented on #5698
Assigning myself to remaining task since @paulcod3 is OOTO tomorrow

[2021-08-19 19:45] #5592 closed

[2021-08-19 21:47] ScharfViktor commented on #5698
Smoke test with ocis:
back:

[2021-08-20 04:36] kiranparajuli589 opened #5704 "Files row menu is opening sidebar"
### Steps to reproduce
1. open files page for web `http://localhost/web/dist/index.html#/files/list/all/%2F?items-limit=100`
2. click the 3 dots icon button in `actions` for a resource. ![Screenshot from 2021-08-20 10-17-59](https://user-images.githubusercontent.com/39373750/130179495-cf5a8105-847f-460c-9fdb-8c8dea5e9f48.png)

### Expected behavior
it should open a menu like this
![Screenshot from

[2021-08-20 06:18] kulmann opened #5705 "Drag & Drop for move: highlight drop target"
## User story

## Acceptance criteria
- visually highlight the row which represents the drop target
- make sure that the bg color of the drop target is not the selection color

[2021-08-20 06:22] kulmann opened #5706 "Drag & drop for move: public files"
## User story

## Acceptance criteria
- drag & drop for move available in file list of public link with write permissions (disable drag & drop entirely in the table when public link is read only)
- drag & drop for move available on breadcrumbs of public links with write permissions

[2021-08-20 06:43] kulmann opened #5707 "Drag & drop for move: breadcrumbs as drop target"
## User story

## Acceptance criteria
- accept parent breadcrumb items (obviously not the current folder / last breadcrumb item) as a drop target in drag & drop mode.
- highlight the breadcrumb items in the same way the file rows in the files table get highlighted after https://github.com/owncloud/web/issues/5705 is done
- don't copy the code. find a generic solution which can be used for dropping

[2021-08-20 06:50] kulmann commented on #5695
Well, the icon is supposed to express three different things:
- it's a link
- it's secure/private
- you can copy it to your clipboard

Pretty hard to find something that expresses all that. ;-) Manually combining the copy icon and the proposed private link item (which I like a lot) into one icon won't look good I'm afraid.

Reusing the generic `copy to clipboard` button from the right sidebar is n

[2021-08-20 09:05] ScharfViktor commented on #5698
First Report: Running Tests with Osis (@ocisSmokeTest).
To avoid accidental crashes, the tests were run with `--retry 1`
But it doesn't look cool. Some of the tests are in the expected-failures and some require research

[2021-08-20 10:28] kulmann commented on #5698
## Smoke test rc1 standalone against oc10

- :heavy_check_mark: as gunter - upload arch/mips folder from linux kernel (1945 files)
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as gunter - share the folder to alice as viewer
- :heavy_check_mark: as alice - share is already accepted. declining and accepting

[2021-08-20 12:51] ScharfViktor commented on #5698
Smoke test rc1 standalone against oc10:

- [ ] **Case 1: admin share folder(with file) to marie:**

Admin:
v- upload folder "folder_to_share" with file.pdf
v- create new folder "New_folder" into "folder_to_share"
v- share folder "folder_to_share" to marie with edit right

Marie:
v- rename "folder_to_share" (admin don't see)
v- rename "folder_to_share/New_folder" (admin see)
v- upload new file "fil

[2021-08-20 16:07] #5698 closed

[2021-08-21 11:09] exalate-issue-sync[bot] opened #5714 "research: find temporary workaround of how to get path variable with infinite segments without vue3"
## Acceptance Criteria
- know, if we need a vue3 upgrade to meet the url-adr requirements
- quit research, if it gets too complicated

**ADR:**
https://owncloud.dev/ocis/adr/0011-global-url-format/

[2021-08-22 19:14] dschmidt opened #5716 "Provide peerDependencies to standalone apps"
### Steps to reproduce
1. Create a standalone app (one that is not built inside this repo)
2. Declare `vuex` or `luxon` as `peerDependencies`
3. Try to load app
4. See it fail because `requirejs` does not know how to provide `vuex` or `luxon`

[code]

### Expected behaviour
Apps load fine without shipping their own copy of `vuex` or `luxon`.
I'm not sure if we want to *somehow* provide all modules

[2021-08-23 08:58] fschade commented on #5716
this is pretty hard to do with require js, a good pick for those cases is SystemJS which supports kind of es import-maps for older browsers.

We need to find a way, @kulmann, @pascalwengerter, @paulcod3 thoughts ideas?

[2021-08-23 12:51] pascalwengerter commented on #5489
Thought this was resolved by #5678, but changing the number of items to paginate still clears the selection (show-hidden-files checkbox doesn't). Neither close the sidebar anymore though

[2021-08-23 12:55] pascalwengerter commented on #5487
Haven't seen this in a while, closing for now

[2021-08-23 12:55] #5487 closed

[2021-08-23 14:16] pmaier1 opened #5723 "Some tooltips are missing"
Just noticed in 4.1.0 that some of the actions miss tooltips:
- "Expand/collapse right sidebar" button
- "View options" button (e.g. "show hidden files")
- "Details" quick action

[2021-08-23 16:09] pascalwengerter commented on #5723
`Expand/collapse right sidebar` => removing the button based on @tbsbdr's feedback in https://talk.owncloud.com/channel/web

Thanks for the other ones, will take care of them soon

[2021-08-23 16:59] pascalwengerter commented on #5705
@kulmann can we add this to the current sprint? Fixed it today in https://github.com/owncloud/owncloud-design-system/pull/1610, only needs an ODS release to work

[2021-08-23 18:25] pascalwengerter commented on #5618
Can't reproduce the nonexistant context-menu on the table row. The 3-dot menu bug should be fixed with the next ODS release

[2021-08-23 21:43] #5723 closed

[2021-08-24 04:33] SwikritiT commented on #5700
@sakshamgurung is working on this issue

[2021-08-24 06:43] kulmann opened #5727 "Public links asking for user and password (basic auth popup)"
### Steps to reproduce
1. Create a password protected public link
2. Open the link

### Expected behaviour
A password field to open the public shared file or folder should appear.

### Actual behaviour
The site loads almost as expected, except that the browser asks for username and password. When pressing Cancel or the ESC key the prompt disappear and the regular public share password needs to be

[2021-08-24 08:13] pascalwengerter commented on #5727
I've come across this when developing, IIRC it was either an unauthenticated webdav request or a version clash between the `web` version and `OC10(.07 vs .08)`

[2021-08-24 08:52] kulmann commented on #5705
Yes, of course :-) Thanks for taking care! :heart:

[2021-08-24 09:56] kulmann commented on #5397
role from tippy removed in https://github.com/owncloud/owncloud-design-system/pull/1530/commits/2ef8eaa69d85f54144e4c2a566b088e8588c7066

[2021-08-24 10:05] kulmann commented on #5397
aria-labelledby moved to correct element in modal in ODS commit 2def9143d1fdeb7a180fb4829ad123ec506c5526

[2021-08-24 10:19] #5705 closed

[2021-08-24 10:28] kulmann commented on #5397
page title for location picker is fixed in https://github.com/owncloud/web/pull/5512/commits/dac2db7dd0204486a8ff3b84737c0e510b8b7fa7 but needs german translations (will do that in bulk later)

[2021-08-24 10:32] kulmann commented on #5397
We won't fix the `Note: the anchor links (in this case "Zum Hauptinhalt springen") should be implemented as links and not as buttons.` and keep it as a button instead, since it's no violation and would need major refactoring.

[2021-08-24 10:37] kulmann commented on #5396
`OcAlert` has `role="alert"` now since https://github.com/owncloud/owncloud-design-system/pull/1530/commits/895c0908c44b6fa33ae6fddfc0ec4bde99b9895c

[2021-08-24 11:03] kulmann commented on #5396
We fixed the frontend side form validation for required password. Other fields don't have any requirements. Only thing left are unforeseen server side errors. For those we now show a generic error message as a notification (read by screenreaders, disappears after a few seconds). https://github.com/owncloud/web/pull/5512/commits/14a12b8ec7898289297f818c83a23b9a72d6499b

[2021-08-24 12:16] kulmann commented on #5396
Also made sure that the same is fine for people shares.
https://github.com/owncloud/web/pull/5512/commits/49c9f03e7e2c6ad5139aaa228b59bb3c3bed31c5

[2021-08-24 12:38] pascalwengerter commented on #5114
@gpapaiko here's [a link to the guide](https://owncloud.dev/clients/web/deployments/oc10-app/#onlyoffice) on making `web` work with an OnlyOffice in OC10. I'll close the issue for now since all your questions are answered, please feel free to file new issues if you come across unexpected behaviour or [join our public chat](https://talk.owncloud.com/channel/web) for further support!

[2021-08-24 12:38] #5114 closed

[2021-08-24 14:22] pascalwengerter commented on #5395
The first part I get and it's super straightforward to fix (literally changing one string). The second part I can't grok

[2021-08-24 14:42] kulmann commented on #5395
I looked into it and what I found is that the hamburger button in larger resolutions still shows `Navigationsmenü öffnen` despite the sidebar already being open. Currently fixing it. Needs a new store module though.

[2021-08-24 14:45] kulmann commented on #5395
Ah, that was unrelated. Found out what was meant by looking into the german version 😅 The term `Seitenleiste` is already in use for the right sidebar. Apparently we're using the term for both sidebars. Needs to be more strict.

[2021-08-24 15:10] kulmann commented on #5395
Fixed in https://github.com/owncloud/web/pull/5512/commits/893bc29f217720aecc922580b4fce71b992d18bd

[2021-08-25 07:49] sakshamgurung commented on #5660
After investigating it was found the problem with stale DOM reference.

![Screenshot from 2021-08-25 13-24-57](https://user-images.githubusercontent.com/41365307/130749182-e7da3811-0749-48cf-82d5-b10d3d979bd2.png)

So, what can we do? Refresh page after uploading file? or any other way?

[2021-08-25 08:56] pascalwengerter commented on #5561
Resolved on current master

Without search:
![Screenshot 2021-08-25 at 09-54-41 All files - ownCloud](https://user-images.githubusercontent.com/16822008/130760701-a87408d8-ba57-41a4-a3c5-ab8cd622d9f7.png)

With search:
![Screenshot 2021-08-25 at 09-53-50 All files - ownCloud](https://user-images.githubusercontent.com/16822008/130760718-f2183ab7-bb43-43b5-baa9-75923b17e16f.png)

[2021-08-25 08:56] #5561 closed

[2021-08-26 08:10] exalate-issue-sync[bot] opened #5735 "display share-info details in right sidebar"
## User story

## Acceptance Criteria
- **Shared by:** if owner != sharer, then show name of the sharer below the owner in the details: "Shared by: Albert"
- **Shared via:** Name of the folder, tooltip: "Navigate to "Name of the folder""
- **Shared on:** Relative date, Tooltip: exact date and time

[2021-08-26 08:51] exalate-issue-sync[bot] opened #5736 "Show sharees as Avatar-Group"
## Userstory

uses oc component, maybe needs some rework regarding the "expand" animation:
https://owncloud.design/#/oC%20Components/OcAvatarGroup

## Acceptance Criterias
- show list of sharees as avatar group
- oc avatar group: if stacked: don't expand on hover (kill the animation of the component/ODS 🥲 )
- wording:  change "invited people" in "Shared with"
- display "groups" as different icon (

[2021-08-26 11:30] kulmann opened #5738 "[tests] Nightwatch issues clicking context menu item"
PR https://github.com/owncloud/web/pull/5725 introduces the context menu to the acceptance tests. First use cases are opening the sidebar in `Details` panel and opening the sidebar in `Actions` panel.

However, in some cases (100% reproducible) the buttons in the context menu are not found. Following the test runs in a VNC viewer I can see that the context menu is indeed open, but the buttons are

[2021-08-26 14:10] #5738 closed, assigned to nobody

[2021-08-27 04:48] individual-it opened #5741 "writing to locked files/folders give only a generic error message"
### Steps to reproduce
1. lock a folder e.g. `curl -u admin:admin http://localhost/owncloud-core/remote.php/webdav/folder1 -X LOCK -d '<?xml version="1.0" encoding="UTF-8"?><d:lockinfo xmlns:d="DAV:"><d:lockscope><d:shared/></d:lockscope> </d:lockinfo>'`
2. try to upload a file into that locked folder via web

### Expected behaviour
Error message should say `Upload failed because the current folde

[2021-08-27 07:42] individual-it opened #5742 "right sidebar stays empty when navigating from a details view to "All Files""
### Steps to reproduce
1. open the right sidebar for any item
2. click on "People" (or any other details item like Actions or Links)
3. click on "All files"

### Expected behaviour
right sidebar should show "Select a file or folder to view details."

### Actual behaviour
right sidebar is blank

[2021-08-27 09:51] individual-it opened #5744 "cleanup structure of unit test files"
most tests follow the structure: fixtures and mocks at the top, helpers at the bottom, tests in between
ToDo: go through all tests that don't follow the structure and fix them

[2021-08-27 10:30] anthony-launay opened #5745 "White screen"
### Steps to reproduce
1. Update to 10.8.0.4
2. Click on "New design" button
3. OpenID Connect is not activated

### Expected behaviour
I should see the new theme

### Actual behaviour
I don't see the new theme but white screen.

### Server configuration
**Operating system**: Linux (Debian)

**Web server:** Apache 2.4.25

**Database:** Mysql

**PHP version:** 7.2.34

**ownCloud version:** 10.8.0.4

[2021-08-30 03:21] rpocklin commented on #5644
I agree, with @pmaier1 regarding the left sidebase disappearing (presumably because now it is it's own app, not part of **files**) - this is easily worked around by changing the `sidebarNavItems` function in `App.vue` to set `const items = this.getNavItemsByExtension('files')` instead of `const items = this.getNavItemsByExtension(this.currentExtension)` for the time being.

Also agree with the [x]

[2021-08-30 09:09] saw-jan commented on #5700
fixed by #5728

[2021-08-30 09:09] #5700 closed

[2021-08-30 16:11] pascalwengerter commented on #5611
@LukasHirt could you shed some light on what's broken here? Gave it a look last week and couldn't figure it out properly

[2021-08-31 07:57] wkloucek commented on #5753
I transfered this to the Web repo since this needs to be done by the OIDC client => oC Web.

I tried it on https://ocis.ocis-keycloak.latest.owncloud.works/ with oC Web 4.1.0 and looks to work as expected. The full configuration of this deployment can be found here: https://github.com/owncloud/ocis/tree/master/deployments/examples/ocis_keycloak.

[2021-08-31 08:40] LukasHirt commented on #5611
@pascalwengerter https://github.com/owncloud/web/blob/8f9791cbd763acefbd20fff91b09b1241aa5f468/nightwatch.conf.js#L7
**vs**
https://owncloud.dev/clients/web/testing-manual/#available-settings-to-be-set-by-environment-variables

[2021-08-31 12:18] elizavetaRa opened #5757 "Sidebar not appearing on file click/ calling "All actions" or "Details""
### Steps to reproduce
1. Click the file field
2. Click "All actions" in the context menu
3. Click "Datails" in the context menu

### Expected behaviour
Sidebar should appear

### Actual behaviour
Sidebar is not appearing
Tested with web/master https://github.com/owncloud/web/commit/05f8735a3210116f0fff0b40170846ee4cdec1d1 (latest)

![All files - ownCloud](https://user-images.githubusercontent.com

[2021-08-31 12:20] kulmann commented on #5727
cc @ChrisEdS

[2021-08-31 13:11] kulmann commented on #5757
Hey @elizavetaRa as far as I can tell from your video you are running the most recent design system (v9.3.0), which is not in web master, yet. Probably with a local link. Is that correct?

We have an open PR for updating ODS to 9.3.0 https://github.com/owncloud/web/pull/5725

[2021-08-31 13:38] elizavetaRa commented on #5757
@kulmann Yes, I tested with the newest ods master. Thanks, now I understand the reason.

[2021-08-31 13:55] kulmann commented on #5757
Cool, good that this is the reason. :-) closing this issue here. will cc you in the PR so that you get notified when it's merged.

[2021-08-31 13:55] #5757 closed

[2021-09-01 02:09] rpocklin commented on #5644
If there are > 5 items (assuming 5 is the preview search limit) it would be good to show something like ' ... more ...' which is not selectable.  I thought there was a bug since the preview of sdk search didn't show a file in the current folder, but it was just showing the first 5 results (which wasn't obvious, until I looked at the code).

[2021-09-01 06:28] labkode opened #5760 "How to add custom icons?"
How can we add a custom icon for this mime type?

<img width="995" alt="Screenshot 2021-09-01 at 08 27 33" src="https://user-images.githubusercontent.com/5175912/131622651-dd4ebb15-ffb3-4f8d-a7d3-351dc78b5c61.png">

[2021-09-01 06:43] labkode opened #5761 "Friendly way to duplicate files/folders."
As a user wanting to duplicate a folder/file.

Currently is not possible to do it in the same containing folder as the following error is given.

A choice can be given to the user by appending a new version like `(1)` or something alike.

<img width="1377" alt="Screenshot 2021-09-01 at 08 41 27" src="https://user-images.githubusercontent.com/5175912/131624266-6a63a165-3243-4154-8806-2915ce0c0aef.p

[2021-09-01 06:51] kulmann commented on #5761
Nice idea!

@tbsbdr what do you think? Just appending a `(1)` or asking the user to make a choice (replace, copy, cancel)?

[2021-09-01 07:54] wkloucek commented on #5407
Still persists in Web 4.1.0

[2021-09-01 07:58] wkloucek commented on #5670
Doesn't happen with oC Web 4.1.0

[2021-09-01 07:58] #5670 closed

[2021-09-01 08:40] pascalwengerter commented on #5760
Since the `.root` file format seems pretty CERN-specific it's probably best to only add it to your ODS/web fork :) closing this issue as it is technically answered, feel free to ping us if you face any problems @elizavetaRa

[2021-09-01 08:40] #5760 closed

[2021-09-01 12:39] ChrisEdS commented on #5761
Thanks for opening. I'm stumbled upon that behaviour just today as well. :)
I'd vote for an option to choice a new name.

[2021-09-01 12:52] pascalwengerter commented on #5761
We already have issues here about both "moving (and thereby copying) item into its own folder" and "having a nice dialogue when uploading/renaming resources to an existing name". I'll link them later, perhaps we can try to tackle both within one of the next sprints!

[2021-09-01 13:04] tbsbdr commented on #5761
yep, absolutely.

**I would propose the following:**
1. **Silent merge (--> automatic):** Folders with the same name should silently "merge". With merge I mean: create versions for conflicting files, if this is not possible, ask how to proceed with conflicting files. New files or subfolders should be added (=merged) to the inserted folder.
2. **file conflicts (--> ask):** If its not possible to cr

[2021-09-02 07:53] exalate-issue-sync[bot] opened #5763 "Show sharees as full list"
## Userstory

## Acceptance Criteria
- [x] possibility to show displayname + email e.g. like: Tobias Baader (tbaader@owncloud.com)
- [X] truncate name if it gets too long
- [ ] display whole name in a tooltip if truncated
- [x] **wording** ~~invited people~~ display: "Shared with"
- [x] display additional info (share type, expiration date) below sharee name
- [x] don't show the `via` tag and the o

[2021-09-02 07:54] exalate-issue-sync[bot] opened #5764 "Add role & exp. date to oc-invite formfield"
## Userstory

## Acceptance Critera
- role gets placed next to oc-invite formfield (see scribble)
- roles are
  - "Invite as editor"
  - "Invite as viewer"
  - "Invite with custom permissions"
- role-option is discreetly visualized, eg. as .oc-button-passive-raw
- Advanced permissions are displayed within eg. a oc-drop (not within a new, sliding pane etc.)
- Prototype: https://figma.fun/99l6S1

[2021-09-02 08:19] pascalwengerter commented on #5761
Old PR on copy/move to same location: #3847 (needs a proper rebase and quite some refactoring but good input I suppose)

Old tickets on this:
- #3751
- #5106

[2021-09-03 15:17] tbsbdr opened #5776 "Open files via public link in associated App (Collabora, OnlyOffice, Word etc.)"
**Needed for Cern Stage 1 in Sept 2021**

## Userstory

## Acceptance Criteria
- show shared file(s) in files list
- click on file executes standard action
- context menu (via rightclick or 3-dots) offers alternative open-with ... apps
- ~~download is in the quickactions permanently visible as call-to-action~~

## Context
In order to deliver the feature for cern until the end of September 2021, we

[2021-09-06 10:47] LukasHirt opened #5781 "Not possible to run single scenario after updating cucumber"
After updating cucumber in #5675 it is not possible to run a single acceptance test scenario anymore by specifying line number. Reverting the update makes this again possible.

[2021-09-06 15:37] exalate-issue-sync[bot] opened #5786 "Fullscreen view for Apps"
=== needs proper refinement

### First notes
- Enter in "Preview" or "Edit" -mode
- Option to open the file location
- Option to enter Profile / Settings
- Option to Log-out

[2021-09-06 15:41] tbsbdr commented on #5776
@labkode could you please check the acceptance criteria ^ to meet your "stage 1" requirements?

[2021-09-07 04:30] phil-davis commented on #276
Note: the last entries in expected-failures linked to this issue are removed in PR https://github.com/owncloud/web/pull/5787

[2021-09-08 06:56] #5735 closed

[2021-09-08 11:11] exalate-issue-sync[bot] opened #5788 "drag & drop for move: ghost element (same for both single & multi select)"
## User story

## Acceptance criteria
- visually same as with dropbox
- ~~visual representation of multiple files/foldes during drag (@tbsbdr favors proposal 2 because its reduced and gives feedback / confirmation about the selected items by showing the Icon of the first icon in the list; kind of a hint for the user: "you grabbed the right ones")~~
- ~~show the number of grabbed files next to the

[2021-09-08 12:15] kulmann commented on #5788
My personal preference is the one from Dropbox. Visually clean. And the most important part, the number of items, is highlighted in a good way (with the red circle). As a cherry on top I also like the animation from Google Drive - that's good guidance for the eye.

[2021-09-08 13:07] tbsbdr commented on #5788
added mac, win11 and owncloud ios app screenies

[2021-09-08 13:46] pascalwengerter opened #5790 "False-positive acceptance test"
### Steps to reproduce
1. Run ` tests/acceptance/features/webUISharingFolderPermissionsGroups/sharePermissionsGroup.feature:22`
2. See that test passes even though weird stuff happens in the web UI (viewing via VNC) and logs have errors (`grpc2` group gets deleted in the form yet is present afterwards, exactly opposite behavior with `grpc1`)

### Expected behavior
Test should only pass if steps ar

[2021-09-08 15:33] labkode commented on #5776
@diocas @elizavetaRa

[2021-09-08 15:37] labkode commented on #5776
@tbsbdr as of today OCIS does not offer the single view as we're used in OC10. OCIS currently shows a file listing independently if it was a public link targeting a folder or a file (attached  screenshot).

(public link to a file)
![Screenshot 2021-09-08 at 17 34 46](https://user-images.githubusercontent.com/5175912/132540131-27da31a4-5d57-401b-aeb1-12268c1d534b.png)

If I understood correctly wha

[2021-09-08 15:39] tbsbdr commented on #5776
Yep, correct

[2021-09-08 20:37] kulmann commented on #5790
I have another one:

## Steps to reproduce
1. Run `tests/acceptance/features/webUIFiles/breadcrumb.feature:39`
2. See that the test passes even though the "non-clickable breadcrumb element" (step in line 46) was not found. In fact we changed the behaviour of the software so that the last breadcrumb item is (intentionally) clickable again and reloads the resources of the current folder.

[2021-09-09 11:19] pascalwengerter commented on #5790
Another one:
- On mobile resolution
- `tests/acceptance/features/webUIFilesCopy/copy.feature:10`
- Expects to see breadcrumbs for current folder, but sidebar takes 100% of the viewport
- Test passes nonetheless

[2021-09-09 13:19] #5714 closed

[2021-09-09 13:19] #5736 closed

[2021-09-09 13:21] pascalwengerter commented on #4595
At least the %2F encoding should be fixed via #5715 (patched until we switch to Vue3) and just landed in master, closing this issue for now (yet we'll perhaps need some more routing-related ones in the future)

[2021-09-09 13:21] #4595 closed

[2021-09-09 16:09] wkloucek commented on #5776
@tbsbdr @micbar this is not possible without backend changes, I created a ticket for oCIS here: https://github.com/owncloud/ocis/issues/2479

[2021-09-09 20:24] kulmann commented on #964
This has been solved. See following screenshot:
<img width="203" alt="Screenshot 2021-09-09 at 22 23 56" src="https://user-images.githubusercontent.com/3532843/132757452-c1396fa3-9d8c-4104-9f7f-d1fb7cab5970.png">

[2021-09-09 20:24] #964 closed

[2021-09-09 20:25] #5570 closed

[2021-09-09 20:34] kulmann opened #5794 "Release 4.2.0"
## Release checklist
- [x] prepare release rc: @kulmann
  - [x] create a branch `release-4.2.0` @kulmann
  - [x] update the version in `packages/web-integration-oc10/appinfo/info.xml` @kulmann
  - [x] update the version in `package.json` @kulmann
  - [x] update the version in `sonar-project.properties` @kulmann
  - [x] move changelog/unreleased/* to changelog/VERSION_YYYY-MM-DD @kulmann
  - [x] up

[2021-09-10 09:16] kulmann commented on #5794
Issues from explorative smoke testing:
- [ ] being in a folder, right sidebar, people (or any other subpanel), navigate back to root via breadcrumbs => right sidebar is empty
- [ ] fix h-tags in right sidebar
- [ ] sharing related info in FileDetails (both the icons at the top and the table rows at the bottom) show sharing info for incoming and outgoing shares. We need to be more precise there, de

[2021-09-10 09:56] pascalwengerter opened #5796 "Persists img/thumbnail cache for longer & clear it upon logout"
As discussed with @butonic

### Steps to reproduce
1. Run `web` with `oCIS`
2. Navigate into a folder with a lot of images, leave it and navigate back into it >15s later

### Expected behaviour
Thumbnail cache should persists files for longer (without harming privacy & security, e.g. on shared/public PCs). We could e.g. discuss clearing it upon logout (@C0rby is that a valid approach?)

### Actual

[2021-09-10 10:32] butonic commented on #5796
On my instance, I am seeing thumbnail requests that use a `blob://` url ... but they take longer and longer. The youngest request in a series of 10 (eg when scrolling down)  takes ~15ms ... the next younger ~33ms and the oldest ~2.45sec. 🤔 no idea why that is

[2021-09-10 15:05] tbsbdr opened #5797 "Sidebar "People": Unite into 1 panel"
## Userstory

## Acceptance Criteria
- No "Add People" Button in main sharing panel
- instead of add people button: sharing form-panel is always directly visible
- No "Cancel" Button (other than in the screenhot)
- Only "Share" Button is visible
- "Shared with" is visible and can be expanded/collapsed

## Screenshots
#### With collapsed list
![image](https://user-images.githubusercontent.com/26610

[2021-09-13 10:12] exalate-issue-sync[bot] opened #5801 ""Open with:" Let user choose file handler in context menu"
## User story

## Acceptance criteria
- "Open with" menu item in the context menu shows up as second menu item in the list (just below the default open action)
- "Open with" shows up at all under following conditions:
	- at least two editors/handlers exist for the given file type
    - only for files, since folders only have the option to navigate into the folder.
- hover over or clicking "Open wi

[2021-09-13 17:36] wkloucek opened #5804 "Not found page"
## Userstory

## Acceptance Criteria
- A not found page is available
- The not found page contains a link to ownCloud Web

[2021-09-13 17:40] wkloucek commented on #5804
@tbsbdr What do you think about this? I have something similar in mind like described here: https://medium.com/designer-recipes/how-to-make-a-custom-404-error-page-for-your-website-1af37a8b20d1

[2021-09-14 06:29] tbsbdr commented on #5804
Examples how others communicate 404s:
![image](https://user-images.githubusercontent.com/26610733/133206331-dd3f9cdb-afac-449d-9a42-e79ffebec387.png)
![image](https://user-images.githubusercontent.com/26610733/133206357-a68c3cc9-2bca-4853-98dd-3359df2869c6.png)
![image](https://user-images.githubusercontent.com/26610733/133206375-8cb2dea9-fa09-4845-974a-67c383fbc439.png)
![image](https://user-imag

[2021-09-14 08:12] kulmann commented on #5804
The screenshots are mixing `resource not found within files app` and `page not found`. ;-) A `resource not found within files app` already exists. See screenshot:

<img width="1516" alt="Screenshot 2021-09-14 at 10 12 34" src="https://user-images.githubusercontent.com/3532843/133221014-fe027c69-3e41-4ba9-9dc3-ebd2530234d0.png">

[2021-09-14 08:56] LukasHirt commented on #5794
## Smoke test standalone against oc10

- :heavy_check_mark: as gunter - upload 2000 files to a folder
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly (not responding message sometimes appear)
- :heavy_check_mark: as gunter - share the folder as viewer
- :heavy_check_mark: as alice - share is already accepted. declining and accep

[2021-09-14 09:23] tbsbdr commented on #5804
@wkloucek Can you work with that or was your request more about a friendlier appearance of the 404?

[2021-09-14 09:43] wkloucek commented on #5804
My request is about a not found site outside of the files app. Eg. when an oC 10 bookmark (eg. https://ocis.ocis-traefik.latest.owncloud.works/apps/files?dir=/&fileid=16) is opened after the migration to oCIS you would just see a "404 not found" page

![image](https://user-images.githubusercontent.com/34452982/133234905-31685cca-b715-4eb1-8020-f80fecca22e2.png)

[2021-09-14 09:45] wkloucek commented on #5804
That example could be misleading since once could argue that we are migrating links inside the files app, which is true. But that won't probably apply to other apps, eg. `https://ocis.ocis-traefik.latest.owncloud.works/apps/richdocuments/index?fileId=48`

[2021-09-14 09:55] kulmann commented on #5804
I understood from your issue, that it's about a generic 404 page for `page not found`. I was just pointing out that the screenshots are mixing two different things.

[2021-09-14 15:17] ScharfViktor opened #5807 "Empty "expiration date" field when editing a public link"
branch release 4.2.0
with ocis docker(version 1.11.0)

### Steps to reproduce
1. Create link to file or folder with "password" and "expiration date"
2. Try to change link

### Expected behaviour
the "expiration date" field is filled with the current value, otherwise how do we know its value

### Actual behaviour
the "expiration date" field is empty. The "password" field also empty

<img width="138

[2021-09-14 15:17] ScharfViktor commented on #5794
Smoke test with ocis:
branch: branch release-4.2.0

Case 1: admin share folder(with file) to marie:

	Admin:
x.              upload big file 30gb
                upload folder with 1000 files. Check pagination, count items per page
v		upload folder "folder_to_share" with file.pdf
v		share folder "folder_to_share" to marie with edit right
	Marie:
v		accept "folder_to_share"
		rename "folder_to_shar

[2021-09-14 19:40] kulmann commented on #5794
## Smoke test rc1 standalone against oc10

- :heavy_check_mark: as gunter - upload arch/mips folder from linux kernel (1945 files)
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as gunter - share the folder to alice as viewer
        - sharing is not possible before the upload finished (user invite field do

[2021-09-14 19:48] kulmann commented on #5807
Fixed as part of the release: https://github.com/owncloud/web/pull/5793/commits/aa20dbbfb243ee1a5ae8fa59ec9f869a0418495d

[2021-09-14 19:49] #5807 closed

[2021-09-14 19:51] kulmann opened #5808 "Drag & drop for move kills drag & drop for upload"
### Steps to reproduce
1. try to drag a file from your system into the files app - not on whitespace but on a file row

### Expected behaviour
drag area appears for accepting the upload

### Actual behaviour
the highlighting of the files table indicates that a move target is to be selected. no drag area appearing. dropping the file opens the file in a new browser tab. switching back to ownCloud We

[2021-09-14 22:35] #5794 closed

[2021-09-15 07:38] labkode opened #5809 "Add download button for folders"
As as followup of:
https://github.com/owncloud/ocis/issues/2507

In the PR you have the method and API endpoints to call.

This needs to happen first:
https://github.com/owncloud/ocis/issues/2507

[2021-09-15 10:16] jasson99 commented on #5790
For the tests related to breadcrumb, if the breadcrumb that is expected to be visible in the webUI when the resolution is `'1280x1024'` is not visible, then the test does not fail in that step, as there is another check where it checks for the `mobile breadcrumb` element below. If the mobile breadcrumb is visible (which should be visible in the mobile resolution, as another breadcrumb element was

[2021-09-16 03:17] phil-davis commented on #5790
Help me out here. Does the nightwatch-selenium-browser combination actually return the status of an element as "visible" even though the element cannot be seen by a real person?

[2021-09-16 07:30] kulmann opened #5811 "Update deployment docs for oc10 app"
oauth2 v0.5.0 has been released recently https://github.com/owncloud/oauth2/issues/299

It introduces the option to set certain oauth2 clients as trusted. As a result the authorization after authentication gets omitted. For clients like ownCloud Web this seems to be a good idea.

Update deployment docs https://owncloud.dev/clients/web/deployments/oc10-app/ to at least hint at checking the checkbox

[2021-09-16 09:58] ScharfViktor commented on #4167
It's fixed. Re-tested with local server oCIS version 1.12.0 and web 4.2.0

@kiranparajuli589 this case is relevant. for it there is https://github.com/owncloud/ocis/issues/1038

[2021-09-16 09:58] #4167 closed

[2021-09-16 13:09] pmaier1 commented on #5644
Added some more findings.

[2021-09-16 13:20] tbsbdr commented on #5644
**Loadspinner:** Add something like a loadspinner so that users know, that they need to wait.

[2021-09-17 07:30] rpocklin opened #5817 "File Share Quota incorrectly determined for share folders"
There is a current issue in logic checking if `quota && quota.free > 0` in `AppBar.vue`  in order to enable or disable the `New +` button.

https://github.com/owncloud/web/blob/76036fd83dbd3a787db8321114e88d81d04cf63f/packages/web-app-files/src/components/AppBar/AppBar.vue#L264-L273

This makes an assumption the user is in his/her personal space (as it looks up the quota returned from the `$client

[2021-09-20 05:55] hannesa2 opened #5821 "No image zoom functionality in Android web browser"
I use `ownCloud 10.5.0 (stable) ` and when I open images I can't zoom into images with gestures

### Steps to reproduce
1. open images on Android in standard web browser
2. try to zoom with gestures

### Expected behaviour
A zoom with gestures

### Actual behaviour
nothing happens

### Server configuration

**Web server:**
2.4.41 Apache on Ubuntu 20.04

**Database:**
Postgresql

**PHP version:**
P

[2021-09-20 06:03] hannesa2 opened #5822 "Remove missing license notification"
How to get rid of this message ? I don't need a license because I didn't use all there features
<img width="566" alt="image" src="https://user-images.githubusercontent.com/3314607/133961877-ec64fc83-9af0-4137-8eba-0ceecf7dd493.png">

I guess it was 100 times asked, but I don't found it in issues.

**Expected beahavior**
A simple remove button in GUI would be nice too.

**Config**
The server comes

[2021-09-21 07:59] jasson99 commented on #5790
I found out that the breadcrumb element is always in the dom, so according to our implementation, even after checking for visibility and aborting on failure, we checked if the element is present in the DOM and if it did, the tests pass without reaching the point where the mobile breadcrumb is to be tested. This PR: https://github.com/owncloud/web/pull/5819 should fix the issues: https://github.com

[2021-09-21 09:53] pascalwengerter commented on #5439
Haven't seen this one being flaky in a long time, closing for now. Feel free to reopen if applicable

[2021-09-21 11:12] jasson99 commented on #5790
For this issue: https://github.com/owncloud/web/issues/5790#issuecomment-915996323 , the element is visible in the DOM, but not visible to us in the webUI as the details tab covers it. However, the nightwatch waitForElementVisible command passes in that scenario. I could not find any other difference in the element locator when the breadcrumb is actually not visible to us and details tab is visibl

[2021-09-22 06:59] kulmann commented on #5745
Hey, sorry for not getting back to you earlier :-(
Could you provide your `config.json` file for the ownCloud Web app as well? It should live in the `/config` dir, alongside the `config.php`. I suspect that you have neither `openIdConnect` nor `oauth2` configured as an auth provider. Our docs regarding the config are here https://owncloud.dev/clients/web/deployments/oc10-app/

Also happy to debug

[2021-09-23 10:44] anthony-launay commented on #5745
Hi,

Here is my config.json file :

`

{
  "server" : "https://***REMOVED URL***",
  "theme": "owncloud",
  "auth": {
    "clientId": "***REMOVED SENSITIVE VALUE***",
    "url": "https://***REMOVED URL***/index.php/apps/oauth2/api/v1/token",
    "authUrl": "https://***REMOVED URL***/index.php/apps/oauth2/authorize"
  },
  "apps" : [
    "files",
    //"media-viewer",
    //"draw-io"
  ],
  "applic

[2021-09-23 11:08] kulmann commented on #5745
Hey, json parsing is unfortunately very strict. Trailing commas are a syntax error and there is no way of commenting out lines. Could you please adapt your `config.json` in the following way and try again:
- remove the trailing comma after the `"files"` app, since it's the last element in the list
- drop the lines that you wanted to comment out (media-viewer and draw-io)

Also please make sure tha

[2021-09-23 11:11] anthony-launay commented on #5745
Thank you for this feedback.
Unfortunately, the problem is still present

[2021-09-27 06:38] saw-jan opened #5840 "[oCIS] Previewing video from mediaviewer pops up a sign-in dialog"
### Steps to reproduce
1. run `web` with `oCIS`
1. upload a video file
2. `Open in Mediaviewer` from file menu

### Expected behaviour
To see video playback without signin dialog

### Actual behaviour
![signin_dialog](https://user-images.githubusercontent.com/52366632/134855612-d280a090-fde2-402f-8386-8261b35d2d3d.png)

## Setup

Please describe how you started the server and provide a list of rel

[2021-09-27 12:09] exalate-issue-sync[bot] opened #5844 "Improve Search Experience"
## Userstory

## Acceptance Criteria
- **recent** Click on empty search field shows recently entered search phrases
- **typeahead** on entering characters, search suggestions are shown
- **refresh** on every keystroke the search suggestions get refreshed
- **search suggestions** if appropriate, first suggestions show maching recent searchprases; below show suggestions of matching filenames
- **emp

[2021-09-27 14:09] ishank011 opened #5845 "Context menu items at the extreme ends are inaccessible"
When trying to view the context menu for files, if the number of possible actions is too long, the extremes are cut and are inaccessible even after trying to scroll

<img width="1145" alt="Screenshot 2021-09-27 at 16 05 15" src="https://user-images.githubusercontent.com/10387289/134924705-73cfb52a-0537-403d-bc52-4b67b335a1f2.png">

[2021-09-27 14:51] anthony-launay commented on #5745
@kulmann any idea ?

[2021-09-28 05:41] jasson99 commented on #5790
@pascalwengerter I could not understand what the weird stuff actually was. Also the errors in the log, did you mean `expected "found" but got "not found"` (as shown in the screenshot below) error but the tests passing after that?
![Screenshot from 2021-09-27 16-05-23](https://user-images.githubusercontent.com/40829116/135029589-28cbcbe9-7025-4a07-9cf7-a2c08df721f2.png)

I am currently working on t

[2021-09-28 08:15] kulmann opened #5846 "SVG favicon"
Provide SVG favicon
https://medium.com/swlh/are-you-using-svg-favicons-yet-a-guide-for-modern-browsers-836a6aace3df

[2021-09-28 08:17] kulmann opened #5847 "Set meta prop "theme-color""
The new Safari on macOS decorates the tab bar with the color from `<meta name="theme-color" content="#375f7E">`

![CleanShot 2021-09-27 at 21 34 40](https://user-images.githubusercontent.com/3532843/135050080-b56865d2-f914-4455-9691-817bd3397128.png)

Check if we can use the brand color from the currently loaded theme there.

cc @michaelstingl

[2021-09-28 08:22] pascalwengerter commented on #5847
Perhaps not working, see https://css-tricks.com/meta-theme-color-and-trickery/#custom-properties

[2021-09-28 11:28] pascalwengerter commented on #5745
@anthony-launay could you use a JSON validator (e.g. https://duckduckgo.com/?q=json+validate&t=newext&atb=v274-1&ia=answer, make sure to remove any sensible data before pasting) and confirm your config is valid to rule out that type of error? :)

[2021-09-28 13:09] pascalwengerter commented on #5116
Finally got around to looking this today. To summarize the questions you have:

1. Do I have to manually add all the application I want to use?
As of now, yes

2. If so how can I get the to use the correct icon for the application?
You can use any of the icons from our [design system icons](https://owncloud.design/#/Design%20Tokens/Icon) and open an issue there if you need any that are not availab

[2021-09-28 13:09] #5116 closed

[2021-09-28 14:26] anthony-launay commented on #5745
Thank's @pascalwengerter !
There were still 2 extra commas ! It is now good.

[2021-09-28 14:26] #5745 closed

[2021-09-28 15:25] pascalwengerter commented on #5790
Sorry for the unclear wording, "weird stuff" was referencing the fact that (from my memory) the wrong group got added (or was it deleted?) in an input field, and the test continuing even though it obviously failed at what the `.feature` file said it was doing

[2021-09-29 09:43] saw-jan commented on #5660
I can confirm that the cause of the failure for this scenario is `stale element reference`. This might occur due to DOM refresh.
For this particular case, I suspect, file preview is causing the DOM refresh.
I duplicated the scenario multiple times and tried adding `@disablePreviews` to the feature file, all the tests passed.

[2021-09-29 09:52] saw-jan commented on #5660
For shareIndicator test step, the function that gets share-indicator will get retried once if the share-indicator is not found for the first time. If that happens then you are likely to see `stale element reference` error but the test will pass (if the retry passes).

[2021-09-29 10:53] saw-jan commented on #5790
@jasson99 I think what @pascalwengerter was trying to point out is that in the scenario `sharePermissionsGroup.feature:22` when the step to remove `grp1` from the input field hits, instead of `grp1`, `grp2` will be removed. But later `grp2` will appear as a collaborator in the list.
(see screen record below):

https://user-images.githubusercontent.com/52366632/135255043-e37426f7-ffdc-4f51-b860-d32

[2021-09-29 11:17] refs commented on #5840
@saw-jan as of the latest master I am not able to reproduce this one any longer 🤔

[2021-09-29 11:19] refs commented on #5840
also not happening on the test deployment https://ocis.ocis-traefik.latest.owncloud.works/#/

[2021-09-29 11:34] pascalwengerter commented on #5840
Probably has been fixed via https://github.com/owncloud/ocis/pull/2557 thanks to @C0rby, closing for now

[2021-09-29 11:38] pascalwengerter commented on #5840
Sorry, reopen and let @refs decide when it's "done"

[2021-09-29 12:24] #5840 closed

[2021-09-29 12:30] pascalwengerter commented on #5840
We need to removed the expected failure in `web` as well, but I'll take care of this later

[2021-09-29 16:40] individual-it commented on #5660
this seems to be the case, according to @fschade the whole row is re-rendered when the preview is loaded

[2021-09-29 18:36] individual-it opened #5853 "versions tests sometimes fail with too little versions listed"
`webUIFilesActionMenu/versions.feature:36` sometimes fails in the step `And the versions list should contain 2 entries` because only one version could be found
![grafik](https://user-images.githubusercontent.com/2425577/135325050-4401921b-89d3-4f6f-8a0c-6eac806a490c.png)
e.g. https://drone.owncloud.com/owncloud/web/19297/12/14

[2021-09-29 18:47] individual-it commented on #5660
hopefully fixed in #5852

[2021-09-30 02:16] #5660 closed

[2021-09-30 06:06] wkloucek commented on #5135
can this be closed after https://github.com/owncloud/web/pull/5805 is merged or are there open points?

[2021-09-30 07:39] elizavetaRa opened #5854 "Clicking on details of an unselected list item doesn't open it's details"
### Steps to reproduce
1. Open the context menu of a file with the right click. The context menu is adapted to the file but clicking on details doesn't open the corresponding details in the sidebar
2. Same when clicking on quick actions -> Details in the column "Quick actions"

### Expected behaviour
The item should get selected if the right click or the button click is performed on it. This happe

[2021-09-30 08:05] TheOneRing opened #5855 "Sort order in trash is broken"
Experienced with 4.2.0 and oc 10.8
![image](https://user-images.githubusercontent.com/200626/135412771-4f421bab-3837-496a-915e-e8dc07ab8c73.png)

[2021-09-30 10:37] pascalwengerter commented on #5293
@phil-davis @individual-it can we put this back on your roadmap? Just discussed this with @fschade and @kulmann and we'd really love to build the web `dist` folder once and then copy it over into the acceptance test pipelines, just like it is being done with the oCIS binary

[2021-09-30 10:46] phil-davis commented on #5293
@Talank @SwikritiT this needs to be looked at again to see if we can find a solution that will work in practice.

@dpakach is on leave for another week - he made the comment https://github.com/owncloud/web/issues/5293#issuecomment-893237041

Someone could have a look at his PR #5743

[2021-09-30 10:55] pascalwengerter commented on #5293
Thanks for the reply, from my understanding #5743 could be an additional building block but is not strictly necessary for what we're trying to accomplish here

[2021-09-30 11:13] wkloucek commented on #5293
I did a little bit of research since we cannot be the only ones having the problem -> https://medium.com/disdj/speed-up-npm-yarn-install-in-gitlab-1434437f9857

I would give `Yarn 2 with PNP` a try. Basically instead of caching the `node_modules` and `.yarn` folder (which is incredibly slow because a loooot of small files), yarn provides archives, which can be cached.

[2021-09-30 12:11] pascalwengerter commented on #5293
This _could_ be an approach, but from my understanding we don't need to touch the `node_modules` - we're building our "production bundle" in the `dist` folder, containing maybe ~20 files and around 10 MB (which we should look into reducing by quite a bit as soon as possible, but that's another topic). All we'd have to do is copy this `dist` folder into the acceptance test pipelines in a similar ma

[2021-09-30 12:34] pascalwengerter commented on #3913
Closed in favor of the more recent #5809

[2021-09-30 12:39] pascalwengerter commented on #5742
Can't reproduce on current master, closing for now

[2021-09-30 12:39] #5742 closed

[2021-09-30 12:39] kulmann commented on #3913
Fine because we're solving both in one PR, but actually this ticket is about an archive download for multiple selected files, while the other issue is about a download opportunity for a single folder. ;-)

[2021-09-30 12:43] kulmann commented on #5742
Was solved in https://github.com/owncloud/web/pull/5793

[2021-09-30 12:50] pascalwengerter commented on #3913
Okay sry, reopened & linked to your PR

[2021-09-30 12:50] jasson99 opened #5857 "Deletion of a selected user/group as a collaborator has unusual behavior"
### Description:
When we try to delete a user/group out of few selected users/groups as collaborator, we can see that the collaborator which was listed in the last option seems to be removed from the selected list.

Once we share the resource with the remaining collaborators, the resource is also shared with few useres/groups which we removed, and some users/groups which seemed to disappear.

###

[2021-10-01 08:49] #5619 closed

[2021-10-01 10:56] wkloucek commented on #5293
@pascalwengerter check out https://github.com/owncloud/web/pull/5859. This solves it from my perspective. Though I don't know if we break something else with the switch to yarn 2....

Let me know if we should continue on that

[2021-10-01 11:17] pascalwengerter commented on #5293
EDIT: There was an error in my logic, we'll need to install nightwatch & cucumber to run the acceptance tests so "just caching the `dist` folder" is not enough

[2021-10-01 16:44] exalate-issue-sync[bot] opened #5861 "Open Context menu on click on whitespace"
Currently, only right-clicks on OcTableFiles rows open a context menu.

As a user, I'd like to do a right-click somewhere in space or folder to open a contextmenu containing actions:
- Create new folder
- Paste selection (after cut/copy)
- Details (for current folder)

Maybe as a followup:
- Upload file/folder
- Create new file (needs sub menu, because the list of file types to create is long)

[2021-10-01 16:47] pascalwengerter opened #5862 "Enable archive download on public links"
### Steps to reproduce

1. Wait for #4832 to be merged
2. Receive a public/link share
3. Try downloading multiple files at once or a folder => fails

### Expected behaviour
As a public share receiver, I'd like to download files/folders. Once #5832 is merged, this is only available for logged-in users

### Actual behaviour
Archive download is restricted to authenticated users

[2021-10-01 16:51] pascalwengerter opened #5863 "No capabilities in public context with password"
### Steps to reproduce
1. Receive a public link share with password
2. Don't see any behavior that is communicated via capabilities from the backend

### Expected behaviour
Not necessarily all capabilities, but at least the most interesting ones should be available for the `web` frontend in an unauthenticated password protected context

### Actual behaviour
No capabilities are available in an unau

[2021-10-01 17:50] pascalwengerter commented on #5135
I've refactored the acceptance criteria in this ticket and so far we've only checked the first box ;) the other ones needs further concepting and backend changes (not sure if oCIS/Reva/... though)

[2021-10-01 17:59] pascalwengerter commented on #1748
Closed this as fixed, we've refactored the permissions checks in the actions so users shouldn't be able to see the "Rename" action anymore if they're not allowed to perform the action

[2021-10-01 17:59] #1748 closed

[2021-10-04 05:09] rpocklin commented on #5817
Is it possible to get this looked at for comment?

[2021-10-04 05:43] jasson99 commented on #5853
This has been more frequent now. This should be fixed soon

[2021-10-04 05:44] rpocklin opened #5869 "Media viewer watermarks"
It would be very beneficial to have the media viewer support watermarks to protect images and the like from being downloaded or printed (ie. would be useful when a user does not have the download permission).

A brief search yields these libraries:

* https://github.com/brianium/watermarkjs
* https://github.com/CoderMonkie/js-watermarker

Let me know if this would be considered as a PR if not a pr

[2021-10-04 09:23] #5845 closed

[2021-10-04 09:35] kulmann opened #5872 "Release 4.3.0"
## Release checklist
- [ ] prepare release rc:
  - [ ] create a branch `release-4.3.0`
  - [ ] update the version in `packages/web-integration-oc10/appinfo/info.xml`
  - [ ] update the version in `package.json`
  - [ ] update the version in `sonar-project.properties`
  - [ ] move changelog/unreleased/* to changelog/VERSION_YYYY-MM-DD
  - [ ] update the ocis commit id in `.drone.env` to the most re

[2021-10-04 12:05] fschade commented on #5788
discussed it moments ago, i would also prefer the one from dropbox.

[2021-10-04 12:06] paulcod3 commented on #5788
i like dropbox, but since it will be a component it can be redesigned at any time

[2021-10-04 13:53] individual-it commented on #5627
Also failed here https://github.com/owncloud/web/pull/5832

[2021-10-04 14:56] diocas opened #5875 "Redirect to homeFolder only"
When I open ocis web (I go to `/`), I get redirected first to `/#/files/list/all` and only then I'm redirected to `homeFolder` (in our case, `/#/files/list/all/eos/user/<letter>/<username>`). I should only be redirected to the latter.

We suspect that with our latest update, getting `/` might have become slightly slower. And this became quite noticeable due to #5085, which is causing the view of m

[2021-10-05 04:30] kulmann commented on #5863
Capabilities for public links are not available as of now. Ideally we would use the public auth middleware for oCIS for making capabilities available on public links. For oc10 the solution is not clear, but less pressing since the two linked tickets are oCIS-only features so far.

[2021-10-05 07:40] wkloucek commented on #5293
@pascalwengerter @fschade should we go forwards with the Yarn2 approach?

[2021-10-05 10:31] sakshamgurung commented on #5627
Either simple reload after navigating in the `Shares` folder or navigating to `Files` page and opening the `Shares` folder seems to work in the scenario. Should I change the steps?

[2021-10-05 15:42] individual-it commented on #5627
@sakshamgurung we need to find out what the issue is, not just make it work.
Is it a problem in the test code or a real bug in web?

[2021-10-05 17:00] #3913 closed

[2021-10-05 17:00] #5809 closed

[2021-10-06 13:09] wkloucek opened #5879 "Files are displayed bigger than they are (or: one KB has 1024 Bytes and not 1000)"
### Steps to reproduce
1. create a file with 8GB (`fallocate -l 8G 8G.bin`)
2. upload it to ownCloud
3. show file listing

### Expected behaviour
The file with the name `8G.bin` has a size of 8.0GB.

### Actual behaviour
The file with the name `8G.bin` has a size of 8.6GB.

![image](https://user-images.githubusercontent.com/34452982/136207879-0d86c093-2651-47ba-8878-1642b4234b91.png)

Turns out th

[2021-10-06 17:34] paulcod3 commented on #5872
## Smoke test standalone against oc10

- ❌ as gunter - upload 2000 files to a folder
    - browser gets slowed down alot
    - sometimes even doesnt load
- ✔️ as gunter - share the folder as viewer
- ✔️ as alice - share is already accepted. declining and accepting again works as expected (buttons in shared with me table, batch action, right sidebar)
- ✔️ as alice - try do delete file from shared f

[2021-10-06 22:18] kulmann commented on #5879
That was actually a conscious decision by product management. The lib that ownCloud Web is using for calculating human readable file sizes recently had a major version upgrade which switched from base 2 to base 10 calculation for file sizes, see [their changelog](https://github.com/avoidwork/filesize.js/blob/master/CHANGELOG.md).

[2021-10-07 07:06] wkloucek commented on #5879
I didn't find that, that's quite all information you need. So basically what Linux shows me and what I expected to have in Web are Gibibytes :laughing:

[2021-10-07 07:06] #5879 closed

[2021-10-07 08:11] fschade opened #5882 "uploading many files freeze the browser"
### Steps to reproduce
1. upload 2k files to a folder

### Expected behaviour
ui keeps responsive

### Actual behaviour
ui gets unusable

### Server configuration
oc10, ocis

[2021-10-07 08:49] kulmann commented on #5872
IMO (3) is a blocker for the release. We need to check if the error is caused in the frontend implementation. Will get back to you asap...

[2021-10-07 09:14] kulmann commented on #5872
Ok, seems to be a collabora issue. Got Onlyoffice and CodiMD running. IMO release unblocked. Let's go ahead.

[2021-10-07 09:16] kulmann commented on #5872
Please check this PR https://github.com/owncloud/web/pull/5881

[2021-10-07 09:51] fschade opened #5884 "Archive download for public links"
## Userstory

## Acceptance Criteria
- select multiple files
- download those files as archive.tar

## Context
it is important that also files that are shared publicly can be downloaded as archive, this is a requirement for Cern Stage 1 rollout. This is a addition to the existing implementation  of archive downloads https://github.com/owncloud/web/pull/5832 Currently archive downloads are only ava

[2021-10-07 12:32] Deaddy opened #5886 "Logging out of oC web does not log out of oC classic"
This might be just an annoyance, internally we are also still unsure whether we see this as a huge problem or if it is just a  meh issue for power users during the transition away from oC classic.

### Steps to reproduce
1. Run ownCloud web as app for owncloud classic
2. Log into ownCloud web via the menu in the upper left corner
3. Authenticate the app
4. Log out of owncloud web
5. Be still logge

[2021-10-08 09:52] dragotin opened #5891 "Extension: EPub Viewer"
Build an EPub Viewer extension for ownCloud Web.

https://github.com/futurepress/epub.js/ might be a reasonable JS lib to render EPub.

[2021-10-08 10:24] #5627 closed

[2021-10-08 19:50] kulmann commented on #5854
The right click is captured here: https://github.com/owncloud/owncloud-design-system/blob/db0764a8d90f162548c00cef4efe9aa31f47fc8e/src/components/table/OcTable.vue#L45

That gets forwarded into the `showContextMenu` method of `OcTableFiles`, which then emits a selection model change event here: https://github.com/owncloud/owncloud-design-system/blob/master/src/components/table/OcTableFiles.vue#L43

[2021-10-10 10:09] fschade commented on #5854
@elizavetaRa i tried to reproduce it but was not able to do so, the setup i use:
- ocis latest master
- web latest master
- ods 10.0.0

can you please try to remove all node_modules folders (<root>/node_modules, <root>/node_modules/packages/*/node_modules) and the do a yarn install --force in the <root>.

please also have a look into packages/web-runtime/package.json if the ods version is 10.0.0.

[2021-10-11 09:37] pmaier1 opened #5895 "Express intent when sharing"
Usability improvements. Needs ideas and concept.

As a user I want to provide an intent when sharing a file so that the recipient(s) know(s) why I shared the file with them and can act accordingly.

@tbsbdr let's discuss

[2021-10-11 14:31] elizavetaRa commented on #5854
@kulmann @fschade We do have all mentioned things in our web and ods forks, the ods version is 10. And when I run them locally, right click selection works. But on cernbox server I get the following error in the console:

`TypeError: Cannot read properties of undefined (reading 'id')
    at web-app-files-3dc05a6e.js:1
    at Array.map (<anonymous>)
    at d.SET_FILE_SELECTION (web-app-files-3dc05a

[2021-10-13 08:57] dschmidt opened #5901 "Flicker on boot after OAuth2 redirect"
### Steps to reproduce
1. Open browser in incognito mode to make sure no tokens are in local storage and you are not logged in anywhere
2. Go to demo.owncloud.com and login with demo // demo
3. Choose new design

### Expected behaviour
web.owncloud.com opens, I am redirected back to demo.owncloud.com for OAuth2 and then again redirected to web.owncloud.com.

oC Web boots without flickering.

### A

[2021-10-13 13:13] fschade commented on #5875
@elizavetaRa is it possible that you have a look at the console which url is requested and what the response is?

[2021-10-13 16:15] #5875 closed

[2021-10-14 08:24] ishank011 opened #5903 "Pass view mode to /app/open"

[2021-10-14 08:41] kulmann commented on #5861
cc @diocas @elizavetaRa since we talked about this two days ago. Happy to hear ideas of what else could be in the context menu when clicking on whitespace in the files app.

[2021-10-14 12:39] #5811 closed

[2021-10-14 13:23] pascalwengerter commented on #5903
Enough to at least get started, thanks!

[2021-10-14 14:15] labkode commented on #5085
@kulmann @dragotin
This is a major blocker for our roll-out and needs to be fixed in short-time (days).
By manually testing it you end up with: browsing into a directory and is empty, browsing into a directory that contains contents from other places, clicking on shared with me and listing your home files rather than your shares, etc ...

[2021-10-14 14:39] elizavetaRa opened #5906 "Shared with me files can't be opened with external apps"
### Steps to reproduce
1. Apps missing in the context menu
2.Apps missing in the sidebar actions

### Expected behaviour
External apps should be enabled for accepted shares

### Actual behaviour
"mimeType" property is in shares json coming from server but missing after aggregateResourceShares()

[2021-10-14 17:37] pascalwengerter opened #5908 "Switch from commit-id to (dockerized) last official release of OC10 in CI"
### Problem
We're currently testing the web frontend against an unreleased version of OC10 since we're linking (and updating) the core's commit ID. This potentially leads us to the point of releasing a web version that passes CI but doesn't work with existing client applications since they're running (stable, official) releases.

### Decision
We have decided to switch from the commit-ID based appr

[2021-10-15 04:49] kulmann commented on #5085
Thank you for your comment, I was finally able to reproduce it locally. We only solved edge cases within one view so far (so if you navigate into sub- or parent-folders in the `All files` list). That all works fine now as far as I know, because those requests are resolved sequentially. BUT: across views requests for loading resources can indeed overlap. So a slow loading "shared with me" will rend

[2021-10-15 15:33] gmgigi96 opened #5913 "User/group filters type does not work"
In reva the user and group provider implement some filters which allow a user to filter by the user/group type (primary, secondary, lightweight account), when creating a share of a folder.
These filters are specified prepending a letter to the actual query name, i.e. `<letter>:<user/group>`, and can be `a` to get all the primary, service and secondary accounts, `l` to get only the lightweight acco

[2021-10-15 16:49] #5908 closed, assigned to phil-davis

[2021-10-15 17:00] phil-davis opened #5915 "Testing against current oC10 core master"
In issue #5908 PR #5909 we now run regular CI against the oC10 "latest" server version. Currently that is ownCloud 10.8.0
That confirms that web browser code works successfully against a current release of oC10 server - good.

We also want to know, at some interval, that the web browser code works against the later code in core master that will become the next ownCloud 10.x release.

For discussio

[2021-10-15 20:54] #1901 closed

[2021-10-15 21:08] #3496 closed

[2021-10-15 21:19] kulmann commented on #3753
Solved in the meantime. See screenshot:

<img width="552" alt="Screenshot 2021-10-15 at 23 19 00" src="https://user-images.githubusercontent.com/3532843/137554738-83b484ee-86b7-49d3-a2df-45f14d78998c.png">

[2021-10-15 21:19] #3753 closed

[2021-10-15 21:23] kulmann commented on #3590
This will become relevant again when we have proper settings in oCIS. Closing here until then - we will create new issues.

[2021-10-15 21:23] #3590 closed

[2021-10-15 21:28] kulmann commented on #4170
Works properly by now. Tried to reproduce it again just now, without any luck. Closing here.

[2021-10-15 21:28] #4170 closed

[2021-10-15 22:03] #5764 closed

[2021-10-17 10:00] fschade commented on #5085
@labkode can you please test https://github.com/owncloud/web/pull/5917. Should fix it, i hope i spotted all places.

[2021-10-18 03:31] saw-jan commented on #5790
Tests have been adjusted in PR https://github.com/owncloud/web/pull/5843
Maybe we can close this issue.

[2021-10-18 08:40] diocas opened #5923 "Show sharing compact view in Details"
This is a detail, but I leave the ticket here to start a discussion.

To me it doesn't make much sense that when I click "People" (in the sidebar) to see who I shared a file/folder with, I see first a compact view which I need to click to view the full details. This is an extra step that doesn't bring much to my experience.

I would suggest having this compact view in the Details pane, leaving the

[2021-10-18 10:56] pascalwengerter commented on #5923
@tbsbdr please take a look :)

[2021-10-18 12:04] #5906 closed, assigned to nobody

[2021-10-19 07:43] pascalwengerter opened #5926 "Skip oCIS-only settings request for OC10"
### Steps to reproduce
1. Upon login/logout, one can see requests to `/api/v0/settings/values-list` in the network tab
2. Those always fail on OC10 since the endpoint doesn't exist

### Expected behaviour
Only necessary requests are being sent based on used backend

[2021-10-19 10:15] pascalwengerter commented on #5913
What's the definition of done for this ticket? For me it's not clear whether this is a CERN/Reva specific topic which we should solve in a generic way in web and what you're actually looking for (e.g. "a dropdown to filter for account types when looking for people to share with")

[2021-10-19 16:17] elizavetaRa opened #5927 "Context menu by deleted shown inside of the rows (CERNBox)"
We face the problem with the context menu by deleted files in https://github.com/cernbox/web/tree/qa, so far didn't find what causes it. Appeared about a month ago.

### Steps to reproduce
1. go to "deleted files" view (not code difference in CERNBox web to owncloud web  https://github.com/cernbox/web/commits/master/packages/web-app-files/src/views/Trashbin.vue)
2. All other views are not affected

[2021-10-20 06:53] kiranparajuli589 opened #5928 "closing the file editor routes back to all files page"
### Steps to reproduce
1. create a folder `zzz`
2. click the new button and choose `New plain text file...` or any other new file option
3. add some text to the new file and hit the save button on the editor page
4. now click the close button i.e present at right of the editor page

### Expected behaviour
- user should get land on `All files / zzz` page

### Actual behaviour
- user lands on `All f

[2021-10-20 07:16] kiranparajuli589 opened #5929 "[ocis] creating new file add some random named file to the all files list"
### Steps to reproduce
Using the ocis backend
1. login to the web
2. create a new file using the `+New` button and `New plain text file...`
3. add some content to it and save it.

### Expected behaviour
- only a new file with the given name and content should be added

### Actual behaviour
- a new file with the given name and content is added
- an extra file with a random name and `0B` in size is

[2021-10-20 07:40] fschade commented on #5085
thanks @diocas

[2021-10-20 08:26] kulmann commented on #5926
Probably best to create a capability for it, right?

[2021-10-20 10:01] paulcod3 commented on #5808
Should be fixed with this PR, needs ODS update.
https://github.com/owncloud/owncloud-design-system/pull/1732

[2021-10-20 13:19] diocas opened #5930 "File sorting is not persistent"
When navigating within my files (same /files/list/all view), the sorting options are not preserved. Meaning that if I order by date, for example, once I enter a different folder I get back to sorting by name.
In OC10 this choice is preserved, so we consider it a regression.

[2021-10-20 15:36] #5857 closed

[2021-10-21 09:26] fschade commented on #5927
we reproduced it in a zoom meeting, the reason why this only happens is that the fileid contains a colon `context-menu-drop-pxid:000...`.

@elizavetaRa checks internally if this is a bug or the id needs to be in this format.
On our side we need to clean the ids and keep care that the format is always valid

[2021-10-21 09:44] elizavetaRa commented on #5927
@ishank011 @diocas

[2021-10-21 11:08] pascalwengerter opened #5932 "Notifications queue persists over page navigation"
### Steps to reproduce
1. Start oCIS, delete a lot of files (~100 textfiles in my case)
2. Go to trashbin, bulk-restore all files
3. See notifications about successful restore of files persists over page notification and each get displayed for 5s and then removed, showing only the last 5 ones

### Expected behaviour
Page navigation _could_ flush the notifications queue **or** we make them less pro

[2021-10-21 12:13] #5926 closed, assigned to pascalwengerter

[2021-10-22 15:07] ishank011 opened #5937 "Fix rendering of error in case of no quota space"
When web calls the `/ocs/v1.php/cloud/users/$username` endpoint, it returns back the home quota of the user. If the user doesn't have enough quota, the 'Upload' button is disabled, but no error message is shown. If you inspect the element, you can see the error 'You don't have enough quota to upload' but it's not displayed to the user.

[2021-10-22 15:18] diocas opened #5938 "Move broken when clicking the breadcrumb"
If I click in the breadcrumb to go up to a different folder when moving a file, the location get corrupted.
I suppose this is a side effect of the fix to support clean urls.

### Steps to reproduce
1. Try to move a file (with the move action)
2. Navigate to a parent folder by clicking in the breadcrumb

![image](https://user-images.githubusercontent.com/2589871/138480436-1c4b4e9e-e031-4a62-a64e-f9

[2021-10-25 09:07] kulmann opened #5943 "Release 4.4.0"
## Release checklist
- [x] pin release issue @kulmann
- [x] prepare release rc: @kulmann
  - [x] create a branch `release-4.4.0` @kulmann
  - [x] update the version in `packages/web-integration-oc10/appinfo/info.xml` @kulmann
  - [x] update the version in `package.json` @kulmann
  - [x] update the version in `sonar-project.properties` @kulmann
  - [x] move changelog/unreleased/* to changelog/VERSI

[2021-10-26 12:04] #5938 closed, assigned to fschade

[2021-10-26 17:24] #5943 closed, assigned to nobody

[2021-10-27 12:42] labkode opened #5949 "OCIS Web in Safari 13.1.2 shows blank screen"
Opening new interface in Safari 13.1.2 shows a blank screen. Tried empty caches but did not help. I'm using macOS High Sierra 10.13.6

Attached console message.

![image](https://user-images.githubusercontent.com/5175912/139067577-8767877c-1295-4879-851a-a29136ad7657.png)
![image](https://user-images.githubusercontent.com/5175912/139067590-2873dfdc-0cb6-45f3-ac46-53b885e9e106.png)

[2021-10-28 16:58] tbsbdr opened #5953 "Show path / parent folder to distinguish files"
## Userstory:
* > As a user who has searched for, shared, faved or deleted files with exactly the same names, I want to do be able to distinguish files/folders with the same name.

## Acceptance criteria
- containing / parent folder shown underneath resource name in following views:
  - search result page ✓
  - search quick results / result preview (live preview during search input) ✓
  - not sure

[2021-10-28 20:40] tbsbdr opened #5954 "show web ui version number to users"
# Description

## User Stories

* > As a owncloud product owner/manager I want to know the version of oc Web that im currently looking at in a deployment so that i can qualify meaningful bugreports.

## Value
- save developers time

## Acceptance Criteria
- show web ui + backend version number in html meta tag <generator>
- show web ui + backend version number in console

**examples:**
- `<meta na

[2021-10-28 22:20] kulmann opened #5955 "Search bar placeholder not translatable / translated"
### Steps to reproduce
1. Open settings and select `German` as language
2. Go back to `Files` app

### Expected behaviour
The full UI, including the placeholder within the search bar at the top (`Enter search term`) should be translated.

### Actual behaviour
While the translation itself is community driven and thus not a hard requirement, the `Enter search term` string has proper translations, bu

[2021-10-29 12:35] labkode opened #5957 "Performance: blank page because of timeout"
Tested on ocis.owncloud.com with network throttling as depicted in the video:

https://user-images.githubusercontent.com/5175912/139440424-e9fdd109-854e-4def-8349-fc5974dde822.mov

To alleviate renders after initial page load we have the following directives in NGINX:
[code]

This is only and intermediate solution regarding caching.
Ideally only `index.html` should be exposed to this caching techn

[2021-10-29 13:20] wkloucek opened #5958 "Meaningful tab title for external apps"
## Feature Request

Having a meaning full title in the tab would be great. The current text is not really helpfull:
![image](https://user-images.githubusercontent.com/34452982/135329054-9bf40f6c-f79a-416f-9802-e0fd7000b276.png)

_Originally posted by @wkloucek in https://github.com/owncloud/web/issues/5805#issuecomment-930444495_

[2021-10-29 13:23] wkloucek opened #5959 "Improve ownCloud visibility in external apps"
## Feature Request
I would find it helpful to have an ownCloud logo in the top bar, so that I clearly notice that I am within ownCloud.

For eg. CodiMD this is currently a bit hard in my opinion.

![image](https://user-images.githubusercontent.com/34452982/135402084-61f6fa3c-5240-4ea2-a1d6-99aa84685b7a.png)

Collabora on oC10 looks like that, and you clearly notice that you're within ownCloud
![im

[2021-10-29 13:26] wkloucek opened #5960 "Wrong iframe size for external apps"
## Bug
In the external apps view, there is always a scrollbar on the right and you don't see the full iframe. Looks like the iframe is too high.

https://user-images.githubusercontent.com/34452982/135443123-890091d8-de83-4ce0-b939-832f049ca891.mp4

_Originally posted by @wkloucek in https://github.com/owncloud/web/issues/5805#issuecomment-931216680_

[2021-10-29 13:28] #5929 closed, assigned to nobody

[2021-10-29 14:47] GrendelWWU opened #5961 "OC Web showing blank screen in Chrome Browser"
### Steps to reproduce
1. login to account
2. click on new design

### Expected behaviour
showing OC Web Interface

### Actual behaviour
blank screen appears

### Environment general
**Operating system**:
Server: Red Hat Enterprise Linux Server release 7.3 (Maipo)
Server: Kernel: Linux 3.10.0-957.el7.x86_64
Client: Chrome Browser: Version 84.0.4147.89 (Offizieller Build) (64-Bit)
Client: Ubuntu 20

[2021-10-29 15:03] wkloucek opened #5962 "use default app for external apps when not specifying one"
## Bug description

https://github.com/owncloud/web/blob/bdd7075dc65fb7bad0f9d1b40fbf6889494069ea/packages/web-app-files/src/mixins/fileActions.js#L142-L150

If a user clicks on a file, which can be opened by multiple external apps, it will be opened with the first one in the internal array. This is quite random to a user and false in the sense, that oCIS knows about default apps (configurable by

[2021-11-01 07:03] dpakach opened #5964 "Refactor integration tests for date picker"
happy with that approach 👍

_Originally posted by @kulmann in https://github.com/owncloud/web/issues/5950#issuecomment-953571084_

[2021-11-02 10:17] exalate-issue-sync[bot] opened #5967 "Highlighting uploaded or new files"
## Userstory

## Acceptance Criterias
Same behavior as in oc10
- **Create new folder**:
  - [ ] insert new folder in current sort order
  - [X] highlight new folder
  - [ ] do NOT add the new folder to the selection model
  - [ ] do NOT scroll to the newly created folder anymore!
  - [ ] show a toast about successful creation of the new folder: "[folder name] successfully created."
- **Upload**: (

[2021-11-02 10:19] exalate-issue-sync[bot] opened #5968 "rightclick for multiple selected files"
## Acceptance Criteria
- open the context menu for the current selction model
- dont reset the selectionmodel on rightclick
- available actions in the context menu
-- all available batch actions (context sensitive; download, copy, move, delete, accept share, decline share, restore)
-- details

-------

contexts are eg: "all files", "shared with me", "trashbin"

-------

[2021-11-02 10:44] kulmann commented on #5927
I'd prefer to create the clean id in web (see helpers/resources.js from the files app) and then just use it as a given field in ODS. Reason: I think that the components in ODS should not modify data (in an ideal world) + we probably need the same clean id in web as well. What do you think?

[2021-11-02 10:47] kulmann commented on #5961
Release 4.4.0 is already out since last week. :-) We'll work on having it in 4.5.0, which will be released in about 2 weeks.

[2021-11-02 10:52] kulmann commented on #5962
Good one. And an easy fix: if at least one app for a mimetype: call `/app/open`, if no app available for the mimetype: don't use the app provider. :trollface:

If think we don't need the default info in the `/app/list` endpoint, but sorting or an `app weight/prio` would be helpful. I think there was another ticket about that, right?

[2021-11-02 14:47] tbsbdr opened #5971 "[Receive Public Link] Don't show "+ New" Button"
- Don't show the "+ New" Button in the Public Link view, if you can't create new files there. (Also, if the button is disabled, it's still confusing)
- Please remove the New Button but keep the height of the remaining whitespace, so that we don't get a jumpy layout when selecting files (-> batch actions get visible)

![image](https://user-images.githubusercontent.com/26610733/139870423-4b108d8e-1f

[2021-11-02 15:43] tbsbdr commented on #5633
As discussed with benedikt, we could also consider to just provide a ... 3 dots button that "truncates" the buttons and show a drop with the truncated options. @tbsbdr add scribbles

[2021-11-03 11:46] tbsbdr opened #5974 "No confirmation dialog for moving files to the trash"
## Userstory
_As a user I want to permanently delete files efficiently without having to worry about irreversible damage._

## Acceptance Criteria
- **Move to trash:** Don't show a confirmation dialog if a file* gets moved to the trash (reversible action)
  - Show a success notification
- **Empty trash** Show a confirmation dialog if a file* gets deleted permanently (eg. when the bin gets emptied)

[2021-11-03 15:11] paulcod3 opened #5975 "Rewrite ShowCollaborators (sharees list) acceptance tests"
We've created a pull request in web where the sharees-list (or ShowCollaborators) gets completly reworked. So it would be really cool if you could rewrite the acceptance tests.

This is the PR: https://github.com/owncloud/web/pull/5789

[2021-11-04 09:00] kulmann opened #5976 "Move share indicators into their own column"
## User story

## Acceptance criteria
- load share indicators for all file listing views in an authenticated context (`All files`, `Favorites`, `Shared with others`, `Shared via link`, if possible also for `Trashbin`)
- add share indicators into a dedicated column (directly after resource name) with title `Shared`
- accessible names for share indicators `Shared via link` for share type link, `Shar

[2021-11-04 10:32] tbsbdr commented on #5976
<img width="1920" alt="Web UI Share Indicator 11-2021" src="https://user-images.githubusercontent.com/26610733/140295948-dafe8892-66ae-4968-81e9-bd2263180dbe.png">

Same asset in Figma: https://figma.fun/cyjJma

...or just grab:
**Link-shareindicator**

[code]

**People-shareindicator**

[code]

[2021-11-04 11:17] kulmann opened #5977 "Batch action `Delete` makes no sense in `shared with` and `favorite` views"
### Steps to reproduce
1. Make sure at least one file is shared in any way
2. Go to e.g. `Shared with others` view
3. select files/folders in the list

### Expected behaviour
Have only batch actions available that are useful for and respect the goal of the current view. (like e.g. `accept` and `decline` in shared with me view).

### Actual behaviour
There is a `Delete` batch action in `Favorites`,

[2021-11-04 15:34] tbsbdr commented on #5953
**Step 1:**
- show containing folder below Filename
- show tooltip with full path on hover of containing folder
- show path in sidebar details

**Step 2**
- show / hide columns: show or hide column with full path
- column with is resizable (sideeffect: usually adds horizontal scrollbar to whole filelist)

[2021-11-04 16:21] diocas commented on #5927
I understand that ODS should not modify data, but in practice we're complementing data. :)
I would counter that the fact that we use id's in the html (on the octable component) is an internal implementation detail and therefore should be hidden (web).

[2021-11-04 19:10] pascalwengerter commented on #5974
Not sure about the `Show a success message with an undo-option and dismiss-x "XX Item(s) successfully moved to trash. [undo] [X]"` part. IIRC we moved to auto-closing notifications due to A11y reasons, and putting an undo option in there may be a screenreader offense since it doesn't get focus

How about relying on a success message (`Resource X has been moved to the Trashbin`) and the confirmatio

[2021-11-04 19:12] pascalwengerter commented on #5915
Closing as answered, we'll know if we have to refine the process after OC10.9 has been released in a bunch of weeks

[2021-11-04 19:12] #5915 closed

[2021-11-04 19:14] pascalwengerter commented on #5903
@fschade we talked about this one, I'll assign you

[2021-11-04 19:25] pascalwengerter commented on #5217
Closed as tracked in #5234, #5236, #5237, thanks for the great work so far!

[2021-11-04 19:25] #5217 closed

[2021-11-04 19:27] pascalwengerter commented on #4637
Closed as fixed, we'll have to check for new ones every once in a while ofc

[2021-11-04 19:27] #4637 closed

[2021-11-04 20:12] tbsbdr commented on #5974
forgot to mention, that the ~message~ notification should auto-close. added it above. undo would be nice to have, no must-have.
so this means, that we should have no clickable areas in notifications because then we would need to send the focus there and focus management is expensive, correct?

[2021-11-05 09:26] pascalwengerter commented on #2991
Closing this as we're discussing moving even more stuff into `web` and then release it as separate NPM packages

[2021-11-05 09:26] #2991 closed

[2021-11-05 10:21] tbsbdr opened #5980 "Show oC 10 Apps automatically in Web UI App Switcher"
## Userstory
_As a user I expect all my oc10 Apps to show up in the Web UI App switcher._

- we also received feedback, that the missing apps are confusing
- adding Apps to the Web UI App Switcher could be done manually by the admin, but doesnt happen so far as it is extra effort ->  results in confusing ux for the user.

## Implementation idea:
(by Benedikt)
- oc10 App for web already has a contr

[2021-11-05 11:01] kulmann commented on #5461
oCIS doesn't support resharing, yet. As soon as it's implemented and properly announced in capabilities the web ui will respect it. Closing here since there are no code changes needed.

[2021-11-05 11:01] #5461 closed

[2021-11-05 11:06] kulmann opened #5981 "Ratio of file list vs. right sidebar is not ideal in some viewports"
### Steps to reproduce
1. Have a medium sized screen (e.g. 720p resolution)
2. Open the files app and the right sidebar

### Expected behaviour
The file list uses the largest part of screen real estate.

### Actual behaviour
The right sidebar takes roughly half the width, leaving the user with a pretty narrow file list although the right sidebar doesn't need **that** much space

For now sufficient

[2021-11-05 12:41] tbsbdr commented on #5903
Hey @ishank011 I guess the usecase is the following:
_As a user who just wants to sneak peek into files I want to be sure that I don't accidentally modify them._
Is this correct?

[2021-11-05 14:07] kulmann commented on #5383
Yes, already solved, that's why it's listed in https://github.com/owncloud/web/pull/5512 ;-)

[2021-11-05 14:08] kulmann commented on #5383
We'll only actually close the tickets when the PRs get merged.

[2021-11-05 14:08] kulmann commented on #5383
Maybe we didn't mention it in the confluence page though? not sure 🤔

[2021-11-05 16:04] #5981 closed

[2021-11-05 16:15] pascalwengerter commented on #4069
Closing this as outdated - we'll have to come up with a better structure for mixins/store when doing the Vue3 upgrade & extracting stuff from the store

[2021-11-05 16:15] #4069 closed

[2021-11-05 16:18] pascalwengerter commented on #3771
Fixed as tracked by loading capabilities twice (authenticated context) and tracked in #5863

[2021-11-05 16:18] #3771 closed

[2021-11-05 16:22] pascalwengerter commented on #5342
@fschade assigning you, let me know if I should take this over

[2021-11-05 16:34] pascalwengerter commented on #5959
Kinda duplicate of #3520, closing this one and yes looking forward to having it fixed with the new design 😇

[2021-11-05 16:34] #5959 closed

[2021-11-05 16:40] pascalwengerter commented on #4582
Closing as fixed/unresponsive

[2021-11-05 16:42] pascalwengerter commented on #5808
Closed as fixed via #1732 by @paulcod3

[2021-11-05 16:42] #5808 closed

[2021-11-05 16:44] pascalwengerter commented on #5808
Correction: Fix is part of the ODS update in #5973 which should get merged before the next release

[2021-11-05 16:48] tbsbdr commented on #2968
yes

[2021-11-05 17:23] jumbi77 opened #5984 "Only select files filtered by search"
Hello,

We are using owncloud and we sometimes need to restore or final-delete a lot of files from trashbin and currently there is (a) no multi-select function (select first, press SHIFT, select last to select all in between) available or (b) using "select all" with filter available. For (b) check this [https://github.com/nextcloud/server/issues/2781](https://github.com/nextcloud/server/issues/278

[2021-11-06 13:37] #5342 closed

[2021-11-07 15:06] diocas commented on #5797
Please take into consideration https://github.com/owncloud/web/issues/5923 as well. We also consider that having to click in the avatars, to display the full list of users, one step too much. This compact view can be displayed in the details pane.

[2021-11-07 15:22] diocas commented on #5957
The final configs are a bit different, but the idea the same.
Issue address in #5986 and #5985

[2021-11-08 04:26] phil-davis opened #5992 "webUISharingInternalGroups/shareWithGroups.feature:255 failed"
https://drone.owncloud.com/owncloud/web/20098/23/18
[code]

[2021-11-08 04:26] phil-davis commented on #5992
PR #5966 might fix this.

[2021-11-08 04:47] phil-davis commented on #5975
I suggest that whoever takes this, branch off from the PR branch and get the tests passing in a separate branch/PR. Then we can sort out merging it all together...

[2021-11-08 05:04] #5964 closed

[2021-11-08 05:57] phil-davis opened #5993 "oCIS server sometimes fails to start in drone CI"
https://drone.owncloud.com/owncloud/web/20101/60/10
[code]

https://drone.owncloud.com/owncloud/web/20101/60/13
`FetchError: request to https://ocis:9200/ocs/v2.php/cloud/users/Alice?format=json failed, reason: getaddrinfo ENOTFOUND ocis`

Investigate how this can happen (and hopefully fix it!)

[2021-11-08 07:26] tbsbdr commented on #5984
Hi @jumbi77 jep, good idea!

We already discussed this idea as we generally want to align the Web UI to common fileexplorer ux-pattern that users know eg. from windows Explorer or mac Finder. The behaviour you described is one of those well-known pattern.  I think we will take care of this issue in 2022 at the earliest, but would also appreciate contributions from the community to speed things up

[2021-11-08 07:56] tbsbdr commented on #5984
ah, just to be sure: I was referring to the new "Web UI" to which this repo belongs (not the "classic UI" which you can find here: https://github.com/owncloud/core/ )

[2021-11-08 08:36] kulmann commented on #5817
@rpocklin do you want to work on that yourself or should we bring in a PR?

[2021-11-08 10:15] ishank011 commented on #5903
Hi @tbsbdr, apologies for the late response.

Yes, that would be the use case. For users having a conjunction of permissions on a file, they should be able to open it in any specific view mode. The `/app/open` endpoint accepts a `view_mode=(view|read|write)` query parameter for this

[2021-11-08 11:28] ishank011 opened #5994 "Context menu is hidden by the menu bar for selected items"
Can't scroll to the options at the top as they're hidden by the menu bar

<img width="1134" alt="Screenshot 2021-11-08 at 12 26 55" src="https://user-images.githubusercontent.com/10387289/140734234-2514fe96-dad8-4861-9cf1-7dd23c8a68bc.png">

[2021-11-08 11:29] ishank011 opened #5995 "Should sorting by name be case insensitive?"
<img width="419" alt="Screenshot 2021-11-08 at 10 40 52" src="https://user-images.githubusercontent.com/10387289/140734413-4c6eadfc-698f-4841-a31f-7f6971c780d3.png">

[2021-11-08 11:32] pascalwengerter commented on #5995
Fixed in the ODS already (https://github.com/owncloud/owncloud-design-system/pull/1735), will come to web this release ;)

[2021-11-08 11:32] #5995 closed

[2021-11-08 13:29] #5776 closed

[2021-11-08 13:29] #5884 closed

[2021-11-08 13:29] #5901 closed

[2021-11-08 14:37] stevefrenzel commented on #5383
My bad, I skipped a row on the confluence page. Updated the colors so it's easier to see what still needs to be done.

[2021-11-08 16:03] stevefrenzel commented on #5393
@tbsbdr @kulmann Confluence page says the following:

"Debatable if it needs fixing for the re-audit (partly fulfilled and browser-specific)"

Does it still need to be fixed?

If so: Cut off borders in Safari are caused by "overlapping" padding and or margin of other components. Unfortunately this is a Safari exclusive problem, so it could cause layout issues in other browsers. 😕

Consistent borde

[2021-11-08 16:25] stevefrenzel commented on #5391
@tbsbdr @kulmann

I would suggest replacing the `header` element of the sidebar with a `figure` element. The header element on the individual pages makes more sense than in the sidebar, unless this leads to not meeting an accessibility requirement.

Alternatively a `div` with a role of "img". In it's core it's a link, but first and foremost an image, so this would solve the issue. https://develope

[2021-11-08 16:45] stevefrenzel commented on #5389
@tbsbdr @kulmann @pascalwengerter

This one is very tricky! Would it be an option to replace it with an out-of-the-box accessible date picker? Could take the same amount of time like fixing this, but will cause no (or at least less) problems in the future:

https://duetds.github.io/date-picker/

[2021-11-08 16:56] stevefrenzel commented on #5388
@tbsbdr @kulmann @pascalwengerter

What's the status of this discussion? Also would like to mention https://duetds.github.io/date-picker/ as accessible date picker alternative, as the current one is... not good regarding accessibility.

[2021-11-08 19:33] fschade commented on #5927
@elizavetaRa can you please test https://github.com/owncloud/owncloud-design-system/pull/1766 if fixes the problem?

[2021-11-08 22:23] rpocklin commented on #5817
Hi @kulmann, I'm not confident creating one as I am unsure how to get the relevant metrics of the share info.  Let me know if you are able to make a PR for this and I can certainly review / test it.

[2021-11-09 08:05] phil-davis commented on #5992
This test scenario passed last night, so it is intermittent.

[2021-11-09 08:08] phil-davis opened #6001 "webUIFiles/download.feature:11 failed"
https://drone.owncloud.com/owncloud/web/20136/52/13
[code]

This looks like an intermittent failure. Needs to be investigated.

[2021-11-09 08:24] diocas opened #6002 "No right click menu nor action on non app-providder items"
After the latest update, if I right click or click on a file whose extension doesn't have an app provider app associated, nothing happens. In the console it complains on `packages/web-app-files/src/mixins/fileActions.js:179` that `app_providers` is undefined.

### Steps to reproduce
1. Pull the latest master
2. Right click on a file

[2021-11-09 10:13] ishank011 opened #6004 "Components in the taskbar are hidden"
When listing the sharees in the taskbar on the right, if the name is too long, the other components are shifted to the right and are not accessible. In this case, the edit button is barely visible but the delete button isn't.

<img width="383" alt="Screenshot 2021-11-09 at 11 11 34" src="https://user-images.githubusercontent.com/10387289/140905421-3d367754-e831-4c76-8f12-63dddde84471.png">

[2021-11-10 06:34] jumbi77 commented on #5984
Thanks for the reply, nice to hear that the File Browser UI improvements are on the List for 2022. I indeed initially meant the "classic" repo but the fix in either the classic or new repo would be fine :)

[2021-11-10 08:54] sakshamgurung opened #6010 "Cannot login to locally hosted `web` manually (latest commit)"
### Steps to reproduce
1. Pull the latest commit id of master branch `1155e0011e8fa711c7574cb12564980ddb1246ff`
2. Install dependencies: `yarn install`
3. Serve from `web` folder: `OCIS_INSECURE=true yarn serve`
4. Open browser and goto url: `http://localhost:9100/`

### Expected behaviour
In my browser I want to login and see my files page.

### Actual behaviour
Login credentials -> Authorize use

[2021-11-10 09:58] fschade commented on #5927
i close the issue which is fixed by https://github.com/owncloud/owncloud-design-system/pull/1766. Please bump ODS to `v11.2.1`

[2021-11-10 09:58] #5927 closed

[2021-11-10 12:27] pascalwengerter commented on #6004
I'll double check but possibly fixed by the component restructuring in #5789

[2021-11-10 12:31] pascalwengerter commented on #5788
Fixed via https://github.com/owncloud/owncloud-design-system/pull/1754 and brought to `web` in #6009 thanks to @paulcod3

[2021-11-10 12:31] #5788 closed

[2021-11-10 12:34] pascalwengerter commented on #5657
Closing in favor of #5954 which already elaborates on possible approaches and is "owned" by @tbsbdr :)

[2021-11-10 12:34] #5657 closed

[2021-11-10 16:23] stevefrenzel commented on #5385
@kulmann @pascalwengerter @tbsbdr

I'm not sure why a high zoom level is causing the `header` element with id `oc-topbar` to disappear. My guess is a function involving the window with, like this one:

[code]

I fiddled around with anything that could be related to it but didn't have any success. I think someone with more experience with this architecture should have a look and and find the parame

[2021-11-10 17:21] fschade commented on #5863
currently this is fixed for public links without password but not for public links with passwords, we use this as tracking issue for this behavior

[2021-11-11 08:22] kiranparajuli589 commented on #6001
reported scenario passed multiple times in the test PR without flakyness.

[2021-11-11 08:40] phil-davis commented on #6001
Note: we can't reproduce this locally or running many times in CI. If it happens again in nightly CI then I will reopen the issue.

[2021-11-11 11:49] pascalwengerter opened #6017 "Release 4.5.0"
## PRs to merge
- [x] #5956
- [x] #5970
- [x] #5996
- [x] #6020 (since @fschade pulled some last-minute magic)

## Release checklist
- [x] pin release issue @pascalwengerter
- [x] prepare release rc: @pascalwengerter
  - [x] create a branch `release-4.5.0` @pascalwengerter
  - [x] update the version in `packages/web-integration-oc10/appinfo/info.xml` @pascalwengerter
  - [x] update the version in

[2021-11-11 15:34] #5955 closed

[2021-11-11 15:43] #5980 closed

[2021-11-11 16:53] pascalwengerter commented on #4101
@rpocklin can't reproduce this on https://ocis.ocis-web.latest.owncloud.works, and closing this issue for now. Please re-open if you stumble upon this again

[2021-11-11 16:53] #4101 closed

[2021-11-11 16:58] pascalwengerter commented on #2459
Update: Can still reproduce

[2021-11-11 17:01] pascalwengerter commented on #5994
Resolved by @fschade in https://github.com/owncloud/owncloud-design-system/pull/1691

[2021-11-11 17:01] #5994 closed

[2021-11-11 17:03] pascalwengerter commented on #5949
Closed as clarified & not applicable since it's an unsupported browser

[2021-11-11 17:03] #5949 closed

[2021-11-11 17:05] pascalwengerter commented on #5957
@diocas could you clarify if having sorted out the CERN extension JS bundles has resolved this issue for your users? (We'll slim down web by a bit and improve rendering performance nonetheless, just curious if we can close this specific issue)

[2021-11-11 17:07] pascalwengerter commented on #5797
Whoever works on this please also check if #5608 can be closed in the same PR (by jumping into the dialogue from the quick actions)

Also, @tbsbdr could you clarify how #5923 should be handled (currently: uncollapsed by default)

[2021-11-11 17:49] pascalwengerter commented on #5797
Clarified that it should be open by default => please implement with this

[2021-11-11 17:49] pascalwengerter commented on #5923
Clarified that it should be open by default

[2021-11-11 19:38] pascalwengerter commented on #5518
@tbsbdr citing Phil [here](https://github.com/owncloud/web/pull/5510/files#r670990812) this would need some sort of UI feedback. Could you draft a concept and create a story? :)

[2021-11-11 20:29] pascalwengerter commented on #2158
I'll close this one as unspecific and unresponsive. We do have classes to truncate text and use them more and more. Adding @tbsbdr here to raise awareness and looking forward to actionable tickets in the future. Thanks for the input :)

[2021-11-11 20:29] #2158 closed

[2021-11-11 20:29] pascalwengerter commented on #2222
@ScharfViktor I'll assign this to you, maybe we can add this to the smoke tests once they run in CI!

[2021-11-11 20:38] pascalwengerter commented on #2728
Closing as not relevant anymore. We usually check the console for warnings&errors when doing PR reviews and releases

Also @ScharfViktor maybe take note of this idea for improving smoke tests in the future. Not pressing from my POV, though

[2021-11-11 20:38] #2728 closed

[2021-11-11 20:41] pascalwengerter commented on #3468
Closing since mobile view is not in the focus currently. We can take another look and create a more actionable ticket down the road

[2021-11-11 20:41] #3468 closed

[2021-11-11 20:48] pascalwengerter opened #6019 "Replace/remove obsolete Vue dependencies"
### List
- [X] `vue2-touch-events` since mobile/touch gestures are not a focus anymore in https://github.com/owncloud/web/pull/6086
- [ ] `vue-scrollto` can be replaced by https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView with a bit of love ™️
- [x] `vue2-dropzone` as mentioned in #1953
- [ ] ...

### Expected behaviour
Only necessary dependencies are fetched, used in the cod

[2021-11-11 20:49] pascalwengerter commented on #1953
Closing in favor of #6019

[2021-11-11 20:49] #1953 closed

[2021-11-11 20:55] pascalwengerter commented on #3177
Can't reproduce, closing this for now

[2021-11-11 20:55] #3177 closed

[2021-11-11 20:55] pascalwengerter commented on #3175
Solved a while ago by only showing an avatar group with a tooltip

[2021-11-11 20:55] #3175 closed

[2021-11-11 20:57] pascalwengerter commented on #3035
Can't reproduce on https://ocis.ocis-web.latest.owncloud.works

[2021-11-11 20:57] #3035 closed

[2021-11-11 21:06] pascalwengerter opened #6026 "Downloading empty archive lands on NGINX error page"
## Describe the bug

Downloading an empty folder as archive lands on NGINX error page

## Steps to reproduce

Steps to reproduce the behavior:

1. Create empty folder, select it in the web UI
2. Click on "Download" button
3. Land on NGINX 404 screen

## Expected behavior
Either the web UI should forbid this behavior or oCIS should offer me a ZIP/tar with an empty directory(?)

## Actual behavior
C

[2021-11-11 21:07] pascalwengerter commented on #1753
Can confirm this still happens on https://ocis.ocis-web.latest.owncloud.works

[2021-11-11 21:20] pascalwengerter commented on #1750
Can confirm this still happens on https://ocis.ocis-web.latest.owncloud.works

[2021-11-11 21:20] pascalwengerter commented on #3341
@tbsbdr needs product decision and prioritization if applicable

[2021-11-11 21:23] pascalwengerter commented on #3726
@kulmann could you check if this can be closed since @fschade refactored the runtime boot logic quite heavily?

[2021-11-11 21:25] pascalwengerter commented on #3577
Answered with a clear definition of done by @tbsbdr in #5974, closing this issue

[2021-11-11 21:25] #3577 closed

[2021-11-11 21:26] pascalwengerter commented on #3519
Closing as unresponsive from @tbsbdr and @pmaier1, wasn't addressed in the redesign either

[2021-11-11 21:26] #3519 closed

[2021-11-11 21:33] pascalwengerter commented on #5278
@davitol @labkode @ishank011 any news/feedback on this one?

[2021-11-11 21:34] pascalwengerter commented on #4742
@wkloucek could you give this a look?

[2021-11-11 21:36] pascalwengerter commented on #4994
Closing in favor of #5967 which keeps track of scrollTo topics

[2021-11-11 21:36] #4994 closed

[2021-11-11 21:37] pascalwengerter commented on #4944
Not relevant anymore since we've disabled VRT in the web CI

[2021-11-11 21:37] #4944 closed

[2021-11-11 21:39] pascalwengerter commented on #5579
Wasn't this tackled and documented in https://owncloud.dev/clients/web/deployments/oc10-app/#configure-oauth2 @fschade @kulmann ?

[2021-11-11 21:42] pascalwengerter commented on #3673
Superseded by more recent #5976

[2021-11-11 21:42] #3673 closed

[2021-11-11 21:48] pascalwengerter commented on #5369
Has long been fixed [here](https://github.com/owncloud/web/blob/6714071acc81fa258fd37a7fb0615515cbb57b09/packages/web-app-files/src/mixins/fileActions.js#L184) with the App Provider, at least from my understanding

[2021-11-11 21:48] #5369 closed

[2021-11-11 21:51] pascalwengerter commented on #5324
Fails initially on https://ocis.ocis-web.latest.owncloud.works with `this.activeMediaFile.etag is undefined` but mediaViewer works fine on page reload..

[2021-11-12 02:40] phil-davis commented on #5518
It should be easy enough for the web front-end to be aware of the forbidden file name patterns of the backend - that information should be available in some capability information. And the web front-end can display reasonable notification/error messages when a user tries to create/upload/rename/... to a forbidden name. That will make the front-end auto-adapt to the backend capability.

One of the

[2021-11-12 06:48] sakshamgurung commented on #6010
@phil-davis After running git bisect it is found that this issue starts after the introduction of "public token" commit id: `936a57b5bfa11c4e08b27f8b98a5bcf91c9d8431` merged on 8 Nov 2021. Please checkout the problem.

[2021-11-12 07:01] phil-davis commented on #6010
That commit is of PR #5924

[2021-11-12 07:10] phil-davis commented on #6010
Is this related to https://github.com/owncloud/ocis/pull/2745 and the dev doc PR https://github.com/owncloud/ocis/pull/2746 ?

Set env var `OCIS_INSECURE=true` to make the dev environment work.

[2021-11-12 07:21] pascalwengerter commented on #6010
Documented [here](https://owncloud.dev/ocis/development/testing/#run-ocis), @phil-davis can we close the issue then? 🤗

[2021-11-12 07:34] pascalwengerter commented on #5967
Perhaps the scrollTo can be refactored to use a similar approach as #6020? 🤩

[2021-11-12 08:10] sakshamgurung commented on #6010
@pascalwengerter This solve my problem with `web + ocis` which was prompting message `You are not allowed to use this application.`.
But with `web + oc10` the problem still persist. I am using this command:`OCIS_INSECURE=true yarn serve ` from `/web` directory.