[2022-03-03 08:50] #6321 closed

[2022-03-03 09:03] saw-jan commented on #2090
But wait :smile:, `people, links, versions` panels are still visible on the public link page when using `oCIS` server.

![webUISharingPublicManagement-shareByPublicLink_feature-L90](https://user-images.githubusercontent.com/52366632/156531781-c3be5993-3d7a-4322-a515-be9a0e72240b.png)

Failed in drone: https://drone.owncloud.com/owncloud/web/23211/68/15

[2022-03-03 09:18] ChrisEdS commented on #6492
Collabora: Scrolling needed to reach all content

https://user-images.githubusercontent.com/33026403/156534384-f652307e-f73d-4c4b-bac9-7ebb6be2319c.mov

[2022-03-03 09:37] ChrisEdS commented on #6492
Jumping contents when opening the right menu.

https://user-images.githubusercontent.com/33026403/156537640-9d97e0f9-8be0-4eaa-a302-a4bbb527fe94.mov

[2022-03-03 10:55] fschade opened #6515 "Archiver is broken for public links"
oCIS at the moment is not able to create archives for public links that are password protected.
The feature is currently disabled in the web sources and should be enabled as soon as oCIS is capable of it.

https://github.com/owncloud/web/blob/e7fdd98c041e57865d855e521b91186e1e3b1570/packages/web-app-files/src/views/PublicFiles.vue#L111

[2022-03-03 11:09] #6496 closed

[2022-03-03 11:09] #6507 closed

[2022-03-03 11:34] ScharfViktor opened #6516 "Renaming object via hamburger icon does't work"
web: branch v5.2.0-rc.3:
ocis: docker v.1.17.0

Steps:
- admin creates folder
- admin tries to rename folder via hamburger icon

Expected: succufuly
Actual: method `https://localhost:9200/remote.php/dav/Shares` is used instead of `https://localhost:9200/remote.php/dav/files/marie/Shares`

![Screenshot 2022-03-03 at 12 20 09](https://user-images.githubusercontent.com/84779829/156556595-3ddd6009-504

[2022-03-03 11:46] #5863 closed

[2022-03-03 11:50] wkloucek opened #6517 "User queries are not cancelled"
### Steps to reproduce
1. Have a large user base in oCIS or the LDAP it is using -> eg. a query time ~ 10 seconds
2. share a file with another user
3. take your time to enter the name (more than the debounce interval per character)

### Expected behaviour
There is only one user query active at a time.

### Actual behaviour
There are many concurrent and outdated queries going on and put stress on t

[2022-03-03 13:05] kulmann commented on #6491
## Smoke test v5.2.0-rc.4 against oc10 app

- :heavy_check_mark: as gunter - upload arch/mips folder from linux kernel (1945 files)
        - via drag and drop folder upload works
        - via folder upload button works
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as gunter - share the folder to alice as

[2022-03-03 15:32] dschmidt opened #6518 "Grouping of shares"
I have some questions to the grouping of shares in oc web.

Is grouping generally desired? (see screenshot below)

It seems to use `file_target` for grouping outgoing shares which seems wrong.
I would suggest using the fileID for grouping shares together.

## Screenshot (wrong attribute but display makes sense)
![1645561185096](https://user-images.githubusercontent.com/4378513/155212614-e9cdb8f0-c

[2022-03-03 16:21] fschade commented on #6491
WOPI tested and it does not work as expected but does not look like a web issue. We decided to tag the release anyway.

[2022-03-03 16:28] kulmann commented on #6518
`file_source` is a good fit for the grouping 👍

[2022-03-03 17:07] #6491 closed

[2022-03-04 04:06] individual-it commented on #6419
I guess we can close this for the same reason as https://github.com/owncloud/web/issues/6321#issuecomment-1057813530

CC @kulmann

[2022-03-04 04:06] #6419 closed

[2022-03-04 05:05] individual-it commented on #6475
ToDo:
 - [ ] change the acceptance tests to only check if the page renders
 - [ ] check and improve unit tests

[2022-03-04 05:19] individual-it commented on #6337
reopening because there is a new error
![grafik](https://user-images.githubusercontent.com/2425577/156704099-202c69b4-8741-4a21-aecb-585c19cb309b.png)

[2022-03-04 05:23] individual-it opened #6521 "coverage of e2e tests"
see what how it is possible to draw coverage reports when running e2e tests with playwright and make a POC

[2022-03-04 09:16] tbsbdr commented on #6283
updated ACs, added scribbles

[2022-03-04 09:44] elizavetaRa opened #6560 "Context menu hover improvements"
In CERNBox we changed hover effects on context menu. We find, color hover fits better for actions than the underline effect which is commonly used for links. Maybe you would like our idea?

![ragozina - All files - CERNBox](https://user-images.githubusercontent.com/7430156/156739392-2010e5c9-c1bb-47d8-aef8-d9ccb33dcf84.gif)

[2022-03-04 10:27] fschade opened #6526 "Inject javascript into markDown"
### Steps to reproduce
1. create space
2. edit description
3. add `[link](javascript:alert('aaa'))` as content
4. click the link in the rendered markdown

### Expected behaviour
web should prevent to inject javascript or other possible dynamic contents.

### Actual behaviour
javascript can be injected and executed from/for all space members

### Solution
for now we sanitize the md rendered content

[2022-03-04 10:30] C0rby commented on #6526
I don't think that this is necessary.

[2022-03-04 10:37] fschade opened #6527 "Web Header contains all elements in every view"
### Description
The header in web is now visible in all web views, this is ok as long as it does not contain useless elements like the search for example in states where it doesn't make sense to have them.

### Expected behaviour
The header should only contain elements that have a use in  the current view.

![Bildschirmfoto 2022-03-04 um 11 36 12](https://user-images.githubusercontent.com/49308105

[2022-03-04 11:22] #6526 closed

[2022-03-04 11:37] tbsbdr opened #6528 "Share List: Add inheritance-indicators"
# Description

## User Stories

* > As a user I want to see where I can change access permission of a folder and its siblings so that I'm in full control of it.

## Value
- data loss prevention
- enable sharing in spaces

## Acceptance Criteria
- If the current folder or space is not the rights-giving folder, then a inheritance-indicator is displayed within the item
- click on the indicator naviga

[2022-03-04 12:25] dschmidt commented on #5727
I can reproduce this with oC 10 only.
The `PROPFIND` for the public link sets the `WWW-Authenticate` in oC 10, but it does not on oCIS.

## oCIS

[code]

## oC 10
curl 'http://host.docker.internal:8080/remote.php/dav/public-files/BxX3HdvovWPsqQB' \
  -X 'PROPFIND' \
  -H 'Connection: keep-alive' \
  -H 'Pragma: no-cache' \
  -H 'Cache-Control: no-cache' \
  -H 'Accept: application/json, text/plain

[2022-03-04 13:25] ChrisEdS commented on #6492
Search bar: It's not responding (extending) while clicking an the icon

https://user-images.githubusercontent.com/33026403/156771246-3e6d3705-aead-45bf-a6e3-1edf7423028b.mov

[2022-03-04 13:55] ChrisEdS commented on #6492
Upload: Add a min-width to the menu

The menu looks tiny and not wide enough. Maybe we should add a min-with to all menus?

![image](https://user-images.githubusercontent.com/33026403/156775781-cf180374-f4df-4fb0-a772-93a810a3459c.png)

[2022-03-04 13:56] ChrisEdS commented on #6492
Settings in files view: The menu is to far away from the gear icon

![image](https://user-images.githubusercontent.com/33026403/156776059-4ea18f30-2bd3-4d50-8a04-bd0ffa6e80fd.png)

[2022-03-04 14:03] ChrisEdS commented on #6492
Files view: Jumping content when browsing through

https://user-images.githubusercontent.com/33026403/156777164-f3683173-73b6-4949-b34a-3b818462ae1c.mov

[2022-03-04 14:46] #5727 closed

[2022-03-04 15:09] dschmidt commented on #5324
Fixed in https://github.com/owncloud/web/pull/6456

[2022-03-04 15:09] #5324 closed

[2022-03-04 16:36] tbsbdr opened #6532 "Items are listed in non-natural sortorder"
### Steps to reproduce
1. go to demo.owncloud.com
2. upload 15 files with filename "Nature n+1.jpg"
3. Sort by filename

### Expected behaviour
files should be listed like one would count up

- Nature 1.jpg
- Nature 2.jpg
- Nature 3.jpg
- Nature 4.jpg
- Nature 5.jpg
- ...
- Nature 9.jpg
- Nature 10.jpg
- Nature 11.jpg
- ...

### Actual behaviour
Files are listed in alphabetical order:
- Nature 1.j

[2022-03-04 20:40] #5310 closed

[2022-03-05 11:38] #6470 closed

[2022-03-07 09:35] pascalwengerter commented on #6416
@merttumer could you check https://github.com/cernbox/owncloud-design-system/pull/222/files?short_path=96c0611#diff-96c0611a06530f1b881159642cf99d4ce92f33d212670b795e5e0548442bdde6 and see if it suits your needs? (Icon will be added in the CERN fork of the ownCloud design system first and then merged upstream, coming to the `web` codebase before the next release towards end of next week)

Also, wh

[2022-03-07 10:28] SwikritiT opened #6542 "Batch action download of files not available in OC10 backend"
### Steps to reproduce
1. Log in as a user 'Alice'
2. Upload two files
3. Select both files

### Expected behaviour
A download button should be visible and it should be possible to download the files as `download.tar` as in ocis
![ocisDownload](https://user-images.githubusercontent.com/41103328/157013185-ac8a2dfd-e9ac-446e-8ebb-b29a41824f7a.png)

### Actual behaviour
No Download button visible in

[2022-03-07 10:48] kulmann commented on #6542
Already tracked as a feature request in https://github.com/owncloud/web/issues/6239 - closing here.

[2022-03-07 10:48] #6542 closed

[2022-03-07 10:49] SwikritiT commented on #6389
@pascalwengerter @fschade @ScharfViktor
The step `Alice downloads 2 files as tar.`  has a bug in OC10 backend

## Issue here
https://github.com/owncloud/web/issues/6239

Bug demonstration tests in PR: https://github.com/owncloud/web/pull/6541
the test is failing in `OC10` backend

So according to https://github.com/owncloud/web/issues/6385#issuecomment-1056286215
that PR will be open and in a bloc

[2022-03-07 10:52] kulmann commented on #6389
Additional context: that's not a bug, but a missing feature and one example where an oc10 backend doesn't behave the same as an ocis backend. Another prominent example for such a case is ocis having spaces while oc10 doesn't have spaces. Or oc10 having favorites while ocis is not yet there. Needs another approach here, because it's unclear when we'll schedule the archive download implementation fo

[2022-03-07 10:55] pascalwengerter commented on #6389
My inital idea was to separate user stories into `oc10`, `ocis` (having tar download & spaces) and `shared/common/both/...`. Any objections?

[2022-03-07 11:22] ScharfViktor commented on #6389
I honestly thought it was a bug because in oс10 in the old web we have the ability to download the tar. for me the example of spaces is not similar since this is a new feature and was not present in os10

[2022-03-07 11:29] ScharfViktor commented on #6389
If we do not know when it will be implemented (download tar in web with oc10), it is worth not to lock this test and use it only with ocis. something like https://github.com/owncloud/web/blob/master/tests/e2e/cucumber/step_definitions/api.ts#L24-L25

[2022-03-07 12:37] tbsbdr opened #6544 "Develop Trash bin UI for Spaces"
# Description

## User Stories

* > As a user I want to make use of a trash bin so that accidentally deleted files can be "rescued" before they get deleted permanently.

* > As a user I want to restore accidentally "deleted files" so that they don't get deleted permanently.

* > As a user I want to delete files permanently so that they don't mess up folders.

## Value
- Prevent accidental deletion

[2022-03-07 13:24] dschmidt commented on #6004
Almost fixed in #6533
Last remaining issue is that we need to fix the OcRecipient box exceeding the oc-select box around it.
@pascalwengerter will take care of that, so I'm also assigning this ticket to him.

[2022-03-07 13:36] pascalwengerter commented on #6495
Related PR is https://github.com/owncloud/web-app-ownbrander/pull/136

Was quicker than expected, could use the leftover time to work on streamlining ODS form components. Also needs https://github.com/owncloud/owncloud-design-system/pull/2008 to be released and brought to web to please the eye

[2022-03-07 14:15] dschmidt commented on #3029
![Screenshot_20220307_151349](https://user-images.githubusercontent.com/448487/157050740-32bc8e20-7eda-42df-ba20-0118c6b2bd56.png)

This is all I see and that seems totally legit.

I've tested against staging customer portal which is using oauth2 and it seems just fine.

[2022-03-07 14:15] #3029 closed

[2022-03-07 14:38] ishank011 opened #6546 "Copying a file/folder at the same path should be supported"
### Steps to reproduce
1. Right click a file/folder, select 'Copy'.
2. Copy in the default location, which is the parent of the resource to be copied.

### Expected behaviour
A copy of the resource with 'copy' (eg. `my folder - copy`) appended to the name should be created.

### Actual behaviour
In the frontend, you get `Failed to copy "$folderName"` and no request to backend is sent.

Verified at

[2022-03-07 14:55] dschmidt commented on #5278
I tried to reproduce this now but I couldn't. Here's what I did (as the report is not very specific about the sharing).

- admin shares file `example-pictures/download.jpeg` with user einstein
- einstein accepts share
- einstein creates folder `foo` in home
- einstein clicks on foo
- einstein creates folder `bar` in `foo`

No sight of any incorrect collaborator.
I tried to create files or folders

[2022-03-07 14:55] #5278 closed

[2022-03-08 10:12] #6259 closed

[2022-03-08 10:56] elizavetaRa opened #6549 "Cached parts of the interface by switching between accounts not updating"
### Steps to reproduce
1. In CERNBox login with a normal account
2. Logout and login with the lightweight account, that gets another list of navItems and doesn't have quota

Implementation of different lists of navItems here: https://github.com/cernbox/web/blob/0dfa4717578cedfaa0cf976e027b20c212f76b6f/packages/web-app-files/src/index.js#L169-L171

### Expected behaviour
The navItems and the quota

[2022-03-08 11:22] kulmann commented on #6167
I'd like to follow up here and bring @C0rby to the game.

Is it a good idea to provide a `downloadUrl` and an `inlineUrl`, both signed, backend side? With `Content-Disposition: attachment`  and `Content-Disposition:inline` respectively. And of course for both authenticated contexts and public links. Then the implementation in web would be super slim.

[2022-03-08 11:32] kulmann commented on #5227
I was able to reproduce this. It seems like the window url is used as base url for the private link. It needs to use the server url instead.
But, while looking into this with @dschmidt  we discussed that it doesn't make much sense to show the private link at all. The user doesn't have access to the resource. Only way to gain access is to accept the share. In that case the notification disappears a

[2022-03-08 11:38] phil-davis commented on #6546
Note: this brings up the discussion about how to auto-generate a new name. Add `(2)` `(3)` ... to the resource name. Call them `my folder -copy` `my folder -copy - copy`, or...

https://github.com/cs3org/reva/pull/2510 has plenty of discussion, in that case for when the public uploads a resource where the name already exists in the public upload-only folder. In that case the server needs to handle

[2022-03-08 11:52] kulmann commented on #1753
The trash (at least for oc10) has no parent file id, only an original location of the deleted file. We have no way of finding out where to restore the file/folder to if the original location doesn't exist anymore.

- For a renamed original location, I'd expect restoring to the now renamed original location. We cannot do that as the information doesn't exist.
- For a deleted original location, I'd

[2022-03-08 12:01] kulmann commented on #4335
Apps are now always forced into an application layout which contains the message-bar component and handles the active messages. The fullscreen mode has been removed entirely in https://github.com/owncloud/web/pull/6401 - closing this issue here as solved.

[2022-03-08 12:01] #4335 closed

[2022-03-08 12:11] kulmann commented on #5531
For oCIS this will no longer be an issue once we have solved https://github.com/owncloud/web/issues/6448 because the `All files` page (then being renamed to `Personal`) will not contain any shares anymore. Thus the delete action will always be an actual delete operation.

For oc10 I'd love to see that we only show the `Delete` action if it's not a share, and show the `Decline share` action instead

[2022-03-08 12:22] kulmann commented on #2891
This has been solved in https://github.com/owncloud/web/pull/5752

[2022-03-08 12:22] #2891 closed

[2022-03-08 12:31] phil-davis commented on #6532
Note: it looks like the oC10 "traditional" web UI does implement the "natural sort order":
![Files - ownCloud - sort-order](https://user-images.githubusercontent.com/1535615/157238553-d92320b9-1b5d-453f-9823-ab05b220e8bd.png)

So this is a feature missing from "web".

[2022-03-08 12:33] tbsbdr commented on #1753
I would choose a) as it seems simpler (also implementation wise?) and does not require an immediate userchoise which always comes with some cognitive costs.
Just my first thoughts

[2022-03-08 12:36] tbsbdr commented on #6532
Correct. And iirc we had natural sort order already in web as well

[2022-03-08 12:38] tbsbdr commented on #5531
👍 yep agree

[2022-03-08 12:55] C0rby commented on #6167
I think we need to add this to the next sprint. This needs some thinking through first. I would like to have the signed URL only on-demand because the signing is actually a bit of a computational heavy operation and doing it on every propfind isn't very efficient because you don't need the signed URLs every time.

[2022-03-08 14:10] JammingBen opened #6551 "Introduce `available()` getter for the graph API"
As described [here](https://github.com/owncloud/web/pull/6531) it would be nice if the graph API had a `available()` check. It makes life easier for developers as oC10 does not support the graph API.

The check can currently be done via the composition API: `capabilities.spaces.enabled`.

[2022-03-08 17:48] #6362 closed

[2022-03-08 17:51] diocas commented on #6546
Duplicate of #5761 #3751 ...

[2022-03-08 17:51] #6546 closed

[2022-03-08 18:03] diocas commented on #3344
This no longer seems relevant? Feel free to re-open @ishank011

[2022-03-08 18:03] #3344 closed

[2022-03-08 23:00] #6440 closed

[2022-03-09 08:43] tbsbdr opened #6555 "Design polishing v3"
### timeboxed design refinements
Items for this ticket are limited to 15 Items for better manageability
- [x] row hover: bring back hover for single row https://github.com/owncloud/web/pull/6584
- [x] spaces overview context menus: icons should be style "line" (like the other context menu icons) - can't reproduce, this already seems to be the case in https://github.com/owncloud/web/blob/2002a9360e

[2022-03-09 09:02] pascalwengerter opened #6556 "ResourceTable on "Shared via link" page has "Shared with" column heading"
![Screenshot 2022-03-09 at 10-01-34 Files shared via link - ownCloud](https://user-images.githubusercontent.com/16822008/157408335-719d6789-7a0b-475e-a3ce-cce1c53337ba.png)

[2022-03-09 11:19] #5533 closed

[2022-03-09 11:49] #6560 closed

[2022-03-09 14:28] diocas commented on #6555
@tbsbdr I hope you don't mind me hijacking this issue, but here are a couple pet peeves from me, after a quick look at the latest master (some @elizavetaRa already fixed so we can push):

- [ ] Breadcrumb heigh changes when navigating folders
    * On the root, the breadcrumb has the height of the text, but then I go inside a folder and there's a small "jump" to accommodate the chevron (`>`), and

[2022-03-09 16:29] tbsbdr commented on #6283
update: removed inheritance indicators from space-members. they only add little value and got removed in favor of a more clear ui. cc @JammingBen
![image](https://user-images.githubusercontent.com/26610733/157485737-5bfd73ad-43e1-4011-a0af-8429ee701f5c.png)

[2022-03-09 17:06] pascalwengerter commented on #6555
@diocas thanks for the list! Could you (or @elizavetaRa ) mark the ones you already have fixed/are working on so we can avoid duplicate work? 🤓

[2022-03-09 20:41] elizavetaRa commented on #6555
"Inconsistent context menus"  and " The hover effect in the context menu is wrong" need some discussion. I override some css of context menus in cernbox web but the proper way would be changing in both ods and web. So I can do it.

"iframe border on external apps" can be pushed upstream

[2022-03-10 08:09] #6463 closed

[2022-03-10 08:42] kulmann commented on #2090
I guess that is a regression. I'll make a PR. Thanks for bringing it up!

[2022-03-10 09:23] #6495 closed

[2022-03-10 10:44] tbsbdr opened #6570 "Design: Shares overview Tabs"
Please refine the tabs style in shares:

# Current style:
![image](https://user-images.githubusercontent.com/26610733/157645317-c2b59bd4-6714-40e0-b6aa-8c8a7396405a.png)

# Desired style:
![image](https://user-images.githubusercontent.com/26610733/157645217-2e2f77c1-44a1-4dfd-a42a-c83f64ddeb2d.png)

![image](https://user-images.githubusercontent.com/26610733/157645493-63921f05-67a4-466c-a151-52acc

[2022-03-10 10:44] pascalwengerter opened #6571 "navItem `enabled` errors in console"
### Steps to reproduce
1. Start oCIS current binary, log in
2. Let it sit for a while, waiting for the token refresh to happen
3. See `enabled` callback on navItem Favorites threw an error TypeError: e is null` (also happens ofr other navItems, e.g. Trashbin, Spaces, ...)

### Expected behaviour
No error logs

[2022-03-10 13:44] ScharfViktor opened #6574 "Quota value doesn't change after uploading a file"
web v.5.2.0
ocis v.1.18.0
run local

Steps:
1. Admin creates the space
2. Admin goes inside to space
3. selects "details" from the context menu and sees the quota
4. Admin uploads file and sees quota again

Actual result: quota didn't change. Last modify date didn't change also
Refresh page or open again space helps, because method GET `https://localhost:9200/graph/v1.0/drives/spaceId` is called

[2022-03-10 14:43] diocas commented on #6167
This issue seems a bit more generic than what I understood from our discussion this. But let me add our 2 cents...

From our point of view, the current preview implementation also has issues because we cannot bookmark/reuse the url (and is non understandable by users as well). At the same time, we lose the branding which might be inconsistent with other extensions.
But the biggest issue, and one t

[2022-03-10 14:55] kulmann commented on #6167
@diocas I like your solution a lot. Could you provide a PR so that we can check as well if we manage to get the fullscreen support running? In any case, using an iframe to bypass the issues you mentioned and still use the browsers native pdf support is just awesome.

[2022-03-10 15:16] #2090 closed

[2022-03-10 15:16] #6482 closed

[2022-03-10 15:58] diocas commented on #5083
I guess the "owner" info was dropped from the sidebar, right? (at least I no longer see it)
So I suppose this issue got "resolved"

[2022-03-10 15:58] #5083 closed

[2022-03-11 07:48] tbsbdr commented on #6167
@diocas I made a "Add progress indicator for ui-interactions" issue here https://github.com/owncloud/web/issues/6183 ticket is currently not prioritised but I'll discuss with benedikt if we give it a higher prio.

[2022-03-11 10:18] JanAckermann commented on #5974
Show confirmation dialog: "Empty trash" "Are you sure you want to permanently delete your items in the trash? You can’t undo this action. [Cancel] [Okay]"

Will be handled in PR [#6544 ](https://github.com/owncloud/web/pull/6566)

[2022-03-11 10:42] pascalwengerter commented on #5976
There's some more things to be done for this (forget about the rest of the acceptance criteria above for now):
- Share indicators in right sidebar should have the same styling as OcStatusIndicator (check if  OcStatusIndicator can be used in FileDetails.vue)
- Make AvatarsList in ResourceTable clickable
    - SharedWithOthers: Should open people shares in right sidebar
    - SharedViaLinks: Should

[2022-03-11 10:49] pascalwengerter opened #6580 "Differentiate "All files" and "Personal" navigation labels for OC10/oCIS"
Add capability-based labels for SidebarNav/Breadcrumbs (and make sure there's no hardcoded text in unit/acceptance tests..)

[2022-03-11 11:14] pascalwengerter commented on #6555
iframe border is being fixed in https://github.com/owncloud/web/pull/6573, updated the comment above to reference it and mark it closed

[2022-03-11 11:55] kulmann commented on #6580
Needs the same capability as the sharing jail implementation itself.

[2022-03-11 12:35] merttumer commented on #6416
Unfortunately, .odg files are still displayed as black file icon
![image](https://user-images.githubusercontent.com/6226481/157867830-2afe50c8-57c9-4398-ad8a-e1b13b0b12c9.png)

[2022-03-11 14:53] amrita-shrestha commented on #6488
This scenario failed today in https://drone.owncloud.com/owncloud/web/23583/71/22

[2022-03-11 15:06] jnweiger opened #6582 "[QA] enhancement: display long file names"
Seen with web-5.2.0 and web-5.3.0-rc1

* create a file with a name that is 100 characters long
* view in web. the name is truncated. OK
![image](https://user-images.githubusercontent.com/1108546/157892808-bea07813-67aa-424b-b40b-beefe16e9d02.png)
----
* hover mouse, try the details side bar. Nothing reveals the full name. BAD.
* resize the browser window to 2900 pixels. That is not sufficient to s

[2022-03-11 15:42] #6570 closed

[2022-03-11 16:50] pedropintosilva commented on #6416
Hi there : ) thanks for the heads up @pascalwengerter , (@merttumer has ask me if I take a look at this and try to help)
So I have checked @elizavetaRa 's patch and they look good  :heart:

Generally speaking I do not see any blocker here. Nevertheless and if I might share bit of context:

I would say that for the specific ODG file type I'm afraid [resource-type-graphic-fill.svg](https://github.co

[2022-03-11 18:36] jnweiger opened #6585 "[QA] new appswitcher has empty label for richdocuments"
Seen in web-5.2.0 and web 5.3.0-rc1

* Enable also richdocuments
* Click on the 9-squares menu
* While the mouse pointer hovers on the blank area, the url at the bottom shows that this is richdocuments
![image](https://user-images.githubusercontent.com/1108546/157925748-b4c4f9f5-5f15-45d5-9a18-9d78741df15b.png)

[2022-03-14 08:44] #6475 closed

[2022-03-14 09:48] tbsbdr opened #6590 "Provide contextual help"
# Description

## User Stories

* > As a user who does not know what a ui-element indicates, I want help without having to leave my current context.

## Value
- Make the UI more accessible
- Provide Help

## Acceptance Criteria
- ? - icon next to various elements
- **click** on icon shows a tooltip (kind of)
- click outside the tooltip hides the tooltip
- tooltip can contain bold text, linebreaks,

[2022-03-14 13:07] tbsbdr commented on #6544
fyi @elizavetaRa @diocas - because I remember that we talked some time ago about the trashbin in spaces 👆

[2022-03-14 16:43] pascalwengerter commented on #6416
Reopening since it hasn't landed in `web` yet, also would like to get a positive reply from @pedropintosilva before closing this

[2022-03-15 05:03] saw-jan opened #6594 "Acceptance test `webUITrashbinFilesFolders/trashbinFilesFolders.feature:23` is failing in XGAPortrait"
[code]
Pipelines:
https://drone.owncloud.com/owncloud/web/23591/44/20
Passed on retry: https://drone.owncloud.com/owncloud/web/23583/46/21

Hard failing on my machine

[2022-03-15 06:09] saw-jan commented on #6594
Fails frequently: https://drone.owncloud.com/owncloud/web/23655

[2022-03-15 06:16] SwikritiT opened #6596 "E2E tests are failing intermittently in OC10 and needs investigation"
https://drone.owncloud.com/owncloud/web/23656/10/17
[code]

https://drone.owncloud.com/owncloud/web/23654/10/17
[code]

https://drone.owncloud.com/owncloud/web/23652/8/17

[code]

[2022-03-15 07:25] kiranparajuli589 commented on #6596
checked against the latest master, the test is failing
https://github.com/owncloud/web/pull/6597

[2022-03-15 09:25] tbsbdr commented on #1753
## Proposal

@kulmann we also need to think of restoring files in spaces - imo the usecase "original path vanished" could be not soooo cornerish in Spaces any more, as more hands will touch folders in Spaces.

I would still opt for option a) -> restore to user personal home.
- In addition: If the file was deleted from a Space, it should be restored to the Space root.
- Proposal: Since you are no l

[2022-03-15 09:51] lookacat commented on #6492
The jumping content is mostly related to the big batch actions breaking and moving the table

[2022-03-15 10:15] saw-jan commented on #6594
As for the initial findings, this test started failing from this commit `9ce5a1a5ec3fdbd4d2072408748707527e4b9fe8` and I also saw that some tests were skipped on XGAPortrait with `@skipOnXGAPortraitResolution`

[2022-03-15 11:42] pascalwengerter commented on #5976
@lookacat these items still are _to be done_, just checked on current master?

[2022-03-15 13:35] pascalwengerter commented on #6416
@pedropintosilva @elizavetaRa FYI :)

![Screenshot 2022-03-15 at 14-35-03 Personal - ownCloud](https://user-images.githubusercontent.com/16822008/158389205-d12a8c02-90a3-4088-923f-e8ee12b6daeb.png)

[2022-03-15 13:35] #6416 closed

[2022-03-15 20:51] kulmann commented on #5083
The `owner` info is not in the people / shares panel anymore. Instead there is an `owner` row in the top level `Details` panel of the right sidebar.

[2022-03-16 04:35] saw-jan commented on #6596
@amrita-shrestha, some issues are with `locator.fill("some input")`

[2022-03-16 08:09] tbsbdr opened #6605 "Scoped links: Quick link"
# Description

## User Stories

* > As a user I want to use the copy Link-quickaction without accidentally exposing data.

## Value

Highly increased usability
Part of new sharing concept
data loss prevention

## Acceptance Criteria

- The **Quick link** is the link, that always gets copied on click of the quickaction
- If the Quick link doesnt exists, it gets created via **Create link** in the si

[2022-03-16 10:25] fschade commented on #6596
please do not spent more time debugging the issue, will be fixed as part of #6603

[2022-03-16 14:55] kulmann commented on #5083
The web ui doesn't look at file owners, only at share owners. That explains why you don't see the owner in such a case.

[2022-03-16 17:34] diocas commented on #5083
then it's fixed :D

[2022-03-16 23:11] pascalwengerter opened #6607 "oc10IntegrationApp1 private link acceptance tests flaky"
Examples:
- https://drone.owncloud.com/owncloud/web/23776/69/21 - `webUIPrivateLinks/accessingPrivateLinks.feature:17`
- https://drone.owncloud.com/owncloud/web/23775/71/21 - `webUIPrivateLinks/accessingPrivateLinks.feature:9`

[2022-03-17 00:28] #6544 closed

[2022-03-17 04:08] saw-jan commented on #6607
Also same failure in XGAPortrait:
https://drone.owncloud.com/owncloud/web/23781/42/20 - `webUIPrivateLinks/accessingPrivateLinks.feature:9`

[2022-03-17 04:11] kiranparajuli589 commented on #6607
a bit more context can be found here too. https://github.com/owncloud/web/issues/6227

[2022-03-17 04:56] saw-jan commented on #6488
this issue will be tracked in https://github.com/owncloud/web/issues/6607

[2022-03-17 04:56] #6488 closed

[2022-03-17 05:00] saw-jan commented on #6596
e2e tests failing frequently on oC10
https://drone.owncloud.com/owncloud/web/23786
https://drone.owncloud.com/owncloud/web/23784

Mostly in download steps:
[code]

[2022-03-17 08:33] kulmann commented on #5974
Reopening, because only the confirmation for `empty trash` was done in the linked PR (as being stated in all the messages... ticket was closed accidentally).

[2022-03-17 09:47] amrita-shrestha opened #6610 "In e2e test Personal Page doesn't load properly (oc10)"
## Description
In oc10 e2e tests ,
1. User navigates to **`share page`** and **accept share**
2. User navigate to personal page
     Sometimes **`Personal page`** doesn't load properly
     This causes e2e tests to fail intermittently.

   If we reload, all the content(files/folders) will be successfully loaded on the **` Personal page`**.

Playwright screenshots of personal page not loading prope

[2022-03-17 09:57] kulmann commented on #6610
That's a known ocis backend issue: https://github.com/owncloud/ocis/issues/2995

[2022-03-17 10:06] amrita-shrestha commented on #6610
@kulmann But it is happening in oc10

[2022-03-17 10:07] kulmann commented on #6610
🤯

[2022-03-17 10:16] amrita-shrestha commented on #6610
For example, we can look on this builds
https://drone.owncloud.com/owncloud/web/23796/10/1
https://drone.owncloud.com/owncloud/web/23786/10/1

[2022-03-17 12:57] elizavetaRa opened #6614 "TopBar is mounted before the user is logged in"
### Steps to reproduce
1. Login in https://ocis.ocis-web.latest.owncloud.works/

### Expected behaviour
TopBar is first shown, when the user is logged in

### Actual behaviour
TopBar is visible during the logging in process.

[2022-03-17 13:06] pascalwengerter commented on #6614
Already tracked in #6527

[2022-03-17 13:06] #6614 closed

[2022-03-17 14:52] pascalwengerter commented on #6492
Also when navigating inside a folder, the breadcrumbs used to differ in height (esp. from "All files/Personal" down into the first child, where then the three-dots-icon appears). This has been fixed on https://github.com/owncloud/web/pull/6584

[2022-03-17 15:00] pascalwengerter commented on #6492
Can't be fixed within this issue, needs adjustments in the ODS

[2022-03-17 15:03] tbsbdr opened #6616 "Find all deleted files in one place"
# Description

## User Stories

* > As a user I want a single navigation entry point to where I can find deleted files so that I can restore a resource or delete files permanently as on my local OS.

## Value

## Acceptance Criteria

## Definition of ready
[ ] everybody needs to understand the value written in the user story
[ ] acceptance criteria has to be defined
[ ] all dependencies of the use

[2022-03-17 17:18] #6610 closed

[2022-03-18 03:35] amrita-shrestha commented on #6596
Fix in this PR https://github.com/owncloud/web/pull/6617

[2022-03-18 03:35] #6596 closed

[2022-03-18 08:17] fschade opened #6620 "Release 5.3.0"
## Waiting for
* https://github.com/owncloud/web/pull/6619
* https://github.com/owncloud/web/pull/6554
* https://github.com/owncloud/web/pull/6577
* https://github.com/owncloud/owncloud-sdk/pull/1025
* https://github.com/owncloud/owncloud-design-system/pull/2029

## Release checklist
- [X] pin release issue @fschade
- [x] prepare release rc
  - [X] create a branch [`release-5.3.0`](https://github.

[2022-03-18 09:04] kulmann commented on #5417
acceptance criteria to get this done:
- [ ] add locking related props to `DavProperty` and `DavProperties.Default`
- [ ] add to resource mappings in `resources.js`
- [ ] create indicator with a `lock` icon for the file list
- [ ] add locking information to `Details` panel in right sidebar

[2022-03-18 09:38] ScharfViktor commented on #6620
#  SmokeTest  against ocis
branch: v5.3.0-rc.2

### Case 1: admin share folder(with file) to marie:

Admin:
- [ ] upload big file 10gb - slow and uploads partly because of page refreshing
- [ ] upload folder with 803 small images.
- [ ] Check pagination, count items per page. - 100 itmes
- [ ] upload folder(drag folder) "folder_to_share" with file.pdf
- [ ] share folder "folder_to_share" to marie

[2022-03-18 09:44] fschade commented on #6620
@ScharfViktor please wait a few moment more, we still have to add at least 1 pr before testing can start.
Thanks for you really fast support ❤️

[2022-03-18 09:51] ScharfViktor commented on #6620
Oops, that was a rush. Please ping me when it will be ready for smoke test.

[2022-03-18 10:29] tbsbdr opened #6621 "Unite "Links" + "People" in "Share" Panel"
# Description

## User Stories

* > (Comprehend)  As a user I want to see at a glance how and who has access to a resource so that I can make sure that no unwanted access is disclosed.

* > (Edit) As a user I want to manage access to a resource so that I'm in full control of resource-access.

**Note:**
The usecase "Just quickly sharing a resource" is covered by rightclick and quickactions and not

[2022-03-18 10:42] elizavetaRa commented on #6140
@kulmann @pascalwengerter Do you guys see any benifit in showing "shared with" for incoming shares? For CERNBox it's useful as we have shares with user as part of a group.

We started to implement internally: https://github.com/cernbox/web/commit/9ca8f0024abb7da3efc519351eb29e342327ed63

[2022-03-18 15:17] pascalwengerter commented on #6620
Tested the release candidate in combination with a patched app-provider (https://github.com/owncloud/ocis/pull/3333), it _works better somehow_ but I don't think there's a lot on the `web` side of things that can be done here

[2022-03-18 15:59] pascalwengerter commented on #6516
Can confirm this issue, adding it to the fastlane

[2022-03-18 16:00] pascalwengerter commented on #6504
Closed via #6584

[2022-03-18 16:00] #6504 closed

[2022-03-18 16:01] pascalwengerter commented on #6515
Closed as duplicate of #6423

[2022-03-18 16:01] #6515 closed

[2022-03-18 16:03] pascalwengerter commented on #6260
@fschade @ScharfViktor is this done / what's the definition of done here? :)

[2022-03-18 16:05] fschade commented on #6260
this is done, thanks for having an eye on it 💋

[2022-03-18 16:18] pascalwengerter commented on #4605
@saw-jan do you have any indication how large the file has to be for the error to occur? :)

[2022-03-18 16:31] pascalwengerter commented on #5611
Closing since it's not recommended to run the acceptance tests un-dockerized (also `LOCAL_LAUNCH_URL` is being set _from_ SERVER_HOST if it's provided so shouldn't have changed the setup)

[2022-03-18 16:31] #5611 closed

[2022-03-21 06:40] individual-it commented on #6337
reopening because seeing this in nightly builds:
[code]

[code]

[code]

[2022-03-21 08:30] exalate-issue-sync[bot] opened #6626 "Add rename option next to resource name"
# Description

## User Stories

* > As a user I want an option very next to the resource name so that I can quickly rename resources.

## Value

## Acceptance Criteria

## Definition of ready
[ ] everybody needs to understand the value written in the user story
[ ] acceptance criteria has to be defined
[ ] all dependencies of the user story need to be identified
[ ] feature should be seen from an

[2022-03-21 09:13] pascalwengerter opened #6627 "Context Menu: The context menu is in some cases not in the foreground"
Context Menu: The context menu is in some cases not in the foreground

<img width="1121" alt="image" src="https://user-images.githubusercontent.com/33026403/156359229-b5e72834-005f-4400-ae22-30ec270788bc.png">

_Originally posted by @ChrisEdS in https://github.com/owncloud/web/issues/6492#issuecomment-1056860071_

[2022-03-21 09:43] pascalwengerter opened #6628 "Jumping contents when opening the right menu"
Jumping contents when opening the right menu

https://user-images.githubusercontent.com/33026403/156537640-9d97e0f9-8be0-4eaa-a302-a4bbb527fe94.mov

_Originally posted by @ChrisEdS in https://github.com/owncloud/web/issues/6492#issuecomment-1057854295_

[2022-03-21 09:44] pascalwengerter commented on #6492
I've extracted some tougher cookies to new issues, closing this one here

[2022-03-21 09:44] #6492 closed

[2022-03-21 10:22] pascalwengerter commented on #6555
Actually removing this from the current sprint/backlog since there's some discussion needed on some of the items

[2022-03-21 20:00] #6571 closed

[2022-03-21 20:26] #6528 closed

[2022-03-22 08:36] #6532 closed

[2022-03-22 09:10] kulmann commented on #6607
Seeing a lot of examples where this test is failing. Would like to raise the prio on this.
- https://drone.owncloud.com/owncloud/web/23964/69/21
- https://drone.owncloud.com/owncloud/web/23958/71/22

[2022-03-22 09:18] JammingBen opened #6634 "Rearrange space context menu"
Rearrange the context menus for spaces so they a) match visibly with all other context menus and b) include some separation lines.

![image](https://user-images.githubusercontent.com/50302941/159447476-6ad53f42-7822-47ca-a7eb-a73a696aacf8.png)

![image](https://user-images.githubusercontent.com/50302941/159447535-599c5eca-f62e-429d-91b0-9a255287e1bc.png)

[2022-03-22 09:20] JammingBen opened #6636 "Hide "Create Space"-button for users that are not allowed to create spaces"
This requires Web to have information about the current role/permissions. Groundwork for this needs to be done first.

![image](https://user-images.githubusercontent.com/50302941/159448222-f67cbe00-d7ea-4fe2-a50b-d70aded2173c.png)

[2022-03-22 09:24] JammingBen opened #6637 "Use the space title in the breadcrumbs"
... instead of using the space ID. This requires the URL alias feature to be implemented.

![image](https://user-images.githubusercontent.com/50302941/159448417-82f93872-8cc4-44cb-a4a4-1c72fff2e92c.png)

[2022-03-22 09:26] JammingBen opened #6638 "Fix share tables for shared spaces and their shared resources"
Shared spaces and their shared resources are currently broken in the share tables. Make sure that they are displayed correctly and all (quick-)actions work as they should.

* Needs https://github.com/owncloud/web/issues/6448 to be done for the linking issues
* Needs https://github.com/owncloud/ocis/issues/3359 to be done for showing the correct names

![image](https://user-images.githubusercontent

[2022-03-22 12:09] tbsbdr opened #6700 "Image Preview: Show images in full browser-viewport"
## Userstory:

* > As a user I want that big images are shown as big as possible in the browser so that I get the best impression of the image.

## Acceptance Criteria
- images bigger than the viewport get resized to cover 100% of the browser viewport
- The controls (incl. image title) overlay the image
- The controls have a fixed position while next/prev so that you don't have to reposition your

[2022-03-22 12:47] #6516 closed

[2022-03-22 13:54] JammingBen opened #6641 "Align the space frontpage topbar with the other pages"
Alignments and the "Create space"-button look off when compared to the rest of oC.

![image](https://user-images.githubusercontent.com/50302941/159497268-27ed3b9d-1f93-4f62-8eaf-eac4f3869564.png)

[2022-03-23 10:44] labkode opened #6648 "Enable navigation by driveAlias in the Web UI"
Given the following space:

[code]

Navigation works by `id`:

`https://cernbox.cern.ch/files/spaces/aaaa-bbbb-cccc-dddd/relative/path/to/file.txt`

We expect navigation to work with `driveAlias`:
`https://cernbox.cern.ch/files/spaces/eos/user/h/hugo/relative/path/to/file.txt`

Is this implemented?
If yes, how can we enable it?

[2022-03-23 10:47] labkode opened #6649 "Dynamically expose different space types in the Web UI"
Rely on server response to populate spaces view with top level filters like is done for shares:
![Screenshot 2022-03-23 at 11 46 15](https://user-images.githubusercontent.com/5175912/159682484-2c731415-413b-4162-8204-47235a185850.png)

This will remove patches in our fork in our current UI (like HPC, ...)

[2022-03-23 10:59] pascalwengerter commented on #6649
@tbsbdr needs product decision and concept for a larger amount of driveTypes

[2022-03-23 11:13] fschade commented on #6620
@ScharfViktor thanks for the testing, the accounts button link in settings is not an release blocker.

[2022-03-23 11:16] fschade commented on #6620
sideCar mode tested and works, i didn't go into detail here because the oc10 app cover all other topics.

[2022-03-23 11:41] pascalwengerter commented on #6620
## Smoke test v5.3.0-rc.3 against oc10 app

- :heavy_check_mark: as admin - upload personal university archive (~3.000 files)
        - via drag and drop folder upload works
        - via folder upload button works
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as admin - share the folder to alice as viewer

[2022-03-23 11:47] pascalwengerter opened #6650 "Share doesn't disappear from "Shared with others" filesList after last share has been deleted in sidebar"
### Steps to reproduce
1. Have a share in `Shared with others` view
2. Delete all share receivers
3. Share stays in the ResourceTable until page reload

### Expected behaviour
Share disappears from ResourceTable when last share receiver is successfully deleted

[2022-03-23 12:00] ScharfViktor commented on #6620
Yes, sure. there in nothing that blocks release.

[2022-03-23 12:23] ScharfViktor opened #6651 "Buttons "New" and "Upload" are still available after changing the role of the space"
branch: 5.3.0-rc.3 docker

steps:
- the administrator creates the space
- the administrator gives the space to user1 with the editor role
- user1 can create a file/folder inside the space. The "Create" and "Upload" buttons are available.
- admin changes the role to viewer
- user1 refreshes the page but buttons still available although the answer is that the role of viewer

Expected result: "Create

[2022-03-23 12:47] JammingBen commented on #6651
Thx for reporting! However, this is a backend issue I believe.

At the end, you're checking how the permissions look like in the backend response. But you're checking the wrong request. The right one would be the request where the single drive is fetched (I believe the second one in the list), not the one where all drives are listed.

Ideally, both responses have the same data for this space. But

[2022-03-23 12:50] #6620 closed

[2022-03-23 13:20] ScharfViktor commented on #6651
Yes, you are right. I'll create issue in ocis
request GET `https://host.docker.internal:9200/graph/v1.0/drives/3ea1ce3d-c34f-4b8e-bc6c-3ffca95e2ae0` give us wrong role after updating role:
<img width="1431" alt="Screenshot 2022-03-23 at 14 15 11" src="https://user-images.githubusercontent.com/84779829/159708242-55461781-6112-4f19-9271-7ee9c894c7fa.png">

request GET `https://host.docker.internal:9

[2022-03-23 14:40] tbsbdr opened #6652 "Spaces refinements & polishing"

[2022-03-23 15:12] tbsbdr commented on #6652
closing in favour of https://github.com/owncloud/web/issues/6555

[2022-03-23 15:12] #6652 closed

[2022-03-23 15:47] elizavetaRa commented on #6549
@kulmann I found the issue with quota: if the backend returns no quota (our case with lightweight accounts), the quota in store is not reset from the previous logged in user inside one browser tab

[2022-03-23 16:04] ScharfViktor commented on #6651
closed in favor of https://github.com/owncloud/ocis/issues/3378

[2022-03-23 16:04] #6651 closed

[2022-03-23 23:19] pascalwengerter commented on #6585
@JanAckermann @JammingBen could you share some insights on what might be missing? I checked for something obvious like a missing title/name in https://github.com/owncloud/richdocuments/blob/master/appinfo/info.xml, but that's not the case

[2022-03-23 23:20] pascalwengerter commented on #6585
Needs a clarification on whether it's a `web` issue in general, and might be moved to a different repo in the process

[2022-03-23 23:21] pascalwengerter commented on #6580
Was closed in #6640

[2022-03-23 23:21] #6580 closed

[2022-03-23 23:26] pascalwengerter commented on #6317
@kiranparajuli589 @phil-davis have you come across this recently? If so, what's the plan of actions? If not, please close :)

[2022-03-23 23:28] pascalwengerter commented on #6075
@phil-davis could you add this to your backlog? Should be trivial to fix

[2022-03-23 23:32] pascalwengerter commented on #5586
Closing since I've never come across this and can't remember any similar complaints recently. We have a dedicated ticket to add waiting/loading indicators to the UI, but renaming folders usually works pretty fast (unless the backend is unresponsive or the connection laggy, ofc)

[2022-03-23 23:32] #5586 closed

[2022-03-23 23:36] pascalwengerter commented on #2076
Closed since #1996 describes the problem in a more generic way

[2022-03-23 23:36] #2076 closed

[2022-03-23 23:36] phil-davis commented on #6317
@kiranparajuli589 I haven't noticed this lately, have you?

[2022-03-24 06:26] kiranparajuli589 commented on #6317
No more reports are made here, seems like it's stable now.
closing

[2022-03-24 07:24] #6317 closed

[2022-03-24 07:32] JammingBen commented on #6585
AFAIK those titles come from the Web `config.json` file, see https://owncloud.dev/clients/web/deployments/oc10-app/#configure-owncloud-web. @jnweiger Is a title set for this application?

[2022-03-24 08:43] tbsbdr commented on #6590
example from trello, well done imo:

https://user-images.githubusercontent.com/26610733/159876963-3d19404c-8cce-43db-a5f3-33b6f6960e64.mp4

[2022-03-24 08:48] pascalwengerter commented on #6585
Aren't we pulling them from the backend? Seeing classic apps in the new frontend was implemented here https://github.com/owncloud/web/pull/5996/files

[2022-03-24 09:41] tbsbdr commented on #6634
Proposal for Space-Context menu polishing:
Left: Space Manager - right: Regular member

@pmaier1 would you change something?

![image](https://user-images.githubusercontent.com/26610733/159885918-531c5bd6-d04f-4a0c-b899-f89935c0dc9a.png)

Wording "Restore" or "Enable" ? what do you think?
"Restore" is more common, if a item is in a trash bin
"Enable" would be more in line with "Disable" (my favori

[2022-03-24 10:23] JammingBen commented on #6585
@pascalwengerter is absolutely right, I totally forgot about this feature. https://github.com/owncloud/web/pull/6656 should fix it. I hardly believe it was working in the past for richdocuments... At least not when fetching the app automatically.

[2022-03-24 10:29] #6324 closed

[2022-03-24 10:29] #5913 closed

[2022-03-24 12:09] kulmann opened #6658 "Extract right sidebar from files app into web-pkg and make it reusable for other apps"
## Status quo
The files app has a right sidebar which shows panels that represent data or actions referencing the current selection model of the files list. At the moment it follows a pattern of panels being defined with a component reference and a getter whether or not the respective panel is enabled for the current state (selection model, current route).

<img width="362" alt="Screenshot 2022-03

[2022-03-24 13:47] fschade commented on #279
i close this here, right now it's not planned to support RTL in web or ODS.

[2022-03-24 13:50] fschade commented on #1158
@tbsbdr is this planned, if not please close the issue.

[2022-03-24 13:54] fschade commented on #1720
testet in lates web version with oCis backend, web now takes care of it and shows a notification.
![Uploading Bildschirmfoto 2022-03-24 um 14.53.16.png…]()

[2022-03-24 13:54] #1720 closed

[2022-03-24 13:56] fschade commented on #1725
@tbsbdr, @kulmann not sure if this is planned for the future, if not please close the issue.

[2022-03-24 13:59] fschade commented on #1730
@tbsbdr please have a look, i tested it and think it's ok how web handles the case.

* create file foo
* delete file foo
* create file foo
* go to trash and restore foo

then ui shows an error (see screenshot).

alternatively web could show an option in thrashbin 'restore as'... but really not sure if it makes sense.
![Bildschirmfoto 2022-03-24 um 14 56 48](https://user-images.githubusercontent.co

[2022-03-24 14:05] kulmann commented on #6648
This is not implemented, yet. We're currently working on the sharing jail implementation (see https://github.com/owncloud/web/pull/6593 and https://github.com/owncloud/web/issues/6448 for details). Expected to be done approx. 4th of April. Having the drive alias in the URL is planned after that. Together with showing custom drives with their own nav items and routes in the web ui that will at leas

[2022-03-24 14:13] kulmann commented on #6649
Hey, a feature like that is not on our short term roadmap until oCIS GA.

What we can offer in the meantime is that you can have additional nav items for the left side bar. Since those require content like a title or an icon we'll hardcode them in our master and a) decide upon the content of a drive listing whether or not they are shown or b) via build flags. You need that anyway for the eos user

[2022-03-24 14:34] kulmann commented on #1725
Surely needed sometime in the future, but not in the near future. Closing, thanks for the pointer.

[2022-03-24 14:52] labkode commented on #6648
We're taking about 700 project spaces, 35k home spaces and 200K share spaces ...
My understanding is that the call to /drives/me only returns the spaces the user has access to, so we'll be only returning a subset (1 personal space, multiple share spaces and multiple project spaces).
Our implementation will be dynamic, meaning that we won't have the spaces registry loaded from a static file.

[2022-03-24 15:33] fschade commented on #1749
@JanAckermann , maybe interesting for you when working on the users.

[2022-03-24 15:34] JanAckermann commented on #1749
@fschade
Thx but this seems not to be the case with my implementation

[2022-03-24 16:00] ishank011 opened #6660 "Remove permission check when listing spaces"
For spaces with thousands of users via recursive groups, this won't scale

https://github.com/owncloud/web/blob/c2cddef7b391bb26f8a4e9d73ef4288d100a538a/packages/web-app-files/src/helpers/resources.js#L130-L135

This should be delegated to the backend to not return the space if the logged-in user has not been granted permissions to it. The backend still shouldn't return all the users, but rather j

[2022-03-24 16:21] kulmann commented on #6648
Awesome to hear that it's dynamic. Is it still possible for you to provide a list of required nav items with a) icon, b) title, c) drive type to be mapped to a url? Or are the drive types dynamic as well? If the drive types are dynamic then that's far beyond the scope that we discussed. :-/

Do you already have an ETA for having the space listing backend side?

[2022-03-24 16:24] micbar commented on #6648
@labkode I was assuming that we could also use a static approach. Let me change your snippet

[code]

[2022-03-24 17:15] tbsbdr commented on #1750
Bug, but would consider it a `Prio-3` as this exists ins classic -> assume not many users experienced it until today; + there is a workaround by navigating into the respective folder.

[2022-03-24 18:36] diocas commented on #6549
@elizavetaRa I guess this can be reproduced in master if you - for example - add a new menu entry on the left sidebar?

[2022-03-24 18:50] diocas opened #6661 "App routes/extensions configurable/callable"
It would be great to have an app configuration when we configure its routes/extensions.

For example, you mentioned that you wanted to make some apps open in the same tab, while we think it's better to keep opening in a new tab. If this was a configuration, it would be possible.

Also, we would prefer to use your text/md editor instead of our text-editor, but we don't want it to open/create .md fi

[2022-03-25 03:28] individual-it opened #6664 "moving one folder into an other results into wrong breadcrumbs"
### Steps to reproduce
1. create folder `f1`
2. create folder `f2`
3. move folder `f2` via drag and drop into `f1`

### Expected behaviour
content of `f2` is shown and breadcrumbs show  `All files -> f1 -> f2`

### Actual behaviour
content of `f2` is shown but breadcrumbs show  `All files -> f2`

### Environment general
**Operating system**:
Ubuntu

**Backend (ownCloud Core or Infinite Scale)**:
o

[2022-03-25 08:27] #6607 closed

[2022-03-25 09:04] JammingBen commented on #6283
Closing here all related PRs are finally done 🥳

[2022-03-25 09:04] #6283 closed

[2022-03-25 14:02] #6626 closed

[2022-03-28 03:37] #6594 closed

[2022-03-28 07:38] exalate-issue-sync[bot] opened #6673 "Show libre-IDM users"
# Description

## User Stories

* > As an Admin i want to see a list of users so that I know who has access to the system.

## Value
- Demo libre IDM in the frontend
- See if demo users exist

## Acceptance Criteria
- Userlisting is always available;
  - Libre IDP: listing is writable
  - external IDP: listing is Read-only
- New item in the app swticher "User management"
- When navigating into the

[2022-03-28 07:38] exalate-issue-sync[bot] opened #6674 "Filtering and sorting of users list"
# Description

## User Stories

* > As an admin I want to identify a secific user in the users list, so that I can later modify their data.

## Value
- user list filtering & sorting

## Acceptance Criteria
- Columns can be sorted (exept actions column)
- Filter
  - Placeholder text and aria-label: "Search users"
  - userlist gets filtered with every keystroke
  - filtered columns are: Username, Em

[2022-03-28 07:38] exalate-issue-sync[bot] opened #6675 "Show user details in right sidebar"
# Description

## User Stories

* > As an admin I want to view detailed information of a user so that I lookup account details.

## Value
- groundwork right sidebar / MVP

## Acceptance Criteria
- switch to toggle right sidebar
- checkboxes for selction model, users can be selected
- multiselect details panel: if multiple users are selected, right sidebar shows "xx users selected"  (batch actions

[2022-03-28 07:39] exalate-issue-sync[bot] opened #6676 "Edit profile data"
# Description

## User Stories

* > As an admin I want to edit profiledata so that I can adminstrate accounts.

## Value
- usermangement

## Acceptance Criteria
- Quickation "Edit profile" opens subpanel "Edit profile"
- In edit profile all tabular data except group assignments can be edited.
- formfields can only be saved after succesfull validation
- sticky bottom bar, refects to the admin, if c

[2022-03-28 07:39] exalate-issue-sync[bot] opened #6677 "Create new user"
# Description

## User Stories

* > As an admin I want to create a new user so that users can start using ocis.

## Value
- add users to ocis

## Acceptance Criteria
- button "+ New user" on top of user listing
- "+ New user" button opens modal with required fields
  - username
  - Maybe display name (Label: "First and last name")
  - email
  - password
  - Button "Cancel", "Create"
- toast: "User

[2022-03-28 07:39] exalate-issue-sync[bot] opened #6678 "Add / remove user to groups"
# Description

## User Stories

* > As an admin I want to add or remove users to groups, so that users can get managed more easily.

## Value
- manage group assignments

## Acceptance Criteria
- Quickaction "Group assignments"
- Button "Group assignments" below the Details-Panel
- Opens Panel "Group assignments" of the respective user in the right sidebar
- use oc-select with multiselection to add

[2022-03-28 07:59] #6641 closed

[2022-03-28 10:47] #6634 closed

[2022-03-28 13:40] exalate-issue-sync[bot] opened #6682 "show file-locking information"
# Description
Info about locking is (somehow) available in the backend

## User Stories

* > As a user I who has write permissions to a file I want to know if a file is locked, so that I know why I can't edit it.

## Value
- working on office files

## Acceptance Criteria
- If file is locked, 🔒-Icon is shown next to share-indicators in filelist and Details-Right Sidebar Panel
- ~~Icon is shown imm

[2022-03-28 14:54] #5976 closed

[2022-03-29 09:48] pascalwengerter opened #6685 "ViewOptions sometimes not correctly aligned"
### Expected behaviour
ViewOptions are right-aligned

### Actual behaviour
ViewOptions are left-aligned if no Breadcrumbs or SharesNavigation gets rendered

Reported by @ChrisEdS

![Clipboard - 24  März 2022 15 19](https://user-images.githubusercontent.com/16822008/160584358-2dd0a12c-3145-45d5-b298-a8ac0989b955.png)

[2022-03-29 11:35] #6429 closed

[2022-03-29 16:38] #6685 closed

[2022-03-30 06:32] pascalwengerter commented on #6664
@individual-it could you try on https://ocis.ocis-web.latest.owncloud.works? I refactored the breadcrumb "calculation" yesterday and couldn't reproduce

[2022-03-30 06:46] #5957 closed

[2022-03-30 07:22] pascalwengerter commented on #6637
Fixed via #6662

[2022-03-30 07:22] #6637 closed

[2022-03-30 07:53] individual-it commented on #6664
@pascalwengerter same
![image](https://user-images.githubusercontent.com/2425577/160780418-5c01b2e3-5f9f-42ae-8117-b39b9f323c8f.png)
after going back and navigating into the folders
![image](https://user-images.githubusercontent.com/2425577/160780605-9e830d23-0933-4202-8511-a0ff974123d6.png)

[2022-03-30 09:53] tbsbdr commented on #6590
Example from google maps:
Initial:
<img width="330" alt="image" src="https://user-images.githubusercontent.com/26610733/160804150-aab09ab7-9aef-4670-a9e2-b828a830d828.png">

Focused:
<img width="356" alt="image" src="https://user-images.githubusercontent.com/26610733/160804215-cccaab57-d6c5-46ef-9a68-50b003c2a952.png">

on-click:
<img width="349" alt="image" src="https://user-images.githubusercont

[2022-03-30 10:30] #6658 closed

[2022-03-31 09:21] elizavetaRa opened #6695 "Guide through the interface"
### Expected behaviour
The web interface should provide an interactive guide to

- show, what's new  in the new release / since the last time user visited the app
- demonstrate important functions of the interface

### To discuss:
- Conceptually: the guide consists of different tours, the tour consists of several steps
- Usage of a library for the guide?
- Where should the guide be stored?
- Imple

[2022-03-31 09:24] pascalwengerter opened #6696 "AppBar is not sticky anymore"
### Steps to reproduce
1. Have a lot of files
2. Scroll down
3. ![Screenshot 2022-03-31 at 11-23-19 Personal - ownCloud](https://user-images.githubusercontent.com/16822008/161022770-d2e9a3df-29c5-4513-a9c6-2ddfb42d7766.png)

### Expected behaviour
Sticky appBar to have breadcrumbs&batchactions availabled

### Actual behaviour
Seems that I messed this one up in https://github.com/owncloud/web/pull/

[2022-03-31 14:28] elizavetaRa opened #6702 "Customization of UI elements"
It would be great to have the possibility to customize the following elements:

- feedback link (href, ariaLabel, description)
- tooltip help for "invite" searchfield (description text). The tooltip can be shown, if the description text exists.

[2022-03-31 14:35] ChrisEdS opened #6703 "Menu entry turns grey when opening application switcher"
### Steps to reproduce
1. In Light Mode open the left menu (Application Switcher)

### Actual behaviour

`Files` text is getting grey without reason

https://user-images.githubusercontent.com/33026403/161080454-ed136025-38e8-4e73-9a34-a78aba2c1045.mov

[2022-03-31 15:19] michaelstingl commented on #6029
Maybe:
- un-select with clicking on the empty space below (seen in box.com, dropbox.com, onedrive.live.com)

[2022-03-31 15:58] #6239 closed

[2022-03-31 17:12] #5591 closed

[2022-03-31 17:12] #5618 closed

[2022-03-31 17:12] #6022 closed

[2022-03-31 22:19] ChrisEdS opened #6705 "Width of Spaces tile dances around wildly"
### Steps to reproduce
1. Create a Space
2. Change the browser width
3. Open the `Show members` section

### Expected behaviour
The Spaces tile has a fixed with or reacts wisely

### Actual behaviour
The width changes constantly depending on the width of the browser window or the available space.

https://user-images.githubusercontent.com/33026403/161158960-7649cc52-17fd-44bf-99f6-1059123875f8.mov

[2022-04-01 03:56] saw-jan opened #6706 "[QA] Acceptance test `webUITrashbinDelete/trashbinDelete.feature:143` failed nightly"
Nightly run: https://drone.owncloud.com/owncloud/web/24305/67/15

[code]

[2022-04-01 04:00] saw-jan opened #6707 "[QA] Acceptance test `webUIDeleteFilesFolders/deleteFilesFolders.feature:216` failed nightly"
Nightly run: https://drone.owncloud.com/owncloud/web/24306/53/15

[code]
[code]

[2022-04-01 06:54] saw-jan commented on #4582
Public link: delete multiple files test fails sometimes due to this issue. https://github.com/owncloud/web/issues/6707

Server: `oCIS`

Screenshot:
![test-test_feature-L11](https://user-images.githubusercontent.com/52366632/161208228-c5e61645-bb3e-4cf8-9368-5cac676617f0.png)

[2022-04-01 07:28] #6677 closed

[2022-04-01 09:50] #6696 closed

[2022-04-01 10:07] tbsbdr commented on #6695
Nice, thats something I definitely want. From a users perspective, do those stories sound reasonable to you and meet the Idea?

**1 - New features:** (Everyday user)
* > As a everyday user I want a hint or guide about new features so that I can improve my known workflows.

**2 - First-time guide:** (first-time user)
* > As a first-time user who is afraid of randomly exploring the ui by clicking ar

[2022-04-01 11:04] saw-jan commented on #6707
Issue https://github.com/owncloud/web/issues/4582 has reappeared now with oCIS server.

[2022-04-01 13:39] diocas opened #6712 "Left sidebar shown for pwd protected pl"
![image](https://user-images.githubusercontent.com/2589871/161274879-f953f6e9-3615-41d4-a81d-1e056e6e9164.png)

[2022-04-01 14:25] pascalwengerter commented on #6712
@diocas should have been resolved on current master already through https://github.com/owncloud/web/pull/6710, could you check?

[2022-04-01 14:39] #6712 closed

[2022-04-01 14:46] individual-it opened #6713 "webUIUpload/upload.feature:94 failed"
see https://drone.owncloud.com/owncloud/web/24343/62/15
seems like the server replied with 500 see https://drone.owncloud.com/owncloud/web/24343/62/10 from line 309
[code]

ToDo: check if we can reproduce that

[2022-04-01 16:48] #6497 closed

[2022-04-01 20:01] #6140 closed

[2022-04-04 03:37] saw-jan commented on #6707
Batch delete action can sometime fail in oCIS, see https://github.com/owncloud/web/issues/4582#issuecomment-1085501222
CC @kulmann @pascalwengerter

[2022-04-04 03:48] saw-jan commented on #6707
While testing manually server request looks like this on failure:

Request:
[code]
Response:
[code]

[2022-04-04 04:20] saw-jan commented on #6706
@Talank this might be same as https://github.com/owncloud/web/issues/6707
Batch actions are working correctly with oCIS server

[2022-04-04 04:34] saw-jan commented on #6707
Some other fails due to some error while doing batch action:
https://drone.owncloud.com/owncloud/web/24385/67/15

[2022-04-04 04:39] saw-jan opened #6721 "webUISharingFolderAdvancedPermissionMultipleUsers/sharedFolderWithMultipleUsersAdvancedPermissions.feature:63 can fail"
https://drone.owncloud.com/owncloud/web/24385/63/15
[code]

[2022-04-04 09:15] saw-jan commented on #6721
Sharing didn't succeed.
![test-test_feature-L61](https://user-images.githubusercontent.com/52366632/161513112-a277e172-0b4a-443f-93c2-1681bcd92d4e.png)

[2022-04-04 10:40] lookacat commented on #1753
Would also prefer the windows method. @kulmann should I have a look if thats possible?

[2022-04-04 11:53] kulmann commented on #1753
Not yet. I'd like to hear @pmaier1's opinion on this first.

From a technical perspective we can only restore rebuilding the original path, because we don't have any parent folder file id via the API. The question at this time is if we want the windows behaviour (then you could implement it) or if we don't want it (then this ticket needs to remain on hold).

[2022-04-04 15:08] kulmann commented on #1753
Fine by me. Let's do it this way 👍

[2022-04-04 16:53] tbsbdr opened #6728 "Remove a share/space member: show confirmation dialog"
### Steps to reproduce
1. go to https://web.owncloud.com/ -> new design
2. share a file with group "admin"
3. "Shared with" list: click on 3-dots -> `remove share`

### Expected behaviour
A confirmation dialog shows up so that I can confirm my action:
[code]

### Actual behaviour
Share gets removed immediately

### Background:
Action should be confirmed as there is no easy undo / restore action.

[2022-04-04 18:05] tbsbdr opened #6729 "Rename: Prevent accidental change of the file extension"
### Steps to reproduce
1. go to new design in https://web.owncloud.com/
2. select `ownCloud Manual.pdf` and choose "rename"
3. type "asd"
4. hit enter

### Expected behaviour
file is renamed to `asd.pdf` and can still be opened via rightclick -> open with pdf viewer

### Actual behaviour
file is renamed to `asd` and can not be opened with the pdf viewer

initial text-selection guides the user towa

[2022-04-04 18:27] kulmann commented on #6728
Why is the action irreversible? 🤔 I can easily recreate the share.

I agree that it should have a confirm dialog. But only because there is no undo and no restore action.

[2022-04-04 18:31] tbsbdr opened #6730 "provide switch to hide/show extensions"
### Expected behaviour
- File extension should be visible by default (but default configurable by admin)
- user should have a way of hiding file extensions

### Proposal
- define config.json option for "show/hide file extension" default value (fallback if undefined: show extensions)
- Provide a switch in the ⚙️ - Menu -> "File extensions [on/off]" to show/hide extensions; default: based on config.

[2022-04-04 19:04] tbsbdr opened #6731 "Long breadcrumb: truncate and add drop menu"
### Steps to reproduce
1. login on web.owncloud.com, switch to new design
2. create many folders and open them until the breadcrumb line-breaks

### Expected behaviour
Breadcrumb should not line-break

### Actual behaviour
Breadcrumb Line-breaks:
<img width="1200" alt="image" src="https://user-images.githubusercontent.com/26610733/161613051-3b772cf9-1741-4509-b99b-4feea303cbe0.png">

### Proposal

[2022-04-05 03:39] phil-davis commented on #6729
Note: the existing behavior of the oC10 classic webUI" is the same as the "Remedy" expected behavior here. So this issue will make web behave the same as the classic webUI.

[2022-04-05 04:05] individual-it commented on #6337
for now this should be fixed after  #6732 &  #6733 get merged

[2022-04-05 06:41] individual-it commented on #1753
Just think of the corner case that you might not have the permissions anymore to recreate the original path

Alice creates "simple-folder/subfolder/lorem.txt"
Alice shares "simple-folder" with "Brian" as editor
Brian accepts share
Brian deletes Shares/simple-folder/subfolder/lorem.txt
Alice changes the permissions on the share to Brian to read-only
Brian restores lorem.txt from the trashbin

Or th

[2022-04-05 08:20] kulmann commented on #6730
Valid request, no worries. ;-) Only thing I'm not sure about is what we should have as a default here.

[2022-04-05 08:24] kiranparajuli589 opened #6734 "`features/webUISharingInternalUsersSharingIndicator/shareWithUsers.feature:17` failed on recent nightly build"
### Description:
**Build Link**: https://drone.owncloud.com/owncloud/web/24423/59/15

Log:
[code]

TODO:
- [ ] investigate the failure

[2022-04-05 08:24] kulmann commented on #6337
Thanks for taking care! Closing now, since I merged your two PRs.

[2022-04-05 08:42] tbsbdr commented on #6730
Thats actually my point - my proposal is to hide the file extensions **by default** (like in Windows and MacOS)

[2022-04-05 09:11] tbsbdr commented on #6728
correct, thx - updated initial post

[2022-04-05 12:33] pascalwengerter opened #6737 "Richdocuments icon not displayed in Contextmenu"
### Steps to reproduce
1. Use OC10 + latest web release + Richdocuments (classic) app
2. Try to open `.odt` or other applicable file using the contextmenu
3. Don't see an icon

### Expected behaviour
See the app icon next to `Open in $appName`

### Actual behaviour
We currently take whatever icon the app is configured to be shipped with and try to render it as one of [the icons in the ODS](https:/

[2022-04-05 12:57] ChrisEdS opened #6738 "Richdocuments opens not in the app area"
### Steps to reproduce
1. Open a document with Collabora

### Expected behaviour
The app uses the app frame, no scrolling needed, the header is sticky

### Actual behaviour
The app breaks out the frame, the header is vanished (need to scroll)

https://user-images.githubusercontent.com/33026403/161757814-e65bc5ef-04d4-4cf4-9154-f137012adf9c.mov

<img width="1406" alt="Screenshot 2022-04-05 at 14 53

[2022-04-05 13:03] ChrisEdS opened #6739 "Richdocuments - No redirect to the file after closing"
### Steps to reproduce
1. Open a file in Richdocuments
2. Close it via the `X` (close) icon on the top right

### Expected behaviour
After closing a document I want to be in the source folder.

### Actual behaviour
I see an empty area.

https://user-images.githubusercontent.com/33026403/161759825-e29f6284-d1e2-4ce3-a6c2-4d9d755769f1.mov

### Environment general
**Backend (ownCloud Core or Infinite

[2022-04-05 13:13] ChrisEdS opened #6740 "OnlyOffice opens not in the app area"
### Steps to reproduce
1. Open a document with OnlyOffice

### Expected behaviour
The app uses the app frame, no scrolling needed, the header is sticky

### Actual behaviour
The app breaks out the frame, the header is vanished (need to scroll)

https://user-images.githubusercontent.com/33026403/161761683-1ac9ac7b-fdfd-441b-a152-68ddca0a8b0d.mov

### Environment general
**Backend (ownCloud Core or

[2022-04-06 05:31] saw-jan commented on #4605
The issue is still relevant.
@pascalwengerter, you can use the `lorem-big.txt` from `tests/e2e/filesForUpload`. I retested with that one.

[2022-04-06 05:53] kiranparajuli589 opened #6741 "`webUIUpload/upload.feature:22` failed on recent nightly build"
### Description
`webUIUpload/upload.feature:22` has failed on this nightly build:
- https://drone.owncloud.com/owncloud/web/24491/64/15

[code]
suspicious ocis logs https://drone.owncloud.com/owncloud/web/24491/64/10
[code]
[code]

[2022-04-06 11:05] #6729 closed

[2022-04-06 21:00] tbsbdr commented on #6621
We had a discussion how to confirm to the users, that the link had been copied in a little bit less disturbing and more polite, in-place way than via a toast.

Problems:

- a) If we only use an Icon like 📋 -> ✅ and change it on-click for confirmation, it looks nice but is not accessible for everyone  -> Icon only  should be avoided if possible ([more about icon usability](https://www.nngroup.com/a

[2022-04-07 07:11] kulmann commented on #6621
Proposal 2 looks nice 👍

[2022-04-07 11:26] #5716 closed

[2022-04-07 12:39] elizavetaRa commented on #6695
@tbsbdr The stories sound good to me

I like the "?" idea. We would need customization/injecting options :)

[2022-04-07 15:57] Helios07 opened #6751 "Translation issues and inconsistencies in naming of sharing permissions"
Hi,

in oc web version 5.3.0 with a language setting of "Deutsch (persönlich)", I see inconsistencies in the naming of the different sharing permissions. Some aren't even properly translated.

### Steps to reproduce
1. Log into oc web
2. Open the sharing dialogue

### Expected behaviour
Consistency. All terms should be in the same language.

### Actual behaviour
![image002](https://user-images.git

[2022-04-07 16:10] fschade opened #6752 "Release 5.4.0"
## Waiting for

## Release checklist
- [x] pin release issue @fschade
- [x] prepare release rc
  - [X] create a branch [`release-5.4.0`](https://github.com/owncloud/web/tree/release-5.4-0) @fschade
  - [x] update the version in `packages/web-integration-oc10/appinfo/info.xml` @fschade
  - [x] update the version in `package.json` @fschade
  - [x] update the version in `sonar-project.properties` @fs

[2022-04-07 16:13] pascalwengerter commented on #6752
You could link https://github.com/owncloud/web/pull/6709 and we're at RC4 already :)

[2022-04-07 19:25] kulmann opened #6755 "Quick-rename button not visible on keyboard-focus"
### Steps to reproduce
1. have a file list
2. cycle through interactive elements with the `TAB` key on your keyboard
3. reach a file name
4. hit `TAB` once more

### Expected behaviour
The `quick rename` button that usually appears on mouse hover to the right of the file name also appears on keyboard focus.

### Actual behaviour
The `quick rename` button has keyboard focus (and can actually be int

[2022-04-07 19:49] kulmann opened #6756 "Text selection range not applied for new files"
### Steps to reproduce
1. Have the `simple-editor` app enabled
2. Click `+ New` and then e.g. `Markdown file`

### Expected behaviour
Like with renaming, only the file name part, without the file extension, is selected.

### Actual behaviour
The full text in the input field is selected.

<img width="531" alt="Screenshot 2022-04-07 at 21 49 08" src="https://user-images.githubusercontent.com/3532843

[2022-04-07 20:17] kulmann opened #6757 "Click on "members" label in space doesn't work"
### Steps to reproduce
1. Login as admin (ocis, obviously)
2. Create a space3.
3. Navigate into the space
4. Click on the "1 member" label on the top right of the space frontpage

### Expected behaviour
Right sidebar opens in "Members" panel

### Actual behaviour
Nothing happens. Browser console shows:
[code]
(just missing the mapping of the `SET_FILE_SELECTION` vuex mutation)

[2022-04-07 21:29] kulmann commented on #6702
Customizing the `href` is easy to implement via `options` object in the `config.json`. We can allow adding text for `aria-label` and `description` to that as well, but that won't be translatable then.

IMO overriding text in the ui needs a concept first. Now starting to add overrides to some config or theme file and using that througout the code base will result in a big mess to be frank. :-/
More

[2022-04-08 03:29] phil-davis commented on #6751
Note: translations are done in Transifex and synced from there. Please check in Transifex. You can add and/or fix translations there and they will end up in the next release.

[2022-04-08 05:24] saw-jan commented on #6721
HTTP log:
Request
[code]

oCIS Server log:
[code]

[2022-04-08 06:44] Helios07 commented on #6751
It doesn't seem to be that easy. I logged into transifex, but cannot create any translations. It asks me to upgrade.

[2022-04-08 06:52] saw-jan commented on #6707
oCIS server log:
[code]

[2022-04-08 06:54] kulmann commented on #6660
@JanAckermann or @JammingBen could you take a look if that's possible?

[2022-04-08 07:06] kulmann commented on #6702
If you can limit that requirements for just a handful of locations in the code then we can have a somewhat dirty patch here upstream.

[2022-04-08 07:09] kulmann commented on #6702
Compromise at this point (also for the string adjustment above) could be that you introduce an `eos` capability and we hardcode some stuff that will only be shown when `eos=true`.

[2022-04-08 08:04] JammingBen commented on #6660
I don't think it is that easy, unfortunately. We need the permissions to be loaded in the spaces list to properly display context actions (e.g. a viewer does not see the "rename"-action of a space).

I agree that this block isn't optimal in terms of performance, however, it's due to the object structure the Graph API gives us.

Spaces itself cannot be shared with groups, so we won't have such "dee

[2022-04-08 08:54] pascalwengerter commented on #6751
Partly duplicate to #6460 where I pointed out that Transifex doesn't work on `.ts` files as of right now. @Helios07 also please make sure to use current master (the `v5.3.0` release is a couple of weeks old already, better to check the status quo on our updated-after-merge-on-master instance https://ocis.ocis-web.latest.owncloud.works/) since that's where the current translation happens.
For Trans

[2022-04-08 08:55] kulmann commented on #6755
Thinking more about this, I think the rename button should be visible for the row that has the keyboard focus on any of its interactive elements. E.g. checkbox of row 3 focused -> already make the rename button in row 3 visible.

[2022-04-08 08:55] kulmann commented on #6755
<img width="1761" alt="Screenshot 2022-04-08 at 10 51 52" src="https://user-images.githubusercontent.com/3532843/162401764-63f1c5f8-52f2-4b70-87f4-1c3e3e17b4f9.png">

Having the quick rename button visible all the time for all rows would look this this ^

[2022-04-08 09:16] kulmann commented on #6648
I'd like to get some implications of your issue description written down here for transparency / clarity.

Visiting a URL which resolves a space requires the following implementation details to have it fully generic in web:
1: look up drive alias from URL (can have any number of segments, so this might already be multiple requests). this requires backend side filtering drives by driveAlias by the

[2022-04-08 09:25] Helios07 commented on #6751
Regarding the bookmarked URL, I cannot choose a language (tried two different browsers with extensions disabled)

[2022-04-08 09:29] Helios07 commented on #6751
And I checked at the "latest" instance, translation is not complete there, either.

[2022-04-08 09:36] kulmann commented on #6695
First of all, really nice! Fully agree with @tbsbdr

Regarding implementation:
- the lib that you chose makes a good first impression. license is compatible as well (MIT).
- you or us (or both, needs discussion/planning, collaboration would be nice) could implement the tour in the web runtime
- however, regarding the contents of the tour I think a hybrid approach would make sense. Like with the `t

[2022-04-08 10:45] saw-jan commented on #6741
Uploading failed (`oCIS` server):
![test-test_feature-L21](https://user-images.githubusercontent.com/52366632/162420687-aa96578e-d230-4e44-a534-173875ee39a2.png)

[2022-04-08 11:13] #6757 closed

[2022-04-11 03:43] SwikritiT opened #6764 "Unit test failure in recent nightly build and needs investigation"
https://drone.owncloud.com/owncloud/web/24623/8/6
https://drone.owncloud.com/owncloud/web/24624/8/6

[code]

[2022-04-11 03:59] individual-it commented on #6764
was this caused by transiflex update or by what?

[2022-04-11 04:18] kiranparajuli589 commented on #6764
tests started failing since this build https://drone.owncloud.com/owncloud/web/24622, but the failure is not related to translations.

resource sdate, relative time is now 10 months, was 9 months before.

maybe we've to avoid this check because it will keep on rising every month.

I've adjusted the tests in #6765 to check only props from the `ResourceTable` component rather checking whole html sna

[2022-04-11 06:29] kiranparajuli589 commented on #6764
Git bisect shows 53693ceb9734ef77dbd9a8dca05a73b21f7ceec5 as the first bad commit. the issue might be with new introduced `buildSharedResource` map

[2022-04-11 06:45] individual-it commented on #6764
that is really strange, how did it pass in the PR? and that commit was already merged 17 days ago

[2022-04-11 07:18] kulmann commented on #1996
This has recently been done in https://github.com/owncloud/web/pull/6667
Also, in https://github.com/owncloud/web/pull/6763 the (originally) markdown editor has been renamed to `text editor`.
Closing this ticket as done ✅

[2022-04-11 07:18] #1996 closed

[2022-04-11 07:37] kiranparajuli589 commented on #6764
yes, quite strange. tests only started failing recently in the CI. locally the current tests pass if I go before the mentioned commit.

I've updated the tests to check props separately in the fix pr.

[2022-04-11 08:17] kulmann commented on #6764
As already statet in the PR by @kiranparajuli589, the tests use fixtures (also for dates) and don't mock the current date. With that relative dates change on a regular basis (now from `9 months ago` to `10 months ago`). We need to mock the current date when doing such tests. Otherwise this will reoccur frequently.

[2022-04-11 08:19] tbsbdr opened #6767 "Quick-rename button should not be clickable on touch-devices"
### Steps to reproduce
1. Open https://ocis.ocis-web.latest.owncloud.works/ with a smartphone or tablet
2. tap right, next to the resource name (where the rename-pencil usually appears on-hover)
3. rename dialog opens

### Expected behaviour
same as if you click on any whitespace within a row (in this case: single-select of the resource)

### Actual behaviour
rename dialog opens

### tap right, ne

[2022-04-11 09:37] #6764 closed

[2022-04-11 10:01] ScharfViktor opened #6768 "Pagination works incorrect after changing the number of elements on page 2"
branch v5.4.0-rc.4
web agains ocis docker v 1.19.0

Precondition:
- default pagination. Items per page: 100

Steps:

- Administrator uploads a folder with small files (over 200)
- Go to page "2"
- Change the number of items on the page to 500 or 1000

Expected result:
- Administrator can see all 200+ files on the page

Actual result:
- The page is empty. But If you set up pagination on the first p

[2022-04-11 10:01] ScharfViktor commented on #6752
#  SmokeTest  against ocis
branch: v5.4.0-rc.4

### Case 1: admin share folder(with file) to marie:

Admin:
- [x] upload big file 10gb - slow and uploads partly because of page refreshing
- [x] upload folder with 803 small images.
- [ ] Check pagination, count items per page
- [x] upload folder(drag folder) "folder_to_share" with file.pdf
- [x] share folder "folder_to_share" to marie with edit rig

[2022-04-11 10:17] pascalwengerter commented on #6752
## Smoke test v5.4.0-rc.4 against oc10 app

- :heavy_check_mark: as admin - upload personal university archive (~3.000 files)
        - via drag and drop folder upload works
        - via folder upload button works
	- progress bar is not sticky
	- expanding the upload progress section slows down browser & upload time significantly
- :heavy_check_mark: as admin - share the folder to alice as viewer

[2022-04-11 12:39] fschade commented on #6731
maybe the easiest solution

[code]

#parent -> overflow-x: hidden
#child -> whitespace: nowrap

window.onResize: #child.outerWitdh >= #parent.outerWitdh => child.li -> pop

[2022-04-11 13:02] ScharfViktor commented on #6752
#### against oCIS wopi example:
web started with extensions but some servers problems were detected:
- User cannot create files only uploading works: https://github.com/owncloud/ocis/issues/3505
- User cannot open file using colabora or codiMd from  cs3org/wopiserver (will resolve here https://github.com/cs3org/wopiserver/pull/74)

[2022-04-11 13:25] tbsbdr opened #6770 "Save user-settings permanently"
# Description

## User Stories

* > As a student searching for a good file sync solution

## Value

## Acceptance Criteria

## Definition of ready
[ ] everybody needs to understand the value written in the user story
[ ] acceptance criteria has to be defined
[ ] all dependencies of the user story need to be identified
[ ] feature should be seen from an end user perspective
[ ] user story has to be

[2022-04-11 14:13] #6752 closed

[2022-04-11 15:51] ChrisEdS opened #6772 "PDF-Viewer doesn't work"
### Steps to reproduce
1. Setup PDF-Viewer via config.json
2. Try to open a PDF

### Expected behaviour
PDF opens

### Actual behaviour
<img width="1493" alt="image" src="https://user-images.githubusercontent.com/33026403/162780108-0f3779f7-f940-4dad-bbe4-bf921663e243.png">

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/33026403/162780437-849fdfc2-fed7-428b-989e-b693

[2022-04-11 15:54] kulmann commented on #6772
Your instance has `web` installed as app via marketplace, correct?

[2022-04-11 15:58] ChrisEdS commented on #6772
That's correct.

[2022-04-12 07:14] saw-jan commented on #6741
oCIS server log:
[code]

[2022-04-12 09:37] #6675 closed

[2022-04-12 09:37] #6676 closed

[2022-04-12 10:48] tbsbdr opened #6776 "Make files with long filenames distinguishable"
### Steps to reproduce
1. open web.owncloud.com
2. create 2 new folders with filename `System_Library_Accessibility-BundlesBase_com-apple-FaceTime-FaceTimeNotificationCenterService-axbundle-FINAL` and System_Library_Accessibility-BundlesBase_com-apple-FaceTime-FaceTimeNotificationCenterService-axbundle-DRAFT
3. resize window to ~ 1330px width at 100% browserzoom

### Expected behaviour
The user sh

[2022-04-12 10:48] jnweiger commented on #6582
This issue becomes more problematic in 5.4.0, where a new sharing column eats away more space from the filename.
Now a typical screenshot with timestamp no longer shows in full.
Screenshot of a browser window with width 1920:

![image](https://user-images.githubusercontent.com/1108546/162943595-6e9325ef-b0c1-4b91-a371-f429a73fde93.png)

Please remove some wasted whitespace between Size - Modified

[2022-04-12 11:03] jnweiger opened #6777 "[QA] highlight filenames for copy paste not possible"
Seen with web-5.4.0

* Open the normal file view.
* Try highlighting a filename, it reacts by underlining the name and a strange copy (1) icon at the mouse, but no chacracters can be highlighted. BAD
![image](https://user-images.githubusercontent.com/1108546/162946355-0c3eef5a-84c8-4e99-b409-b76d4c57eb93.png)
----
* Some characters near the top e.g. "1 selected - ..." can start a highlight. OK
* W

[2022-04-12 11:16] jnweiger commented on #6777
Folder names are included when dragging across. It is really only filenames that are excluded. Weird.
But I cannot seem to start a highlight on, before, or after a folder name at all - same as with filenames.

[2022-04-12 11:31] jnweiger opened #6778 "[QA] folder upload discusses "trusting" ownCloud"
Seen with web-5.4.0

* Open normal files view
* Click on "Upload"
* Choose "Folder", select a folder from the local file browser dialog that appears.
* Click OK. A popup dialog comes up that explains what is about to happen. OK.
* But this dialog also warns: "Only do this if you trust the site". BAD.
![image](https://user-images.githubusercontent.com/1108546/162949754-416f192c-fa68-4cd5-bc73-5221d

[2022-04-12 12:45] jnweiger opened #6780 "[QA] support for plain text is missing"
Seen with web-5.4.0 as installed on cloud.owncloud.com

* Select "Classic Design" and verify that text files open in files_texteditor. OK
* New text files can be created in classic design. OK
![image](https://user-images.githubusercontent.com/1108546/162964682-54cc9e46-d6a7-4e46-9dd2-9d9bc5b026f3.png)
----
* Select "New design"
* Click on a text file. Download only. BAD
* New does not offer plain

[2022-04-12 12:49] jnweiger commented on #6776
See also: #6582

[2022-04-12 12:50] kulmann commented on #6780
We have a `text-editor` app which is just not enabled on cloud.owncloud.com. I'll close this ticket here, download is a reasonable behaviour if you don't have the text-editor app in an instance. Please reopen if you don't agree. 😉

[2022-04-12 12:50] #6780 closed

[2022-04-12 13:03] IljaN opened #6782 "Quick public-link fails silently with password policy and expiration required"
### Steps to reproduce
1. Set password policy and expiration date as required in ownCloud 10
2. Create a folder
3. Try to create a quick share on the folder

### Expected Behavior
A prompt which tells the user to enter the password and/or expiration date or hide quicklink altogether.

### Actual behaviour
No feedback in the UI and no public link created.

**Backend (ownCloud Core or Infinite Scale

[2022-04-13 10:10] #6674 closed

[2022-04-13 13:45] kulmann commented on #6247
There's this reva edge PR for bringing support for a propfind to the `/dav/meta/<resourceid>` endpoint in order to get the relative path: https://github.com/cs3org/reva/pull/2741 - and that's a prerequisite for this ticket.

[2022-04-14 19:12] #5958 closed

[2022-04-19 03:56] saw-jan commented on #6721
Re-appeared: https://drone.owncloud.com/owncloud/web/24755/63/15

[2022-04-19 03:57] saw-jan commented on #4582
Some other fails due to some error while doing batch action:
https://drone.owncloud.com/owncloud/web/24385/67/15
https://drone.owncloud.com/owncloud/web/24385/53/15
https://drone.owncloud.com/owncloud/web/24755/68/15

[2022-04-19 06:03] SwikritiT opened #6791 "webUITrashbinRestore/trashbinRestore.feature:46 failed on nightly and needs further investigation"
https://drone.owncloud.com/owncloud/web/24755/68/15

[code]

[2022-04-19 06:07] SwikritiT commented on #6791
Might be similar to https://github.com/owncloud/web/issues/6706 https://github.com/owncloud/web/issues/6707

[2022-04-19 10:35] saw-jan commented on #6713
Couldn't reproduce as of now

[2022-04-20 03:35] SwikritiT opened #6792 "webUITextEditor/textFile.feature:21 failed on nightly"
Link to build: https://drone.owncloud.com/owncloud/web/24763/54/15

 ## In ocis backend
[code]

[2022-04-20 09:02] labkode commented on #6648
@micbar if we use the snippet you propose for homes and also for projects we'll have the problem that we do not have a unique ID to identify each user home or project space. Moreover, operations on spaces are done by ID, so we won't be able to profit from space functions like getting a space by ID or updating it. The static registry approach is just an implementation detail, it can be dynamic to a

[2022-04-21 04:01] SwikritiT opened #6796 "Some request fail while doing batch request in OCIS"
Seems like batch requests have not been working properly in ocis. There has been some tests failure related to batch request while deleting, restoring

## Batch Restore
- https://github.com/owncloud/web/issues/6791
build: https://drone.owncloud.com/owncloud/web/24784/68/15, https://drone.owncloud.com/owncloud/web/24755/68/15, https://drone.owncloud.com/owncloud/web/24878/68/15
- https://github.com

[2022-04-21 04:04] SwikritiT commented on #6796
Other issues related to batch request
https://github.com/owncloud/web/issues/6791
https://github.com/owncloud/web/issues/6706
https://github.com/owncloud/web/issues/6707

[2022-04-21 04:09] SwikritiT opened #6797 "webUITrashbinDelete/trashbinDelete.feature:130 failed on nightly in ocis"
Link to build : https://drone.owncloud.com/owncloud/web/24784/68/15

[code]

[2022-04-21 04:10] SwikritiT commented on #6791
failed again : https://drone.owncloud.com/owncloud/web/24784/68/15

[2022-04-21 04:53] SwikritiT opened #6798 "Textarea in markdown text editor gets disable sometimes in OCIS"
caught in: https://github.com/owncloud/web/issues/6792

Seems like sometimes the text editor gets disabled.
This got reproduced in OCIS only, couldn't reproduce in OC10. Couldn't reproduce manually but only inside the test environment.
![cannotWrite](https://user-images.githubusercontent.com/41103328/164374719-e0c43ee1-0326-4cbb-b252-c4d5c17d92a1.png)

log:
[code]

[2022-04-21 04:54] SwikritiT commented on #6792
Tried to add some pause and reload the page didn't work

[2022-04-21 04:59] SwikritiT commented on #6796
@pascalwengerter @kulmann

[2022-04-21 07:46] pascalwengerter commented on #6778
This is considered a security feature in Chrome/Chromium-based browsers AFAIK (details e.g. https://stackoverflow.com/questions/50225019/how-to-remove-warning-message-in-chrome-when-uploading-a-directory) and nothing we can do/work around. Closing

[2022-04-21 07:46] #6778 closed

[2022-04-21 11:52] #6728 closed

[2022-04-21 14:50] #6730 closed

[2022-04-21 14:52] #6590 closed

[2022-04-22 03:32] SwikritiT opened #6802 "webUITextEditor/textFile.feature:84 failed in nightly [OCIS]"
Link to build: https://drone.owncloud.com/owncloud/web/24824/54/15
[code]

[2022-04-22 03:34] SwikritiT commented on #6802
Might be similar to: https://github.com/owncloud/web/issues/6792

[2022-04-22 04:29] SwikritiT commented on #6802
this is also because the text area gets disabled and no operation can be performed on it

![disabled](https://user-images.githubusercontent.com/41103328/164603224-491c4451-dc29-4a4d-aa18-19cee2474124.png)

![textAreaDisabled](https://user-images.githubusercontent.com/41103328/164603242-06fc8446-2086-402a-9e1c-bfb8314149a1.png)

[2022-04-22 04:31] SwikritiT commented on #6798
Another test failure because of this issue https://drone.owncloud.com/owncloud/web/24824/54/15
https://github.com/owncloud/web/issues/6802

[2022-04-22 04:37] SwikritiT commented on #6796
`webUITrashbinDelete/trashbinDelete.feature:105` failed

[code]

[2022-04-22 08:09] #6756 closed

[2022-04-22 10:58] butonic opened #6806 "get rid of hideSearchBar option by using existing capability"
Currently web checks a dedicated option to disable the search bar, introduced wcith https://github.com/owncloud/web/pull/3817

However, the capabilities do contain the list of reports that clients can fire against webdav.

For backend search (aka sdk search) the `capabilities.dav.reports` string array has to contain `"search-files"`:
[code]

Web should rely on that `dav.reports` property in the ca

[2022-04-22 11:29] phil-davis opened #6807 "Investigate acceptance test fails in Uppy PR 6202"
PR #6202 implements changes to the code that web uses to do file uploads.

Example: https://drone.owncloud.com/owncloud/web/24835/28/20

Some acceptance tests are failing, mostly related to steps like:
[code]

that come after a step like:
[code]

Maybe "the user uploads overwriting file" is not working correctly (there might be different ids/paths for the needed UI elements), or the middleware is

[2022-04-22 11:31] phil-davis commented on #6807
The e2e tests have some diffs that made them pass:
https://github.com/owncloud/web/pull/6202/files#diff-2ee226f1addf8684ac43837c0e07687db26b006ea5b1236508b177f4d5423177

https://github.com/owncloud/web/pull/6202/files#diff-04799a6dcff8f98c11e8c02157db06456acafafc398a23200167b86e08e094b3

Those might give a clue about changes needed to UI element selectors etc.

[2022-04-22 13:22] #1750 closed

[2022-04-22 13:38] JanAckermann commented on #5634
@kulmann With ownCloud 10.7 I implemented user types that are `user` or `guest`.
We can emit this information via the share API, for example by adding a  new field called `<share_with_user_type/>`

I think breaking changes to the share api are not favorable.

[2022-04-22 13:50] JanAckermann commented on #5634
![image](https://user-images.githubusercontent.com/26169327/164727845-34a5bbea-c48c-4571-bc2d-80a24e2ddf4f.png)

[2022-04-24 21:05] lookacat commented on #6731
@fschade i would also propose that solution, i can't think of any other solution that wouldn't be hacky. You would probably need to calculate each items width before rendering and then sort out which elements are displayed and which are in the three dots menu. If anyone has Deep CSS knowledge and knows a solution for it please let me know :D

[2022-04-24 21:10] lookacat commented on #6731
Would propose doing it like flo said, I tried to find another solution but I'm not sure if the three dots menu is possible that easy :/

[2022-04-25 03:37] SwikritiT commented on #6721
reappeared : https://drone.owncloud.com/owncloud/web/24843/64/15

[code]

[2022-04-25 05:37] saw-jan opened #6810 "[PR 6202][Uppy] While uploading a file, file has some extra contents added"
### Steps to reproduce
1. upload a file with some content
2. check the uploaded file content in the web
3. download file and check the content

Related to PR #6202

### Expected
To have real content

### Actual
uploaded file has some extra content
![uploaded_extra_content](https://user-images.githubusercontent.com/52366632/165026784-981e9cf0-a9d4-4ede-9e61-f6265d8314f7.png)

[2022-04-25 06:45] kiranparajuli589 commented on #6713
tests are passing consistently in the recent ci builds. closing for now!

[2022-04-25 06:57] individual-it commented on #6337
reopening because seeing this in nightly builds:
[code]

[2022-04-25 07:29] pascalwengerter commented on #6810
Note that this issue only occurs on #6202

[2022-04-25 08:30] #6460 closed

[2022-04-25 08:35] phil-davis commented on #6792
https://drone.owncloud.com/owncloud/ocis/10852/50/9
[code]
looks like a similar problem

[2022-04-25 08:41] JanAckermann commented on #6755
@kulmann having it visible all the time would be more accessible, IHMO otherwise it is more of a hidden feature to most users
What do you think?
FYI @tbsbdr

[2022-04-25 08:49] kulmann commented on #6755
could you try with the muted text color as default and then use the regular text color (higher contrast) on hover?  my screenshot above is too heavy IMO

[2022-04-25 08:57] JammingBen commented on #6810
Thx for noticing/reporting! Should be fixed via the latest commit to https://github.com/owncloud/web/pull/6202.

[2022-04-25 08:57] #6810 closed

[2022-04-25 09:26] #6767 closed

[2022-04-25 09:35] JanAckermann commented on #5634
Oc10 Backend part: https://github.com/owncloud/core/pull/40013

[2022-04-25 09:40] kulmann commented on #6731
You could have a look at what the classic ui in oc10 does. That has the truncation like we want to have it (not the three dots menu though, but that could be solved in a separate PR).

[2022-04-25 10:03] JanAckermann commented on #5634
SDK part: https://github.com/owncloud/owncloud-sdk/pull/1046

[2022-04-26 06:36] fschade opened #6812 "Release 5.5.0"
## Waiting for
- https://github.com/owncloud/web/pull/6749
- https://github.com/owncloud/web/pull/6202
- https://github.com/owncloud/web/pull/6593
- https://github.com/owncloud/web/pull/6834 (needed to unblock translation sync), needs https://github.com/owncloud/easygettext/pull/1 merged, tagged and bumped here
- https://github.com/owncloud/web/pull/6820
- https://github.com/owncloud/web/pull/6848

[2022-04-26 08:32] SwikritiT commented on #6802
The issue behind the failure: https://github.com/owncloud/web/issues/6798

[2022-04-26 08:32] SwikritiT commented on #6792
The issue behind the failure: https://github.com/owncloud/web/issues/6798

[2022-04-26 08:33] #6802 closed

[2022-04-26 09:07] kulmann commented on #6806
Agreed, capability should have precedence and the config.json option can be dropped immediately.

[2022-04-26 17:20] JanAckermann commented on #5634
Frontend part: https://github.com/owncloud/web/pull/6813

[2022-04-27 10:55] JanAckermann commented on #6755
@kulmann Sure, please have a look:
https://github.com/owncloud/web/pull/6817

[2022-04-27 10:57] #5634 closed

[2022-04-27 12:49] #6323 closed

[2022-04-27 12:53] JammingBen opened #6819 "Open tasks for Uppy"
This issue contains a list of Uppy-related open tasks after https://github.com/owncloud/web/pull/6202 has been merged.

- [x] Polish upload-info-box -> https://github.com/owncloud/web/pull/6837
    - Parent folder links are hard to read in dark mode
    - "Upload successful" message is displayed even on upload errors
- [x] ~Add possibility to remove successful uploads from the upload-info-box -> w

[2022-04-27 14:36] elizavetaRa opened #6821 ""Buffer is not defined" in typescript files"
Buffer is used in [useAppFileHandling.ts](https://github.com/owncloud/web/blob/96f6d068ebad9692a90174589f02ecc106f8164e/packages/web-pkg/src/composables/appDefaults/useAppFileHandling.ts#L73) for basic auth. It throws error "Buffer is not defined" and causes auth to fail. Because of this, external apps are not working in password protected public links

### Steps to reproduce
1. Create public link

[2022-04-27 14:40] elizavetaRa commented on #6821
We have internally a [fix](https://github.com/cernbox/web/commit/668cdfd1aac301d29a37ec144e8c51eaa8c17d50) for that
which uses the "buffer" library. I found that it's also possible to polyfill buffer. Which would be the better solution?

[2022-04-27 14:40] pascalwengerter commented on #6821
Should already be fixed as part of https://github.com/owncloud/web/pull/6202

[2022-04-27 17:40] #6268 closed

[2022-04-28 07:12] saw-jan opened #6822 "[oCIS] Batch restore can fail sometimes"
### Steps to reproduce
1. Upload 20-30 files
2. Delete all files (some requests might fail)
3. From trashbin Restore all files

### Expected behavior
expected all files are restored

### Actual behavior
some requests failed
![restore_failed](https://user-images.githubusercontent.com/52366632/165694167-b01da22d-1730-4552-b55a-edbcc710d357.jpg)

### HTTP log
[code]
**Browser console log**
[code]

##

[2022-04-28 07:23] saw-jan opened #6823 "[oCIS] Batch delete can fail sometimes"
### Steps to reproduce
1. Upload 20-30 files
2. Delete all files

### Expected behavior
expected all files are restored

### Actual behavior
some requests failed
![test-test_feature-L11](https://user-images.githubusercontent.com/52366632/161208228-c5e61645-bb3e-4cf8-9368-5cac676617f0.png)

### HTTP log
[code]

#### oCIS log
The server yields the following log on request failure
[code]

[2022-04-28 07:29] saw-jan opened #6824 "[oCIS] Sharing with multiple users/groups fails sometimes"
### Steps to reproduce
Run any multiple sharing acceptance test multiple times:
e.g., `webUISharingFolderAdvancedPermissionsGroups/shareAdvancePermissionsGroup.feature:54`

### Expected behaviour
sharing successful

### Actual behaviour
![test-test_feature-L61](https://user-images.githubusercontent.com/52366632/161513112-a277e172-0b4a-443f-93c2-1681bcd92d4e.png)

### HTTP log
[code]

### oCIS log

[2022-04-28 07:44] individual-it commented on #6823
This looks like an ocis issue to me. @kulmann @butonic what do you think moving to ocis?

[2022-04-28 07:45] individual-it commented on #6823
@saw-jan please skip those tests for now for ocis and add a todo here to unskip the tests again

[2022-04-28 07:45] individual-it commented on #6824
This looks like an ocis issue to me. @kulmann @butonic what do you think moving to ocis?

@saw-jan please skip those tests for now for ocis and add a todo here to unskip the tests again

[2022-04-28 07:45] individual-it commented on #6822
This looks like an ocis issue to me. @kulmann @butonic what do you think moving to ocis?

@saw-jan please skip those tests for now for ocis and add a todo here to unskip the tests again

[2022-04-28 07:56] pascalwengerter commented on #6807
Closed via #6202

[2022-04-28 07:56] #6807 closed

[2022-04-28 08:12] saw-jan commented on #4582
closing this in favour of https://github.com/owncloud/ocis/issues/3612

[2022-04-28 08:12] #4582 closed

[2022-04-28 08:15] saw-jan commented on #6796
Those problems seem to be with oCIS server. Issues have been raised:
https://github.com/owncloud/ocis/issues/3612
https://github.com/owncloud/ocis/issues/3613
https://github.com/owncloud/ocis/issues/3614

TODO:
- [ ] skip the tests related to those issues

[2022-04-28 08:24] pascalwengerter commented on #6582
Closing this in favor of #6776, thanks @jnweiger for reporting! 💟

[2022-04-28 08:24] #6582 closed

[2022-04-28 09:29] Talank opened #6826 "webUISharingPublicBasic/publicLinkEdit.feature:59 fails in nightly"
https://drone.owncloud.com/owncloud/web/24959/35/20
[code]

[2022-04-28 09:40] #6755 closed

[2022-04-28 13:04] #6821 closed

[2022-04-29 07:33] individual-it opened #6836 "make e2e tests work with GraphAPI of ocis"
similar to https://github.com/owncloud/owncloud-test-middleware/pull/107 & https://github.com/owncloud/ocis/pull/3404

[2022-04-29 07:35] pascalwengerter commented on #6836
@ScharfViktor is already working on this in #6827

[2022-04-29 09:07] pascalwengerter opened #6838 "Falsy unexpected pass on oCIS link acceptance test"
`webUISharingPublicBasic/publicLinkEdit.feature:59` sometimes unexpectedly passes in CI (e.g. https://drone.owncloud.com/owncloud/web/25032/68/15, but I've seen it in other pipelines as well). Most likely this false positive was introduced by myself in https://github.com/owncloud/web/pull/6749 recently, but we should keep our eyes open and see if we can find out why

TL;DR of the test is "password

[2022-04-29 10:23] exalate-issue-sync opened #6839 "Create and manage sharing links"
## Userstories

- maybe needs to be sliced into subtasks or more stories

## Acceptance Criterias

[2022-04-29 10:23] exalate-issue-sync[bot] opened #6840 "Show path in right sidebar"
TBD - [~tbaader]
# Description
- show path in right sidebar
- ability to copy link (which would functionally correspond to a private connection)
## User Stories

* > As a student searching for a good file sync solution

## Value

## Acceptance Criteria

## Definition of done
- Functional requirements
[ ] functionality described in the user story works
[ ] acceptance criteria are fulfilled
- Qualit

[2022-04-29 10:30] exalate-issue-sync[bot] opened #6842 "Scoped links"
# Description

## User Stories

As a user I want to get a link to a resource as easily and quickly as possible. I don't want to decide whether I need a 'private' or a 'public' link in the first place. Still, I might want to decide (e.g., for security reasons) for whom the link is usable (link scope): for everybody (public) / only invited people (private).

## Value
- Highly increased usability
- P

[2022-04-29 10:31] individual-it opened #6843 "on test-changes run UI test multiple to make sure they are not flaky"
To reduce the chance that a specific change in test-code makes the e2e tests more flaky we could run them multiple times if test-code was changed.

Thoughts, concerns?

[2022-04-29 10:31] exalate-issue-sync[bot] opened #6844 "Scoped links"
# Description

## User Stories

As a user I want to get a link to a resource as easily and quickly as possible. I don't want to decide whether I need a 'private' or a 'public' link in the first place. Still, I might want to decide (e.g., for security reasons) for whom the link is usable (link scope): for everybody (public) / only invited people (private).

## Value
- Highly increased usability
- P

[2022-04-29 11:07] lookacat opened #6845 "Open expiration Datepicker on public link creation flickers"
### Steps to reproduce
1. Select any file without share
2. Open the sidebar and navigate to sharing
3. Create a new public link & try to set a expiration date

### Expected behaviour
I can select the Date in the Datepicker

### Actual behaviour
Sidebar-y jumps up when scrolling, which makes it unable to select dates on the bottom.

[2022-04-29 11:22] lookacat opened #6847 "Spaces Contextmenu glitches"
### Steps to reproduce
1. Create a new space
2. Navigate into the space
3. Go back to overview

### Expected behaviour
Contextmenu shouldn't be visible

### Actual behaviour
Contextmenu is visible even after reload

[2022-04-29 11:29] lookacat commented on #6845
` Error in mounted hook: "SyntaxError: Failed to execute 'querySelector' on 'Document': '#space-context-btn-1284d238-aa92-42ce-bdc4-0b0000009157$609686d2-17f7-496c-ae20-d049c34ffae7\!609686d2-17f7-496c-ae20-d049c34ffae7' is not a valid selector."
` should be the problem, will try to fix it

[2022-04-29 12:16] lookacat commented on #6845
Seems to be an issue relate to an ocis PR

[2022-04-29 12:56] lookacat commented on #6845
Fixed with https://github.com/owncloud/web/pull/6848

[2022-04-29 15:30] pascalwengerter commented on #6838
Also occured multiple times in #6827 already, e.g. https://drone.owncloud.com/owncloud/web/25058/68/15

[2022-04-29 17:14] diocas opened #6849 "Break long words"
I'm not sure where to put this ticket, if here or ods.
If I have a very long path (without spaces, which I would say is pretty normal), there are some elements of the UI that don't break the words and this causes elements to become scrollable (and this might cause the UI to flicker).

Places where I've noticed this: metadata table on the right sidebar (i.e "shared via"), and tippy tooltips.

[2022-05-02 07:56] #6836 closed

[2022-05-02 08:39] #6549 closed

[2022-05-02 14:01] #6845 closed

[2022-05-02 22:47] pascalwengerter commented on #6501
Can't reproduce on current master, closing for now. Anyone feel free to reopen if they come across this

[2022-05-02 22:47] #6501 closed

[2022-05-03 07:11] saw-jan commented on #6826
re-appeared again: https://drone.owncloud.com/owncloud/web/25140/68/15

[2022-05-03 08:03] butonic opened #6857 "when creating new users make hitting enter go to the next field and hit the create button"
currently creating a user requires using tab to switch to the next field and the final step moves the focus to the cancel button.

I don't know how compatible my wish is with accessibility best practice, but it would be great if:
- hitting enter changes focus to the next field, same as tab
- focus switches from the password to the create button instead of the cancel button or
- maybe we could crea

[2022-05-03 08:14] lookacat commented on #6812
Smoke Testing agains ocis:

... IN PROGRESS ...

[2022-05-03 08:25] SwikritiT opened #6858 "Changing role of a public link with expiry date doesn't work"
### Steps to reproduce
1. Create a public link of a resource with an expiry date
3. Now try to change the role of the previously created public link

### Expected behaviour
The role should be changed with the message `Link was updated successfully `

### Actual behavior
 Two messages `Failed to update link` and `Link was updated successfully ` are displayed but the role is not updated. The behavio

[2022-05-03 08:27] SwikritiT commented on #6858
The test in this PR is failing because of this issue: https://github.com/owncloud/web/pull/6557
link to build: https://drone.owncloud.com/owncloud/web/25145/11/18

[2022-05-03 08:27] ScharfViktor commented on #6812
start ocis via docker-compose doesn't work:
`web_ocis exited with code 1`

`jwt_secret has not been set properly in your config for ocis. Make sure your /etc/ocis config contains the proper values (e.g. by running ocis init or setting it manually in the config/corresponding environment variable).`

we need add `ocis init`

[2022-05-03 08:28] SwikritiT commented on #6826
I'll take a look

[2022-05-03 08:29] pascalwengerter commented on #6858
This issue isn't about a problem in `master` but about something blocking your PR, or am I reading this wrong?

[2022-05-03 08:33] SwikritiT commented on #6858
It is an issue in master. In my PR I was writing new tests for changing the role and this was caught. I can reproduce it in my local setup as well.

[2022-05-03 08:34] saw-jan commented on #6826
Failing consistently.

[2022-05-03 08:39] pascalwengerter commented on #6858
I can't from the steps you outlined above, also we do have acceptance tests on master that pass for this behaviour.

Could you narrow it down whether it Is it related to the link being password-protected or having an expiry date? A freshly created public link can have role changes without errrors

[2022-05-03 08:40] pascalwengerter commented on #6826
Yes, as described in the issue it appears "as unexpected pass" a lot recently

[2022-05-03 08:47] SwikritiT commented on #6858
It's because of the expiry date. Can you check again with the expiry date?

[2022-05-03 08:53] pascalwengerter commented on #6858
Thank you for raising it and further investigation, I'll take care of this issue

[2022-05-03 08:58] kulmann commented on #6812
I'm already on it...

[2022-05-03 09:04] pascalwengerter commented on #6826
Probably related to the described problematic behavior/implementation outlined in #6838

[2022-05-03 09:46] JanAckermann opened #6861 "Thumbnails in search 'Search all files' not shown"
### Steps to reproduce
1. Enter the name of a text file in the search
2. Select 'Search all files'
3. Preview doesn't show a Thumbnail, but should

### Expected behaviour
Thumbnail previews should be shown

### Actual behaviour
Thumbnail previews are not shown
![image](https://user-images.githubusercontent.com/26169327/166433626-d9392013-e774-45b6-945e-0cba3ca1c596.png)

### Environment general
**

[2022-05-03 11:22] fschade commented on #6311
closed via https://github.com/owncloud/web/pull/6863

[2022-05-03 11:22] #6311 closed

[2022-05-03 12:26] JanAckermann commented on #6861
Might be fixed by the backend:
https://github.com/owncloud/ocis/pull/3648

[2022-05-03 13:56] ScharfViktor opened #6865 "Invalid DateTime blocks link changes"
ownCloud Web UI 5.5.0
ocis via docker

Steps:

- admin creates folder
- admin creates public link to the folder **with expireDate** - link created
- admin tries to change link (add password, change name, change role)

Actual result: although response PUT `https://host.docker.internal:9200/ocs/v1.php/apps/files_sharing/api/v1/shares/cUSVduEYKpWJQIg` get 200,  link does not change

![Screenshot 2022

[2022-05-03 13:59] pascalwengerter commented on #6865
Possibly very similar to https://github.com/owncloud/web/issues/6858

[2022-05-03 14:06] ScharfViktor commented on #6865
Yes, it's similar. closed in favor of https://github.com/owncloud/web/issues/6858

[2022-05-03 14:06] #6865 closed

[2022-05-03 14:08] ScharfViktor commented on #6858
I reproduced it. Description is here: https://github.com/owncloud/web/issues/6865

[2022-05-03 16:08] ScharfViktor opened #6874 "The image space setting is broken. PROPFIND and GET methods give 404"
ownCloud Web UI 5.5.0
ocis via docker v.1.20

Steps:

- admin creates space
- admin opens context menu and click "edit image"
- admin uploads image **jpg:**

Actual result:
request1: uploading file -PUT works correctly `https://host.docker.internal:9200/remote.php/dav/spaces/1284d238-aa92-42ce-bdc4-0b0000009157%243e85a541-bb87-4a22-a83f-749886e3b55d/.space/Lake-Constazdxcnce.jpg`

request2: settin

[2022-05-03 16:58] ScharfViktor opened #6866 "Navigation bar works incorrect"
ownCloud Web UI 5.5.0
ocis via docker v.1.20

Preparation:
- admin creates the space
- creates a folder inside the space
- uploads a file to the folder

Steps:
- Opens space
- Opens folder into the space:

url look like: `https://host.docker.internal:9200/files/spaces/projects/1284d238-aa92-42ce-bdc4-0b0000009157$7b107017-9f83-40a9-b26f-958cc099b0ce/New%20folder?sort-by=name&sort-dir=asc&items-per

[2022-05-03 18:45] #6806 closed

[2022-05-04 03:42] saw-jan commented on #6796
Sharing failed: https://drone.owncloud.com/owncloud/web/25227/64/15
Restore failed: https://drone.owncloud.com/owncloud/web/25226/68/15

[2022-05-04 03:42] saw-jan commented on #6791
Will be tracked in https://github.com/owncloud/web/pull/6828
Closing here

[2022-05-04 03:42] #6791 closed

[2022-05-04 03:43] saw-jan commented on #6797
will be tracked in https://github.com/owncloud/web/issues/6796
closing here

[2022-05-04 03:43] #6797 closed

[2022-05-04 03:43] saw-jan commented on #6706
will be tracked in https://github.com/owncloud/web/issues/6796
closing here

[2022-05-04 03:43] #6706 closed

[2022-05-04 03:44] saw-jan commented on #6707
will be tracked in https://github.com/owncloud/web/issues/6796
closing here

[2022-05-04 03:44] #6707 closed

[2022-05-04 03:44] saw-jan commented on #6721
will be tracked in https://github.com/owncloud/web/issues/6796
closing here

[2022-05-04 03:44] #6721 closed

[2022-05-04 03:44] saw-jan commented on #6741
will be tracked in https://github.com/owncloud/web/issues/6796
closing here

[2022-05-04 03:44] #6741 closed

[2022-05-04 06:39] SwikritiT commented on #6826
Though I don't see the message `Password can't be empty`  in the UI. This line passes sometimes
`Then the user should see an error message on the public link edit modal dialog saying "Password can't be empty"`. That's why there are `unexpected passes`. Will try to find out why that happens.

[2022-05-04 08:04] SwikritiT commented on #6826
I think we need to rewrite this scenario. Technically this scenario should pass every time in ocis as well. As in the test we are checking the message `Password can't be empty`  that is present in both `oc10` and `ocis` when you select the `edit password`, and if you select apply you'll get the message `Link was updated successfully` even though the password is not changed or updated ( this is the

[2022-05-04 08:09] SwikritiT commented on #6838
closing this as duplication of https://github.com/owncloud/web/issues/6826

[2022-05-04 08:09] #6838 closed

[2022-05-04 10:39] kulmann commented on #6826
@SwikritiT checked the test code, it runs the complete `changePassword` method, including the click on the submit button of the modal, and **after** that checks if the modal contains the `Password can't be empty` message. By this time the modal is usually already gone (because the submit button closes it).

[2022-05-04 10:51] #6858 closed

[2022-05-04 11:00] SwikritiT commented on #6826
@SwikritiT
I've refactored the related test in https://github.com/owncloud/web/pull/6869, I don't think the current implementation is doing what it is supposed to do. One thing that I noticed is that when you `enforce password` for a link with certain permission as the scenario above is doing, the `remove password` option for only the Role with that permission is not shown.

for example - The link

[2022-05-04 11:09] kulmann commented on #6826
Not the expected behaviour but unfortunately something that we have to accept for the moment. The situations where you switch between different roles and passwords are enforced/not enforced for the respective role are not covered at the moment.

[2022-05-04 12:18] pascalwengerter opened #6872 "Dev-dockerized oCIS fails upon second (or further) startup"
### Steps to reproduce
1. Run `docker compose up ocis` in this repo, stop the container, start it again
2. See `Could not create config: config in /etc/ocis/ocis.yaml already exists` in the console, startup fails

### Expected behaviour
Either conditional running of init or conscious overwrite (since it's dev-only anyways and little to none custom configuration)

[2022-05-04 12:29] kulmann commented on #6702
@elizavetaRa discussed internally again today, an additional option in the config.json would be better than a capability as it is only relevant for the web ui / has no implications for the backend or other clients.

[2022-05-04 14:28] #6605 closed

[2022-05-04 14:28] #6621 closed

[2022-05-04 14:35] ScharfViktor opened #6875 "Nothing happens when you press button "set as space image""
web version: 5.5.0
ocis run local v.1.20.0

Steps:

- create space
- upload image1 as image space
- upload image2 as image space
- navigate to the .space folder
- open the context menu on image1 and click "set as image space" button

Actual result:  nothing happens when you press the button, the request is not sent. space image does not change

https://user-images.githubusercontent.com/84779829/16

[2022-05-05 03:42] saw-jan commented on #6796
Seen again: https://drone.owncloud.com/owncloud/web/25313/64/15

[2022-05-05 03:42] SwikritiT commented on #6826
The tests have been refactored in https://github.com/owncloud/web/pull/6869 so closing this now

[2022-05-05 03:42] #6826 closed

[2022-05-05 04:29] saw-jan opened #6877 "A Bunch of `shareWithGroups` tests failed nightly"
build: https://drone.owncloud.com/owncloud/web/25313/58/15

Failed tests:
[code]

All failed on the same step.
[code]

Might be helpful: https://github.com/owncloud/ocis/pull/3680/files

[2022-05-05 06:26] saw-jan commented on #6877
Will be resolved by https://github.com/owncloud/web/pull/6876

[2022-05-05 06:27] saw-jan opened #6878 "Cannot run `oc10` using docker-compose"
Running oc10 with: `docker-compose up oc10`
exists with error:
[code]

[2022-05-05 06:51] individual-it commented on #6878
does it depend on what `OC10_IMAGE` is set to?

[2022-05-05 07:01] kiranparajuli589 commented on #6468
done with https://github.com/owncloud/web/issues/6475

[2022-05-05 07:01] #6468 closed

[2022-05-05 07:33] phil-davis opened #6880 "acceptance test step can fail in CI but the pipeline passes"
https://github.com/owncloud/web/pull/6876#issuecomment-1118222080

https://drone.owncloud.com/owncloud/web/25320/67/15

The acceptance tests step failed, but the pipeline passed. `webUIUpload/upload.feature:94` failed twice, and was reported by the drone CI steps to GitHub comment https://github.com/owncloud/web/pull/6876#issuecomment-1118188597 but the overall pipeline says it is "green" and the

[2022-05-05 07:36] phil-davis commented on #6880
If/when a drone starlark code change is made, also check other repos, and if they have a similar problem then raise a general issue in `owncloud/qa` to get the fix applied "everywhere".

[2022-05-05 07:37] kulmann commented on #6878
Can't confirm this 🤔

[code]

[2022-05-05 07:41] pascalwengerter commented on #6878
@saw-jan could you provide more details on your OS, docker (compose) versions and whether you have set a `OC10_IMAGE` env variable?

[2022-05-05 07:46] individual-it commented on #6877
#6876 is merged, can we close this?

CC @kulmann

[2022-05-05 08:14] saw-jan commented on #6880
@phil-davis I am confused. You mentioned that the test failed but the pipeline passed in the build https://drone.owncloud.com/owncloud/web/25320/67/15 but the pipeline has actually failed.

[2022-05-05 08:20] saw-jan commented on #6878
Have you tried removing `web_oc10` and `owncloud/server` docker images?

[2022-05-05 08:27] phil-davis commented on #6880
It looks like I was confused! The drone CI has run 4 times:
https://drone.owncloud.com/owncloud/web/25319 - that was the first run that had the unexpected passes:
[code]
Then https://drone.owncloud.com/owncloud/web/25320
That had the fail of `webUIUpload/upload.feature:94` which posted the GitHub comment. There is no longer any link to that from the commit list on the PR, because drone has been re

[2022-05-05 08:27] #6880 closed

[2022-05-05 08:32] saw-jan commented on #6878
My system info:
[code]

`docker-compose version 1.29.2`
`echo $OC10_IMAGE` is empty

[2022-05-05 08:36] pascalwengerter commented on #6878
Removed all the oc10/oc-server docker images and now running into this as well 😅 nice!

[2022-05-05 08:52] #6874 closed

[2022-05-05 08:59] saw-jan commented on #6878
So this is actually a problem.

[2022-05-05 09:03] saw-jan commented on #6878
IMO, `owncloud/server` might not need the `make` command to run.
In `web`, we use `make` to build the latest `oauth2` app (`dev/docker/oc10.entrypoint.sh`) and that's where the error comes from.
So, I made PR https://github.com/owncloud/web/pull/6879 to get `make` command

[2022-05-05 09:34] ScharfViktor commented on #6872
I can confirm. We should not run `osis init` again if `ocis.yaml` has already been created

How ease solution I can propose: https://github.com/owncloud/web/pull/new/startOcisAgainFix

[2022-05-05 09:42] saw-jan commented on #6877
Haven't seen any fails till now. Should be fine to close this

[2022-05-05 09:46] phil-davis commented on #6877
Closing - we can easily open it again if we see these failing tonight.

[2022-05-05 09:46] #6877 closed

[2022-05-05 12:00] ScharfViktor opened #6886 "Moving and copying is not possible in the project space"
ocil local  branch: v2.0.0-alpha1
ownCloud Web UI 5.5.0

Preparation:
- admin creates project space
- creates "new folder"
- creates "new file.txt"

Steps:
- select new file
- click button "move" or "copy"
![Screenshot 2022-05-05 at 13 43 39](https://user-images.githubusercontent.com/84779829/166916745-41f94b90-6ac6-4bb0-a168-6a0bc312e001.png)
- click to "new folder"
![Screenshot 2022-05-05 at 13

[2022-05-05 12:35] #6872 closed

[2022-05-05 12:46] #6878 closed

[2022-05-05 13:50] JanAckermann commented on #6861
fixed

[2022-05-05 13:50] #6861 closed

[2022-05-05 14:25] #5663 closed

[2022-05-05 14:55] pascalwengerter commented on #2967
Always loved the idea, I've added the banner via https://github.com/owncloud/web/pull/6629 a while ago and closing the issue now

[2022-05-05 15:11] pascalwengerter commented on #6819
I'd like to promote fixing #2443 here - folders uploaded via drop-links are getting "flattened"

[2022-05-05 15:13] pascalwengerter commented on #6819
Also, maybe we can give #2222 another look in the process and finally resolve it through our E2E tests

[2022-05-05 15:26] pascalwengerter commented on #3580
I suppose they're more easy to keep apart now that we've redesigned them, they also feature tooltips that start with "Show ..." for _indicators_ and "Copy/Add ..." for _actions_. Closing as resolved, awaiting further user feedback

![Screenshot 2022-05-05 at 17-26-26 Personal - ownCloud](https://user-images.githubusercontent.com/16822008/166957762-5db23041-b45f-46cd-be2c-96647e61a2f6.png)

[2022-05-05 15:26] #3580 closed

[2022-05-05 15:29] #3520 closed

[2022-05-05 15:31] pascalwengerter commented on #5275
Has been resolved via #6514 thanks to @kulmann 🎶

[2022-05-05 15:31] #5275 closed

[2022-05-05 15:33] pascalwengerter commented on #3823
Closing as out of scope for now. Mainstream video formats can be used due to built-in browser/HTML functionality

[2022-05-05 15:35] pascalwengerter commented on #5882
@fschade could you check if introducing Uppy via #6202 resolved the issue for you?

[2022-05-06 08:20] kulmann opened #6892 "Copy/move only works with personal space"
With the [share jail](https://github.com/owncloud/web/pull/6593) being merged the `LocationPicker` view, which let's you select a target location for a copy or move action, only lists a single webdav endpoint, namely the personal space. As each accepted share and any project space have their own webdav endpoint we need to come up with a solution to list alternative target locations. This is a regr

[2022-05-06 09:46] #3984 closed

[2022-05-06 09:46] kulmann opened #6894 "No share indicators inside share jail"
With the [share jail](https://github.com/owncloud/web/pull/6593) being merged, navigating into a share (via shared with me view) doesn't show any share indicators anymore. Since we don't have re-sharing with oCIS and since anything that is inside a `SharedResource` view lives there because it was shared in the first place, might make sense to just not support share indicators in the `SharedResourc

[2022-05-06 10:25] kulmann opened #6895 "e2e tests for shares with ocis share jail"
With the [share jail PR](https://github.com/owncloud/web/pull/6593) being merged there are UX changes regarding how to access shares. In the process of merging the PR a few tests have been deleted in the nightwatch based test suite. They do make sense as smoke tests for oCIS, so we should invest some time to come up with reasonable new e2e (playwright based) tests for the deleted scenarios. But do

[2022-05-06 10:30] kulmann opened #6896 "Skipped oCIS tests for sharing jail"
In order to get the [share jail PR](https://github.com/owncloud/web/pull/6593) merged I needed to skip some tests on oCIS. They all have in common that they do sharing related actions, then browser to the `Shares` folder via the personal page and do some checks there if files/folders exist or don't exist.
Since oCIS with share jail doesn't have the `Shares` folder in the personal view anymore, tho

[2022-05-06 11:21] jnweiger opened #6897 "[QA] We waste much screen space on mobile device in landscape mode"
Seen with web 5.4.0 while testing core 10.10.0rc1

* browse to the new web ui with android moto g9
* Most of the screen space is used by static contents. There is barely two lines of scrollable folder contents in the lower right corner of the screen.
![image](https://user-images.githubusercontent.com/1108546/167122068-87d2367b-8b2f-467e-bd0b-221eed6c0cb7.png)

[2022-05-06 11:24] jnweiger commented on #6897
Compare with the classic web ui in on the same device:
![image](https://user-images.githubusercontent.com/1108546/167122230-8016d716-9bc0-49ce-a9ec-5baf2429a173.png)

Here more screen space (a bit over 4 lines of scrollable text) is available.

Note, that e.g. the `[ ]  Name Size Modified` header nicely scrolls away here, but is static in the new web UI.

[2022-05-06 12:11] JammingBen commented on #6886
Also see https://github.com/owncloud/web/issues/6892, which tackles the same topic, but a bit more general (as it also affects the new share jail).

[2022-05-06 13:43] kulmann opened #6899 "Sharing jail followup"
https://github.com/owncloud/web/pull/6593 has been merged - there are some followups necessary:

* Spaces:
    * [x] Share a pdf-file inside a space, then go to "Shared with others page" -> this file can't be opened in the PDF-viewer (probably wrong request URL: `remote.php/dav/files/moss/sample3.txt`) Fixed via https://github.com/owncloud/web/pull/7379
    * [x] #7382
    *  [x] Uploading a file

[2022-05-06 13:57] kulmann opened #6900 "Remove `beta` label in `Spaces` nav item"
Since we've reached the MVP featureset for project spaces we can remove the `beta` label in the `Spaces` nav item.

[2022-05-06 14:40] kulmann opened #6902 "Parent folder links in uploads to share roots have `Personal` as label"
### Steps to reproduce
1. Navigate into a share (NOT into a subfolder of the share)
2. Upload a file/folder3.
3. Wait until it's completed.

### Expected behaviour
The upload confirmation widget labels the parent folder of the uploaded file with the share name.

### Actual behaviour
The upload confirmation widget labels the parent folder of the uploaded file as `Personal` (although it correctly po

[2022-05-06 14:49] pascalwengerter commented on #3822
Closing here until we have more dedicated user feedback for the mediaviewer/preview app

[2022-05-06 14:50] kulmann commented on #6847
Fixed by https://github.com/owncloud/web/pull/6848

[2022-05-06 14:50] #6847 closed

[2022-05-06 14:50] pascalwengerter commented on #3917
Closing as resolved, we've switched datepicker components quite a while ago and I can't remember anyone complaining about it receiving clicks that affect UI components behind it

[2022-05-06 14:52] pascalwengerter commented on #4243
@kulmann @individual-it could you re-check and close if resolved? Screenshots look way outdated 😬

[2022-05-06 15:10] pascalwengerter commented on #5152
Closed via #6593, in oCIS shares are now displayed in a different view and in OC10 the permissions are handled correctly, see screenshot below

<img width="470" alt="Screenshot 2022-05-06 at 17 10 44" src="https://user-images.githubusercontent.com/16822008/167161162-87554d56-8679-4896-8405-42668a6deaa0.png">

[2022-05-06 15:10] #5152 closed

[2022-05-06 15:12] pascalwengerter commented on #4047
@C0rby could you re-check if this is still the case?

[2022-05-06 15:15] pascalwengerter commented on #5031
With https://github.com/owncloud/web/pull/6202 merged this issue can be closed 👏🏽

[2022-05-06 15:25] kulmann commented on #6448
Fixed by https://github.com/owncloud/web/pull/6593

[2022-05-06 15:25] #6448 closed

[2022-05-06 16:40] #6900 closed

[2022-05-09 04:07] individual-it commented on #6896
I think it really depends on what the test does.
The step `When the user browses to the folder "Shares" on the files page` in itself is not a check but an action (or part of the action) the user does to achieve something.
Looking through the tests I have different suggestions.

## acceptShares.feature:
1. not to check if the share is shown in the file-list via webUI
2. add an API check to see if t

[2022-05-09 04:17] individual-it commented on #4243
seems to work in the current version

[2022-05-09 04:17] #4243 closed

[2022-05-09 04:23] saw-jan commented on #6796
Batch restore failed nightly: https://drone.owncloud.com/owncloud/web/25402/68/15

[2022-05-09 08:43] lookacat commented on #6167
@tbsbdr Seems to be working now..

[2022-05-09 08:46] #6875 closed

[2022-05-09 08:50] SwikritiT opened #6908 "Refactor e2e tests to put selectors in constants"
Right now we are using selectors whenever necessary like
https://github.com/owncloud/web/blob/8433aa347b30aefdd645d65d10a316ad6e702672/tests/e2e/support/objects/app-files/resource/actions.ts#L22-L23

it would be better if they were made into constants

https://github.com/owncloud/web/blob/51f31888dff248a8fa5e10e3c3a5c79d116f39fc/tests/e2e/support/objects/app-files/link/actions.ts#L25-L39

todo:
-

[2022-05-09 09:21] kulmann opened #6910 "Use share jail id from graph API instead of hardcoded id"
The share jail id (needed for constructing webdav urls) has been hardcoded in https://github.com/owncloud/web/blob/51f31888dff248a8fa5e10e3c3a5c79d116f39fc/packages/web-app-files/src/services/folder/spaces/loaderShare.ts#L9

While that works, it is not a clean solution. The share jail gets populated via graph API and can be queried with `drives.listMyDrives('', 'driveType eq virtual')`. We should

[2022-05-09 09:42] JanAckermann commented on #6650
Closing:
This is intended, so a user can unshare a resource and share it with another user without changing views

[2022-05-09 09:42] #6650 closed

[2022-05-09 10:04] C0rby commented on #4047
No, seems to work as expected on current oCIS master. :+1:

[2022-05-09 10:16] #2459 closed

[2022-05-09 10:41] kulmann opened #6913 "show unlimited quota / respect `quota.definition: none`"
### Steps to reproduce
1. login to oc10 classic ui as admin
2. set unlimited quota for a user or self
3. switch to new web ui
4. open user menu (click on user name, top right)

### Expected behaviour
Personal quota information shows the used space + that the quota is unlimited

### Actual behaviour
Personal quota information shows everything as if a quota was set, but with the free disk space as q

[2022-05-09 10:53] kulmann opened #6914 "Don't wrap buttons into next line in user management editing"
### Steps to reproduce
1. Open user management app
2. Open user editing in right sidebar

### Expected behaviour
footer row of the right sidebar should be forced into one line

### Actual behaviour
Buttons wrap into the next line, see screenshot below. Part of the solution could be that we need to ensure shorter button labels in translations. But preventing line wraps is necessary as well.

<img w

[2022-05-09 11:16] kulmann commented on #6713
Also re-appeared in https://drone.owncloud.com/owncloud/web/25418/67/16 and in general saw it failing quite a lot the last days

[2022-05-09 11:26] individual-it commented on #6713
Does not look like the original bug
are we waiting log enough to confirm the file was uploaded?
here the ocis log output (from https://drone.owncloud.com/owncloud/web/25418/67/11)
![image](https://user-images.githubusercontent.com/2425577/167400449-13712a00-59e8-42cb-91c8-0e03599b37cc.png)

[2022-05-09 12:31] JammingBen opened #6917 "Link sharing indicator for spaces is not working"
### Steps to reproduce
1. Create a public link for a space
2. Open the sidebar for this space
3. Click on the sharing indicator where it says "1 link giving access" -> nothing happens

![image](https://user-images.githubusercontent.com/50302941/167410258-d29e3616-e30a-4623-b265-334925abdfe0.png)

[2022-05-09 12:36] JammingBen opened #6918 "Opening the sidebar for a space removes the "Create Space" button"
### Steps to reproduce
1. Create a space
2. Open the sidebar for this space -> the "Create Space" button will magically disappear

[2022-05-09 12:50] JammingBen opened #6920 "Space image is showing for spaces without image"
### Steps to reproduce
1. Create 2 spaces in the spaces overview
2. Set an image for only 1 of them
3. Open the sidebar of the space with the image
4. Now open the sidebar for the other space -> the other space will have the same image, although it doesn't have one

[2022-05-09 13:37] #6839 closed, assigned to nobody

[2022-05-09 14:09] #2516 closed

[2022-05-09 14:43] kulmann commented on #2316
Since the roles API is not used in oc10 (according to linked tickets) and oCIS will likely build an API around the new roles & permissions system it is unlikely that we'll integrate with the oc10 roles API. Closing here. We can reopen if product design changes.

[2022-05-09 14:43] #2316 closed

[2022-05-09 14:51] kulmann commented on #2443
Uploads have been mostly re-implemented in a recent pull request (https://github.com/owncloud/web/pull/6202). Issue still seems to be present. Since this corrupts uploaded data / modifies uploaded data in an unexpected way I've decided to elevate this to a P1.

[2022-05-09 14:56] pascalwengerter commented on #6920
Can reproduce, seems like the watcher on `space.spaceImageData` doesn't do its job properly? 🤔

[2022-05-10 05:55] SwikritiT commented on #6796
Sharing related failure in https://drone.owncloud.com/owncloud/web/25449/64/15

[2022-05-10 06:28] SwikritiT opened #6925 "Investigate Acceptance test failure in nightly"
A lot of tests are failing in `getText()` command in OCIS in build: https://drone.owncloud.com/owncloud/web/25449/57/15
Maybe they're all related , maybe we're accessing elements too early or too late.

<details>
<summary><h3>webUIRenameFolders/renameFolders.feature:43</h3></summary>

[code]
</details>

<details>
<summary><h3>webUIFilesSearch/search.feature:146</h3></summary>

[code]

</details>

[2022-05-10 06:49] individual-it commented on #1502
could not reproduce it locally anymore in  #6927 checking if that is still an issue in CI

[2022-05-10 07:34] individual-it commented on #1502
@kulmann please review #6927

[2022-05-10 07:49] individual-it commented on #6337
reopening again, because log output came back, mostly share jail
see https://drone.owncloud.com/owncloud/web/25449/8/6

[2022-05-10 08:04] #6918 closed

[2022-05-10 08:24] kulmann opened #6929 "Refactor shares in vuex store"
We currently load
1. incoming shares for current folder
2. outgoing shares for current folder
3. so called `sharesTree` which kind of caches all incoming and outgoing shares for all parent folders4.

The shares urgently need cleanup in the vuex store.

We should refactor this into
a. use `shareTypes` from propfind to get the information if a file or folder in the current directory is shared
b. mai

[2022-05-10 08:32] saw-jan commented on #6925
As per the initial investigation, the tests fail with following ui screen:

TO NOTE:
- **Resource not found**
- **Buttons are disabled**

![test-test_feature-L11](https://user-images.githubusercontent.com/52366632/167584817-45c5d9fa-417f-43c1-b8d4-73d9f553f05d.png)

All above mentioned tests have same issue

[2022-05-10 08:35] pascalwengerter commented on #6925
Looks suspiciously like https://github.com/owncloud/ocis/issues/3749

[2022-05-10 08:47] saw-jan commented on #6925
I also think that's the reason behind failing tests.

[2022-05-10 08:50] saw-jan commented on #6925
I get this ocis log whenever that happens:
[code]

And there are plenty of such errors in the failing pipeline

[2022-05-10 08:53] saw-jan commented on #6925
@pascalwengerter So, what can be done here?

[2022-05-10 08:55] pascalwengerter commented on #6925
Nothing on the web/qa side. Skipping the tests would be inacceptable, as well as endless retries/page reloads. We need a fix in oCIS and then an oCIS commit ID bump. Let's keep this issue open

[2022-05-10 09:22] kulmann opened #6930 "Re-fetch quota when it makes sense"
### Steps to reproduce
1. Look at personal quota (user-menu) or project space quota (right sidebar)
2. Upload or delete files / folders
3. Repeat step 1

### Expected behaviour
The respective quota info should reflect the changes made in (2)

### Actual behaviour
Quota info remains unchanged

### Possible solutions
- we could re-fetch the respective quota after IO batches of operations are done
-

[2022-05-10 09:44] pascalwengerter commented on #6574
Closed in favor of the more recent #6930

[2022-05-10 09:44] #6574 closed

[2022-05-10 09:56] JammingBen commented on #2443
@pmaier1

We noticed some inconsistencies between oC10 and oCIS when uploading contents to a public drop-page:

When uploading a file that already exists, oC10 will create a new file with a suffix (e.g. `file (1)`). oCIS in the other hand just overwrites the existing file by creating a new version. What is the desired behavior here? Also, how do we deal with folder uploads in this case? The classi

[2022-05-10 11:13] ScharfViktor opened #6945 "Prevent editing disabled space via a public link"

[2022-05-10 12:31] individual-it opened #6931 "webUICreateFilesFolders/createFile.feature:31 is flaky"
webUICreateFilesFolders/createFile.feature:31 started to fail in various runs
e.g. https://drone.owncloud.com/owncloud/ocis/11662/50/9
but also https://drone.owncloud.com/owncloud/web/25461/56/16

[2022-05-10 13:01] #6920 closed, assigned to JammingBen

[2022-05-10 13:25] kulmann opened #6933 "utilize oc10 preview providers for allowed mime types in `preview` app"
ownCloud 10 lets admins define preview providers in the `config.php` file, see e.g. https://github.com/owncloud/files_mediaviewer#supporting-more-media-types for details

For the `preview` app we should utilize this for automatically registering additional supported file types.

When we introduce configuration management for web, we could inject preview provider settings into the `config.json` end

[2022-05-10 13:51] kulmann commented on #6931
Running the test locally (dockerized dev setup) shows that the web ui looks good (see screenshot). Log output states
[code]

<img width="1498" alt="Screenshot 2022-05-10 at 15 50 06" src="https://user-images.githubusercontent.com/3532843/167644607-092deee9-a1c4-40e5-8815-c361145a12de.png">

[2022-05-10 14:40] #6931 closed

[2022-05-10 14:44] #6902 closed

[2022-05-10 17:24] kulmann opened #6937 "Add `Shares` breadcrumb root when navigating into a share"
Following UX bug concerns the share jail / ocis

### Steps to reproduce
1. As admin, share folder "test" with einstein
2. As einstein, navigate to "Shares", which initially redirects to "Shared with me"
3. As einstein, accept the share and navigate into it

### Expected behaviour
The breadcrumbs reflect the page hierarchy and offer a clear path back to where I came from, i.e. a root element "Share

[2022-05-11 03:42] saw-jan commented on #6925
oCIS lock issue: https://github.com/owncloud/ocis/issues/3757

[2022-05-11 03:57] SwikritiT commented on #6796
Sharing related failure: https://drone.owncloud.com/owncloud/web/25488/63/15
[code]

Trashbin related failure: https://drone.owncloud.com/owncloud/web/25488/68/15
[code]

[2022-05-11 03:58] SwikritiT commented on #6796
The failures have been pretty much consistent in recent nightly builds

[2022-05-11 04:14] SwikritiT commented on #6925
test failure in nightly probably because of this:
- webUIMoveFilesFolders/moveFiles.feature:20 https://drone.owncloud.com/owncloud/web/25488/68/15
- webUIFilesList/sort.feature:31 https://drone.owncloud.com/owncloud/web/25488/55/15

[2022-05-11 04:15] SwikritiT commented on #6798
recent failure: https://drone.owncloud.com/owncloud/web/25488/54/15
[code]

[2022-05-11 12:36] lookacat commented on #1753
args, restoring the folder structure isn't a problem but one case is really difficult.
1. If you have a file in a subfolder and you delete this file first and then the parent folder
2. Restore this file (Folder structure gets recreated)
3. Restore the deleted folder (All files are restored but the file restored previously because the folder get overwritten)
I'm not sure if we have the possibility

[2022-05-11 13:17] aduffeck opened #6944 "Directories in search result can not be used for navigation"
When searching for directories the found entities show up in the result list, but clickin the directory name will not take you to the according directory but stay at the result page.

### Steps to reproduce
1. Create a new directory "foo"
2. Search for "foo" across all files
3. Find the "foo" result in the list and click on the directory name

### Expected behaviour
The web app should navigate to

[2022-05-11 13:27] JammingBen commented on #1753
Hmm, I think it requires a product decision first. What should happen when you restore a folder with a name that already exists?

a) Overwrite the folder
b) Restore the folder as "new resource" e.g. by appending a suffix like "Folder (1)".

Currently we do a), which is No-Go IMO as folders can get overwritten easily. The overwritten folder then get's moved to the trash bin.

[2022-05-11 13:41] JammingBen commented on #1753
I also prefer this option, oC10 does it like this as well. But I'm not sure how easy it is to implement. Worst case scenario would be that we also need adjustments in backend and/or SDK.

@tbsbdr @pmaier1 see https://github.com/owncloud/web/issues/1753#issuecomment-1123762599 -> do you agree with b) as the preferred solution?

[2022-05-11 13:43] kobergj commented on #6945
@ScharfViktor not a web issue. Primarily are server bug. `ocis` was the correct place for the ticket.

[2022-05-11 13:48] micbar commented on #6945
@kobergj Should i transfer it back?

[2022-05-11 18:22] dragotin opened #6947 "Markdown editor does not save (Dataloss!)"
On ownCloud Web with ownCloud10 (cloud.o.c): I edited a file in the markdown editor. After quite some editing, I accidentially hit the "back" button on the browser (through the keyboard, typing too fast). I had not saved manually before.

A dialog appeared that I have unsaved changes, and if I would like to save (which is good). I clicked Yes, and the markdown editor closed and I landed in the fil

[2022-05-12 04:55] saw-jan commented on #6796
Tests look pretty stable with the latest oCIS.
The culprit issue in oCIS has been fixed (https://github.com/owncloud/ocis/issues/3757).
Bumping is on the way (https://github.com/owncloud/web/pull/6946). CI should be stable after bumping.

IMO, this issue can be closed alongside the PR merge.

[2022-05-12 05:01] saw-jan commented on #6925
Tests look pretty stable with the latest oCIS.
The culprit issue in oCIS has been fixed (https://github.com/owncloud/ocis/issues/3757).
Bumping is on the way (https://github.com/owncloud/web/pull/6946). CI should be stable after bumping.

IMO, this issue can be closed alongside the bump PR merge.

[2022-05-12 05:25] kiranparajuli589 opened #6948 "`webUISharingInternalUsersSharingIndicator/shareWithUsers.feature:155` failed with ocis on the latest nightly build"
### Description
Sharing indicator test `webUISharingInternalUsersSharingIndicator/shareWithUsers.feature:155` failed with ocis on the latest nightly build.
Needs further investigation

Build link https://drone.owncloud.com/owncloud/web/25516/60/15

### Build Log
[code]

[2022-05-12 06:05] phil-davis opened #6949 "webUICreateFilesFolders/createFile.feature:31 is flaky"
https://drone.owncloud.com/owncloud/ocis/11757/49/9
[code]

[code]

This scenario was previously reported as flaky in issue #6931 and was fixed by PR #6934

Maybe we are not using that web test code change yet in oCIS?

I will check the web test commit id that is being used in oCIS first, and report back here...

[2022-05-12 06:08] phil-davis commented on #6949
web commit id in oCIS is currently only up to https://github.com/owncloud/web/commit/54495e55a46c051680e121dae8c9c4f7938746cb

I will try to bump it and see if there are other changes that make that difficult or easy.

[2022-05-12 07:18] pascalwengerter commented on #6925
Closing via https://github.com/owncloud/web/pull/6946, thanks for the efforts!

[2022-05-12 07:18] pascalwengerter commented on #6796
Closing via https://github.com/owncloud/web/pull/6946, thanks for the efforts!

[2022-05-12 07:18] #6796 closed

[2022-05-12 07:40] #6949 closed

[2022-05-12 08:22] dragotin commented on #6947
Debugging revealed that the save also does not happen in the text editor, with this error:

[code]

[2022-05-12 09:07] #1502 closed

[2022-05-12 09:14] saw-jan commented on #6948
Tried to reproduce with older oCIS. There is a `flock` error log whenever the test fails.
[code]
So, during nightly, the cause of the failure was https://github.com/owncloud/ocis/issues/3757.

The ocis issue has been fixed and I couldn't reproduce with the latest oCIS server. Maybe the test has become more stable with the latest oCIS. So, closing here. Let's see if it appears again.

[2022-05-12 09:14] #6948 closed

[2022-05-12 09:50] #5261 closed

[2022-05-12 09:54] JanAckermann commented on #4605
related to #6947

[2022-05-12 11:35] #6947 closed

[2022-05-12 11:35] #4605 closed

[2022-05-12 12:21] #5227 closed

[2022-05-12 12:47] jvillafanez opened #6958 "App section barely visible in light mode"
### Steps to reproduce
1. In light mode, click on the apps and hover on the selected one
2.
3.
![Screenshot from 2022-05-12 14-36-21](https://user-images.githubusercontent.com/1477829/168077136-5d87785f-1723-413b-8efe-1224baebca76.png)

Checked with firefox 100

### Expected behaviour
The app should be clearly visible

### Actual behaviour
There isn't enough contrast and it can't be seen.

### Env

[2022-05-12 13:38] pmaier1 commented on #2443
Thanks for pointing at this. IMO the oC10 behavior is correct. Main reason for that is that we should cover for the case that occurs when multiple people upload files with the same name to a file drop link. In that case it does not make sense to create versions as the files most probably really are distinct except that they have the same name. Same behavior for folders then.
IIRC there was some ti

[2022-05-12 13:40] pmaier1 commented on #2443
Found it
- https://github.com/cs3org/reva/issues/2480
- https://github.com/cs3org/reva/pull/2510

The behavior is described, discussed and agreed there. cc @micbar

[2022-05-12 14:21] phil-davis commented on #2443
The response to the initial create of a folder is going to return some HTTP status 2nn. The response could also have the actual "allocated" resource name as a data item in the response body. Then the client can know what name the folder has, and can then create the rest of the folder structure under that folder name.

The other approach would be that if the folder already exists, then the server c

[2022-05-12 14:26] pascalwengerter commented on #2443
There is also a security concern about not disclosing what files&folders are present in whatever folder you create a dropLink for - which means the backend should "silently swallow" whatever the public uploads there and then handle renaming backend-only

[2022-05-12 14:27] JammingBen commented on #2443
I'm all in favor of letting the backend handle this, hence the first approach sounds good to me:

However, either way, the client will know that there is a resource with that exact name. I'm not sure if that is information we want to publish to the outside world.

[2022-05-12 14:30] pascalwengerter commented on #2443
Can't we handle subsequent (child folder) uploads based on the resourceId of the previously uploaded (parent) resource, hence not disclosing anything about potential renaming happening?

[2022-05-12 14:30] pmaier1 commented on #2443
Exactly, this is important. Clients must not have any way to infer the content of the file drop folder.

[2022-05-12 14:32] phil-davis commented on #2443
That sounds promising - the response to the "create resource" request provides a resourceId which is a "magic string" unrelated to the resource name. The client can then create child resource under that.

[2022-05-12 14:35] JammingBen commented on #2443
Good idea, AFAIK this would need to be implemented first though. The ownCloud SDK (and oCIS itself?) only works with paths.

[2022-05-12 16:15] pascalwengerter commented on #6782
This isn't strictly necessary for the beta phase (Infinite Scale doesn't have the password.enforced_for public links yet), however I'd like to fix it before we release web `v5.5.0` for usage with oc10

[2022-05-12 19:50] tbsbdr opened #6962 ""add link" should directly create a new link"
### Steps to reproduce
1. open https://ocis.ocis-wopi.released.owncloud.works/s/rmTOvgNZzALYFzP
2. click on "copy quicklink" quickaction
3. click on "add link" in the sidebar
4. inline menu to create a new link opens

### Expected behaviour
- new link should be created
- new link should be added on top of the link-list (directly below the "add link" button)

https://user-images.githubusercontent.c

[2022-05-12 20:10] tbsbdr opened #6963 "OC10 public links: Show Password-promt if passwords are enforced"
### Steps to reproduce
1. login as admin at https://web.owncloud.com/
2. settings > sharing > enable all "enforce password protection ...." checkboxes
3.  switch to new Web UI
4. click on quickaction "create and copy public link"
5. noting happens

### Expected behaviour
- If a public link gets created, the dialog with the promt to enter a password should appear.

<img width="1504" alt="image" src

[2022-05-12 21:34] tbsbdr opened #6964 "Indirect links should not be editable"
### Steps to reproduce
1. login at https://ocis.ocis-wopi.released.owncloud.works/
2. create new folders in personal: `Directly-shared`/`Indirectly-shared`/
3. share `Directly-shared` via link
4. navigate to `Indirectly-shared`
5. open right sidebar > shares panel
6. indirect link can be edited (expiration, rename, pw, delete)

### Expected behaviour
Tell us what should happen
- Indirect link shou

[2022-05-13 08:03] JanAckermann commented on #6944
Closing, @aduffeck and me discussed that this is a backend issue

[2022-05-13 08:03] #6944 closed

[2022-05-13 09:07] jnweiger opened #6966 "[QA] notifications requests are sent to the server, even when the notifications app is disabled"
Seen with core 10.10.0 RC2 and web 5.4.0

* open file view in new WebUI
* check browser network console. Notificaitons are polled.
* occ app:disable notifications
* force reload the web page.
* Notification requests continue, but result in error 500
![image](https://user-images.githubusercontent.com/1108546/168250502-6339e73e-90d2-42fd-9770-bcb5137cfc84.png)

Expected behaviour:
* webUI knows if n

[2022-05-13 09:54] #6937 closed

[2022-05-13 10:08] pascalwengerter commented on #6966
Does disabling notifications not disable them in capabilities (that's what `web` uses to figure whether it can fetch notifications from the backend IIRC)? Anyways, both quickly fixed (I hope) and irrelevant for oCIS GA

[2022-05-13 12:14] #6913 closed

[2022-05-13 12:15] tbsbdr commented on #6126
maybe we can build upon: https://www.lightgalleryjs.com/ - needs evaluation if this plugin would be helpful
CC @kulmann - will bring it up within our next meeting.

[2022-05-13 13:12] tbsbdr opened #6968 "click on share-indicator in files list should scroll"
### Steps to reproduce
1. login to https://ocis.ocis-wopi.released.owncloud.works/
2. share a folder with a person and also via link
3. click on "Link" or "People" share indicator
4. Right sidebar always shows "Shares" Panel with section "Share with people" on top

### Expected behaviour
Tell us what should happen
1. If click on Link-share indicator in files list and "Share via link" section is no

[2022-05-13 13:39] pascalwengerter commented on #6930
Tried doing some investigation. Some finds
- we do fetch the quota upon completed upload on https://github.com/owncloud/web/blob/899782677731942861e3c4b979c7c83c8b49058c/packages/web-app-files/src/components/AppBar/CreateAndUpload.vue#L328 - however, this only works in oC10 for me, oCIS seems to always return the same (relative) quota; it also sometimes sends _a lot_ of requests to re-fetch user/q

[2022-05-13 14:35] ishank011 opened #6970 "Uploads still make the call to path based WebDAV endpoints when spaces are enabled"
Running web with spaces capabilities
[code]

When reva doesn't send the tus headers as part of the PROPFIND response, and the user tries to upload a file, the PUT request goes to `/remote.php/dav/files/$username/$filename`. When all requests go via the spaces route, this should as well. So it should ideally go to `/remote.php/dav/spaces/$spaceID/$filename`

[2022-05-13 14:43] ishank011 commented on #6970
This is for user homes. When uploading inside spaces, the framed requests look correct

[2022-05-13 15:36] #6963 closed

[2022-05-13 15:51] elizavetaRa opened #6971 "Default file handler is not sorted first in context menu"
### Steps to reproduce
1. Open actions of a file with multiple file handlers, for example .md file
2. Handlers Text Editor and CodiMD are not sorted by default app
3.

### Expected behaviour
Default action is sorted first

### Actual behaviour
Handlers are sorted by internal handlers first and than external apps

[2022-05-13 15:56] ishank011 opened #6972 "Navigation in project spaces doesn't work via hrefs"
When doing a PROPFIND inside a project space, web doesn't use the `href` returned in the response to further navigate inside the project, but rather frames its own URL using the `fileid`. Instead it should use the href field

[2022-05-13 16:09] elizavetaRa opened #6973 "Horizontal scroll appears in sidebar for sharees with long emails"
### Steps to reproduce
1. Share to a user with a long email

### Expected behaviour
The sidebar width should not be affected

### Actual behaviour
The sidebar gets horizontal scroll
![Screenshot from 2022-05-13 16-28-42](https://user-images.githubusercontent.com/7430156/168323738-d5bc75cd-8738-4116-9a16-9d9871ae93c7.png)

[2022-05-13 17:02] pascalwengerter commented on #6782
Closed via #6967

[2022-05-13 17:02] #6782 closed

[2022-05-13 17:03] pascalwengerter commented on #6968
Test case for this should involve a lot of people shares and an expanded people share list (to make the problem more obvious, it's limited to the `link` share indicator)

[2022-05-13 17:14] pascalwengerter opened #6974 "Changing passwordless link role to one that has an enforced password fails badly"
### Steps to reproduce
1. Set password protection to `true` for read-only link shares
2. Create non-read-only link share without password, then change it to read-only via dropdown
3. See both error and success message on the UI

### Expected behaviour
See a modal that asks you to add a password since the role you're trying to change the link into requires one

### Notes
Will need quite some accept

[2022-05-16 05:29] kiranparajuli589 opened #6978 "Investigate nightly failure `webUISharingInternalGroups/shareWithGroups.feature:100`"
Build link https://drone.owncloud.com/owncloud/web/25589/26/20

[code]

[2022-05-16 05:34] kiranparajuli589 commented on #6925
failed again on last nightly build: https://drone.owncloud.com/owncloud/web/25589/54/15
<details>
<summary>More Details</summary>
<pre>
 @smokeTest @ocisSmokeTest
  Scenario: move a file into a folder # features/webUIMoveFilesFolders/moveFiles.feature:20
- Connecting to selenium on port 4444...

ℹ Connected to selenium on port 4444 (247ms).
  Using: chrome (94.0.4606.61) on Linux platform.

    Gi

[2022-05-16 05:47] kiranparajuli589 commented on #6925
sorry, the error was with `.getText` but the issue seems to be different, i'll open a separate issue for this.

[2022-05-16 05:47] #6925 closed

[2022-05-16 05:48] kiranparajuli589 opened #6979 "Investigate nightly build failure: `webUIDeleteFilesFolders/deleteFilesFolders.feature:244`"
## Description
Test failed on last nightly build.
Build link: https://drone.owncloud.com/owncloud/web/25589/54/15
[code]

_Originally posted by @kiranparajuli589 in https://github.com/owncloud/web/issues/6925#issuecomment-1127238692_

[2022-05-16 05:56] saw-jan commented on #6978
@SagarGi what I think is that the test tried to assert the content before the upload succeeds.
after the `When the user uploads file "new-lorem.txt" using the webUI` step there's no `then` step to check file exists in the webUI.
Since there has been changes in upload and upload progress, I suspect that's the case here.
But it might not be the case, just giving you some hints.

[2022-05-16 06:42] saw-jan commented on #6713
Could be same issue as https://github.com/owncloud/web/issues/6978#issuecomment-1127249567

[2022-05-16 09:12] JanAckermann commented on #6116
I don't think this is an issue anymore,
not reproducible even with the same width

![image](https://user-images.githubusercontent.com/26169327/168559424-38568606-7f8f-45c3-b179-b6109cf529f5.png)

[2022-05-16 09:13] #6116 closed

[2022-05-16 09:27] pascalwengerter commented on #4168
From the way I read the reproduction steps it looks like this is an issue with resharing, which isn't enabled in oCIS yet? 🤔

[2022-05-16 10:04] kulmann commented on #6972
Agreed, this is an important issue. Unfortunately this requires quite some refactoring in the `owncloud-sdk`, which currently gets initialized with one single dav endpoint, then only accepts relative dav paths and concatenates those.

[2022-05-16 10:35] #6964 closed

[2022-05-16 10:49] JanAckermann commented on #6664
Not able to reproduce anymore with the given steps

[2022-05-16 10:49] #6664 closed

[2022-05-16 10:58] saw-jan commented on #6979
Sometimes the file disappear when the UI flickers (refreshes).

https://user-images.githubusercontent.com/52366632/168578191-d5cb02af-8dda-46dc-9cfb-6d0001032ff1.mp4

[2022-05-16 11:36] pascalwengerter commented on #6979
I think it should be fine to delete the `And the user has browsed to the personal page` step before trying to delete the files using the webUI (since that is most likely where the flakiness comes from?)

[2022-05-16 12:43] #6979 closed

[2022-05-16 19:31] #6958 closed

[2022-05-16 19:31] #6971 closed

[2022-05-16 19:31] #6973 closed

[2022-05-17 03:27] SwikritiT opened #6986 "investigate `webUIRenameFiles/renameFiles.feature:257` failure in nightly"
Build: https://drone.owncloud.com/owncloud/web/25635/56/15
<details>
<summary>features/webUIRenameFiles/renameFiles.feature:257</summary>

[code]
</details>

[2022-05-17 04:29] saw-jan commented on #6986
looks like it needed the same fix as done for https://github.com/owncloud/web/issues/6979

[2022-05-17 06:10] SagarGi commented on #6978
Closing this issue with this PR https://github.com/owncloud/web/pull/6983 is merged.

[2022-05-17 06:10] #6978 closed

[2022-05-17 07:26] SwikritiT commented on #6713
The tests passed in multiple runs https://drone.owncloud.com/owncloud/web/25645/10/16. Probably the same issue.

[2022-05-17 07:26] #6713 closed

[2022-05-17 08:10] #6004 closed

[2022-05-17 08:34] jnweiger opened #6988 "[QA] drawio fails to load"
Seen in web 5.4.0 with core 10.10.0 RC2, while attempting to test https://github.com/owncloud/core/pull/40024
Also seen with web-4.8.0 and web-5.5.0-rc.6 and web-7.0.3

* Setup according to https://owncloud.dev/clients/web/deployments/oc10-app/
* Click new -> draw io file
   * firefox requests permission to open a new page, It then  shows only a white area in the blue frame.
   * chrome shows an e

[2022-05-17 08:37] pascalwengerter commented on #6988
@jnweiger could you post the contents of your config.json file used for web? I'm curious how web.owncloud.com is configured since I can not find the pointed-out problems there

[2022-05-17 08:41] jnweiger commented on #6988
config/config.json
[code]

[2022-05-17 08:44] JanAckermann commented on #2963
Resharing seems not to be allowed anymore, so is this still an issue?

![image](https://user-images.githubusercontent.com/26169327/168769593-7156f186-92e9-405e-b869-de22ff9cabd9.png)

[2022-05-17 08:45] pascalwengerter commented on #2963
Yes, resharing is part of KoKo (ideally this week in oCIS)

[2022-05-17 08:59] pascalwengerter commented on #6866
Can confirm that this is still a bug - apparently, we don't add the correct link target to the last breadcrumb item

[2022-05-17 09:11] pascalwengerter commented on #6988
On your instance, when opening the draw-io file, I can see the following URL
`https://<server-url>/index.php/apps/web/index.html#/draw-io/files/admin/untitled.drawio?contextRouteName=files-spaces-personal-home&contextRouteParams.storage=home`

While on web.owncloud.com, the draw-io URL looks like this
`https://<server-url>/index.html#/draw-io/files/demo/untitled.drawio?contextRouteName=files-space

[2022-05-17 09:16] sushmita56 commented on #6908
All done!

[2022-05-17 09:16] #6908 closed

[2022-05-17 09:56] jnweiger opened #6990 "[QA] German translations only translate one word"
Seen in web 5.4.0 with core 10.10.0 rc2 - also seen with web 4.8.0 and web 5.5.0 rc.6

* Classic UI, switch to German. (persönlich or förmlich, same effect)
* New Design
* Everything is still English. BAD
* Click open the app-switcher. "Aktivität" is the only German word.
![image](https://user-images.githubusercontent.com/1108546/168784564-ba460d85-b7cd-4e0d-8ba9-b0b6a5df3ce7.png)
----

Expected b

[2022-05-17 09:59] pascalwengerter commented on #6990
Duplicate to #6243, the few translations you see got to be coming from their respective oc10 apps

[2022-05-17 09:59] #6990 closed

[2022-05-17 10:02] pascalwengerter commented on #6849
Tooltips have been fixed in https://github.com/owncloud/owncloud-design-system/pull/2137 (needs another ODS RC and bump in web), I guess with #6959 we can close this ticket for now

[2022-05-17 10:09] jnweiger commented on #6990
Same with French :-)
![image](https://user-images.githubusercontent.com/1108546/168787292-a6d08a11-7c79-4a9d-bb64-73ec5d7d45db.png)

[2022-05-17 11:24] tbsbdr commented on #5761
## General rule
**User gets asked what to do in case of conflicting resources**, as there is no common pattern across different services/platforms (OneDrive, Google Drive, Box, Windows, Mac, etc. - all different).

**Note** This dialog concept is also meant to be applied to https://github.com/owncloud/web/issues/1753

## Dialogs

![image](https://user-images.githubusercontent.com/26610733/16878995

[2022-05-17 11:33] lookacat commented on #5761
The logic for copy or moving seems to be spread and different in some parts, will try to get it unified first so we don't have code duplication.

[2022-05-17 12:00] jnweiger opened #6992 "Sharing sidebar looks crowded"
Seen with web 5.5.0 rc.6 and core 10.10.0 RC2

I am not a we designer, but the new Web UI has in general a very organized and clean look.
the sharing sidebar seems to be an exception, with multiple elements very close together, some of them overlapping.

![image](https://user-images.githubusercontent.com/1108546/168804174-f3508e20-9f36-4fd7-9ed9-a3aaf218fb38.png)

Despite this seen on a desktop co

[2022-05-17 12:06] jnweiger commented on #6243
Interesting... Chrome on my Android very nicely translates to German, though:

![image](https://user-images.githubusercontent.com/1108546/168807090-71d2d1f8-6310-4029-83ea-2620324ec262.png)

[2022-05-17 12:10] tbsbdr commented on #5761
@labkode correct, see Nr. 4

[2022-05-17 12:40] #6866 closed

[2022-05-17 14:51] micbar opened #6995 "Search in folder adds "ghost" spaces to the page"
### Steps to reproduce
1. Create A Folder in "personal" with  a lot of files with similar names
2. Search for a string which is present in most of the files
3. Go to the "Spaces" View

### Expected behaviour
See the existing spaces only

### Actual behaviour
I see all search results from 2 rendered as "spaces"
![1652798743154](https://user-images.githubusercontent.com/4378513/168840784-4fd4ac58-44

[2022-05-17 15:05] tbsbdr opened #6996 "Upload of folder with same name shows error"
# Steps to reproduce
1. Login to https://ocis.ocis-wopi.released.owncloud.works/
2. Create a new folder "Folder" on the ocis instance and on your local drive.
3. upload your local "Folder" folder
4. upload does not start, shows error "Folder "Folder" already exists."
![image](https://user-images.githubusercontent.com/26610733/168844306-c51c1723-77e3-499c-9083-73b4d26ca93f.png)

# Expected behaviou

[2022-05-17 15:07] #3751 closed

[2022-05-17 15:07] tbsbdr commented on #5761
closing in favour of more actionable ticket: https://github.com/owncloud/web/issues/6996

[2022-05-17 15:08] tbsbdr commented on #5106
closing in favour of more actionable ticket: https://github.com/owncloud/web/issues/6996

[2022-05-17 15:08] #5106 closed

[2022-05-17 16:46] pascalwengerter commented on #6995
I guess that has to do with `activeFiles` in https://github.com/owncloud/web/blob/31e62e18237871344e5a1b0755114100cb9a5458/packages/web-app-files/src/views/spaces/Projects.vue#L154 which are present in the store before `loadResourcesTask` loads the spaces themselves (curious why those don't get replaced though)

[2022-05-18 03:53] SwikritiT opened #6999 "Investigate the `rename` related nightly failure"
Build: https://drone.owncloud.com/owncloud/web/25679/57/15

<details>
<summary>webUIRenameFiles/renameFiles.feature:269</summary>

[code]
</details>

<details>
<summary>webUIRenameFolders/renameFolders.feature:151</summary>

[code]
</details>

[2022-05-18 03:55] SwikritiT opened #7000 "Investigate `webUISharingPublicDifferentRoles/shareByPublicLinkDifferentRoles.feature:236` failure in nightly"
Build: https://drone.owncloud.com/owncloud/web/25679/36/20

<details>
<summary>webUISharingPublicDifferentRoles/shareByPublicLinkDifferentRoles.feature:236</summary>

[code]
</details>

[2022-05-18 05:00] saw-jan commented on #6999
failed on restarted build: https://drone.owncloud.com/owncloud/web/25680/56/15

[2022-05-18 07:16] SwikritiT commented on #6389
There's still one step that needs to be implemented `Alice uploads the folder with the file. New->Upload folder` but it's blocked until that feature is available in the playwright, so putting this in backlog

[2022-05-18 07:31] #6974 closed

[2022-05-18 09:16] saw-jan commented on #6999
Could not reproduce the CI fail locally. Have no idea why the nightly failed.

[2022-05-18 09:25] JammingBen commented on #5531
I wanted to dig into this, unfortunately I don't see an easy solution here.

We somehow need to find out if a resource is the share root (the folder that has been shared itself). There is a method called `isReceivedShare`, but it does not only return `true` for the root of a share, but also for all resources inside a share. `canBeDeleted` on the other hand is always true for share roots in oC10, b

[2022-05-18 09:37] ScharfViktor commented on #6389
We have opened issue for uploading folder https://github.com/owncloud/web/issues/2222

we can confidently close issue. Great job)) Thanks

[2022-05-18 09:37] #6389 closed

[2022-05-18 13:14] tbsbdr commented on #6678
should be possible now via: https://owncloud.dev/extensions/graph/groups/#adding-a-single-member-to-a-group

[2022-05-18 15:35] tbsbdr opened #7006 "Upload via Drag'n Drop doesn't work, if a resource is selected"
### Steps to reproduce
1. go to https://ocis.ocis-wopi.latest.owncloud.works/
2. create new folder
3. select this folder ☑
4. drag a file ex. from your desktop and drop it on the fileslist
5. upload does not start - (instead: browser tries to open the droped resource)

https://user-images.githubusercontent.com/26610733/169082651-edcff05d-b139-47b9-a0a3-fb510b22aca0.mp4

### Expected behaviour
uplo

[2022-05-18 16:14] tbsbdr opened #7007 "Rename-Icon gets covered if there is not enough space"
### Steps to reproduce
1. Login to https://ocis.ocis-wopi-demo.owncloud.works/
2. Create a folder
3. resize the browser window, until the rename-icon gets covered by the next cloumn

![image](https://user-images.githubusercontent.com/26610733/169090824-08d2784a-1454-4c77-898d-538ba7e29807.png)

### Expected behaviour
rename icon should always be visible

### Actual behaviour
the rename-icon gets c

[2022-05-18 16:36] tbsbdr opened #7008 "Opened documents get automatically closed"
### Steps to reproduce
1. Login to https://ocis.ocis-wopi-demo.owncloud.works/
2. edit a document in collabora or onlyoffice
3. do nothing - wait ~ 10 minutes (document is opened in collabora/onlyoffice)
4. files list gets shown (opened document gets auto-closed)
<img width="3066" alt="image" src="https://user-images.githubusercontent.com/26610733/169095501-6d11b221-f451-418b-a993-84734ca26303.png

[2022-05-18 16:47] tbsbdr opened #7009 "Copy/move within a Space is not possible"
### Steps to reproduce
1. login at https://ocis.ocis-wopi-demo.owncloud.works/
2. create a new Space;
3. within the Space, create a new Folder and a File
4. select the file, select copy (or move)
5. select the Folder
6. Content of the folder is shown and the move-dialog exits.

https://user-images.githubusercontent.com/26610733/169097577-87185fd9-4b90-41db-90a1-8f4f03862dc7.mp4

### Expected behav

[2022-05-19 03:49] sushmita56 commented on #7000
The issue is not reproducible both locally and in CI, so is closing here and will be reopened if needed.

[2022-05-19 05:08] phil-davis commented on #5236
@kiranparajuli589 @individual-it is this still blocked, or is it done, or?

[2022-05-19 05:28] phil-davis commented on #5411
We are currently pinned to nightwatch https://github.com/nightwatchjs/nightwatch/releases/tag/v1.7.11
nightwatch is up to release https://github.com/nightwatchjs/nightwatch/releases/tag/v2.1.7

@individual-it
What to do? Update to nightwatch v2 and then do something to address this issue? Close this issue and stay on nightwatch v1? Or?

[2022-05-19 05:32] kiranparajuli589 commented on #5236
blockers were resolved. we'd not worked in this for a while. the list is also outdated. developers are adding the unit tests now, so we can close this one.

[2022-05-19 05:32] #5236 closed

[2022-05-19 05:52] SwikritiT opened #7011 "Update expected to fail file to use the correct issue for failing tests"
Issue https://github.com/owncloud/ocis/issues/1330 has been closed but we still have it referenced in the expected to fail file and we need to update it.

https://github.com/owncloud/web/blob/b8e3ccfd4dca7bcadc5c7cc80db734b810da8b9a/tests/acceptance/expected-failures-with-ocis-server-ocis-storage.md?plain=1#L18-L38

ToDo
- [ ] find/create the correct issue for the failing tests
- [ ] reference the

[2022-05-19 05:57] individual-it commented on #5411
I would suggest to have a short looks how difficult and how time-consuming it would be to update nightwatch. If it requires too much refactoring I would be reluctant to update because we don't want to focus on nightwatch tests in future

[2022-05-19 11:10] #6995 closed

[2022-05-19 11:24] saw-jan commented on #6999
CI seems pretty stable. 100 runs passed (https://drone.owncloud.com/owncloud/web/25721/10/15)
Couldn't figure out why the nightly is failing.

[2022-05-20 04:32] SwikritiT commented on #6999
the recent nightly build has also passed https://drone.owncloud.com/owncloud/web/25737. Haven't seen this test fail in other builds either. Maybe we can close it for now and re-open it if it arises again? Or we can keep it open for a few days and close it if the failure isn't seen.

[2022-05-20 08:20] kulmann opened #7018 "[oC10] Logging out of oC classic does not log out of oC web"
Similar to https://github.com/owncloud/web/issues/5886 but the other way around

### Steps to reproduce
1. Log in to oC classic UI
2. Switch over to new design (i.e. ownCloud Web)
3. Switch back to classic design
4. Log out in oC classic UI

### Expected behaviour
User is fully logged out. Both in classic and in new design

### Actual behaviour
Only the session for the classic UI is killed. The ac

[2022-05-20 08:21] individual-it opened #7019 "make CI work with owncloud 10.10"
web tests failed with owncloud 10.10 in https://drone.owncloud.com/owncloud/web/25725/34/13 (trashbin) and oC10 was pinned to 10.9.1 in #7016

need to investigate what is different with trashbin in 10.9 and 10.10 and why the tests fail

[2022-05-20 08:31] kulmann commented on #7018
For the user, an even weirder and more concerning facet of this issue is that logging in with another user and switching over to the new design still has the old user (logged out in classic ui but never logged out in new web ui). The underlying issue is the same. oC Web only checks the backend for a new login if there is no valid access token. Since it's still cached from the previous login it's c

[2022-05-20 08:39] kulmann commented on #5886
Apparently the backend session handling is really broken for the combination of oauth2 and classic login. There is https://github.com/owncloud/web/issues/7018 as the other facet of the "client logout issue" (logout in classic doesn't logout in web).

[2022-05-20 08:40] #1774 closed

[2022-05-20 08:40] #4247 closed

[2022-05-20 08:40] #4839 closed

[2022-05-20 08:44] JammingBen commented on #7009
This is probably due to: https://github.com/owncloud/web/issues/6892

[2022-05-20 09:25] elizavetaRa opened #7021 "No possibility to make quick actions hoverable"
### Expected behaviour
Setting in config to apply hover effect on quick actions while hovering the corresponding row

### Actual behaviour
No such setting in config

[2022-05-20 10:13] JanAckermann commented on #6243
Have you tried, to set the lang to french ? ;)

[2022-05-20 10:16] kulmann commented on #6243
Web uses the browser default language as of now. So you should see the language that your browser is set to (as long as it's one of our supported languages).

[2022-05-20 11:19] saw-jan commented on #6999
Let's see what the nightly on the weekends will be and then we can decide.

[2022-05-20 11:53] kulmann opened #7024 "Personal space ids in URL"
### Steps to reproduce
1. log in to ocis
2. navigate into the `Personal` view

### Expected behaviour
See the space id of the personal space of the logged in user in the URL

### Actual behaviour
The URL has `/personal/home/` in the path

### Goals

#### Consistency
Currently we navigate into project spaces by id. We should use space ids in the URLs for all kinds of spaces -> make it consistent. T

[2022-05-20 12:52] tbsbdr opened #7025 "Spaces: Show message, if upload exceeds Space Quota"
### Steps to reproduce
1. login as Admin on: https://ocis.ocis-wopi.released.owncloud.works/
2. Create a Space with 1GB Quota
3. upload a file >1GB - or: many files, each <1GB, but in total > 1GB.
4. upload shows "Upload failed"

<img width="313" alt="image" src="https://user-images.githubusercontent.com/26610733/169529539-1057fdeb-7f9a-4cb0-929d-f12f98d8ff97.png">

### Expected behaviour
Before t

[2022-05-23 03:29] saw-jan commented on #6999
Couldn't reproduce it and haven't seen it in recent nightlies.
Closing for now!

[2022-05-23 03:57] individual-it commented on #7019
first try in #7020

[2022-05-23 04:08] phil-davis commented on #7019
Note: this could be one of the 10.10.0 changes that impacts on a client:
Bugfix - Default for propfind depth infinity adjusted: [#40016](https://github.com/owncloud/core/pull/40016)

That is now disabled by default. The setting is advertised in capabilities, but if a client does not check the capabilities setting then it may send depth-infinity requests and they will not work. Work-around would be

[2022-05-23 05:04] saw-jan commented on #7019
CI passed. Maybe there's no more task to do?

[2022-05-23 05:28] individual-it opened #7029 "web needs dav.propfind.depth_infinity set to true on oC 10.10"
OC 10.10 by default does not allow to request depth=infinity in PROPFIND (oc10 replies with 412) see https://github.com/owncloud/core/pull/40016

web (and SDK) needs that somewhere, so it got enabled in CI
see https://github.com/owncloud/web/pull/7020 & https://github.com/owncloud/owncloud-sdk/pull/1058

need decision about if that is a required setting to be used in web or if that is a bug

CC @k

[2022-05-23 05:29] individual-it commented on #7019
CI is green after #7020
further discussion is needed to decide if that is a bug or a feature, see https://github.com/owncloud/web/issues/7029

[2022-05-23 05:48] phil-davis commented on #7029
Basically need to answer this:

When running web and oC10 together, do we:
1) require that the installed oC10 must have depth infinity PROPFIND enabled, or
2) enhance the web code so that it looks at the capabilities settings, and behaves accordingly

[2022-05-23 05:52] #7019 closed

[2022-05-23 07:21] kulmann commented on #5882
Unfortunately this is still an issue. While the situation has improved a lot, the uploads still seem to bring the UI into a blocked state. IMO the uploads need to be pushed into a web worker / separate thread.

[2022-05-23 07:49] kulmann opened #7030 "Authentication logic is fragile"
We currently have multiple issues in the way the web ui handles authentication.

### Touchpoints:
- refactoring: touches too many parts of the code base (vuex, runtime, ...)
- dependencies: currently used [oidc-client lib](https://www.npmjs.com/package/oidc-client) is unmaintained
- bug/refactoring: user data loading happens too late (capability, account-info, shares & links ...)
- bug/refactoring

[2022-05-23 07:55] kulmann commented on #7008
Yes, the token refresh causes a hard page reload and goes to the personal page again. Closing here as duplicate / symptom.

[2022-05-23 07:55] #7008 closed

[2022-05-23 07:56] kulmann commented on #7030
One symptom / massive annoyance of the broken token refresh in ocis: https://github.com/owncloud/web/issues/7008

[2022-05-23 07:59] kulmann commented on #7030
The maintainer of `oidc-client` recommends https://github.com/authts/oidc-client-ts which makes a good first impression so far

[2022-05-23 08:40] #6970 closed

[2022-05-23 10:58] kulmann commented on #7009
yes, closing as duplicate

[2022-05-23 10:58] #7009 closed

[2022-05-23 11:15] ScharfViktor opened #7035 "e2e-test-story. participant management"
steps:

- [x] admin adds role "space manager" to Alice
- [x] Alice creates project space
- [x] Alice add member Brian with editor role
- [x] Alice add member Carol with viewer role
- [x] Brian creates folder and upload file1 to the folder
- [x] Carol can see folder with file. can preview/download but cannot edit
- [x] Alice creates public link with editor role. Members cannot see public link. Here

[2022-05-23 11:15] ScharfViktor commented on #7035
@SwikritiT

[2022-05-23 11:38] #2963 closed

[2022-05-23 11:45] kulmann opened #7037 "Slow file list update after uploads"
### Steps to reproduce
1. Upload 1000 small files to a folder
2. wait until the data transfer is complete

### Expected behaviour
1. The file list updates immediately
2. The upload progress widget has all uploaded files visible (including the uploaded files count in the title) immediately

### Actual behaviour
1. It takes ages until the file list is up to date. The yellow highlighting of the files

[2022-05-23 12:05] kulmann commented on #7037
Probably related: https://github.com/owncloud/web/issues/5882

[2022-05-23 12:14] kulmann opened #7038 "Slow loading state of file list"
### Steps to reproduce
1. Navigate into a folder with 1000 files

### Expected behaviour
When the network request (propfind) is done the file list is visible and usable in a timely manner.

### Actual behaviour
The file list takes ages to render and even a little bit longer until the first interaction is possible (e.g. context menu).

### Action items / hints
- [ ] check if loading previews blocks

[2022-05-23 12:34] kulmann opened #7039 "Async interactions - fix "hanging" UI during long running actions"
Async tasks currently have the tendency of blocking the UI. The also get hibernated by the browser when the tab becomes a background tab.

Needs e.g. web workers / separate threads for:
- copy
- move
- delete (especially in batch)
- upload

[2022-05-23 12:37] ScharfViktor opened #7040 "Viewer should not see a public link to the project space"
bug probably exists, but I couldn't found

ocis docker v1.20
ownCloud Web UI 5.4.0

steps:

- Admin creates a project space with the folder
- Admin adds member Marie with a viewer role
- Admin creates a public link to the space with editing permissions

Actual: Marie has not access to edit or upload file, but she see public link and so it has the ability to edit
![Screenshot 2022-05-23 at 14 29 09

[2022-05-23 12:38] kulmann commented on #7039
Related: we want progress indicators for those interactions, see https://github.com/owncloud/web/issues/6183

[2022-05-23 12:44] JanAckermann commented on #7025
Decision: Use common message port instead of uppy upload overlay for now

[2022-05-23 12:57] ScharfViktor opened #7041 "e2e tests. Add re-share tests"
It is necessary to provide coverage of re-sharing tests with e2e playwright

[2022-05-23 13:16] tbsbdr commented on #6776
updated initial post:

[2022-05-23 13:41] kulmann commented on #7040
It was a product decision that public links in project spaces are visible to all space members (but readonly).

[2022-05-23 14:02] #6243 closed

[2022-05-23 14:13] kulmann opened #7042 "Upload widget with continuous user feedback"
There are preparation steps of uploads that seem to the user like the upload got stale / didn't work. We could use the upload widget to announce status updates to the user with some contextual messages:
- [ ] "Checking quota"
- [ ] "Creating folder structure"
- [ ] ...?

~~Is it only a workaround that the folder structure is being create client side? What are reasons for that? I'd expect the respe

[2022-05-23 14:33] aduffeck opened #7043 "Broken links in search results from shares"
With the switch to the share jail the links to the parent directoy in search results from shares became broken.

### Steps to reproduce
1. Create a folder `shared` containing some file and share it with another user.
2. As that other user search for the filename of the file in `shared`

### Expected behaviour
The parent directory shows up as `shared` and clicking it takes me to `https://localhost:

[2022-05-23 15:52] ScharfViktor commented on #7040
- admin creates the space
- admin press "show members" and adds Marie as a viewer
- admin press "show members" and creates a link with edit rights

- Marie does not have editing rights, but she can because she sees the public link. can open the link and edit

[2022-05-23 16:02] diocas commented on #6327
I'm re-opening this issue because it's broken again. Clicking on all files redirects to `/home`, which then redirects to the home dir

[2022-05-23 16:19] phil-davis commented on #7029
Then we need to investigate exactly what fails when depth infinity PROPFIND is disabled on the oC10 system-under-test.

@individual-it maybe there is some middleware step that is used in scenario setup Given steps somewhere that ends up doing some of its work using infinite depth PROPFIND?

If so, then the step implementation will need to understand what to do when infinite depth PROPFIND is not a

[2022-05-24 03:59] individual-it commented on #7029
You are right, I can see 'infinity' being used by default in trashbin actions in the middleware https://github.com/owncloud/owncloud-test-middleware/blob/6257acc453f54f1cf8ecb9572ef04b2fc1227078/src/helpers/webdavHelper.js#L137
Need to find out if that is the only place, because I recall that we had the issue in the SDK also and the middleware is not used there

ToDo:
- [ ] find where depth=infini

[2022-05-24 05:07] Talank opened #7047 "webUIResharing2/reshareUsers.feature:29 fails in nightly"
failed in https://drone.owncloud.com/owncloud/web/25812/21/20

[code]

[2022-05-24 05:15] SagarGi commented on #7047
Same fails while merging this PR https://drone.owncloud.com/owncloud/web/25793/21/20

[2022-05-24 07:20] pascalwengerter opened #7048 "Possibly flaky oCIS E2E test"
Spotted in https://drone.owncloud.com/owncloud/web/25814/12/12

Needs investigation whether it's a test setup or backend issue, not pressing until it happens more often

[2022-05-24 07:35] saw-jan commented on #7047
Looks like the selector has some issue. I will create a PR for the fix.

[2022-05-24 07:40] SwikritiT opened #7049 "Preview from share-with-others page doesn't work in oc10"
### Steps to reproduce
1. As user "Alice" upload a picture `test.jpeg`
2. Share the picture with user `Brian`
3. Go to shares -> shared with others
4. There's no option to preview the image while on ocis there is

### Expected behaviour
It should be possible to preview the image like in OCIS
![ocisPreview](https://user-images.githubusercontent.com/41103328/169975691-85c5c719-7960-4720-9f94-353639f

[2022-05-24 07:47] pascalwengerter commented on #7049
@SwikritiT could you disclose the config.json's for both backends / how you have started them? This _could_ be an issue of not having activated the mediaviewer (now 'preview') extension

[2022-05-24 08:33] kulmann commented on #7039
For whoever works on this: have a look at https://github.com/GoogleChrome/workbox first

[2022-05-24 08:40] SwikritiT commented on #7049
I ran both backends from docker `docker-compose up oc10` `docker-compose up ocis` . The preview is not working only in shared-with-others page in OC10, it works in other pages. The related test also fails in CI https://drone.owncloud.com/owncloud/web/25817/20/20

[code]

[2022-05-24 08:46] kulmann commented on #7038
Probably best to solve this in a narrow scope: https://github.com/owncloud/owncloud-design-system/pull/1867

[2022-05-24 08:47] pascalwengerter commented on #7049
Thanks for the details, I'll investigate! :)

[2022-05-24 08:54] pascalwengerter commented on #7040
I think this is what @kulmann meant with `It was a product decision that public links in project spaces are visible to all space members (but readonly).` => even as a view-only share-receiver, you can see which other access-es (e.g. links) exist but can't modify them. If those have more rights than you, you could use them for modifying files yes. If the share-giver doesn't want that he can add pas

[2022-05-24 09:11] ScharfViktor commented on #7048
First run was flaky.
Second run failed because we need clear store after first run

[2022-05-24 09:11] kulmann commented on #7040
Yes, thank you @pascalwengerter

still, it feels kind of like a small exploit. cc @tbsbdr and @pmaier1 fyi

[2022-05-24 09:13] pascalwengerter commented on #7048
Thanks for investigating!

[2022-05-24 09:43] saw-jan commented on #7047
New findings:
Sometime the elements for Role is:
[code]

And sometimes it is:
[code]

[2022-05-24 09:58] kulmann commented on #7047
That was introduced in https://github.com/owncloud/web/pull/7015 - if there are no alternative roles available the web ui now only renders the current role read only. A drop down makes no sense if the value can't be changed.

[2022-05-24 10:04] saw-jan commented on #7047
Ohh, But should not it be consistent for a scenario? There's sometimes a `button` and sometimes just span for the same test scenario.

[2022-05-24 10:21] #7048 closed

[2022-05-24 12:06] kulmann commented on #7018
Well about that... e.g. the desktop client needs to stay logged in. So we only want to invalidate the tokens from the `web` client when logging out of oc10 classic ui. That's probably a feature request for the oauth2 app. :-/

[2022-05-25 07:30] #6337 closed

[2022-05-25 09:18] tbsbdr opened #7059 "Can't edit personal Quota in usermanagement"
### Steps to reproduce
1. login as admin on https://ocis.ocis-wopi.latest.owncloud.works/
2. select User Management in the App Switcher
3. Select an existing user -> Quickation "edit"
4. There is not option to edit the personal quota of this user

### Expected behaviour
- An option to edit the personal quota should be available
- The dropdown should be the same as in the "Space Quota-Modal"
- If a

[2022-05-25 09:19] tbsbdr commented on #7059
@pmaier1 feel free to directly change my initial comment if there is anything missing.

[2022-05-25 10:00] #6776 closed

[2022-05-25 11:20] JammingBen commented on #7018
I've created a PoC for this approach, however, I ran into a nasty behavior which makes it very hard to go this way. https://github.com/owncloud/oauth2/pull/335

[2022-05-25 12:30] JammingBen opened #7062 "Move upload logic from the `CreateAndUpload` component to composables"
We already have two composables for uploads: `useUpload` and `useUploadHelpers`. It would be nice to move all the remaining logic in the `CreateAndUpload` component to either one of those. This would also give us the ability to initialize the Dropzone in the file table itself where it belongs (see https://github.com/owncloud/web/pull/7036 for a deeper explanation).

[2022-05-26 07:13] kulmann commented on #7047
@saw-jan could you adjust the initial ticket description with this detail and add the p3 label and the bug label and add it to the beta board project in the web repo? A dev should investigate why it's sometimes a button and sometimes a span.

In the meantime you could stabilize the test by changing the selector to check for button or span at the same time, no?

[2022-05-26 08:51] saw-jan commented on #7047
I will give it a shot.

[2022-05-26 10:42] pascalwengerter commented on #7038
I've done some digging and also opened #7056 (which doesn't even seem to work now, apparently caching made it seem like it worked the other day), pretty convinced that while the OcTable/ResourceTable rendering adjustments do have some positive impact the real culprint seems to be the `loadIndicators` logic. From how I understood it, we
- load resources (network request)
- save resources to store (

[2022-05-26 12:33] kulmann commented on #7038
classic ui does it the right way already: using the "shareTypes" field from the propfind (= direct shares) and then doing an ocs shares request for each parent folder up to the root (= indirect shares). We should adopt the same.

[2022-05-26 16:30] kulmann commented on #7038
Apart from that I'm still convinced that the rendering itself is slow. See the ODS PR for lazy loaded icons documentation page using the OcTable without any reactivity in the data. 😅

[2022-05-27 04:45] Talank commented on #6986
This test failed again today https://drone.owncloud.com/owncloud/web/25887/56/15

[2022-05-27 06:12] saw-jan opened #7063 "Collaborator role in side-bar is sometimes a drop-down list and sometimes a plain text"
### Steps to reproduce
1. Create users `user1`, `user2`, and `user3`
2. As `user1`, create a folder `FOLDER` and share as `Viewer` with user `user2`
3. As `user2`, reshare the received share with `user3` with `read` permission only
![custom-read](https://user-images.githubusercontent.com/52366632/170638637-e414fecf-d38d-4695-b394-e7641cc185bb.png)
4. As `user2`, refresh the side-bar panel using sh

[2022-05-27 06:13] saw-jan commented on #7063
Acceptance Tests failing: https://github.com/owncloud/web/issues/7047

[2022-05-27 06:24] saw-jan commented on #7047
Similar test failed: webUIResharingToRoot/reshareUsers.feature:25 (https://drone.owncloud.com/owncloud/web/25885/23/20)

[2022-05-27 07:09] saw-jan commented on #6986
Some details are in https://github.com/owncloud/web/issues/6986
I will reopen that one and close this one.

[2022-05-27 07:09] #6986 closed

[2022-05-27 07:10] saw-jan commented on #6999
This test failed again today https://drone.owncloud.com/owncloud/web/25887/56/15

[2022-05-30 03:42] saw-jan commented on #7047
https://drone.owncloud.com/owncloud/web/25895/21/20
https://drone.owncloud.com/owncloud/web/25896/23/20

[2022-05-30 06:04] SagarGi commented on #7000
Re-appeared in yesterday's nightly build. Needs further investigation.

[2022-05-30 09:27] tbsbdr opened #7066 "Upload-overlay is slow and not robust"
### Steps to reproduce
1. Download und unpack Linux Kernel 5.17.8 : https://cdn.kernel.org/pub/linux/kernel/v5.x/linux-5.17.8.tar.xz
2. Login to https://ocis.ocis-wopi.released.owncloud.works/
3. select "Upload" > "Folder" "linux-5.17.8/arch/`arm64`" (1.741 items, 12.75 MB)
4. wait until List "XX uploads completed" shows up
5. XX counts up and gets slower until it stops completely.

https://user-i

[2022-05-30 10:30] #7007 closed

[2022-05-30 10:40] kulmann opened #7068 "Upload progress/completion widget should only show the uploaded items"
### Steps to reproduce
1. Have a folder `1000 text files` conveniently lying around on your disk (with actually 1000 text files inside)
2. Upload the folder (via folder upload menu item or drag&drop upload)
3. Wait until the upload is completed

### Expected behaviour
Only show the `1000 text files` folder as preview entry in the upload progress widget. If any of the files inside fails to upload,

[2022-05-30 10:57] kulmann opened #7069 "Make uploads great (collection)"
The initial implementation of uploads with uppy.io is already a huge improvement. We have some more things to look into to get a really nice package.

### Topics
- use less requests
- improve render performance of upload progress/completion widget

### Tickets
- https://github.com/owncloud/web/issues/7066
- https://github.com/owncloud/web/issues/7068
-

[2022-05-30 11:57] pascalwengerter commented on #7038
Played around by replacing the table subcomponents with (mostly) canonical HTML tags and while it looses the shimmering lazy-loading, rendering then happens _ultra_fast. Might also help that I removed the 6*2275 onclick-listeners on the OcIcon instances 😄

[2022-05-30 12:11] kulmann commented on #7038
![image](https://user-images.githubusercontent.com/3532843/170989774-1b74b30f-e464-4d12-96a1-71a539dd5229.png)